﻿@model FundManagement.Models.ChequeIssueInstruction

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque Issue
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Approval :: Cheque Issue Instruction</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("ApprovalPending")">Pending Instruction List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @if(Model.ApprovedType == 0)
                            { 
                                using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                                {
                                    @*@Html.AntiForgeryToken()*@
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="ft-user"></i> Instruction Info</h4>
                                        <div class="row">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-7">
                                                @Html.HiddenFor(model => model.InstructionId)

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.InstructionNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-right controls">
                                                        @Html.DisplayFor(model => model.InstructionNo)
                                                    </div>
                                                    @Html.LabelFor(model => model.InstructionTypeId, "Payment Against", new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-left-1 controls">
                                                        @Html.DisplayFor(model => model.InstructionType.TypeName)
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.InstructionDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-right controls">
                                                        @Html.EditorFor(model => model.InstructionDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                    </div>
                                                    @Html.LabelFor(model => model.PaymentModeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-left-1 controls">
                                                        @Html.DropDownListFor(model => model.PaymentModeId, (SelectList)ViewBag.PaymentMode, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.PaymentTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-right controls">
                                                        @Html.DropDownListFor(model => model.PaymentTypeId, (SelectList)ViewBag.PaymentType, new { @class = "form-control select", @required = "", @style = "width: 100%;", @disabled = "true" })
                                                    </div>
                                                    @Html.LabelFor(model => model.ReferenceNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-left-1 controls">
                                                        @Html.EditorFor(model => model.ReferenceNo, "StringWOL")
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.CreatedBy, "Company", new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-right controls">
                                                        @Html.DropDownList("CompanyId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", @disabled = "true" })
                                                    </div>
                                                    @Html.LabelFor(model => model.VoucherNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-left-1 controls">
                                                        @Html.EditorFor(model => model.VoucherNo, "StringWOL")
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.CreatedBy, "Bank & Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-6 offset-right controls">
                                                        @Html.DropDownList("BankId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                    <div id="brlist" class="col-sm-3 offset-left-1 controls">
                                                        @Html.DropDownList("BranchId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.CreatedBy, "Account #", new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div id="aclist" class="col-sm-9 controls">
                                                        @Html.DropDownList("AccountId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.IssuedAccountId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-9 controls">
                                                        @if (@Model.InstructionTypeId != 209)
                                                        {
                                                            @Html.DropDownList("IssuedAccountId", null, string.Empty, new { @class = "form-control select", @disabled = "true", @required = "", @style = "width: 100%;" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownList("IssuedAccountId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                        }
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.ChequeDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-right controls">
                                                        @Html.EditorFor(model => model.ChequeDate, "DateTimeWOL")
                                                    </div>
                                                    @Html.LabelFor(model => model.ChequeAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-left-1 controls">
                                                        @if (@Model.InstructionTypeId != 209)
                                                        { 
                                                            @Html.EditorFor(model => model.ChequeAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                        }
                                                        else
                                                        {
                                                            @Html.EditorFor(model => model.ChequeAmount, "DecimalWOL")
                                                        }
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.TotalAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-right controls">
                                                        @Html.EditorFor(model => model.TotalAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                    </div>
                                                    @Html.LabelFor(model => model.AdjustAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-left-1 controls">
                                                        @Html.EditorFor(model => model.AdjustAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.ChequeModeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-right controls">
                                                        @Html.DropDownListFor(model => model.ChequeModeId, (SelectList)ViewBag.ChequeMode, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                    @Html.LabelFor(model => model.UrgencyTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-3 offset-left-1 controls">
                                                        @Html.DropDownListFor(model => model.UrgencyTypeId, (SelectList)ViewBag.UrgencyType, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                </div>

                                                @Html.EditorFor(model => model.Purpose, new { rows = 3 })

                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.DisapprovedReason, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-9 controls">
                                                        @Html.Editor("DisapprovedReason", "MultilineTextWOL", new { @rows = 4, required = false })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <button type="button" id="btnDispprove" class="btn btn-warning mr-1">
                                            <i class="ft-x"></i> Disapproved
                                        </button>
                                        <button type="button" id="btnApprove" class="btn btn-success">
                                            <i class="fa fa-check-square-o"></i> Approved
                                        </button>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="d-flex flex-row col-md-12 center" style="display: table !important; text-align: center; min-height: 150px; padding-top:40px;">
                                    <div class="ml-0">
                                        <h1 class="mt-2 text-primary font-weight-bold" style="color: #7ed321 !important;">Already @(Model.ApprovedType == 1 ? "approved" : "Disapproved").</h1>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@*<div class="col-md-6 col-sm-12">
    <div class="form-group">
        <div class="modal fade text-left" id="divReason" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document" style="top: 35%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Disapproved Reason</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success" role="alert">
                            @Html.EditorFor(model => model.DisapprovedReason, "MultilineTextWOL", new { rows = 6 })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnDSave" class="btn grey btn-outline-secondary" data-dismiss="modal">Disapproved</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        //if ($('#PaymentModeId').val() != '8') {
        //    $('#VoucherNo').attr('readonly', 'readonly');
        //}
        //else {
        //    $('#VoucherNo').removeAttr('readonly');
        //}

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.rdate').not(':input[readonly]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').not('#IssuedAccountId').select2({
            placeholder: "Select or Type . . .",
            allowClear: true
        });

        $('#IssuedAccountId').select2({
            placeholder: "Select or Type . . .",
            allowClear: true,
            dropdownAutoWidth: true,
            templateResult: function (data) {
                var r = data.text.split(' >> ');
                var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                                '<div class="col-md-5">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                '<div class="col-md-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                '<div class="col-md-5">' + (r.length > 2 ? r[2] : '') + '</div>' +
                          '</div>';
                var $result = $(row);
                return $result;
            },
            templateSelection: function (data) {
                var r = data.text.split(' >> ').filter(function (x) { return x.length > 0 }).join(' >> ');
                var $result = r;
                return $result;
            },
            tags: true,
            createTag: function (params) {
                var term = $.trim(params.term).toUpperCase();

                if (term === '') {
                    return null;
                }

                return {
                    id: '0',
                    text: term
                }
            }
        });

        //$(document).on('change', '#PaymentModeId', function () {
        //    if ($(this).val() != '8') {
        //        $('#VoucherNo').attr('readonly', 'readonly');
        //    }
        //    else {
        //        $('#VoucherNo').removeAttr('readonly');
        //    }
        //});

        $(document).on('change', '#BankId', function () {
            getBranchList($(this).val(), 'brlist', 'BranchId', 'Branch');
        })

        $(document).on('change', '#BranchId', function () {
            if ($(this).val() == '' || $(this).val() == '0')
                return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("BAccountList")',
                data: JSON.stringify({ id: $(this).val(), comid: $('#CompanyId').val() }),
                success: function (msg) {
                    $('#aclist').html(msg);

                    $('#AccountId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        $(document).on('change', '#CompanyId', function () {
            if ($(this).val() == '' || $(this).val() == '0')
                return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("BankList")',
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    $('#bklist').html(msg);

                    $('#BankId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        //$('#btnDispprove').click(function () {
        //    $('#DisapprovedReason').val('');
        //    $('#divReason').modal('show');
        //});

        $('#btnDispprove').click(function () {
            //$('#DisapprovedReason').attr('required', true);

            ApprovalOrDisapproval('disapproved')
        });

        $('#btnApprove').click(function () {
            //$('#DisapprovedReason').removeAttr('required');

            ApprovalOrDisapproval('approved')
        });

        function ApprovalOrDisapproval(type) {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (type == 'disapproved' && $('#DisapprovedReason').val().length == 0) {
                $('#DisapprovedReason').closest('div').addClass('error').find('.help-block').html($('#DisapprovedReason').attr('data-val-required'));
                //alert('here');
                return;
            }

            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            if (convertStrToDate($('#ChequeDate').val()) < convertStrToDate($('#InstructionDate').val())) //moment().format("DD-MMM-YYYY")
            {
                alert('Cheque date must not be less than instruction date.');
                $('#ChequeDate').focus();
                return;
            }

            if (eval($('#ChequeAmount').val()) == 0) {
                alert('Cheque amount must not be zero.');
                $('#ChequeAmount').focus();
                return;
            }

            var instruction = {
                InstructionId: $('#InstructionId').val(), ChequeDate: $('#ChequeDate').val(), IssuedAccountId: $('#IssuedAccountId').val().split('>>')[0],
                IssuedAccountName: $('#IssuedAccountId').select2('data')[0].text.split(' >> ')[0], ChequeAmount: $('#ChequeAmount').val(),
                BankAccountId: $('#AccountId').val(), ChequeModeId: $('#ChequeModeId').val(), PaymentModeId: $('#PaymentModeId').val(),
                Purpose: $('#Purpose').val(), UrgencyTypeId: $('#UrgencyTypeId').val(), ApprovedType: (type == 'approved' ? 1 : 2),
                DisapprovedReason: (type == 'approved' ? "" : $('#DisapprovedReason').val()), VoucherNo: $('#VoucherNo').val(),
                AdjustAmount: $('#AdjustAmount').val(), ReferenceNo: $('#ReferenceNo').val(), PaymentTypeId: $('#PaymentTypeId').val()
            };

            //alert(JSON.stringify({ poSub: prList }));
            //return;

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Approval")',
                data: JSON.stringify({ instruction: instruction }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Approval failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Instruction # ' + msg.ino + ' ' + type + ' successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("ApprovalPending")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        };
    </script>
}

@section CSS {

}
