﻿@model FundManagement.Models.ChequeIssueInstruction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChequeIssueInstruction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChequeInfo.ChequeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeInfo.ChequeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedAccount.AccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedAccount.AccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrgencyType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrgencyType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
