﻿@model FundManagement.Models.ChequeIssueInstruction

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque Issue
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Details :: Cheque Issue Instruction</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Instruction List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Instruction Info</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(model => model.InstructionId)

                                        <table class="table table-borderless w-100 mt-1">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Instruction No :</strong> </td>
                                                    <td>@Model.InstructionNo</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Instruction Date :</strong> </td>
                                                    <td>@Model.InstructionDate.ToString("dd-MMM-yyyy")</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Payment Mode :</strong> </td>
                                                    <td>
                                                        @Model.PaymentMode.TypeName
                                                        @if (Model.PaymentModeId == 8)
                                                        {
                                                            @Html.Raw("(")
                                                            @Html.DisplayFor(model => model.ChequeMode.TypeName)
                                                            @Html.Raw(")")
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Bank & Branch :</strong> </td>
                                                    <td>@Model.PaymentFrom.Bank.BankName, @Model.PaymentFrom.BankBranch.BranchName</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Bank Account # :</strong> </td>
                                                    <td>@Model.PaymentFrom.AccountNo</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Cheque Date :</strong> </td>
                                                    <td>@Model.ChequeDate.ToString("dd-MMM-yyyy")</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Cheque Amount :</strong> </td>
                                                    <td id="ChequeAmount">@Model.ChequeAmount.ToString("##,##0.00")</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Issue To :</strong> </td>
                                                    <td>@(Model.IssuedAccount == null ? Model.IssuedAccountName : Model.IssuedAccount.AccountNo + " - " + Model.IssuedAccount.CompanyAccount.CompanyName) </td>
                                                </tr>
                                                @*<tr>
                                                    <td><strong>Benificiary :</strong> </td>
                                                    <td>@(Model.IssuedAccount == null ? Model.IssuedAccountName : Model.IssuedAccount.CompanyAccount.CompanyName) </td>
                                                </tr>*@
                                                <tr>
                                                    <td><strong>Payment Against :</strong> </td>
                                                    <td>@Model.InstructionType.TypeName</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Urgency :</strong> </td>
                                                    <td>@Model.UrgencyType.TypeName</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Purpose Details :</strong> </td>
                                                    <td>@Model.Purpose</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Approval Status :</strong> </td>
                                                    <td>@(Model.ApprovedType == 0 ? "IN QUEUE" : Model.ApprovedType == 1 ? "APPROVED" : "DISAPPROVED")</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Voucher No :</strong> </td>
                                                    <td>@Model.VoucherNo</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {

}

@section CSS {

}
