﻿@model IEnumerable<FundManagement.Models.ChequeIssueInstruction>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque Instruction
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title mb-0">Cheque Instruction List</h3>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Create")">New Instruction</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.InstructionNo)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.InstructionDate)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.IssuedAccount.AccountCode)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.UrgencyType.TypeName)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.ChequeDate)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.ChequeAmount)
                                        </th>
                                        <th style="text-align: center;">
                                            Pay Type
                                        </th>
                                        <th style="text-align: center;">
                                            Pay Against
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.Purpose)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="selectable">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstructionNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstructionDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IssuedAccount.AccountCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UrgencyType.TypeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChequeDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChequeAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentMode.TypeName) 
                                                @if (item.PaymentModeId == 8) 
                                                {
                                                    @Html.Raw("(")
                                                    @Html.DisplayFor(modelItem => item.ChequeMode.TypeName)
                                                    @Html.Raw(")")
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstructionType.TypeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Purpose)
                                            </td>
                                            <td style="text-align: center">
                                                <a href="@Url.Action("Details", new { id = item.InstructionId })" title="" data-toggle="tooltip" data-original-title="View" class="table-button-item"><i class="fa fa-eye"></i></a>
                                                @if (FundManagement.Models.clsMain.IsPermitted("ChequeIssueInstruction", "Edit"))
                                                {
                                                    <a href="@Url.Action("Edit", new { id = item.InstructionId })" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                                                }
                                                @if (FundManagement.Models.clsMain.IsPermitted("ChequeIssueInstruction", "Delete"))
                                                {
                                                    <a href="@Url.Action("Delete", new { id = item.InstructionId })" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

