﻿@model FundManagement.Models.ChequeIssueInstruction

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Instruction
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Cheque Issue Instruction For OI</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index", new { id = "OI" })">Instruction List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Instruction Info</h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-7">
                                            @Html.HiddenFor(model => model.InstructionId)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InstructionDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.InstructionDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.PaymentModeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownList("PaymentMode", null, string.Empty, new { @id = "PaymentModeId", @Name = "PaymentModeId", @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PaymentTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.DropDownListFor(model => model.PaymentTypeId, (SelectList)ViewBag.PaymentType, new { @class = "form-control select", @required = "", @style = "width: 100%;", @disabled = "true" })
                                                </div>
                                                @Html.LabelFor(model => model.ReferenceNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.ReferenceNo, "StringWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CreatedBy, "Company", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.DropDownList("CompanyId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.VoucherNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.VoucherNo, "StringWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CreatedBy, "Bank & Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="bklist" class="col-sm-6 offset-right controls">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div id="brlist" class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownList("BranchId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CreatedBy, "Account #", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="aclist" class="col-sm-9 controls">
                                                    @Html.DropDownList("AccountId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.IssuedAccountId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.IssuedAccountId, (SelectList)ViewBag.AccountList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ChequeDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.ChequeDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.ChequeAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.ChequeAmount, "DecimalWOL")
                                                </div>
                                            </div>*@

											@*<div class="form-group row">
												@Html.LabelFor(model => model.ChequeId, new { @class = "col-common col-sm-3 label-control" }, true)
												<div id="chqlist" class="col-sm-9 controls">
													@Html.DropDownListFor(model => model.ChequeId, (SelectList)ViewBag.ChequeList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
												</div>
											</div>*@

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ChequeModeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.DropDownList("ChequeMode", null, string.Empty, new { @id = "ChequeModeId", @Name = "ChequeModeId", @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.UrgencyTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownList("UrgencyType", null, string.Empty, new { @id = "UrgencyTypeId", @Name = "UrgencyTypeId", @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

											@*@Html.EditorFor(model => model.Purpose, new { rows = 6 })*@
										</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8" style="margin-top: 20px;">
                                            <h4 class="form-section"><i class="ft-list"></i> Instruction Details</h4>
                                            <div class="form-group row" style="margin-top: -10px; margin-bottom: 5px !important;">
                                                @Html.LabelFor(model => model.OIBillConfirmFavourSubId, "OI Confirm #", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div id="aclist" class="col-sm-4 controls">
                                                    @Html.DropDownList("ConfirmId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <table id="oilist" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed; margin-bottom: 0px !important;">
                                                <thead>
                                                    <tr>
                                                        <th style="display: none;">
                                                            Instruction Id
                                                        </th>
                                                        <th style="display: none;">
                                                            OI Sub Id
                                                        </th>
                                                        <th style="width: 5%; text-align: center;">
                                                            SL #
                                                        </th>
                                                        <th style="width: 25%; text-align: center;">
                                                            To (Infavor of)
                                                        </th>
                                                        <th style="width: 15%; text-align: center;">
                                                            Cheque Date
                                                        </th>
                                                        <th style="width: 10%; text-align: center;">
                                                            Amount
                                                        </th>
                                                        <th style="width: 45%; text-align: center;">
                                                            Purpose
                                                        </th>
                                                        <th style="display: none;">
                                                            OI Id
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*@Html.Action("RowTemplate")*@
                                                </tbody>
                                            </table>
                                            <table class="table table-striped table-bordered compact table-primary col-sm-12">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; padding: 3px !important;">
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" id="btnCancel" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.rdate').not(':input[readonly]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        //minDate: [moment(), 'inclusive'],
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    $('select.select').not('#IssuedAccountId').select2({
        placeholder: "Select or Type . . .",
        allowClear: true
    });

    $('#IssuedAccountId').select2({
        placeholder: "Select or Type . . .",
        allowClear: true,
        dropdownAutoWidth: true,
        templateResult: function (data) {
            var r = data.text.split(' >> ');
            var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                            '<div class="col-md-5">' + (r.length > 0 ? r[0] : '') + '</div>' +
                            '<div class="col-md-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                            '<div class="col-md-5">' + (r.length > 2 ? r[2] : '') + '</div>' +
                      '</div>';
            var $result = $(row);
            return $result;
        },
        templateSelection: function (data) {
            var r = data.text.split(' >> ').filter(function (x) { return x.length > 0 }).join(' >> ');
            var $result = r;
            return $result;
        },
        tags: true,
        createTag: function (params) {
            var term = $.trim(params.term).toUpperCase();

            if (term === '') {
                return null;
            }

            return {
                id: '0',
                text: term
            }
        }
    });

    //$(document).on('change', '#PaymentModeId', function () {
    //    if ($(this).val() != '8') {
    //        $('#VoucherNo').attr('readonly', 'readonly');
    //    }
    //    else {
    //        $('#VoucherNo').removeAttr('readonly');
    //    }
    //});

    $(document).on('change', '#BankId', function () {
        getBranchList($(this).val(), 'brlist', 'BranchId', 'Branch');
    })

    $(document).on('change', '#BranchId', function () {
        if ($(this).val() == '' || $(this).val() == '0')
            return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("BAccountList")',
            data: JSON.stringify({ id: $(this).val(), comid: $('#CompanyId').val() }),
            success: function (msg) {
                $('#aclist').html(msg);

                $('#AccountId').select2({
                    placeholder: "Select or Type . . .",
                    allowClear: true,
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $(document).on('change', '#CompanyId', function () {
        if ($(this).val() == '' || $(this).val() == '0')
            return;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("BankList")',
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    $('#bklist').html(msg);

                    $('#BankId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        $(document).on('change', '#ConfirmId', function () {
            $('#oilist>tbody').html('');
            if ($(this).val() == '' || $(this).val() == '0')
                return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",              
                url: '@Url.Action("RowTemplate")' + '/' + $(this).val(),
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    $('#oilist>tbody').html(msg);

                    //$('#BankId').select2({
                    //    placeholder: "Select or Type . . .",
                    //    allowClear: true,
                    //    //dropdownAutoWidth: true
                    //});
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        function setDate(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' class='date' value='" + OriginalContent + "'/>");
            $(t).children().first().daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'DD-MMM-YYYY'
                }
            });
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");
                }
                //else {
                //    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                //}
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().change(function () {
                if (!error) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function setAmount(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function setText(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<textarea class='form-control input-block-level' cols='8' rows='2'>" + OriginalContent + "</textarea>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
                //else {
                //    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                //}
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        $('#btnCancel').click(function () {
            //alert($('#testtable').find("table:first").html());
        });

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var chequeissueinstructions = [];
            let is_invalid = false;
            $("table#oilist > tbody > tr").each(function (row, tr) {
                if (convertStrToDate($('td:eq(4)', this).html()) < convertStrToDate($('#InstructionDate').val())) //moment().format("DD-MMM-YYYY")
                {
                    alert('Cheque date must not be less than instruction date.');
                    is_invalid = true;
                    return false;
                }

                if (eval($('td:eq(5)', this).html().replace(/\,/g, '')) == 0) {
                    alert('Cheque amount must not be zero.');
                    is_invalid = true;
                    return false;
                }

                if (is_invalid)
                    return false;

                //totqty = totqty + eval();
                chequeissueinstructions.push({
                    InstructionId: $('td:eq(0)', this).html(), OIBillConfirmFavourSubId: $('td:eq(1)', this).html(),
                    ReferenceNo: $('#ReferenceNo').val(), PaymentTypeId: $('#PaymentTypeId').val(),
                    InstructionDate: $('#InstructionDate').val(), ChequeDate: $('td:eq(4)', this).html(),
                    IssuedAccountId: 0, IssuedAccountName: $('td:eq(3)', this).html(), //IssuedAccountId: Update to controller for bank account
                    ChequeAmount: $('td:eq(5)', this).html().replace(/\,/g, ''), Purpose: $('td:eq(6)', this).html(),
                    UrgencyTypeId: $('#UrgencyTypeId').val(), BankAccountId: $('#AccountId').val(),
                    ChequeModeId: $('#ChequeModeId').val(), PaymentModeId: $('#PaymentModeId').val(),
                    VoucherNo: $('#VoucherNo').val(), OIBillConfirmId: $('td:eq(7)', this).html(),
                    InstructionTypeId: 210
                });
            });

            //alert(JSON.stringify({ poSub: prList }));
            //return;

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ chequeInstructions: chequeissueinstructions }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Instruction # ' + msg.ino + ' save successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {
    
}
