﻿@model FundManagement.Models.ChequeIssueInstruction

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Instruction
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Cheque Issue Instruction For Service Bill</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index", new { id = "SBILL" })">Instruction List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Instruction Info</h4>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuedAccountId, new { @class = "col-common col-sm-3 offset-right label-control" }, true)
                                                <div class="col-sm-8 controls">
                                                    @Html.DropDownListFor(model => model.IssuedAccountId, (SelectList)ViewBag.AccountList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-7" style="display: none;">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuedAccountId, "Project Bill ?", new { @class = "col-common col-sm-3 offset-right label-control" }, true)
                                                <div class="col-sm-8 controls">
                                                    @Html.CheckBox("chkProjectBill")
                                                </div>
                                            </div>
                                        </div>

                                        <div id="div_doc" class="col-md-7" style="display: none;">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DocumentId, new { @class = "col-common col-sm-3 offset-right label-control" }, true)
                                                <div id="doc_list" class="col-sm-4 controls">
                                                    @Html.DropDownListFor(model => model.DocumentId, (SelectList)ViewBag.DocumentList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.DocumentId, "Amount", new { @class = "col-common col-sm-1 offset-right offset-left label-control" }, false)
                                                <div id="doc_list" class="col-sm-3 controls">
                                                    @Html.Editor("DocumentAmount", "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DocumentId, "Bill Balance", new { @class = "col-common col-sm-3 offset-right label-control" }, false)
                                                <div id="doc_list" class="col-sm-3 controls">
                                                    @Html.Editor("BillBalance", "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.DocumentId, "Advance Balance", new { @class = "col-common col-sm-2 offset-right offset-left label-control" }, false)
                                                <div id="doc_list" class="col-sm-3 controls">
                                                    @Html.Editor("AdvanceBalance", "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" style="margin-top: 20px;">
                                            <h4 class="form-section"><i class="ft-list"></i> Bill Provision Details</h4>
                                            <div class="form-group row" style="margin-top: -10px; margin-bottom: 5px !important;">
                                                @Html.LabelFor(model => model.InstructionId, "Bill Forward #", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div id="bflist" class="col-sm-4 controls">
                                                    @Html.DropDownList("SBillForwardId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <table id="billdet" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed; margin-bottom: 0px !important;">
                                                <thead>
                                                    <tr>
                                                        <th style="display: none;">
                                                            Instruction Id
                                                        </th>
                                                        <th style="display: none;">
                                                            Instruction Sub Id
                                                        </th>
                                                        <th style="display: none;">
                                                            Forward Id
                                                        </th>
                                                        <th style="display: none;">
                                                            Forward Det Id
                                                        </th>
                                                        <th style="width: 5%; text-align: center;">
                                                            SL #
                                                        </th>
                                                        <th style="width: 20%; text-align: center;">
                                                            Supplier
                                                        </th>
                                                        <th style="width: 10%; text-align: center;">
                                                            Bill No
                                                        </th>
                                                        <th style="width: 10%; text-align: center;">
                                                            Bill Amount
                                                        </th>
                                                        <th style="width: 6%; text-align: center;">
                                                            Tax
                                                        </th>
                                                        <th style="width: 5%; text-align: center;">
                                                            Vat
                                                        </th>
                                                        <th style="width: 8%; text-align: center;">
                                                            Pay Amount
                                                        </th>
                                                        <th style="width: 6%; text-align: center;">
                                                            Advance
                                                        </th>
                                                        <th style="width: 8%; text-align: center;">
                                                            Remaining
                                                        </th>
                                                        <th style="width: 8%; text-align: center;">
                                                            Del Date
                                                        </th>
                                                        <th style="width: 7%; text-align: center;">
                                                            Cr Period
                                                        </th>
                                                        <th style="width: 8%; text-align: center;">
                                                            Due Date
                                                        </th>
                                                        <th style="width: 5%; text-align: center;">
                                                            <a class="add_all" onclick="addallrow();">Add All</a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*@Html.Action("RowTemplate")*@
                                                </tbody>
                                            </table>
                                            <table class="table table-striped table-bordered compact table-primary col-sm-12">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; padding: 3px !important;">
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>

                                        <div class="col-md-12" style="margin-top: 20px;">
                                            <h4 class="form-section"><i class="ft-list"></i> Instruction Details</h4>
                                            <table id="instdet" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed; margin-bottom: 0px !important;">
                                                <thead>
                                                    <tr>
                                                        <th style="display: none;">
                                                            Instruction Id
                                                        </th>
                                                        <th style="display: none;">
                                                            Instruction Sub Id
                                                        </th>
                                                        <th style="display: none;">
                                                            Forward Id
                                                        </th>
                                                        <th style="display: none;">
                                                            Forward Det Id
                                                        </th>
                                                        <th style="width: 5%; text-align: center;">
                                                            SL #
                                                        </th>
                                                        <th style="width: 20%; text-align: center;">
                                                            Supplier
                                                        </th>
                                                        <th style="width: 10%; text-align: center;">
                                                            Bill No
                                                        </th>
                                                        <th style="width: 10%; text-align: center;">
                                                            Bill Amount
                                                        </th>
                                                        <th style="width: 6%; text-align: center;">
                                                            Tax
                                                        </th>
                                                        <th style="width: 5%; text-align: center;">
                                                            Vat
                                                        </th>
                                                        <th style="width: 8%; text-align: center;">
                                                            Pay Amount
                                                        </th>
                                                        <th style="width: 6%; text-align: center;">
                                                            Advance
                                                        </th>
                                                        <th style="width: 8%; text-align: center;">
                                                            Remaining
                                                        </th>
                                                        <th style="width: 8%; text-align: center;">
                                                            Del Date
                                                        </th>
                                                        <th style="width: 7%; text-align: center;">
                                                            Cr Period
                                                        </th>
                                                        <th style="width: 8%; text-align: center;">
                                                            Due Date
                                                        </th>
                                                        <th style="width: 5%; text-align: center;">
                                                            <a class="clear" onclick="delallrow();">Clear All</a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*@Html.Action("RowTemplate")*@
                                                </tbody>
                                            </table>
                                            <table class="table table-striped table-bordered compact table-primary col-sm-12">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; padding: 3px !important;">
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>

                                            <table class="table table-striped table-bordered compact table-primary col-sm-12" style="margin-top: -.25rem !important;">
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: right; padding: 3px !important; width: 55%; font-weight:bold;">Total Amount</td>
                                                        <td style="text-align: left; padding: 3px !important; font-weight:bold;" id="totamt">0.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-7">
                                            @Html.HiddenFor(model => model.InstructionId)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InstructionDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.InstructionDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.PaymentModeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownList("PaymentMode", null, string.Empty, new { @id = "PaymentModeId", @Name = "PaymentModeId", @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PaymentTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.DropDownListFor(model => model.PaymentTypeId, (SelectList)ViewBag.PaymentType, new { @class = "form-control select", @required = "", @style = "width: 100%;"@*, @disabled = "true"*@ })
                                                </div>
                                                @Html.LabelFor(model => model.ReferenceNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.ReferenceNo, "StringWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CreatedBy, "Company", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.DropDownList("GroupId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.VoucherNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.VoucherNo, "StringWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CreatedBy, "Bank & Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="bklist" class="col-sm-6 offset-right controls">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div id="brlist" class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownList("BranchId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CreatedBy, "Account #", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="aclist" class="col-sm-9 controls">
                                                    @Html.DropDownList("AccountId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ChequeDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.ChequeDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.ChequeAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.ChequeAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.TotalAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.TotalAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.AdjustAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.AdjustAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

											@*<div class="form-group row">
												@Html.LabelFor(model => model.ChequeId, new { @class = "col-common col-sm-3 label-control" }, true)
												<div id="chqlist" class="col-sm-9 controls">
													@Html.DropDownListFor(model => model.ChequeId, (SelectList)ViewBag.ChequeList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
												</div>
											</div>*@

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ChequeModeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.DropDownList("ChequeMode", null, string.Empty, new { @id = "ChequeModeId", @Name = "ChequeModeId", @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.UrgencyTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownList("UrgencyType", null, string.Empty, new { @id = "UrgencyTypeId", @Name = "UrgencyTypeId", @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

											@Html.EditorFor(model => model.Purpose, new { rows = 5 })
										</div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" id="btnCancel" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.rdate').not(':input[readonly]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        //minDate: [moment(), 'inclusive'],
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        allowClear: true
    });

    $(document).on('change', '#chkProjectBill', function () {
        if ($(this).is(':checked')) {
            $('#div_doc').show();
        } else {
            $('#DocumentId').val('').trigger('change');
            $('#div_doc').hide();
        }
    });

    $(document).on('change', '#DocumentId', function () {
        if ($(this).val() == '' || $(this).val() == '0') {
            $('#DocumentAmount').val('0.00');
            $('#BillBalance').val('0.00');
            $('#AdvanceBalance').val('0.00');
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("DocumentDetails")',
            data: JSON.stringify({ id: $(this).val() }),
            success: function (msg) {
                //alert(msg);
                $('#DocumentAmount').val(msg.project_amount);
                $('#BillBalance').val(msg.bill_balance);
                $('#AdvanceBalance').val(msg.adjust_balance);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    //$('#IssuedAccountId').select2({
    //    placeholder: "Select or Type . . .",
    //    allowClear: true,
    //    dropdownAutoWidth: true,
    //    templateResult: function (data) {
    //        var r = data.text.split(' >> ');
    //        var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
    //                        '<div class="col-md-5">' + (r.length > 0 ? r[0] : '') + '</div>' +
    //                        '<div class="col-md-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
    //                        '<div class="col-md-5">' + (r.length > 2 ? r[2] : '') + '</div>' +
    //                  '</div>';
    //        var $result = $(row);
    //        return $result;
    //    },
    //    templateSelection: function (data) {
    //        var r = data.text.split(' >> ').filter(function (x) { return x.length > 0 }).join(' >> ');
    //        var $result = r;
    //        return $result;
    //    },
    //    tags: true,
    //    createTag: function (params) {
    //        var term = $.trim(params.term).toUpperCase();

    //        if (term === '') {
    //            return null;
    //        }

    //        return {
    //            id: '0',
    //            text: term
    //        }
    //    }
    //});

    //$(document).on('change', '#PaymentModeId', function () {
    //    if ($(this).val() != '8') {
    //        $('#VoucherNo').attr('readonly', 'readonly');
    //    }
    //    else {
    //        $('#VoucherNo').removeAttr('readonly');
    //    }
    //});

    $(document).on('change', '#IssuedAccountId', function () {
        if ($(this).val() == '' || $(this).val() == '0')
            return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("SBForwardList")',
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    //alert(msg);
                    $('#bflist').html(msg);

                    $('#SBillForwardId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            @*$.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DocumentList")',
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    //alert(msg);
                    $('#doc_list').html(msg);
                    $('#DocumentAmount').val('0.00');
                    $('#BillBalance').val('0.00');
                    $('#AdvanceBalance').val('0.00');

                    $('#DocumentId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
    });

    $(document).on('change', '#BankId', function () {
        getBranchList($(this).val(), 'brlist', 'BranchId', 'Branch');
    })

    $(document).on('change', '#BranchId', function () {
        if ($(this).val() == '' || $(this).val() == '0')
            return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("BAccountList")',
            data: JSON.stringify({ id: $(this).val(), groupid: $('#GroupId').val() }),
            success: function (msg) {
                //alert(msg);
                $('#aclist').html(msg);

                $('#AccountId').select2({
                    placeholder: "Select or Type . . .",
                    allowClear: true,
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $(document).on('change', '#GroupId', function () {
        if ($(this).val() == '' || $(this).val() == '0')
            return;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("BankList")',
            data: JSON.stringify({ groupid: $(this).val() }),
            success: function (msg) {
                $('#bklist').html(msg);

                $('#BankId').select2({
                    placeholder: "Select or Type . . .",
                    allowClear: true,
                    //dropdownAutoWidth: true
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $(document).on('change', '#SBillForwardId', function () {
        $('#billdet>tbody').html('');
        if ($(this).val() == '' || $(this).val() == '0')
            return;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("RowTemplate")', //+ '?id=' + $(this).val() + '&type=Bill'
            data: JSON.stringify({ id: $(this).val(), type: 'SBill' }),
            success: function (msg) {
                $('#billdet>tbody').html(msg);

                //$('#BankId').select2({
                //    placeholder: "Select or Type . . .",
                //    allowClear: true,
                //    //dropdownAutoWidth: true
                //});
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    function setQty(t, dn) {
        dn = dn || 0;
        var OriginalContent = $(t).text();
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                rn = $(t).closest('tr').index();
                let bill_amt = 0, tax_amt = 0, vat_amt = 0, pay_amt = 0, adj_amt = 0;
                let str_amt = $('#billdet>tbody>tr:eq(' + rn + ') td:eq(7)').html();
                //console.log(str_amt);
                //console.log(str_amt.indexOf('input'));
                if (str_amt.indexOf('input') == -1) {
                    bill_amt = eval(str_amt.replace(/\,/g, ''))
                } else {
                    bill_amt = eval($(this).val().replace(/\,/g, ''))
                }
                str_amt = $('#billdet>tbody>tr:eq(' + rn + ') td:eq(8)').html();
                //console.log(str_amt);
                //console.log(str_amt.indexOf('input'));
                if (str_amt.indexOf('input') == -1) {
                    tax_amt = eval(str_amt.replace(/\,/g, ''))
                } else {
                    tax_amt = eval($(this).val().replace(/\,/g, ''))
                }
                str_amt = $('#billdet>tbody>tr:eq(' + rn + ') td:eq(9)').html();
                //console.log(str_amt);
                //console.log(str_amt.indexOf('input'));
                if (str_amt.indexOf('input') == -1) {
                    vat_amt = eval(str_amt.replace(/\,/g, ''))
                } else {
                    vat_amt = eval($(this).val().replace(/\,/g, ''))
                }
                str_amt = $('#billdet>tbody>tr:eq(' + rn + ') td:eq(10)').html();
                //console.log(str_amt);
                //console.log(str_amt.indexOf('input'));
                if (str_amt.indexOf('input') == -1) {
                    pay_amt = eval(str_amt.replace(/\,/g, ''))
                } else {
                    pay_amt = eval($(this).val().replace(/\,/g, ''))
                }
                str_amt = $('#billdet>tbody>tr:eq(' + rn + ') td:eq(11)').html();
                //console.log(str_amt);
                //console.log(str_amt.indexOf('input'));
                if (str_amt.indexOf('input') == -1) {
                    adj_amt = eval(str_amt.replace(/\,/g, ''))
                } else {
                    adj_amt = eval($(this).val().replace(/\,/g, ''))
                }
                //let bill_amt = eval($('#billdet>tbody>tr:eq(' + rn + ') td:eq(7)').html().replace(/\,/g, ''))
                //let tax_amt = eval($('#billdet>tbody>tr:eq(' + rn + ') td:eq(8)').html().replace(/\,/g, ''))
                //let vat_amt = eval($('#billdet>tbody>tr:eq(' + rn + ') td:eq(9)').html().replace(/\,/g, ''))
                //let pay_amt = eval($('#billdet>tbody>tr:eq(' + rn + ') td:eq(10)').html().replace(/\,/g, ''))

                console.log(bill_amt + ', ' + pay_amt + ', ' + tax_amt + ', ' + vat_amt);
                //$('#billdet>tbody>tr:eq(' + rn + ') td:eq(11)').html((new Number(bill_amt - (pay_amt + tax_amt + vat_amt))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                if ((bill_amt - (pay_amt + tax_amt + vat_amt + adj_amt)) >= 0) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(dn).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");

                    $('#billdet>tbody>tr:eq(' + rn + ') td:eq(12)').html((new Number(bill_amt - (pay_amt + tax_amt + vat_amt + adj_amt))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                } else {
                    alert("Invalid amount you have entered.");
                }
            }
            else {
                return (e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");

                updateRemaining(this);
            }
        });
    };

    //function setDate(t) {
    //    var OriginalContent = $(t).text();
    //    $(t).addClass("cellEditing");
    //    $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' class='date' value='" + OriginalContent + "'/>");
    //    $(t).children().first().daterangepicker({
    //        singleDatePicker: true,
    //        showDropdowns: true,
    //        locale: {
    //            format: 'DD-MMM-YYYY'
    //        }
    //    });
    //    $(t).children().first().focus();
    //    //alert($(t).parent().children(0).html());
    //    var error = false;

    //    $(t).children().first().keypress(function (e) {
    //        error = false;
    //        if (e.which == 13) {
    //            var newContent = $(this).val();
    //            $(this).parent().text(newContent);
    //            $(this).parent().removeClass("cellEditing");
    //        }
    //        //else {
    //        //    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
    //        //}
    //    });

    //    $(t).children().first().keyup(function (e) {
    //        if (e.which == 27) {
    //            $(this).parent().text(OriginalContent);
    //            $(this).parent().removeClass("cellEditing");
    //        }
    //    });

    //    $(t).children().first().change(function () {
    //        if (!error) {
    //            var newContent = $(this).val();
    //            $(this).parent().text(newContent);
    //            $(this).parent().removeClass("cellEditing");
    //        }
    //    });
    //};

    //function setText(t) {
    //    var OriginalContent = $(t).text();
    //    $(t).addClass("cellEditing");
    //    $(t).html("<textarea class='form-control input-block-level' cols='8' rows='2'>" + OriginalContent + "</textarea>");
    //    $(t).children().first().focus();
    //    //alert($(t).parent().children(0).html());
    //    var error = false;

    //    $(t).children().first().keypress(function (e) {
    //        error = false;
    //        if (e.which == 13) {
    //            var newContent = $(this).val();
    //            $(this).parent().text(newContent.toUpperCase());
    //            $(this).parent().removeClass("cellEditing");
    //        }
    //        //else {
    //        //    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
    //        //}
    //    });

    //    $(t).children().first().keyup(function (e) {
    //        if (e.which == 27) {
    //            $(this).parent().text(OriginalContent.toUpperCase());
    //            $(this).parent().removeClass("cellEditing");
    //        }
    //    });

    //    $(t).children().first().blur(function () {
    //        if (!error) {
    //            $(this).parent().text(OriginalContent.toUpperCase());
    //            $(this).parent().removeClass("cellEditing");
    //        }
    //    });
    //};

    function updateRemaining(e) {
        rn = $(e).closest('tr').index();
        let bill_amt = eval($('#billdet>tbody>tr:eq(' + rn + ') td:eq(7)').html().replace(/\,/g, ''))
        let tax_amt = eval($('#billdet>tbody>tr:eq(' + rn + ') td:eq(8)').html().replace(/\,/g, ''))
        let vat_amt = eval($('#billdet>tbody>tr:eq(' + rn + ') td:eq(9)').html().replace(/\,/g, ''))
        let pay_amt = eval($('#billdet>tbody>tr:eq(' + rn + ') td:eq(10)').html().replace(/\,/g, ''))
        let adj_amt = eval($('#billdet>tbody>tr:eq(' + rn + ') td:eq(11)').html().replace(/\,/g, ''))
        //alert(bill_amt + ', ' + pay_amt + ', ' + tax_amt + ', ' + vat_amt);
        $('#billdet>tbody>tr:eq(' + rn + ') td:eq(12)').html((new Number(bill_amt - (pay_amt + tax_amt + vat_amt + adj_amt))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    }

    function addrow(e) {
        let invalid = false;
        rn = $(e).closest('tr').index() + 1;

        row = $('#billdet>tbody>tr:eq(' + (rn - 1) + ')').clone();

        if ($('td:eq(7)', row).html() == $('td:eq(12)', row).html()) {
            alert("Enter pay amount.");
            return;
        }

        $('table#instdet>tbody>tr').each(function () {
            if ($('td:eq(2)', this).html() == $('td:eq(2)', row).html()) {
                invalid = true;
                alert("Already exits in list.");
                return;
            }
        });

        if (invalid) {
            return false;
        }

        $('#instdet>tbody').append(row);
        $('table#instdet>tbody>tr:last td:last').html('<a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>');
        $('table#instdet>tbody>tr:last td:eq(8)').removeAttr('ondblclick').removeAttr('class');
        $('table#instdet>tbody>tr:last td:eq(9)').removeAttr('ondblclick').removeAttr('class');
        $('table#instdet>tbody>tr:last td:eq(10)').removeAttr('ondblclick').removeAttr('class');
        $('table#instdet>tbody>tr:last td:eq(11)').removeAttr('ondblclick').removeAttr('class');

        $('#billdet>tbody>tr:eq(' + (rn - 1) + ')').remove();

        rn = 1;
        let amt = 0, adjamt = 0;
        $('table#instdet>tbody>tr').each(function () {
            $('td:eq(4)', this).html((rn + 100).toString().slice(-2));
            amt += eval($('td:eq(10)', this).html().replace(/\,/g, ''));
            adjamt += eval($('td:eq(11)', this).html().replace(/\,/g, ''));
            rn++;
        });

        $('#ChequeAmount').val((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#AdjustAmount').val((new Number(adjamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#TotalAmount').val((new Number(amt + adjamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#totamt').html($('#TotalAmount').val());
    };

    function addallrow() {
        let invalid = false;

        $('table#billdet>tbody>tr').each(function () {
            row = $(this).clone();

            if ($('td:eq(7)', row).html() == $('td:eq(12)', row).html()) {
                invalid = true;
                alert("Some item having without pay amount.");
                return;
            }

            $('table#instdet>tbody>tr').each(function () {
                if ($('td:eq(2)', this).html() == $('td:eq(2)', row).html()) {
                    invalid = true;
                    alert("Some item already exits in list.");
                    return;
                }
            });

            if (invalid) {
                return false;
            }
        });

        if (invalid) {
            return false;
        }
        console.log('okay');
        $('table#billdet>tbody>tr').each(function () {
            row = $(this).clone();

            $('#instdet>tbody').append(row);
            $('table#instdet>tbody>tr:last td:last').html('<a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>');
            $('table#instdet>tbody>tr:last td:eq(8)').removeAttr('ondblclick').removeAttr('class');
            $('table#instdet>tbody>tr:last td:eq(9)').removeAttr('ondblclick').removeAttr('class');
            $('table#instdet>tbody>tr:last td:eq(10)').removeAttr('ondblclick').removeAttr('class');
            $('table#instdet>tbody>tr:last td:eq(11)').removeAttr('ondblclick').removeAttr('class');
        });

        $("#billdet > tbody > tr").remove();

        rn = 1;
        let amt = 0, adjamt = 0;
        $('table#instdet>tbody>tr').each(function () {
            $('td:eq(4)', this).html((rn + 100).toString().slice(-2));
            amt += eval($('td:eq(10)', this).html().replace(/\,/g, ''));
            adjamt += eval($('td:eq(11)', this).html().replace(/\,/g, ''));
            rn++;
        });

        $('#ChequeAmount').val((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#AdjustAmount').val((new Number(adjamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#TotalAmount').val((new Number(amt + adjamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#totamt').html($('#TotalAmount').val());
    };

    function delrow(e) {
        if (confirm('Are you sure want to delete?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }
        rn = $(e).closest('tr').index() + 1;

        //var amt = (eval($('#lbltamt').html().replace(/\,/g, '')) - eval($('#lspayment>tbody>tr:eq(' + (rn - 1) + ')>td:eq(13)').html().replace(/\,/g, '')));
        //alert('amt:'+$('#lspayment>tbody>tr:eq(' + (rn - 1) + ')>td:eq(13)').html());
        $('#instdet>tbody>tr:eq(' + (rn - 1) + ')').remove();

        rn = 1;
        let amt = 0, adjamt = 0;
        $('table#instdet>tbody>tr').each(function () {
            $('td:eq(4)', this).html((rn + 100).toString().slice(-2));
            amt += eval($('td:eq(10)', this).html().replace(/\,/g, ''));
            adjamt += eval($('td:eq(11)', this).html().replace(/\,/g, ''));
            rn++;
        });

        $('#ChequeAmount').val((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#AdjustAmount').val((new Number(adjamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#TotalAmount').val((new Number(amt + adjamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#totamt').html($('#TotalAmount').val());
    };

    function delallrow() {
        if (confirm('Are you sure want to delete all?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }
        $("#instdet > tbody > tr").remove();

        $('#ChequeAmount').val('0.00');
        $('#AdjustAmount').val('0.00');
        $('#TotalAmount').val('0.00');
        $('#totamt').html('0.00');
    };

    $('#btnCancel').click(function () {
        //alert($('#testtable').find("table:first").html());
    });

    $('#btnSave').click(function () {
        //$("#frm").trigger("submit.validationSubmit");
        //if ($("#frm").jqBootstrapValidation("hasErrors")) {
        //    return false;
        //}
        if (confirm('Are you sure want to save?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }

        $('.only-number').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });
        $('.only-currency').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });

        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        let doc_id = 0;
        if ($('#chkProjectBill').is(':checked') && ($('#DocumentId').val() == '' || $('#DocumentId').val() == '0')) {
            alert('Project/Aggrement no have to select.');
            $('#DocumentId').focus();
            return;
        } else if ($('#chkProjectBill').is(':checked')) {
            doc_id = $('#DocumentId').val();
        } else {
            doc_id = 0;
        }


        if (convertStrToDate($('#ChequeDate').val()) < convertStrToDate($('#InstructionDate').val())) //moment().format("DD-MMM-YYYY")
        {
            alert('Cheque date must not be less than instruction date.');
            $('#ChequeDate').focus();
            return;
        }

        if (eval($('#ChequeAmount').val()) + eval($('#AdjustAmount').val()) == 0) {
            alert('Cheque amount & adjust amount both must not be zero.');
            $('#ChequeAmount').focus();
            return;
        }

        if ($('#chkProjectBill').is(':checked')) {
            if (eval($('#ChequeAmount').val()) > eval($('#BillBalance').val())) {
                alert('Bill amount must not be gretter than project bill balance.');
                return;
            } else if (eval($('#AdjustAmount').val()) > eval($('#AdvanceBalance').val())) {
                alert('Adjust amount must not be gretter than project advance balance.');
                return;
            }
        }

        var chequeissueinstructions = [{
            InstructionId: $('#InstructionId').val(), InstructionDate: $('#InstructionDate').val(), ChequeDate: $('#ChequeDate').val(),
            ReferenceNo: $('#ReferenceNo').val(), PaymentTypeId: $('#PaymentTypeId').val(),
            IssuedAccountId: 0, IssuedAccountName: $('#IssuedAccountId').select2('data')[0].text.split(' >> ')[0],
            //IssuedAccountId: Update to controller for bank account
            ChequeAmount: $('#ChequeAmount').val(), AdjustAmount: $('#AdjustAmount').val(), Purpose: $('#Purpose').val(), UrgencyTypeId: $('#UrgencyTypeId').val(),
            BankAccountId: $('#AccountId').val(), ChequeModeId: $('#ChequeModeId').val(), PaymentModeId: $('#PaymentModeId').val(),
            VoucherNo: $('#VoucherNo').val(), InstructionTypeId: 211, DocumentId: doc_id
        }];

        var issueinstructionsubs = [];

        let is_invalid = false;
        $("table#instdet > tbody > tr").each(function (row, tr) {
            if (eval($('td:eq(10)', this).html().replace(/\,/g, '')) == 0) {
                alert('Bill amount must not be zero.');
                is_invalid = true;
                return false;
            }

            if (is_invalid)
                return false;

            //totqty = totqty + eval();
            issueinstructionsubs.push({
                InstructionId: $('#InstructionId').val(), InstructionSubId: $('td:eq(1)', this).html(),
                ServiceBillForwardId: $('td:eq(2)', this).html(), LPBillForwardDetailsId: 0, //$('td:eq(3)', this).html(),
                BillAmount: $('td:eq(10)', this).html().replace(/\,/g, ''), Adjustment: $('td:eq(11)', this).html().replace(/\,/g, ''),
                Tax: $('td:eq(8)', this).html().replace(/\,/g, ''), VAT: $('td:eq(9)', this).html().replace(/\,/g, '')
            });
        });

        if (issueinstructionsubs.length == 0) {
            alert('At least single bill provision have to select.');
            $('#BillForwardId').focus();
            return;
        }

        //alert(JSON.stringify({ poSub: prList }));
        //return;

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
            data: JSON.stringify({ chequeInstructions: chequeissueinstructions, chequeIssueSubs: issueinstructionsubs }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    //alert(msg.message);
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-danger');
                    $('#asummary').html('!!!Error!!!')
                    $('#atext').html('Save failed due to "' + msg.message + '".');
                    $('#btnAlert').attr('onclick', '');

                    $('#alert').modal('show');
                }
                else {
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-success');
                    $('#asummary').html('Success!!')
                    $('#atext').html('Instruction # ' + msg.ino + ' save successfully.');
                    $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Save failed.\nSee log for more information.");
            }
        });
    });
    </script>
}

@section CSS {
    
}
