﻿@model IEnumerable<FundManagement.Models.PendingTDSVDS>

@if (Model != null && Model.Count() > 0)
{
    var rowNo = 0;
    foreach (var item in Model)
    {
        rowNo = rowNo + 1;

<tr>
    <td style="display: none;">@item.InstructionId</td>
    <td style="display: none;">@item.InstructionSubId</td>
    <td style="display: none;">@item.Supp_ID</td>
    <td style="display: none;">@item.CPBPlanNo</td>
    <td style="text-align: center; vertical-align: middle; width: 5%;">@rowNo.ToString("00")</td>
    <td>
        <input type="checkbox" onclick="SetAmount()" checked />
    </td>
    <td style="text-align: left; vertical-align: middle; width: 25%;">@item.Supp_Name</td>
    <td style="text-align: center; vertical-align: middle; width: 25%;">@item.InstructionNo</td>
    <td style="text-align: center; vertical-align: middle; width: 25%;">@item.CPB_Plan_ID</td>
    <td style="text-align: center; vertical-align: middle; width: 25%;">@item.ChequeNo</td>
    <td style="text-align: center; vertical-align: middle; width: 25%;">@item.ChequeDate.ToString("dd-MM-yyyy")</td>
    <td style="text-align: right; vertical-align: middle; width: 25%;">@item.BillAmount</td>
    <td style="text-align: right; vertical-align: middle; width: 25%;">@item.TaxOrVat</td>
    <td style="text-align: center; vertical-align: middle; width: 25%;">@item.Type</td>
    @*<td style="text-align: center; vertical-align: middle; width: 25%;"></td>*@
</tr>
    }
}


