﻿@model IEnumerable<FundManagement.Models.OIConfirmView>

@if (Model != null && Model.Count() > 0)
{
    var rowNo = 0;
    foreach (var item in Model.OrderBy(c => c.OIBILLFevConfirmSubId))
    {
        rowNo = rowNo + 1;

        <tr>
            <td style="display: none;">@item.InstructionId</td>
            <td style="display: none;">@item.OIBILLFevConfirmSubId</td>
            <td style="text-align: center; vertical-align: middle; width: 5%;">@rowNo.ToString("00")</td>
            <td style="text-align: left; vertical-align: middle; width: 25%;">@item.ChequeConfirmFavour.ToUpper()</td>
            <td style="text-align: center; vertical-align: middle; width: 15%;" ondblclick="setDate(this);">@DateTime.Now.ToString("dd-MMM-yyyy")</td>
            <td style="text-align: right; vertical-align: middle; width: 10%;" ondblclick="setAmount(this);">@item.ChequeConfirmAmount.ToString("##,##0")</td>
            <td style="text-align: left; vertical-align: middle; width: 45%;" ondblclick="setText(this);">PAYMENT AGAINST OI BILL@*FOR CUSTOMER -  @item.CustomerName, REP - @item.RepresentativeName*@</td>
            <td style="display: none;">@item.oiId</td>
        </tr>
    }
}

