﻿@model IEnumerable<FundManagement.Models.BillForwardView>

@if (Model != null && Model.Count() > 0)
{
    var rowNo = 0;
    foreach (var item in Model.OrderBy(c => c.CPBPlanNo))
    {
        rowNo = rowNo + 1;

        <tr>
            <td style="display: none;">0</td>
            <td style="display: none;">0</td>
            <td style="display: none;">@item.WorkOrderId</td>
            <td style="display: none;">@item.CPB_Det_ID</td>
            <td style="text-align: center; vertical-align: middle; width: 5%;">@rowNo.ToString("00")</td>
            <td style="text-align: left; vertical-align: middle; width: 20%;">@item.Payment_Favour.ToUpper()</td>
            <td style="text-align: center; vertical-align: middle; width: 10%;">@item.CPB_Plan_ID</td>
            <td style="text-align: right; vertical-align: middle; width: 8%;">@item.CPB_AdjustAmount.ToString("##,##0.00")</td>
            <td style="text-align: right; vertical-align: middle; width: 8%;" ondblclick="setQty(this, 2);">0.00</td>
            <td style="text-align: right; vertical-align: middle; width: 6%;" ondblclick="setQty(this, 2);">0.00</td>
            <td style="text-align: right; vertical-align: middle; width: 5%;" ondblclick="setQty(this, 2);">0.00</td>
            <td style="text-align: right; vertical-align: middle; width: 5%; display: none;" ondblclick="setQty(this, 2);">0.00</td>
            <td style="text-align: right; vertical-align: middle; width: 8%;">@item.CPB_AdjustAmount.ToString("##,##0.00")</td>
            <td style="width: 5%; text-align:center;">
                <a title="" data-toggle="tooltip" data-original-title="Add" class="table-button-item" onclick="addrow(this);"><i class="fa fa-plus"></i></a>
            </td>
        </tr>
    }
}

