﻿@model FundManagement.Models.Wharfrent

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Wharf Rent
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Edit :: Wharf Rent</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Wharf Rent List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Wharf Rent Info</h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-7">

                                            <div class="form-group row">
                                                @Html.HiddenFor(x => x.WharfrentId)
                                                @Html.LabelFor(model => model.LcFileId, "LCNO", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.DropDownListFor(Model => Model.LcFileId, ViewBag.LcList as SelectList, "Please Select", new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.LotNo, "LotNo", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div id="lotlist" class="col-sm-4 offset-left-1 controls">
                                                    @Html.DropDownListFor(Model => Model.LotNo, new SelectList(new List<SelectListItem>(), "Value", "Text"), string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BillDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.BillDate, "DateTimeWOL", new {@class="rdateforBilling" })
                                                </div>
                                                @Html.LabelFor(model => model.BrethingDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-4 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.BrethingDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PortLandingDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.PortLandingDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.DeliveryDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-4 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.DeliveryDate, "DateTimeWOL")
                                                </div>
                                            </div>
                                            @*                   <div class="form-group row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <label style="text-align: left;color: red !important;">Whraf Rent</label>
            </div>
            <div class="col-md-4">
            </div>
        </div>*@
                                            <h4 class="form-section"><i class="ft-user"></i> WhrafRent</h4>
                                            <div class="">
                                                @*<h2 style="text-align: left;color: red !important;" class=""> Whraf Rent</h2>*@
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.WhrafRentFromDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                    <div class="col-sm-2 offset-left-1 controls">
                                                        @Html.EditorFor(model => model.WhrafRentFromDate, "DateTimeWOL")
                                                    </div>
                                                    @Html.LabelFor(model => model.WhrafRentToDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                    <div class="col-sm-2 offset-left-1 controls">
                                                        @Html.EditorFor(model => model.WhrafRentToDate, "DateTimeWOL")
                                                    </div>
                                                    @Html.LabelFor(model => model.WhrafRentAmount, new { @class = "col-common col-sm-2 label-control" }, true)
                                                    <div class="col-sm-2 offset-left-1 controls">
                                                        @Html.EditorFor(model => model.WhrafRentAmount, "DecimalWOL")
                                                    </div>
                                                </div>
                                            </div>

                                            @*<div class="form-group row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <label style="text-align: left;color: red !important;">Detention Charge</label>
            </div>
            <div class="col-md-4">
            </div>
        </div>*@
                                            <h4 class="form-section"><i class="ft-user"></i> Container Demurrage Charge</h4>
                                            <div class="form-group row mb-4">
                                                @Html.LabelFor(model => model.DetentionFromDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.EditorFor(model => model.DetentionFromDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.DetentionToDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.DetentionToDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.ContainerReturnDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.ContainerReturnDate, "DateTimeWOL")
                                                </div>
                                                @* @Html.LabelFor(model => model.ContainerDetentionCharge, new { @class = "col-common col-sm-2 label-control" }, true)
            <div class="col-sm-2 offset-left-1 controls">
                @Html.EditorFor(model => model.ContainerDetentionCharge, "DecimalWOL")
            </div>*@
                                            </div>

                                            <div class="form-group  row mt-1">
                                                @Html.LabelFor(model => model.ContainerDetentionCharge, new { @class = "col-common col-sm-2 label-control", @style = "margin-left: 7px;" }, true)
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.ContainerDetentionCharge, "DecimalWOL")
                                                </div>
                                            </div>



                                            <div class="form-group row mt-2">
                                                @Html.LabelFor(model => model.Remarks, "Remarks", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-10 offset-left-1 controls">
                                                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", rows = 4, @readonly = true })
                                                </div>

                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" id="btnCancel" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

     $('select.select').not('#IssueTo').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
     });

    $('.rdate').not(':input[readonly]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        //minDate: [moment(), 'inclusive'],
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

        $('.rdateforBilling').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'MMMM, YYYY'
            }
        });

        $(document).ready(function ()
        {
            $('#LcFileId').trigger('change');
            //$('#LotNo').val('@Model.LotNo');
            
        });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });


        $(document).on('change', '#LcFileId', function ()
        {

        if ($(this).val() == '' || $(this).val() == '0')
                return;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LoadLotNo")',
            data: JSON.stringify({ lcno: $(this).val()}),
            success: function (msg)
            {

                $('#lotlist').html(msg);
                $('#LotNo').val('@Model.LotNo');
                $('#LotNo').select2({
                    placeholder: "Select or Type . . .",
                    allowClear: true,
                });
            },
            
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });


        $(document).on('change', '#WhrafRentFromDate', function () {
            checkWhrfRentDate();
        });

        $(document).on('change', '#BrethingDate', function () {
            var breathingdate = new Date($("#BrethingDate").val());
            var deliverydate = new Date($("#DeliveryDate").val());
            var checkdate = new Date($('#WhrafRentFromDate').val());
            if (breathingdate <= deliverydate) {
                checkWhrfRentDate();
            }
            else {
                alert('Berthing Date must be less then or equla to Delivery Date')
                $("#BrethingDate").val($("#DeliveryDate").val())
            }

        });

        $(document).on('change', '#DeliveryDate', function () {
            var breathingdate = new Date($("#BrethingDate").val());
            var deliverydate = new Date($("#DeliveryDate").val());
            var checkdate = new Date($('#WhrafRentFromDate').val());
            if (breathingdate <= deliverydate) {
                checkWhrfRentDate();
            }
            else {
                alert('Berthing Date must be less then or equla to Delivery Date')
                $("#DeliveryDate").val($("#BrethingDate").val())
            }
        });

        $('#btnCancel').click(function () {
            //alert($('#testtable').find("table:first").html());
        });

        function checkWhrfRentDate() {
            var breathingdate = new Date($("#BrethingDate").val());
            var deliverydate = new Date($("#DeliveryDate").val());
            var checkdate = new Date($('#WhrafRentFromDate').val());

            // Check if the date is between the from and to dates
            if (checkdate >= breathingdate && checkdate <= deliverydate) {

            } else {
                alert('Wharf rent starting date should not be earlier then Berthing Date and later then Delivery Date ');
                $('#WhrafRentFromDate').val($("#BrethingDate").val());
                return;
            }
        }

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?'))
            {
            } else {
                return;
            }

            checkWhrfRentDate();

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });


            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });


            var wharfrent = {
                LcFileId: $('#LcFileId').val(), LotNo: $('#LotNo').val(),
                BillDate: $('#BillDate').val(), BrethingDate: $('#BrethingDate').val(),
                PortLandingDate: $('#PortLandingDate').val(),
                DeliveryDate: $('#DeliveryDate').val(), WhrafRentFromDate: $('#WhrafRentFromDate').val(),
                WhrafRentToDate: $('#WhrafRentToDate').val(), WhrafRentAmount: $('#WhrafRentAmount').val(),
                ContainerDetentionCharge: $('#ContainerDetentionCharge').val(), DetentionFromDate: $('#DetentionFromDate').val(),
                DetentionToDate: $('#DetentionToDate').val(), Remarks: $('#Remarks').val(),
                WharfrentId: $('#WharfrentId').val(),
                ContainerReturnDate: $('#ContainerReturnDate').val()
            }

            @*$('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });*@


            $.ajax({
                /*type: "POST",*/
                method: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Edit")',
                data: JSON.stringify({ wharfrent: wharfrent }),
                success: function (msg)
                {

                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Instruction # ' + msg.ino + 'update successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Index")"');
                        $('#alert').modal('show');


                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(JSON.stringify({ jqModeModeLcFileIdFileIdloLcFileIdFileIddelHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });

            alert('Not done');
        });
    </script>
}

@section CSS {

}
