﻿

@model IEnumerable<FundManagement.Models.WhrafRentViewModel>


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Entry</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Wharf Rent
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Wharf Rent</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="@Url.Action("Create")">New Wharf Rent</a>
                @*<a class="dropdown-item" href="@Url.Action("Create")">New Payment</a>*@
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact table-primary">
                                <thead>
                                    <tr class="columnwhrap">
                                        <th style="text-align: center;">
                                            LC No
                                        </th>
                                        <th style="text-align: center;">
                                            LC Date
                                        </th>
                                        <th style="text-align: center;">
                                            LotNo
                                        </th>
                                        <th style="text-align: center;">
                                            BiLL Date
                                        </th>
                                        <th style="text-align: center;">
                                            Port Landing Date
                                        </th>
                                        <th style="text-align: center;">
                                            Delivery Date
                                        </th>
                                        <th style="text-align: center; width:10%;">
                                            WhrafRent Delayed Days
                                        </th>
                                        <th style="text-align: center; width:5%;">
                                            WhrafRent Amount
                                        </th>
                                        <th style="text-align: center; width:10%;">
                                            Dentaion Delayed Days
                                        </th>
                                        <th style="text-align: center; width:5%;">
                                            Dentaion Charge
                                        </th>
                                        <th>
                                            Remarks
                                        </th>
                                        <th>
                                            Action
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr class="selectable">
                                        <td>
                                            @item.LcNo
                                            
                                        </td>
                                        <td style="text-align: center;">
                                            @item.LcDate.ToString("dd-MM-yyyyy")
                                        </td>
                                        <td>
                                            @item.LotNo
                                        </td>
                                        <td>
                                            @item.BillDate.ToString("dd-MM-yyyy")
                                        </td>
                                        <td>
                                            @item.PortLandingDate.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td>
                                            @item.DeliveryDate.ToString("dd-MMM-yyyy")
                                        </td>

                                        <td>
                                            @((item.ToDate-item.FromDate).TotalDays)
                                        </td>
                                        <td>
                                            @item.WhrafRentAmount
                                        </td>
                                        <td>
                                            @((item.DetentionToDate-item.DetentionFromDate).TotalDays)
                                        </td>
                                        <td>
                                            @item.DetentionCharge.ToString("##,##0.00")
                                        </td>
                                        <td>
                                            @item.Remarks
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { WharfrentId=item.WharfrentId })"><i class="fa ft-chevrons-right"></i> </a>
                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
      @*  var table = $('.table').DataTable({
            destroy: true,
            //scrollY: '256px',
            //scrollCollapse: true,
            paging: true,
            filter: true,
            ordering: true,
            info: true
        });*@
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}



