﻿@model FundManagement.Models.DailyAccountPosition

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DailyAccountPosition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DailyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DLAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DLAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ODAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
