@using FundManagement.Utility
@model decimal?

@{
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control only-currency lb-rg " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control only-currency lb-rg");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    if (ViewBag.@Value != null)
    {
        htmlAttributes.Add("Value", ViewBag.@Value);
    }
    if (ViewBag.@onkeypress != null)
    {
        htmlAttributes.Add("onkeypress", ViewBag.@onkeypress);
    }
    if (ViewBag.@onchange != null)
    {
        htmlAttributes.Add("onchange", ViewBag.@onchange);
    }
    if (ViewBag.@onblur != null)
    {
        htmlAttributes.Add("onblur", ViewBag.@onblur);
    }

    htmlAttributes.Add("onFocus", "this.select()");
}

<div class="input-group" style="margin-right: -1px;">
    <div class="input-group-addon">
        <i class="fa fa-at"></i>
    </div>
    @Html.TextBox(
    "",
    ViewData.TemplateInfo.FormattedModelValue,
    htmlAttributes)
</div>
