@using FundManagement.Utility
@using System.ComponentModel.DataAnnotations
@model Boolean?
@{bool hasValue = true;}

@{
    bool isrequired = false;
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "col-sm-9 checkbox " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "col-sm-9 checkbox");
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    if (ViewBag.@Value != null)
    {
        hasValue = ViewBag.@Value;
    }
    htmlAttributes.Add("data-on-text", "YES");
    htmlAttributes.Add("data-off-text", "NO");
    //htmlAttributes.Add("data-handle-width", "auto");

    if (ViewData.ModelMetadata.ContainerType
      .GetProperty(ViewData.ModelMetadata.PropertyName)
      .GetCustomAttributes(typeof(RequiredAttribute), true)
      .Select(a => a as RequiredAttribute)
      .Any(a => a != null))
    {
        htmlAttributes.Add("required", null);
        isrequired = true;
    }
}

<div class="form-group row">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-3 label-control" }, isrequired)
    <div class="col-sm-9 controls">
        @Html.CheckBox(
            "",
            (Model.HasValue && Model.Value) || hasValue,
            htmlAttributes)
    </div>
</div>