@using FundManagement.Utility
@using System.ComponentModel.DataAnnotations
@model decimal?

@{
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control only-currency lb-rg " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control only-currency lb-rg");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    if (ViewBag.@Value != null)
    {
        htmlAttributes.Add("Value", ViewBag.@Value);
    }
    if (ViewBag.@onkeypress != null)
    {
        htmlAttributes.Add("onkeypress", ViewBag.@onkeypress);
    }
    if (ViewBag.@onchange != null)
    {
        htmlAttributes.Add("onchange", ViewBag.@onchange);
    }
    if (ViewBag.@onblur != null)
    {
        htmlAttributes.Add("onblur", ViewBag.@onblur);
    }

    htmlAttributes.Add("onFocus", "this.select()");

    if (ViewData.ModelMetadata.PropertyName != null && ViewData.ModelMetadata.ContainerType
      .GetProperty(ViewData.ModelMetadata.PropertyName)
      .GetCustomAttributes(typeof(RequiredAttribute), true)
      .Select(a => a as RequiredAttribute)
      .Any(a => a != null))
    {
        htmlAttributes.Add("required", null);
    }
}

<div class="input-group">
    @Html.TextBox(
    "",
    ViewData.TemplateInfo.FormattedModelValue,
    htmlAttributes)
    @*<input type="text" class="form-control" placeholder="Addon To Right" aria-describedby="basic-addon2">*@
    <div class="input-group-append">
        <span class="input-group-text">BDT</span>
    </div>
</div>

