@using FundManagement.Utility
@using System.ComponentModel.DataAnnotations
@model DateTime?

@{
    bool isrequired = false;
    DateTime dt;
    if (Model.HasValue)
    {
        dt = (DateTime)Model;
    }
    else
    {
        dt = DateTime.Now;
    }

    var htmlAttributes = new RouteValueDictionary();
    
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", ViewBag.@readonly);

        if (ViewBag.@class != null)
        {
            htmlAttributes.Add("class", "form-control rdate ccnormal " + ViewBag.@class);
        }
        else
        {
            htmlAttributes.Add("class", "form-control rdate ccnormal");
        }
    }
    else
    { 
        if (ViewBag.@class != null)
        {
            htmlAttributes.Add("class", "form-control rdate ccnormal " + ViewBag.@class);
        }
        else
        {
            htmlAttributes.Add("class", "form-control rdate ccnormal");
        }
    }
    //if (ViewBag.@type != null)
    //{
    //    htmlAttributes.Add("type", ViewBag.@type);
    //}
    if (ViewBag.@Value != null)
    {
        htmlAttributes.Add("Value", ViewBag.@Value);
    }
    else if (!Model.HasValue)
    {
        htmlAttributes.Add("Value", DateTime.Today.ToString("dd-MMM-yyyy"));
    }
    else
    {
        htmlAttributes.Add("Value", Model.Value.ToString("dd-MMM-yyyy"));
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }
    if (ViewBag.@onchange != null)
    {
        htmlAttributes.Add("onchange", ViewBag.@onchange);
    }
    //htmlAttributes.Add("data-inputmask", "'alias': 'dd/mm/yyyy'");
    //htmlAttributes.Add("data-mask", null);

    if (ViewData.ModelMetadata.PropertyName != null && ViewData.ModelMetadata.ContainerType
      .GetProperty(ViewData.ModelMetadata.PropertyName)
      .GetCustomAttributes(typeof(RequiredAttribute), true)
      .Select(a => a as RequiredAttribute)
      .Any(a => a != null))
    {
        htmlAttributes.Add("required", null);
        isrequired = true;
    }
}

<div class="input-group" style="margin-right: -1px;">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>
        @Html.TextBoxFor(m => m, htmlAttributes)
        @*<span></span> <b class="caret"></b>*@
</div>
