@using FundManagement.Utility
@using System.ComponentModel.DataAnnotations
@model decimal?

@{
    bool isrequired = false;
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control only-currency lb-rg " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control only-currency lb-rg");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
    if (ViewBag.@Name != null)
    {
        htmlAttributes.Add("Name", ViewBag.@Name);
    }
    if (ViewBag.@Id != null)
    {
        htmlAttributes.Add("Id", ViewBag.@Id);
    }

    htmlAttributes.Add("onFocus", "this.select()");

    if (ViewData.ModelMetadata.ContainerType
      .GetProperty(ViewData.ModelMetadata.PropertyName)
      .GetCustomAttributes(typeof(RequiredAttribute), true)
      .Select(a => a as RequiredAttribute)
      .Any(a => a != null))
    {
        htmlAttributes.Add("required", null);
        isrequired = true;
    }
}

<div class="form-group row">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-6 label-control" }, isrequired)
    <div class="col-sm-6 controls">
        @Html.TextBox(
        "",
        ViewData.TemplateInfo.FormattedModelValue,
        htmlAttributes)
    </div>
</div>
