@using FundManagement.Utility
@using System.ComponentModel.DataAnnotations
@model object

@{
    bool isrequired = false;
    var htmlAttributes = new RouteValueDictionary();

    htmlAttributes.Add("class", "form-control select");

    if (ViewData.ModelMetadata.ContainerType
      .GetProperty(ViewData.ModelMetadata.PropertyName)
      .GetCustomAttributes(typeof(RequiredAttribute), true)
      .Select(a => a as RequiredAttribute)
      .Any(a => a != null))
    {
        htmlAttributes.Add("required", null);
        isrequired = true;
    }
}

<div class="form-group row">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-3 label-control" }, isrequired)
    <div class="col-sm-9 controls">
        @Html.EnumDropDownListFor(m => m, htmlAttributes)
    </div>
</div>