@using FundManagement.Utility
@using System.ComponentModel.DataAnnotations
@model object

@{
    bool isrequired = false;
    var htmlAttributes = new RouteValueDictionary();
    int rows = 4;
    int cols = 8;
    if (ViewBag.colls != null)
    {
        cols = ViewBag.colls;
    }
    if (ViewBag.rows != null)
    {
        rows = ViewBag.rows;
    }

    if (ViewBag.ClearTextField == true)
    {
        htmlAttributes.Add("class", "form-control input-block-level clear-text-field");
    }
    else
    {
        htmlAttributes.Add("class", "form-control input-block-level");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }

    if (ViewData.ModelMetadata.ContainerType
      .GetProperty(ViewData.ModelMetadata.PropertyName)
      .GetCustomAttributes(typeof(RequiredAttribute), true)
      .Select(a => a as RequiredAttribute)
      .Any(a => a != null))
    {
        htmlAttributes.Add("required", null);
        isrequired = true;
    }
}

<div class="form-group row">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-3 label-control" }, isrequired)
    <div class="col-sm-9 controls">
        @Html.TextAreaFor(
        m => m,
        rows, cols, htmlAttributes)
    </div>
</div>
