@using FundManagement.Utility
@using System.ComponentModel.DataAnnotations
@model decimal?

@{
    bool isrequired = false;
    var htmlAttributes = new RouteValueDictionary();
    htmlAttributes.Add("id", "appendedPrependedInput");

    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "only-currency lb-rg form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "only-currency lb-rg form-control");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.@disabled != null)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
    htmlAttributes.Add("onFocus", "this.select()");

    if (ViewData.ModelMetadata.ContainerType
      .GetProperty(ViewData.ModelMetadata.PropertyName)
      .GetCustomAttributes(typeof(RequiredAttribute), true)
      .Select(a => a as RequiredAttribute)
      .Any(a => a != null))
    {
        htmlAttributes.Add("required", null);
        isrequired = true;
    }
}

<div class="form-group row">
    @Html.LabelFor(m => m, new { @class = "col-common col-sm-3 label-control" }, isrequired)
    <div class="col-sm-9 controls">
        <div class="input-append span11">
            @Html.TextBox(
                "",
                Model == null ? "" : String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:F2}", ViewData.ModelMetadata.Model),
            htmlAttributes)
        </div>
        <div class="input-append input-prepend span1" style="margin-left: 0px;">
            <span class="add-on add-on-last span12" style="font-size: 14px; text-align: center; width: 124%;">%</span>
        </div>
    </div>
</div>
