@using FundManagement.Utility
@model object

<div class="details-info-row">
    <div class="details-info-name">
        @Html.DisplayNameFor(m => m)
    </div>

    <div class="details-info-value lb-lt">
        <span class="editable editable-click">
            @ViewData.TemplateInfo.FormattedModelValue
        </span>
    </div>
</div>
