﻿@model FundManagement.Models.BankBranch

<div class="col-sm-1">

</div>
<div class="col-sm-9">
    @Html.HiddenFor(model => model.BranchId)

    @Html.EditorFor(model => model.BranchName)

    @Html.EditorFor(model => model.ShortName, new { @id = "BRShortName", @name = "BRShortName" })

    @Html.EditorFor(model => model.SwiftCode)

    @Html.EditorFor(model => model.ContactPerson)

    @Html.EditorFor(model => model.ContactNumber)

    @Html.EditorFor(model => model.Address)
</div>
