﻿@model FundManagement.Models.Bank

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Bank
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Bank</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="form-section"><i class="ft-user"></i> Bank Info</h4>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-5">
                                            @Html.HiddenFor(model => model.BankId)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankName, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.EditorFor(model => model.BankName, "StringWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ShortName, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.EditorFor(model => model.ShortName, "StringWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankType, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.DropDownListFor(model => model.BankType, (SelectList)ViewBag.BankTypes, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.Activity, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EnumDropDownListFor(model => model.Activity, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <h4 class="form-section"><i class="ft-user"></i> Branch Info</h4>
                                            <table id="bbranch" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; width: 5%;">
                                                            SL #
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            Branch Id
                                                        </th>
                                                        <th style="text-align: center; width: 10%;">
                                                            Name
                                                        </th>
                                                        <th style="text-align: center; width: 7%;">
                                                            Short
                                                        </th>
                                                        <th style="text-align: center; width: 9%;">
                                                            Swift Code
                                                        </th>
                                                        <th style="text-align: center; width: 38%;">
                                                            Address
                                                        </th>
                                                        <th style="text-align: center; width: 17%;">
                                                            Contact Person
                                                        </th>
                                                        <th style="text-align: center; width: 8%;">
                                                            Contact No
                                                        </th>
                                                        <th style="text-align: center; width: 6%;">
                                                            <a title="" data-toggle="tooltip" data-original-title="Add Branch" onclick="branchEntry(this);"><i class="fa ft-plus-circle" style="color: white; cursor: pointer;"></i><span style="color: antiquewhite; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if(Model != null && Model.BankBranchs != null)
                                                    {
                                                        short rowNo = 1;
                                                        foreach(var branch in Model.BankBranchs)
                                                        {
                                                            branch.RowNo = rowNo++;
                                                            @Html.Action("RowTemplate", new { branch = branch })
                                                            
                                                        }
                                                    }
                                                    @*<tr>
                                                        <td style="text-align: center; vertical-align: middle; width: 5%;">01</td>
                                                        <td style="display: none;">1</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 10%;">AGRABAD</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 7%;">AGB</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 9%;">BBL876435</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 38%;">124/1, PHP HOUSE, COMMERCE COLLEGE RODE, AGRABAD, CTG.</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 17%;">MD. MAFIZUR RAHMAN</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 8%;">01717298831</td>
                                                        <td style="text-align: center; vertical-align: middle; width: 6%;"></td>
                                                    </tr>*@
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                            <div class="form-group">
                                                <!-- Modal -->
                                                <div class="modal fade text-left" id="bbalert" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-success white">
                                                                <h4 class="modal-title">Branch Info</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row" id="bbdiv">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnAdd" type="button" class="btn grey btn-outline-success" data-dismiss="modal" style="min-width: 100px;" onclick="AddBranch();">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    @*<button type="button" class="btn btn-outline-primary block btn-lg" data-toggle="modal" onclick="showmodal()">
										Launch Modal
									</button>*@
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
        function showmodal() {
            $('#backdrop').modal('show');
        };

        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select . . .",
            //dropdownAutoWidth: true
        });

        function branchEntry() {
            rn = $('#bbranch>tbody>tr').length + 1;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("BranchTemplate")',
                success: function (msg) {
                    $('#bbdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Update', 'Save'));
                    $('#bbalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    alert(errorThrown);
                }
            });
        };
        
        var isEdit = false; var row; var rn = 1;
        function AddBranch() {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('only-currency') && !$(this).hasClass('only-number')
                        && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var branch = {
                RowNo: rn, BranchId: $('#BranchId').val(), BranchName: $('#BranchName').val(),
                ShortName: $('#BRShortName').val(), SwiftCode: $('#SwiftCode').val(),
                ContactPerson: $('#ContactPerson').val(), ContactNumber: $('#ContactNumber').val(),
                Address: $('#Address').val()
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RowTemplate")',
                data: JSON.stringify({ branch: branch }),
                success: function (msg) {
                    if (isEdit) {
                        $('#bbranch>tbody>tr:eq(' + (rn - 1) + ')').after(msg);
                        $('#bbranch>tbody>tr:eq(' + (rn - 1) + ')').remove();
                        $('#btnAdd').html($('#btnAdd').html().replace('Update', 'Save'));
                        isEdit = false;
                    }
                    else {
                        $('#bbranch>tbody').append(msg);
                    }

                    $('#bbalert').modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function editrow(e) {
            isEdit = true; 
            rn = $(e).closest('tr').index() + 1;

            row = $('#bbranch>tbody>tr:eq(' + (rn - 1) + ')');

            var branch = {
                RowNo: rn, BranchId: $.trim($(row).children('td:eq(1)').html()),
                BranchName: $.trim($(row).children('td:eq(2)').html()),
                ShortName: $.trim($(row).children('td:eq(3)').html()),
                SwiftCode: $.trim($(row).children('td:eq(4)').html()),
                ContactPerson: $.trim($(row).children('td:eq(6)').html()),
                ContactNumber: $.trim($(row).children('td:eq(7)').html()),
                Address: $.trim($(row).children('td:eq(5)').html())
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("BranchTemplate")',
                data: JSON.stringify({ branch: branch }),
                success: function (msg) {
                    $('#bbdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Save', 'Update'));
                    $('#bbalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#bbranch>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#bbranch>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-2));
                rn++;
            });
        };

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var bank = {
                BankId: $('#BankId').val(), BankName: $('#BankName').val(), ShortName: $('#ShortName').val(), BankType: $('#BankType').val(), Activity: $('#Activity').val()
            };

            var branches = [];
            var table = $('#bbranch').DataTable({
                paging: false,
                filter: false,
                ordering: false,
                info: false
            });

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();                
                if (tableData.length >= 6) {
                    var arrayOfThisRow = {
                        BankId: $('#BankId').val(), BranchId: tableData[1], BranchName: tableData[2],
                        ShortName: tableData[3], SwiftCode: tableData[4], Address: tableData[5],
                        ContactPerson: tableData[6], ContactNumber: tableData[7]
                    };
                    //alert(arrayOfThisRow);
                    branches.push(arrayOfThisRow);
                }
            });

            table.destroy();

            //alert(JSON.stringify({ poSub: prList }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ bank: bank, branches: branches }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#btnAlert').attr('onclick', '');
                        $('#atext').html('Save failed due to "' + msg.message + '".');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');
                        
                        if(bank.BankId == 0)
                            $('#atext').html('Bank Name ' + msg.bname + ' save successfully.');
                        else
                            $('#atext').html('Bank Name ' + msg.bname + ' update successfully.');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}
