﻿@model FundManagement.Models.Bank

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestInterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestInterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestODInterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestODInterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarlySettlementRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarlySettlementRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCCommissionRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCCommissionRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptanceCommissionRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptanceCommissionRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
