﻿@model FundManagement.Models.Bank

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>Bank Details</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Index")" class="btn btn-primary btn-icon glyphicons list"><i></i>View List</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

<div class="innerLR">
    <div class="widget" style="margin-top: -1px;">
        <div class="widget-head">
            <h4 class="heading glyphicons"></h4>
        </div>
        <div class="widget-body">
            <div class="details-info details-info-striped">
				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.BankName) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.BankName)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.ShortName) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.ShortName)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.BankType) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.BankType)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LatestInterestRate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LatestInterestRate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LatestODInterestRate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LatestODInterestRate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.EarlySettlementRate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.EarlySettlementRate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LCCommissionRate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LCCommissionRate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.AcceptanceCommissionRate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.AcceptanceCommissionRate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.Activity) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.Activity)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CreatedBy) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CreatedBy)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CreatedTime) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CreatedTime)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.RevisedBy) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.RevisedBy)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.RevisedTime) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.RevisedTime)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IPAddress) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IPAddress)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.PCName) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.PCName)
						</span>
					</div>
				</div>

			</div>
        </div>
    </div>
    <br />
</div>


    @Html.ActionLink("Edit", "Edit", new { id = Model.BankId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
