﻿@model IEnumerable<FundManagement.Models.Bank>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Bank
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Bank List</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Create")">New Bank</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact table-primary">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.BankName)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.ShortName)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.BankType)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.LatestInterestRate)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.LatestODInterestRate)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.EarlySettlementRate)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.LCCommissionRate)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.AcceptanceCommissionRate)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.Activity)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="selectable">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BankName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShortName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BankType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LatestInterestRate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LatestODInterestRate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EarlySettlementRate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LCCommissionRate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AcceptanceCommissionRate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Activity)
                                            </td>
                                            <td style="text-align: center">
                                                @*<a href="#" class="table-button-item"><i class="fa fa-eye"></i></a>
                                                <a href="#" class="table-button-item"><i class="fa fa-pencil"></i></a>
                                                <a href="#" class="table-button-item"><i class="fa fa-trash"></i></a>
                                                <span class="dropdown">
                                                    <button id="btnSearchDrop2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-primary dropdown-toggle dropdown-menu-right"><i class="ft-settings"></i></button>
                                                    <span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right show" x-placement="top-end" style="position: absolute; transform: translate3d(-77px, -172px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                        <a href="#" class="dropdown-item"><i class="fa fa-eye"></i> Open Task</a>
                                                        <a href="#" class="dropdown-item"><i class="fa fa-pencil"></i> Edit Task</a>
                                                        <a href="#" class="dropdown-item"><i class="fa fa-check"></i> Complete Task</a>
                                                        <a href="#" class="dropdown-item"><i class="ft-upload"></i> Assign to</a>
                                                        <a href="#" class="dropdown-item"><i class="fa fa-trash"></i> Delete Task</a>
                                                    </span>
                                                </span>*@
                                                <a href="@Url.Action("Details", new { id = item.BankId })" title="" data-toggle="tooltip" data-original-title="View" class="table-button-item"><i class="fa fa-eye"></i></a>
                                                @if (FundManagement.Models.clsMain.IsPermitted("Bank", "Edit"))
                                                {
                                                    <a href="@Url.Action("Edit", new { id = item.BankId })" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                                                }
                                                @if (FundManagement.Models.clsMain.IsPermitted("Bank", "Delete"))
                                                {
                                                    <a href="@Url.Action("Delete", new { id = item.BankId })" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    
    <script>
        var table = $('.table').DataTable({
            destroy: true,
            //scrollY: '256px',
            //scrollCollapse: true,
            paging: true,
            filter: true,
            ordering: true,
            info: true
        });
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

