﻿@model FundManagement.Models.BankBranch

@if(Model != null && Model.RowNo > 0)
{ 
    <tr>
        <td style="text-align: center; vertical-align: middle; width: 5%;">
            @Model.RowNo.ToString("00")
        </td>
        <td style="display: none;">
            @Model.BranchId
        </td>
        <td style="text-align: left; vertical-align: middle; width: 10%;">
            @Model.BranchName
        </td>
        <td style="text-align: left; vertical-align: middle; width: 7%;">
            @Model.ShortName
        </td>
        <td style="text-align: left; vertical-align: middle; width: 9%;">
            @Model.SwiftCode
        </td>
        <td style="text-align: left; vertical-align: middle; width: 38%;">
            @Model.Address
        </td>
        <td style="text-align: left; vertical-align: middle; width: 17%;">
            @Model.ContactPerson
        </td>
        <td style="text-align: left; vertical-align: middle; width: 8%;">
            @Model.ContactNumber
        </td>
        <td style="text-align:center; vertical-align: middle; width: 6%;">
            <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>
            <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

