﻿

@model IEnumerable<FundManagement.Models.ChequeReceiveViewModel>


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Entry</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque Receive
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Cheque Receive</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="@Url.Action("PendingChequeReceive")">Pending Cheque Receive</a>
                @*<a class="dropdown-item" href="@Url.Action("Create")">New Payment</a>*@
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact table-primary">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            Cheque No
                                        </th>
                                        <th style="text-align: center;">
                                            Account No
                                        </th>
                                        <th style="text-align: center;">
                                            Bank
                                        </th>
                                        <th style="text-align: center;">
                                            Branch
                                        </th>
                                        <th style="text-align: center;">
                                            Issue Date
                                        </th>
                                        <th style="text-align: center;">
                                            Issue To
                                        </th>
                                        <th style="text-align: center;">
                                            Cheque Date
                                        </th>
                                        <th style="text-align: center;">
                                            Receive Date
                                        </th>
                                        <th style="text-align: center;">
                                            Cheque Amount
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr class="selectable" data-ChequeId="@item.ChequeId" data-BankId="@item.BankId" data-BranchId="@item.BranchId" data-AccountId="@item.AccountId">
                                        <td>
                                            @item.ChequeNo
                                            '
                                        </td>
                                        <td style="text-align: center;">
                                            @item.AccountNo
                                        </td>
                                        <td>
                                            @item.BankName
                                        </td>
                                        <td>
                                            @item.BankBranchName
                                        </td>
                                        <td>
                                            @item.IssueDate.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td>
                                            @item.IssueTo
                                        </td>

                                        <td>
                                            @item.ChequeDate.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td>
                                            @item.ReceiveDate.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td style="text-align: right;">
                                            @item.ChequeAmount.ToString("##,##0.00") <span style="padding-left: 5px;">BDT</span>
                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
        var table = $('.table').DataTable({
            destroy: true,
            //scrollY: '256px',
            //scrollCollapse: true,
            paging: true,
            filter: true,
            ordering: true,
            info: true
        });
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}
