﻿@model FundManagement.Models.ChequeReceiveViewModel

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque Receive
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Cheque Receive</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="@Url.Action("Index")">Cheque Payment List</a>
                <a class="dropdown-item" href="@Url.Action("PendingChequeReceive")">Pending Cheque Receive</a>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Cheque Payment Info</h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-7">
                                            @Html.HiddenFor(model => model.ChequeId)
                                            @Html.HiddenFor(model => model.BankId)
                                            @Html.HiddenFor(model => model.BranchId)
                                            @Html.HiddenFor(model => model.AccountId)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ChequeNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EditorFor(model => model.ChequeNo, "StringWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.AccountNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.AccountNo, "StringWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankName, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EditorFor(model => model.BankName, "StringWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.BankBranchName, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EditorFor(model => model.BankBranchName, "StringWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                                    @Html.EditorFor(model => model.IssueTo, new { @readonly = "readonly" })
                                                
                                                    @Html.EditorFor(model => model.Purpose, new { @readonly = "readonly" })
                                                
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssueDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.IssueDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.ChequeDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.ChequeDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ChequeAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EditorFor(model => model.ChequeAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.ReceiveDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.ReceiveDate, "DateTimeWOL")
                                                </div>
                                            </div>
 
                                                    @Html.EditorFor(model => model.Remarks,new { rows=3})
                                              

                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" id="btnCancel" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
    var chqamt = @Model.ChequeAmount;
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.rdate').not(':input[readonly]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    $('select.select').not('#IssueTo').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    
    $('#btnSave').click(function () {
        $("#frm").trigger("submit.validationSubmit");
        if ($("#frm").jqBootstrapValidation("hasErrors")) {
            return false;
        }
        if (confirm('Are you sure want to save?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }

        $('.only-number').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });
        $('.only-currency').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });

        if (eval($('#ChequeAmount').val()) == 0) {
            alert('Cheque amount must not be zero.');
            $('#ChequeAmount').focus();
            return;
        }

        var ChequeReceive = {
            ChequeId: $('#ChequeId').val(), ChequeNo: $('#ChequeNo').val(), 
            IssueDate: $('#IssueDate').val(), ChequeDate: $('#ChequeDate').val(), //IssueTo: 'Update to controller',
            IssueTo: $('#IssueTo').val(), ChequeAmount: $('#ChequeAmount').val(),
            Purpose: $('#Purpose').val(), AccountId: $('#AccountId').val(), BankId: $('#BankId').val(),
            BranchId: $('#BranchId').val(), BankName: $('#BankName').val(), AccountNo: $('#AccountNo').val(),
            BankBranchName: $('#BankBranchName').val(), ReceiveDate: $('#ReceiveDate').val(), Remarks: $('#Remarks').val()

        };

        
        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
            data: JSON.stringify({ ChequeReceive: ChequeReceive }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    //alert(msg.message);
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-danger');
                    $('#asummary').html('!!!Error!!!')
                    $('#atext').html('Save failed due to "' + msg.message + '".');
                    $('#btnAlert').attr('onclick', '');

                    $('#alert').modal('show');
                }
                else {
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-success');
                    $('#asummary').html('Success!!')
                    $('#atext').html('Payment for cheque # ' + msg.chqno + ' save successfully.');
                    $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("PendingChequeReceive")"');
                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Save failed.\nSee log for more information.");
            }
        });
    });
    $('#btnCancel').click(function () {
        window.open('@Url.Action("ShowReport", "Report", new { __RequestVerificationToken = "_token", fn = "rptCheque", ChequeId = "_chkid" })'.replace('_token', $('[name=__RequestVerificationToken]').val()).replace('_chkid', '4025').replace(/&amp;/g, "&"), '_blank');
    });
    </script>
}

@section CSS {

}
