﻿
@model FundManagement.Models.PendingChequeReceiveFilterModel


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Entry</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque Receive
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0"> Pending Cheque Receive</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="@Url.Action("Index")">Cheque Receive List</a>
                @*<a class="dropdown-item" href="@Url.Action("Create")">New Payment</a>*@
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="row col-12">
                                <div class="col-md-2">From Date :</div>
                                <div class="col-md-2"> @Html.EditorFor(Model => Model.FromDate, "DateTimeWOL")</div> 
                            </div>

                            <div class="row col-12">                           
                                <div class="col-md-2">To Date :</div>
                                <div class="col-md-2"> @Html.EditorFor(Model => Model.ToDate, "DateTimeWOL")</div>
                            </div>

                            <div class="row col-12">
                                <div class="col-md-2">Representative :</div>
                                <div class="col-md-4"> @Html.DropDownList("Representative", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })</div>
                            </div>


                            <table class="table table-striped table-bordered compact table-primary mt-2">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            Cheque No
                                        </th>
                                        <th style="text-align: center;">
                                            Account No
                                        </th>
                                        <th style="text-align: center;">
                                            Bank
                                        </th>
                                        <th style="text-align: center;">
                                            Branch
                                        </th>
                                        <th style="text-align: center;">
                                            Issue Date
                                        </th>
                                        <th style="text-align: center;">
                                            Issue To
                                        </th>
                                        <th style="text-align: center;">
                                            Cheque Date
                                        </th>
                                        <th style="text-align: center;">
                                            Cheque Amount
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")

<script>

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        allowClear: true
    });

    $('.rdate').not(':input[readonly]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        //minDate: [moment(), 'inclusive'],
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

        $(document).ready(function () {
            $(document).on('change', '#FromDate', function () {
                if ($('#FromDate').val() != null && $('#ToDate').val() != null) {
                    GeneratePendingChequeReceive();
                }
            });


            $(document).on('change', '#ToDate', function () {
               
                if ($('#FromDate').val() != null && $('#ToDate').val() != null) {
                    GeneratePendingChequeReceive();
                }
            });

            $(document).on('change', '#Representative', function () {
                if ($('#FromDate').val() != null && $('#ToDate').val() != null) {
                    GeneratePendingChequeReceive();
                }
            });

          

        });


    function GeneratePendingChequeReceive() {

            var fromdate = $('#FromDate').val();
            var todate = $('#ToDate').val();
        var issueTo = $('#Representative option:selected').text()
            
            $('tbody tr').remove();

            $.ajax
                ({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url:'@Url.Action("RowTemplatePendingChequeReceive")',
                    data: JSON.stringify({ fromdate: fromdate, todate: todate, issueTo: issueTo}) ,
                    success: function (msg)
                    {                      
                        $('tbody').html(msg);                        
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                }
                );

        };





</script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}
