﻿@model IEnumerable<FundManagement.Models.ChequeReceiveViewModel>
@foreach (var item in Model)
{
    <tr class="selectable" data-ChequeId="@item.ChequeId" data-BankId="@item.BankId" data-BranchId="@item.BranchId" data-AccountId="@item.AccountId">
        <td>
            @item.ChequeNo
            '
        </td>
        <td style="text-align: center;">
            @item.AccountNo
        </td>
        <td>
            @item.BankName
        </td>
        <td>
            @item.BankBranchName
        </td>
        <td>
            @item.IssueDate.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @item.IssueTo
        </td>

        <td>
            @item.ChequeDate.ToString("dd-MMM-yyyy")
        </td>

        <td style="text-align: right;">
            @item.ChequeAmount.ToString("##,##0.00") <span style="padding-left: 5px;">BDT</span>
        </td>

        <td style="text-align: center; width: 8%; cursor: pointer;" onclick="window.location ='@Url.Action("PendingChequeReceiveDetails", new { Id = item.ChequeId })'">
            <a title="" data-toggle="tooltip" data-original-title="Cancel" class="table-button-item" style="padding: 0px 15px;"><i class="fa ft-chevrons-right"></i></a>
        </td>
    </tr>
}
