﻿@model FundManagement.Models.MonthlyExpense

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MonthlyExpense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashDisbursementCTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashDisbursementCTG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashDisbursementDHK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashDisbursementDHK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditorsPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditorsPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salaries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salaries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Royalties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Royalties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrfessionalFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrfessionalFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtilitiyRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilitiyRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetsAcquisiation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetsAcquisiation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsurancePremium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsurancePremium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miscellaneous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miscellaneous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiscellaneousRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiscellaneousRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorsPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorsPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Devidend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devidend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complaince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complaince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Others)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Others)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
