﻿@model IEnumerable<FundManagement.Models.UserInfo>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<section class="content-header">
    <h1>
        User List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Entry</a></li>
        <li><a href="#"> User</a></li>
        <li class="active"> Index</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- .box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">User Infomation</h3>
                    <div class="btn-group">
                        <a class="btn btnsm btn-default" href="@Url.Action("Register")">New User</a><button data-toggle="dropdown" class="btn btnsm btn-default dropdown-toggle" id="yw4" name="yt2" type="button"> <span class="caret"></span></button>
                        @*<ul id="yw5" class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Edit", new { id = 2 })">Edit SOF</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Details", new { id = 2 })">View SOF</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="@Url.Action("Index")">SOF List</a>
                                </li>
                            </ul>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="datatable tbllist table table-bordered table-condensed table-striped table-primary table-vertical-center table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;" width="7%">
                                    SL #
                                </th>
                                <th style="text-align: center;" width="15%">
                                    Name
                                </th>
                                <th style="text-align: center;" width="25%">
                                    Title
                                </th>
                                <th style="text-align: center;" width="20%">
                                    E-mail
                                </th>
                                <th style="text-align: center;" width="15%">
                                    Password
                                </th>
                                <th style="text-align: center;" width="10%">
                                    Is Admin?
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int RowNo = 0;}
                            @foreach (var item in Model)
                            {
                                <tr class="selectable">
                                    <td style="text-align: center">
                                        @{RowNo++;}
                                        @RowNo.ToString("000")
                                    </td>
                                    <td style="text-align: left">
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td style="text-align: left">
                                        @Html.DisplayFor(modelItem => item.UserTitle)
                                    </td>
                                    <td style="text-align: left">
                                        @Html.DisplayFor(modelItem => item.eMail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserPWD)
                                    </td>
                                    <td>
                                        @{string IsAdmin = (item.IsAdmin == 1 ? "YES" : "NO");}
                                        @IsAdmin
                                    </td>
                                    <td style="text-align: center">
                                        <a href="@Url.Action("Profile", new { id = item.UserId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        <a href="@Url.Action("Edit", new { id = item.UserId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a href="#" onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

