﻿@model FundManagement.Models.UserView

<!DOCTYPE html>
<html class="loaded" lang="en" data-textdirection="ltr">
<!-- Mirrored from pixinvent.com/bootstrap-admin-template/robust/html/ltr/horizontal-menu-template/login-advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 May 2018 04:44:39 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template.">
    <meta name="author" content="PIXINVENT">
    <title>Fund Management System</title>
    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="icon" href="~/Content/app-assets/images/ico/favicon.ico">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/vendors.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/app.css">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/pages/login-register.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <!-- END Custom CSS-->
</head>
<body class="horizontal-layout horizontal-menu horizontal-menu-padding 1-column  bg-green bg-darken-2 menu-expanded fixed-navbar  pace-done" data-open="hover" data-menu="horizontal-menu" data-col="1-column">

    <!-- fixed-top-->
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content container center-layout mt-2">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-6 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0" style="border-radius: 0px;">
                                <div class="card-header border-0" style=" background: url(../content/app-assets/images/a.jpg) center; padding: 0.5rem 0.1rem !important;">
                                    <div class="card-title text-left">
                                        <img src="~/Content/app-assets/images/logo/logo-dark.png" style="height: 75px; width: 200px; margin: 0px 0px 0px 0px;">
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-medium-1 pt-2" style="margin: 0px 0 20px !important;"><span>Login with Fund Management</span></h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body" style="font-size: 1.5rem !important; padding: 2.5rem 3.5rem;">
                                        @using (Html.BeginForm("Login", "User", new { returnurl = ViewBag.returnurl }, FormMethod.Post, new { role = "form", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                                        { 
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control input-lg" style="font-size: 2rem !important; font-weight: 600; padding: .75rem 3rem 1.25rem 3.5rem;" id="UserName" name="UserName" placeholder="Your Username" tabindex="1" required="" data-validation-required-message="Please enter your username.">
                                                <div class="form-control-position" style="top: 1px !important">
                                                    <i class="ft-user"></i>
                                                </div>
                                                <div class="help-block font-small-3"></div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control input-lg" style="font-size: 2rem !important;" id="UserPWD" name="UserPWD" placeholder="Enter Password" tabindex="2" required="" data-validation-required-message="Please enter valid passwords.">
                                                <div class="form-control-position" style="top: 1px !important;">
                                                    <i class=" fa fa-key">
                                                    </i>
                                                </div>
                                                <div class="help-block font-small-3"></div>
                                            </fieldset>
                                            <button type="submit" id="btnLogin" class="btn btn-success btn-block btn-lg" style="font-size: 1.5rem !important;"><i class="ft-unlock"></i> Login</button>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer border-0" style="font-size: 0.9rem !important; padding: 1rem 1.75rem; border-top: 1px solid #dadada !important;">
                                    @*<p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>New to Robust ?</span></p>*@
                                    <div style="padding: 0px; text-align: justify !important;">
                                        <span style="color:#f00;">
                                            <u><b>Attn.:</b></u>
                                        </span> Please use <span style="color:#000000;"><b>Chorme Browser (Latest Version)</b></span> for better user interface. Otherwise some user control may not support.
                                    </div>
                                </div>
                                <div class="card-footer border-0" style=" background: url(../content/app-assets/images/a.jpg) center; padding: 0.15rem 0.1rem !important;">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <!-- BEGIN PAGE VENDOR JS-->
    @*<script type="text/javascript" src="~/Content/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/Content/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/unslider-min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/forms/select/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript"></script>

    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="~/Content/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script type="text/javascript" src="~/Content/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/picker.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/picker.date.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/picker.time.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/legacy.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/forms/validation/form-validation.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script type="text/javascript" src="~/Content/app-assets/js/myjs.js"></script>*@

    <!-- Mirrored from pixinvent.com/bootstrap-admin-template/robust/html/ltr/horizontal-menu-template/login-advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 May 2018 04:44:39 GMT -->
</body>
</html>

@*<script src="~/common/bootstrap/js/bootstrap.min.js"></script>
<script>
    $('#fp').click(function () {
        $('#msg').removeClass('has-error');
        $('#msg .field-validation-error').removeClass('fpass');
        $('#msg .field-validation-error').html('');
        $('#FUserName').val('');

        $('#mymodal').modal('show');
    });

    $('#btnFP').click(function () {
        if ($('#FUserName').val() == '') {
            $('#msg').addClass('has-error');
            $('#msg .field-validation-error').addClass('fpass');
            $('#msg .field-validation-error').html('Invalid user.');
            return;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("RetrivePassword")',
            data: JSON.stringify({ id: $('#FUserName').val() }),
            success: function (msg) {
                if (msg.status == 'error') {
                    $('#msg').addClass('has-error');
                    $('#msg .field-validation-error').addClass('fpass');
                    $('#msg .field-validation-error').html(msg.message);
                }
                else {
                    $('#msg').removeClass('has-error');
                    $('#msg .field-validation-error').addClass('fpass');
                    $('#msg .field-validation-error').html(msg.message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Save failed.\nSee log for more information.");
            }
        });
    });
</script>*@
