﻿@model FundManagement.Models.UserView

<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="~/common/theme/images/favicon.ico" />
    @*<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />*@

    <title>Login - Inventory Managing System</title>
    @Styles.Render("~/common/css")
    <link rel="stylesheet" href="~/common/theme/plugins/iCheck/square/blue.css">
    @Scripts.Render("~/common/headerscripts")

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a class="png" href="http://www.kdsaccessories.com/" title="KDS Accessories">
                <img src="~/common/theme/images/logo.png" style="height: 75px; width: 200px; margin: 15px 0px 0px 7px; float: left;" />
                <span style="float: right; margin: 16px; color: white; font-weight: bold; font-size: larger;">IPMS</span>
            </a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
    @using (Html.BeginForm("Login", "User", new { returnurl = ViewBag.returnurl }, FormMethod.Post, new { role = "form" }))
    {

        <div class="row" style="margin-bottom: 15px; padding: 0px 15px">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2" style="padding-right: 0px;">
                        <span class="glyphicon glyphicon-user form-control" style="padding: 13px 27px; display: table-cell; top: 0;"></span>
                    </div>
                    <div class="col-sm-10" style="padding-left: 0px;">
                        <input id="UserName" name="UserName" type="text" class="form-control ccnormal" style="padding: 23px 10px; font-size: xx-large;" placeholder="User ID">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px; padding: 0px 15px">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2" style="padding-right: 0px;">
                        <span class="glyphicon glyphicon-lock form-control" style="padding: 13px 27px; display: table-cell; top: 0;"></span>
                    </div>
                    <div class="col-sm-10" style="padding-left: 0px;">
                        <input id="UserPWD" name="UserPWD" type="password" class="form-control ccnormal" style="padding: 23px 10px; font-size: xx-large;" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px; padding: 0px 15px">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-6">
                        <button id="fp" type="button" class="btn btn-info btn-block btn-flat">Forgot Password ?</button>
                    </div>
                    <div class="col-sm-2">
                        
                    </div>
                    <div class="col-sm-4" style="padding-left: 0px;">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    }

                </div><!-- /.login-box-body -->
        <div style="padding:0px; background-color: floralwhite;">
            <div style="padding: 10px 15px 0px 15px">
                <span style="color:#f00;">
                    <u><b>Attn.:</b></u>
                </span> Please use <span style="color:#000000;"><b>Chorme Browser (Latest Version)</b></span> for better user interface. Otherwise some user control may not support.
            </div>
            <img src="~/common/theme/images/a.jpg" style="display: inline-block; margin-bottom: 0px; max-width: 100%; vertical-align: bottom; border: 0;" class="theme-divider">
        </div>
    </div><!-- /.login-box -->

    <div id="mymodal" class="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 30%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Forgot Password</h4>
                </div>
                <div id="padetails" class="modal-body">
                    <div class="row" style="margin: 15px 0px; padding: 0px 15px">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-2" style="padding-right: 0px;">
                                    <span class="glyphicon glyphicon-user form-control" style="padding: 13px 27px; display: table-cell; top: 0;"></span>
                                </div>
                                <div id="msg" class="col-sm-10" style="padding-left: 0px;">
                                    <input id="FUserName" name="FUserName" type="text" class="form-control ccnormal" style="padding: 23px 10px; font-size: x-large;" placeholder="User ID">
                                    <span class="field-validation-error control-label fpass" data-valmsg-for="PRDate" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button id="btnFP" type="button" class="btn btn-success" @*onclick="quoteSave();"*@>Retrive Password</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>

<script src="~/common/bootstrap/js/bootstrap.min.js"></script>
<script>
    $('#fp').click(function () {
        $('#msg').removeClass('has-error');
        $('#msg .field-validation-error').removeClass('fpass');
        $('#msg .field-validation-error').html('');
        $('#FUserName').val('');

        $('#mymodal').modal('show');
    });

    $('#btnFP').click(function () {
        if ($('#FUserName').val() == '') {
            $('#msg').addClass('has-error');
            $('#msg .field-validation-error').addClass('fpass');
            $('#msg .field-validation-error').html('Invalid user.');
            return;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("RetrivePassword")',
            data: JSON.stringify({ id: $('#FUserName').val() }),
            success: function (msg) {
                if (msg.status == 'error') {
                    $('#msg').addClass('has-error');
                    $('#msg .field-validation-error').addClass('fpass');
                    $('#msg .field-validation-error').html(msg.message);
                }
                else {
                    $('#msg').removeClass('has-error');
                    $('#msg .field-validation-error').addClass('fpass');
                    $('#msg .field-validation-error').html(msg.message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Save failed.\nSee log for more information.");
            }
        });
    });
</script>
