﻿@model FundManagement.Models.UserInfo

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        User Profile
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">User profile</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    @{string emppicurl = "http://203.82.207.168/kdsxs/EmployeeInfo/Employee_image/" + (@Session["UserName"] != null ? @Session["UserName"] != "noman" ? "XHQ1029-11" : @Session["UserName"] : "XHQ1029-11") + ".jpg";}
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-success">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="@emppicurl" style="width: 88px; height: 88px;" alt="User profile picture">
                    <h3 class="profile-username text-center">@Model.UserName</h3>
                    <p class="text-muted text-center">Stuff</p>

                    <a href="@Url.Action("ChangePassword", "User", new { id = Session["UserId"] })" class="btn btn-success btn-block"><b>Change Password</b></a>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <!-- About Me Box -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i>  Company</strong>
                    <p class="text-muted">
                        KDS Accessories Ltd.
                    </p>

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                    <p class="text-muted">191-192, Biazid, Chittagong</p>

                    <hr>

                    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                    <p>
                        <span class="label label-danger">IT</span>
                        <span class="label label-success">Software</span>
                    </p>

                    <hr>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                    <p></p>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <!-- Post -->
                        <div class="row">
                            <div class="post col-md-6" style="padding: 30px; border: none;">
                                <strong><i class="fa fa-tumblr-square" style="margin-left: -20px; margin-bottom: 10px;"></i> SOF</strong>
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>Total SOF</b> <a class="pull-right">1,322</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Pending</b> <a class="pull-right">543</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Disapproved</b> <a class="pull-right">13,287</a>
                                    </li>
                                </ul>
                            </div><!-- /.post -->
                            <div class="post col-md-6" style="padding: 30px;">
                                <strong><i class="fa fa-tumblr-square" style="margin-left: -20px; margin-bottom: 10px;"></i> Collection</strong>
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>Collection</b> <a class="pull-right">13,287</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Pending</b> <a class="pull-right">13,287</a>
                                    </li>
                                </ul>
                            </div><!-- /.post -->
                        </div>
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</section><!-- /.content -->