﻿@model FundManagement.Models.LoanMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Loan
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">@(Model != null && Model.LoanId > 0 ? "Edit" : "New") :: Loan</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Loan List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Loan Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LCFileId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.LCFileId, (SelectList)ViewBag.LCFile, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LCAcceptanceId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="acp" class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.LCAcceptanceId, (SelectList)ViewBag.AcceptanceList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    @*@Html.EditorFor(model => model.PLEId, "Int16WOL")*@
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.LoanNo, "StringWOL")
                                                </div>
                                                @Html.LabelFor(model => model.LoanDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.LoanDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BeneficiaryId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.BeneficiaryId, (SelectList)ViewBag.Company, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuerBankId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.IssuerBankId, (SelectList)ViewBag.IssuerBank, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuerBranchId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="brlist" class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.IssuerBranchId, (SelectList)ViewBag.IssuerBranch, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.LoanTypeId, (SelectList)ViewBag.LoanTypeList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AcceptedAmount, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-3 controls">
                                                    @Html.EditorFor(model => model.AcceptedAmount, "DecimalWOL", new { @readonly = "readonly", @class = "acpamt" })
                                                </div>
                                                @Html.LabelFor(model => model.LiborAmount, "Libor", new { @class = "col-common col-sm-1 label-control offset-left" })
                                                <div class="col-sm-2 offset-left-1 offset-right controls">
                                                    @Html.EditorFor(model => model.LiborAmount, "DecimalWOL", new { @class = "acpamt" })
                                                </div>
                                                @Html.LabelFor(model => model.HandlingCharge, "H.Crg", new { @class = "col-common col-sm-1 label-control offset-left" })
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.HandlingCharge, "DecimalWOL", new { @class = "acpamt" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.DropDownListFor(model => model.FCurrencyId, (SelectList)ViewBag.Currency, string.Empty, new { @class = "form-control selectonly", @required = "", @style = "width: 100%;", @disabled = "true" })
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.LoanAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.BDTRate, "AtTheRate", new { @class = "threedigit", @readonly = "readonly" })
                                                </div>
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.LoanAmountBDT, "DecimalWOL", new { @class = "amt", @onchange = "getBDTRate();" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.USDRate, "Amount In USD", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.USDRate, "AtTheRate", new { @class = "usdamt threedigit", @onchange = "getUSDAmount();" })
                                                </div>
                                                <div class="col-sm-5 offset-left controls">
                                                    @Html.EditorFor(model => model.LoanAmountUSD, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DownPayment, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.DownPayment, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.LeaseDeposit, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.LeaseDeposit, "DecimalWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InterestRate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.InterestRate, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.InterestRateOD, "Penal Int. Rate", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.InterestRateOD, "DecimalWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InterestStartDate, "Int. Start Date", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.InterestStartDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.InterestProcessType, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.DropDownListFor(model => model.InterestProcessType, (SelectList)ViewBag.PTypeList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.ExpireDate, "End Date", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.ExpireDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.InterestEndDate, "End Date", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.InterestEndDate, "DateTimeWOL")
                                                </div>
                                            </div>*@

                                            @Html.HiddenFor(model => model.ExpireDate)

                                            @Html.EditorFor(model => model.Remarks)
                                        </div>
                                        <div class="col-md-6 offset-left">
                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.InstallmentNo, "Inst. No", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.EditorFor(model => model.InstallmentNo, "Int16WOL")
                                                </div>
                                                @Html.LabelFor(model => model.InstallmentStartDate, "Inst. Start/Maturity Date", new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.InstallmentStartDate, "DateTimeWOL")
                                                </div>
                                            </div>*@

                                            <fieldset id="schtype" class="fieldset-container" style="margin-bottom: 5px; text-align: center;">
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.ScheduleTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-4 offset-left controls" style="text-align:left;">
                                                        @Html.DropDownListFor(model => model.ScheduleTypeId, (SelectList)ViewBag.PayScheduleType, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>

                                                    <div class="col-sm-5 offset-left controls">
                                                        <button type="button" id="btnSchedule" class="btn-success" onclick="getSchedule();">
                                                            <i class="fa ft-arrow-down"></i> Generate Pay Schedule
                                                        </button>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <div id="custdiv" class="form-group row" style="padding: 3px; border: 1px solid #d4d4d4; margin: 0px !important; margin-bottom: -5px !important;">
                                                <div class="col-sm-2 offset-right controls amort general">
                                                    <div class="form-group row">
                                                        @Html.LabelFor(model => model.InstallmentNo, "Inst. No", new { @class = "col-common col-sm-7 offset-right" }, false)
                                                        <div class="col-sm-5 offset-left offset-right-1 controls amort general">
                                                            @Html.EditorFor(model => model.InstallmentNo, "Int16WOL", new { @style = "text-align: center !important; padding: 0.25rem .25rem !important;" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 offset-left controls amort general">
                                                    <div class="form-group row">
                                                        @Html.LabelFor(model => model.InstallmentStartDate, "Maturity Date", new { @id = "lblisd", @class = "col-common col-sm-6 label-control" }, false)
                                                        <div class="col-sm-6 offset-left offset-right controls">
                                                            @Html.EditorFor(model => model.InstallmentStartDate, "DateTimeWOL")
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 offset-right controls amort general">
                                                    <div id="instamt" class="form-group row">
                                                        @Html.LabelFor(model => model.InstallmentAmount, "Inst. Amount", new { @id = "lblDueAmt", @class = "col-common col-sm-5 label-control" }, false)
                                                        <div class="col-sm-7 offset-left controls">
                                                            @Html.EditorFor(model => model.InstallmentAmount, "DecimalWOL", new { @id = "DueAmount", @name = "DueAmount" })
                                                        </div>
                                                    </div>
                                                    <div id="payperiod" class="form-group row" style="display: none;">
                                                        @Html.LabelFor(model => model.PaymentPeriodTypeId, "Pay Period", new { @class = "col-common col-sm-5 label-control" }, false)
                                                        <div class="col-sm-7 offset-left controls">
                                                            @Html.DropDownListFor(model => model.PaymentPeriodTypeId, (SelectList)ViewBag.PayPeriod, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                @*<div class="col-sm-6 offset-left offset-right-1">
                                                    <button type="button" id="btnAdd" class="btn-success" style="width: 100%;">
                                                        <i class="fa ft-arrow-down"></i> Add
                                                    </button>
                                                </div>*@
                                            </div>

                                            @*<div class="form-group row">*@
                                                <table id="lschedule" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center; width: 15%;">
                                                                SL #
                                                            </th>
                                                            <th style="text-align: center; width: 35%;">
                                                                Matutity Date
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Opening
                                                            </th>
                                                            <th style="text-align: center; width: 40%;">
                                                                Payment Amount
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Principal
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Interest
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Closing
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Schedule Id
                                                            </th>
                                                            <th style="text-align: center; width: 10%;">
                                                                <a id="btnAdd" data-toggle="tooltip" data-original-title="Add Schedule" onclick="addSchedule(this);"><i class="fa ft-plus-circle" style="color: white; cursor: pointer;"></i><span style="color: antiquewhite; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: center; width: 15%;"></td>
                                                            <td style="text-align: center; width: 35%;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: right; width: 40%;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: center; width: 10%;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            @*</div>*@
                                        </div>

                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                            <div class="form-group">
                                                <!-- Modal -->
                                                <div class="modal fade text-left" id="psalert" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-success white">
                                                                <h4 class="modal-title">Pay Schedule Info</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row" id="psdiv">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnAdd" type="button" class="btn grey btn-outline-success" data-dismiss="modal" style="min-width: 100px;" onclick="AddSchedule();">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').not('.threedigit').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.threedigit').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').not('.threedigit').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        $('input.threedigit').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('select.selectonly').select2({
            placeholder: "Select . . .",
            //dropdownAutoWidth: true
        });

        $('#LCFileId').change(function () {
            getAcceptList($(this).val());
        })

        $('#IssuerBankId').change(function () {
            //alert($(this).val());
            getBranchList($(this).val());
        })

        $('.acpamt').change(function () {
            var acpamt = eval($('#AcceptedAmount').val().replace(/\,/g, ''));
            var libor = eval($('#LiborAmount').val().replace(/\,/g, ''));
            var hc = eval($('#HandlingCharge').val().replace(/\,/g, ''));

            var lamt = acpamt + libor + hc;
            //alert((new Number(lamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","))
            $('#LoanAmount').val((new Number(lamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

            getBDTRate();
            getUSDAmount();
        })

        function getBDTRate() {
            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            var labdt = eval($('#LoanAmountBDT').val());
            var usdrate = eval($('#USDRate').val());

            if ($('#LCFileId').val() != '0' && $('#LCFileId').val() != '') {
                var lamt = eval($('#LoanAmount').val());

                var acpamt = eval($('#AcceptedAmount').val());
                var libamt = eval($('#LiborAmount').val());
                var hcamt = eval($('#HandlingCharge').val());

                var bdtrate = (labdt / lamt).toFixed(2);

                $('#BDTRate').val(bdtrate);

                $('#AcceptedAmountBDT').val(bdtrate * acpamt);
                $('#LiborAmountBDT').val(bdtrate * libamt);
                $('#HandlingChargeBDT').val(bdtrate * hcamt);
                $('#LoanAmountUSD').val(lamt * usdrate);
            }
            else {
                $('#BDTRate').val(1);
                $('#LoanAmount').val(labdt);
                $('#LoanAmountUSD').val(labdt * usdrate);
            }

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').not('.threedigit').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.threedigit').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });
        };

        function getUSDAmount() {
            var usdrate = eval($('#USDRate').val().replace(/\,/g, ''));
            var laamt = eval($('#LoanAmount').val().replace(/\,/g, ''));

            $('#LoanAmountUSD').val((new Number(usdrate * laamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        };

        function getAcceptList(id) {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("AcceptanceList")',
                data: JSON.stringify({ id: id, type: "create" }),
                success: function (data) {
                    $('#acp').html(data);

                    $('#acp select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });

                    if (id == 0) {
                        $('#LCAcceptanceId').val('0').trigger("change");
                    }
                    else {
                        getAcceptDetails(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getAcceptDetails(id) {
            if (id == 0) {
                $('#BeneficiaryId').select2("enable");
                $('#IssuerBankId').select2("enable");
                $('#IssuerBranchId').select2("enable");
                $('#AcceptedAmount').val('0.00');
                $('#InterestRate').val('0.00');
                $('#InterestRateOD').val('0.00');
                $('#LiborAmount').val('0.00');
                $('#HandlingCharge').val('0.00');
                $('#LoanAmount').val('0.00');
                $('#BDTRate').val('0.000');
                $('#USDRate').val('0.000');
                $('#LoanAmountBDT').val('0.00');
                $('#LoanAmountUSD').val('0.00');
                $('#FCurrencyId').val('23').trigger("change");

                $('#BeneficiaryId').val('').trigger("change");
                $('#IssuerBankId').val('').trigger("change");

                return;
            }

            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("AcceptanceDetails")',
                data: JSON.stringify({ id: id }),
                success: function (data) {
                    if (data.status == 'Error') {
                        alert(data.message);
                    }
                    else {
                        $('#AcceptedAmount').val(data.acp.AcceptanceAmount);
                        $('#InterestRate').val(data.acp.InterestRate);
                        $('#InterestRateOD').val(data.acp.PenaltyRate);
                        $('#LiborAmount').val(data.acp.Libor);
                        $('#HandlingCharge').val(data.acp.HandlingCharge);
                        $('#LoanAmount').val(data.acp.Amount);
                        $('#BDTRate').val(data.acp.BDTRate);
                        $('#USDRate').val(data.acp.USDRate);
                        $('#LoanAmountBDT').val(data.acp.Amount * data.acp.BDTRate);
                        $('#LoanAmountUSD').val(data.acp.Amount * data.acp.USDRate);
                        $('#CurrencyId').val(data.acp.CurrencyId).trigger("change");

                        myjsbrid = data.acp.IssuerBranchId;
                        myjsbr_status = false;
                        $('#BeneficiaryId').val(data.acp.BeneficiaryId).trigger("change");
                        $('#IssuerBankId').val(data.acp.IssuerBankId).trigger("change");

                        $('#BeneficiaryId').select2("enable", false);
                        $('#IssuerBankId').select2("enable", false);

                        $('.only-number').each(function () {
                            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        });

                        $('.only-currency').not('.threedigit').each(function () {
                            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        });

                        $('.threedigit').each(function () {
                            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        });

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            //while ($.active > 0) {
            //    window.setTimeout(function () {
            //    }, 600);
            //};

            //$('#IssuerBranchId').val(brid).trigger("change");
        };

        var table;
        table = $('#lschedule').DataTable({
            //destroy: true,
            scrollY: '258px',
            scrollCollapse: true,
            paging: false,
            filter: false,
            ordering: false,
            info: false
        });


        $('#ScheduleTypeId').change(function () {
            //alert(type);
            if ($(this).val() == '62') {
                $('#btnAdd').css('display', 'none');
                $('#InstallmentNo').val(1);
                $('#InstallmentNo').attr('readonly', true);
                $('#DueAmount').attr('readonly', true);
                $('#DueAmount').val($('#LoanAmount').val());
                $('#lblisd').html('Maturity Date');
                $('#DueAmount').val(0.00);
            }
            else if ($(this).val() == '63') {
                $('#btnAdd').css('display', 'none');
                $('#InstallmentNo').val(0);
                $('#InstallmentNo').attr('readonly', false);
                $('#DueAmount').attr('readonly', true);
                $('#DueAmount').val(0.00);
                $('#lblisd').html('Inst. Start Date');
            }
            else {
                $('#btnAdd').css('display', 'block');
                $('#InstallmentNo').val(0);
                $('#InstallmentNo').attr('readonly', false);
                $('#DueAmount').attr('readonly', false);
                $('#DueAmount').val(0.00);
                $('#lblisd').html('Inst. Date');
            }

            if ($(this).val() == 63) {
                $('#instamt').hide();
                $('#payperiod').show();
                //$("#PaymentPeriodTypeId").select2("destroy");
                //$("#PaymentPeriodTypeId option[value='0']").attr('disabled', 'disabled');
                $('#PaymentPeriodTypeId').val('94').trigger('change');
            } else {
                $('#instamt').show();
                $('#payperiod').hide();
                //$("#PaymentPeriodTypeId>optgroup>option[value='0']").removeAttr('disabled');
                $('#PaymentPeriodTypeId').val('101').trigger('change');
            }

            $('#lschedule>tbody').html('<tr><td></td><td></td><td></td><td></td></tr>');
        });

        function getSchedule() {
            var type = $('#ScheduleTypeId').val();
            //return;
            //if ($('#rbGeneral').val())
            //$('#custdiv').css('display', 'none');
            if (eval($('#InstallmentNo').val()) == 0) {
                alert('Please specify total installment no.');
                $('#InstallmentNo').focus();
                return;
            }
            else if (type == 64 && eval($('#DueAmount').val().replace(/\,/g, '')) == 0) {
                alert('Please specify installment amount.');
                $('#DueAmount').focus();
                return;
            }

            //if (type == 'GEN') {
            //    $('#btnAdd').css('display', 'none');
            //    $('#InstallmentNo').val(1);
            //    $('#InstallmentNo').attr('readonly', true);
            //    $('#DueAmount').attr('readonly', true);
            //    $('#DueAmount').val($('#LoanAmount').val());
            //    $('#lblisd').html('Maturity Date');
            //    $('#DueAmount').val(0.00);
            //}
            //else if (type == 'AMOR') {
            //    $('#btnAdd').css('display', 'none');
            //    $('#InstallmentNo').val(0);
            //    $('#InstallmentNo').attr('readonly', false);
            //    $('#DueAmount').attr('readonly', true);
            //    $('#DueAmount').val(0.00);
            //    $('#lblisd').html('Inst. Start Date');
            //}
            //else {
            //    $('#btnAdd').css('display', 'block');
            //    $('#InstallmentNo').val(0);
            //    $('#InstallmentNo').attr('readonly', false);
            //    $('#DueAmount').attr('readonly', false);
            //    $('#DueAmount').val(0.00);
            //    $('#lblisd').html('Inst. Date');
            //}

            //alert(JSON.stringify({
            //    type: type, startdate: $('#InstallmentStartDate').val(), loanamount: $('#LoanAmountBDT').val().replace(/\,/g, ''),
            //    instno: $('#InstallmentNo').val().replace(/\,/g, ''), instamount: $('#DueAmount').val().replace(/\,/g, ''),
            //    interestrate: $('#InterestRate').val().replace(/\,/g, ''), payperiodid: $('#InterestProcessType').val()
            //}));

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LoanSchedule")',
                data: JSON.stringify({
                    type: type, startdate: $('#InstallmentStartDate').val(), loanamount: $('#LoanAmountBDT').val().replace(/\,/g, ''),
                    instno: $('#InstallmentNo').val().replace(/\,/g, ''), instamount: $('#DueAmount').val().replace(/\,/g, ''),
                    interestrate: $('#InterestRate').val().replace(/\,/g, ''), payperiodid: $('#PaymentPeriodTypeId').val()
                }),
                success: function (msg) {
                    //if (msg.status == 'NotAuthorized') {
                    //    $('#loginpartial').modal('show');
                    //}
                    //else if (msg.status == 'Error') {
                    //    alert(msg.message);
                    //}
                    //else {
                    table.destroy(); //table.clear().draw();
                    $('#lschedule').html(msg);
                    table = $('#lschedule').DataTable({
                        //destroy: true,
                        scrollY: '256px',
                        scrollCollapse: true,
                        paging: false,
                        filter: false,
                        ordering: false,
                        info: false
                    });

                    $('#ExpireDate').val($('#InstallmentStartDate').val())
                    //$('#vtext').html("PI #");
                    //$('#vno').html(msg.pino);

                    //$('#alert').modal('show');
                    //}
                    //alert('Save successfull.\nAccept Ref. #' + msg.acceptno);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        $('#btnAdd').click(function () {
            //table.destroy();
        });

        function scheduleEntry() {
            rn = $('#lschedule>tbody>tr').length + 1;
            //alert(rn);
            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DetailsTemplate")',
                success: function (msg) {
                    $('#psdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add'));
                    $('#psalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        var isEdit = false; var row; var rn = 1;
        function AddSchedule() {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('only-currency') && !$(this).hasClass('only-number')
                        && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var schedule = {
                InstallmentNo: rn,
                ScheduleId: $('#ScheduleId').val(),
                DueDate: $('#DueDate').val(),
                PrincipalAmount: $('#PrincipalAmount').val().replace(/\,/g, ''),
                InterestAmount: $('#InterestAmount').val().replace(/\,/g, ''),
                DueAmount: $('#DueAmount').val().replace(/\,/g, '')
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RowTemplate")',
                data: JSON.stringify({ schedule: schedule }),
                success: function (msg) {
                    if (isEdit) {
                        $('#lschedule>tbody>tr:eq(' + (rn - 1) + ')').after(msg);
                        $('#lschedule>tbody>tr:eq(' + (rn - 1) + ')').remove();
                        $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add'));
                        isEdit = false;
                    }
                    else {
                        $('#lschedule>tbody').append(msg);
                    }

                    $('#psalert').modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function editrow(e) {
            isEdit = true;
            rn = $(e).closest('tr').index() + 1;

            row = $('#lschedule>tbody>tr:eq(' + (rn - 1) + ')');

            var schedule = {
                InstallmentNo: eval($.trim($(row).children('td:eq(0)').html())),
                ScheduleId: $.trim($(row).children('td:eq(7)').html()),
                DueDate: $.trim($(row).children('td:eq(1)').html()),
                PrincipalAmount: $.trim($(row).children('td:eq(2)').html()).replace(/\,/g, ''),
                InterestAmount: $.trim($(row).children('td:eq(3)').html()).replace(/\,/g, ''),
                DueAmount: $.trim($(row).children('td:eq(4)').html()).replace(/\,/g, '')
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DetailsTemplate")',
                data: JSON.stringify({ schedule: schedule }),
                success: function (msg) {
                    $('#psdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Add', 'Replace'));
                    $('#psalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#lschedule>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#lschedule>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-2));
                rn++;
            });
        };

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to ? ') )
                {
                alert('Thanks for confirming');
              } else
            {
                return;
            }
            //if ($('#PIList').val() == '' || $('#PIList').val() == null) {
            //    alert('Select PI no.');
            //    return;
            //}
            //else if (table.rows().data().length <= 0) {
            //    alert('No details information.');
            //    return;
            //}

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var loanmain = {
                LCFileId: $('#LCFileId').val(), LCAcceptanceId: $('#LCAcceptanceId').val(), LoanNo: $('#LoanNo').val(),
                LoanDate: $('#LoanDate').val(), BeneficiaryId: $('#BeneficiaryId').val(), IssuerBankId: $('#IssuerBankId').val(),
                IssuerBranchId: $('#IssuerBranchId').val(), LoanTypeId: $('#LoanTypeId').val(), InterestRate: $('#InterestRate').val(),
                InterestRateOD: $('#InterestRateOD').val(), InterestStartDate: $('#InterestStartDate').val(), InterestEndDate: $('#InterestEndDate').val(),
                InterestProcessType: $('#InterestProcessType').val(), AcceptedAmount: $('#AcceptedAmount').val(), LiborAmount: $('#LiborAmount').val(),
                HandlingCharge: $('#HandlingCharge').val(), LoanAmountBDT: $('#LoanAmountBDT').val(), FCurrencyId: $('#FCurrencyId').val(), CurrencyId: 23,
                BDTRate: $('#BDTRate').val(), USDRate: $('#USDRate').val(), DownPayment: $('#DownPayment').val(),
                LeaseDeposit: $('#LeaseDeposit').val(), InstallmentNo: $('#InstallmentNo').val(), InstallmentAmount: $('#InstallmentAmount').val(),
                InstallmentStartDate: $('#InstallmentStartDate').val(), ExpireDate: $('#ExpireDate').val(), Remarks: $('#Remarks').val(),
                ScheduleTypeId: $('#ScheduleTypeId').val(), PaymentPeriodTypeId: $('#PaymentPeriodTypeId').val(), BusinessTypeId: 93
            };

            var payschedule = [];

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 6) {
                    var arrayOfThisRow = {
                        InstallmentNo: tableData[0], DueDate: tableData[1], OpeningBalance: tableData[2].replace(/\,/g, ''),
                        DueAmount: tableData[3].replace(/\,/g, ''), PrincipalAmount: tableData[4].replace(/\,/g, ''),
                        InterestAmount: tableData[5].replace(/\,/g, ''), InterestRate: $('#InterestRate').val(),
                        ClosingBalance: tableData[6].replace(/\,/g, '')
                    };
                    //alert(arrayOfThisRow);
                    payschedule.push(arrayOfThisRow);
                }
            });

            //alert(JSON.stringify({ poSub: prList }));

            //return;

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').not('.threedigit').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.threedigit').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ loanMain: loanmain, paymentSchedules: payschedule }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Loan entry of #' + msg.loanno + '" save successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}
