﻿@model FundManagement.Models.LoanMain

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoanMain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LCFileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCFileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCAcceptanceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCAcceptanceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaonNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaonNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeneficiaryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerBankId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerBankId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerBranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerBranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRateOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRateOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestProcessType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestProcessType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaonAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaonAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaseDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaseDeposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallmentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallmentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallmentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallmentStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallmentStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
