﻿@model FundManagement.Models.LoanMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="heading-buttons">
    <h3>LoanMain Details</h3>
    <div class="buttons pull-right">
        <a href="@Url.Action("Index")" class="btn btn-primary btn-icon glyphicons list"><i></i>View List</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>

<div class="innerLR">
    <div class="widget" style="margin-top: -1px;">
        <div class="widget-head">
            <h4 class="heading glyphicons"></h4>
        </div>
        <div class="widget-body">
            <div class="details-info details-info-striped">
				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LCFileId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LCFileId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LCAcceptanceId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LCAcceptanceId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LaonNo) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LaonNo)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LoanDate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LoanDate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.BeneficiaryId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.BeneficiaryId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IssuerBankId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IssuerBankId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IssuerBranchId) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IssuerBranchId)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LoanType) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LoanType)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.InterestRate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.InterestRate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.InterestRateOD) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.InterestRateOD)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.InterestStartDate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.InterestStartDate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.InterestEndDate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.InterestEndDate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.InterestProcessType) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.InterestProcessType)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LaonAmount) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LaonAmount)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.DownPayment) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.DownPayment)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.LeaseDeposit) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.LeaseDeposit)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.InstallmentNo) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.InstallmentNo)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.InstallmentAmount) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.InstallmentAmount)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.InstallmentStartDate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.InstallmentStartDate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.ExpireDate) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.ExpireDate)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CreatedBy) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CreatedBy)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.CreatedTime) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.CreatedTime)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.RevisedBy) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.RevisedBy)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.RevisedTime) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.RevisedTime)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.IPAddress) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.IPAddress)
						</span>
					</div>
				</div>

				<div class="details-info-row">
					<div class="details-info-name"> 
						@Html.DisplayNameFor(model => model.PCName) 
					</div>

					<div class="details-info-value">
						<span class="editable editable-click">
							@Html.DisplayFor(model => model.PCName)
						</span>
					</div>
				</div>

			</div>
        </div>
    </div>
    <br />
</div>


    @Html.ActionLink("Edit", "Edit", new { id = Model.LoanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
