﻿@model FundManagement.Models.PaymentSchedule

<div class="col-sm-1">

</div>
<div class="col-sm-9">
    @Html.HiddenFor(model => model.ScheduleId)
    
    <div class="form-group row">
        @Html.LabelFor(model => model.InstallmentNo, new { @class = "col-common col-sm-3 label-control" }, true)
        <div class="col-sm-9 controls">
            @(Model.InstallmentNo == 0 ? 1 : Model.InstallmentNo)
        </div>
    </div>

    @Html.EditorFor(model => model.DueDate)

    @Html.EditorFor(model => model.PrincipalAmount)

    @Html.EditorFor(model => model.InterestAmount)

    @Html.EditorFor(model => model.DueAmount)
</div>

<script>
    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });
</script>
