﻿@model FundManagement.Models.ReportView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Interest
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Manage :: Interest Generation</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> General Info</h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AsOnDate, "Form", new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.AsOnDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.CompanyId, (SelectList)ViewBag.Company, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "Bank & Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-6 offset-right controls">
                                                    @Html.DropDownListFor(model => model.BankId, (SelectList)ViewBag.IssuerBank, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div id="brlist" class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.IssuerBranch, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.LoanTypeId, (SelectList)ViewBag.LoanTypeList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.LoanId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="loanlist" class="col-sm-9">
                                                    @Html.DropDownListFor(model => model.LoanId, (SelectList)ViewBag.LoanList, string.Empty, new { @class = "form-control selectwt", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnExecute" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Generate
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . .",
            allowClear: true
            //tags: true
            //dropdownAutoWidth: true
        });

        $('select.selectwt').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true,
            templateResult: function (data) {
                var r = data.text.split(' >> ');
                var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                                '<div class="col-md-6 col-1">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                '<div class="col-md-5 col-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                //'<div class="col-md-4 col-3">' + (r.length > 2 ? r[2] : '') + '</div>' +
                            '</div>';
                var $result = $(row);
                return $result;
            }//,
            //templateSelection: function (data) {
            //    var r = data.text.split(' >> ');
            //    var $result = r[0];
            //    return $result;
            //}
        });

        $(".rdate").attr("autocomplete", "off");

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'MMMM, YYYY'
            }
        });

        $('#BankId').change(function () {
            getBranchList($(this).val(), 'brlist', 'BranchId', 'Branch');
        })

        @*$(document).on('change', '#BranchId', function () {
            if ($(this).val() == '' || $(this).val() == '0')
                return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("AccountList", "Cheque")',
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    $('#aclist').html(msg);

                    $('#AccountId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });*@

        $('#btnExecute').click(function () {
            //$("#frm").trigger("submit.validationSubmit");
            //if ($("#frm").jqBootstrapValidation("hasErrors")) {
            //    return false;
            //}
            if (confirm('Are you sure want to execute?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            //$('.only-number').each(function () {
            //    $(this).val($(this).val().replace(/\,/g, ''));
            //});
            //$('.only-currency').each(function () {
            //    $(this).val($(this).val().replace(/\,/g, ''));
            //});

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var intparam = {
                CompanyId: $('#CompanyId').val(), BankId: $('#BankId').val(), BranchId: $('#BranchId').val(), 
                LoanTypeId: $('#LoanTypeId').val(), LoanId: $('#LoanId').val(), AsOnDate: $('#AsOnDate').val()
            };

            //alert(JSON.stringify({ poSub: prList }));
            //return;

            //$('.only-number').each(function () {
            //    $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            //});

            //$('.only-currency').each(function () {
            //    $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            //});

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("InterestProcess")',
                data: JSON.stringify({ param: intparam }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Execution failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Interest process for the month of ' + msg.mname + ' executed successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("InterestGenerate")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS{

}
