﻿@model IEnumerable<FundManagement.Models.PaymentSchedule>

<thead>
    <tr>
        <th style="text-align: center; width: 7%;">
            SL #
        </th>
        <th style="text-align: center; width: 15%;">
            Due Date
        </th>
        <th style="text-align: center; width: 16%;">
            Opening
        </th>
        <th style="text-align: center; width: 16%;">
            Due Amt
        </th>
        <th style="text-align: center; width: 16%;">
            Principal
        </th>
        <th style="text-align: center; width: 14%;">
            Interest
        </th>
        <th style="text-align: center; width: 16%;">
            Closing
        </th>
        <th style="text-align: center; display: none;">
            Schedule Id
        </th>
        @*<th style="text-align: center; width: 10%;"></th>*@
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.OrderByDescending(c => c.DueDate))
    {
        <tr class="selectable">
            <td style="text-align: center; width: 7%;">
                @item.InstallmentNo.ToString("000")
            </td>
            <td style="text-align: center; width: 15%;">
                @item.DueDate.ToString("dd-MMM-yyyy")
            </td>
            <td style="text-align: right; width: 16%;">
                @item.OpeningBalance.ToString("##,##0.00")
            </td>
            <td style="text-align: right; width: 16%;">
                @item.DueAmount.ToString("##,##0.00")
            </td>
            <td style="text-align: right; width: 16%;">
                @item.PrincipalAmount.ToString("##,##0.00")
            </td>
            <td style="text-align: right; width: 14%;">
                @item.InterestAmount.ToString("##,##0.00")
            </td>
            <td style="text-align: right; width: 16%;">
                @item.ClosingBalance.ToString("##,##0.00")
            </td>
            <td style="text-align: right; display: none;">
                @item.ScheduleId
            </td>
            @*<td style="text-align: center; width: 10%;">
                <a href="@Url.Action("Edit", new { id = 0 })" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                <a href="@Url.Action("Delete", new { id = 0 })" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
            </td>*@
        </tr>
    }
</tbody>

