﻿@model FundManagement.Models.LoanMain

@Html.DropDownListFor(model => model.LoanId, (SelectList)ViewBag.LoanList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })

<script>
    $('#LoanId').select2({
        placeholder: "Select or Type . . .",
        dropdownAutoWidth: true,
        templateResult: function (data) {
            var r = data.text.split(' >> ');
            var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                            '<div class="col-md-6 col-1">' + (r.length > 0 ? r[0] : '') + '</div>' +
                            '<div class="col-md-5 col-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                            //'<div class="col-md-4 col-3">' + (r.length > 2 ? r[2] : '') + '</div>' +
                      '</div>';
            var $result = $(row);
            return $result;
        },
        templateSelection: function (data) {
            var r = data.text.split(' >> ');
            var $result = r[0];
            return $result;
        }
    });
</script>
