﻿@model IEnumerable<FundManagement.Models.PaymentSchedule>

<thead>
    <tr>
        <th style="text-align: center; width: 15%;">
            SL #
        </th>
        <th style="text-align: center; width: 35%;">
            Matutity Date
        </th>
        <th style="text-align: center; display: none;">
            Opening
        </th>
        <th style="text-align: center; width: 40%;">
            Payment Amount
        </th>
        <th style="text-align: center; display: none;">
            Principal
        </th>
        <th style="text-align: center; display: none;">
            Interest
        </th>
        <th style="text-align: center; display: none;">
            Closing
        </th>
        <th style="text-align: center; display: none;">
            Schedule Id
        </th>
        <th style="text-align: center; width: 10%;">
            <a id="btnAdd" data-toggle="tooltip" data-original-title="Add Schedule" onclick="scheduleEntry();"><i class="fa ft-plus-circle" style="color: white; cursor: pointer;"></i><span style="color: antiquewhite; padding-left: 5px; cursor: pointer;">Add</span></a>
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr class="selectable">
            <td style="text-align: center; width: 15%;">
                @item.InstallmentNo.ToString("000")
            </td>
            <td style="text-align: center; width: 35%;">
                @item.DueDate.ToString("dd-MMM-yyyy")
            </td>
            <td style="text-align: right; display: none;">
                0.00
            </td>
            <td style="text-align: right; width: 40%;">
                @item.DueAmount.ToString("##,##0.00")
            </td>
            <td style="text-align: right; display: none;">
                @item.DueAmount.ToString("##,##0.00")
            </td>
            <td style="text-align: right; display: none;">
                0.00
            </td>
            <td style="text-align: right; display: none;">
                0.00
            </td>
            <td style="text-align: right; display: none;">
                @item.ScheduleId
            </td>
            <td style="text-align: center; width: 10%;">
                <a href="@Url.Action("Edit", new { id = 0 })" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                <a href="@Url.Action("Delete", new { id = 0 })" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
</tbody>

