﻿@model FundManagement.Models.PaymentSchedule

@if(Model != null)
{ 
    <tr class="selectable">
        <td style="text-align: center; width: 15%;">
            @Model.InstallmentNo.ToString("000")
        </td>
        <td style="text-align: center; width: 35%;">
            @Model.DueDate.ToString("dd-MMM-yyyy")
        </td>
        <td style="text-align: right; display: none;">
            0.00
        </td>
        <td style="text-align: right; width: 40%;">
            @Model.DueAmount.ToString("##,##0.00")
        </td>
        <td style="text-align: right; display: none;">
            @Model.PrincipalAmount.ToString("##,##0.00")
        </td>
        <td style="text-align: right; display: none;">
            @Model.InterestAmount.ToString("##,##0.00")
        </td>
        <td style="text-align: right; display: none;">
            0.00
        </td>
        <td style="text-align: right; display: none;">
            @Model.ScheduleId
        </td>
        <td style="width: 10%; text-align:center;">
            <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>
            <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

