﻿
@model FundManagement.Models.LoanMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Settlement
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Loan Settlement</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Cheque List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Settlement Info</h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-7">
                                            @Html.EditorFor(model => model.SettlementDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BeneficiaryId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.BeneficiaryId, (SelectList)ViewBag.Company, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuerBankId, "Bank & Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-6 offset-right controls">
                                                    @Html.DropDownListFor(model => model.IssuerBankId, (SelectList)ViewBag.IssuerBank, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div id="brlist" class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.IssuerBranchId, (SelectList)ViewBag.IssuerBranch, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanId, "Loan No", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="loanlist" class="col-sm-7 offset-right controls">
                                                    @Html.DropDownListFor(model => model.LoanId, (SelectList)ViewBag.LoanList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    <button type="button" id="btnAdd" class="btn-primary" style="width: 100% !important;">
                                                        <i class="fa ft-arrow-down"></i> Add To List
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanId, "Loan List", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="loanlist" class="col-sm-9 controls">
                                                    <table id="lsloan" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 10%; text-align: center;">
                                                                    SL #
                                                                </th>
                                                                <th style="display: none;">
                                                                    Loan Id
                                                                </th>
                                                                <th style="width: 55%; text-align: center;">
                                                                    Loan No
                                                                </th>
                                                                <th style="width: 23%; text-align: center;">
                                                                    Outstanding
                                                                </th>
                                                                <th style="width: 12%;"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @*<tr>
                                                                <td style="width: 10%; text-align: center;">
                                                                    01
                                                                </td>
                                                                <td style="display: none;">
                                                                    0
                                                                </td>
                                                                <td style="width: 50%; text-align: left;">
                                                                    DBLE8390424029-9845
                                                                </td>
                                                                <td style="width: 30%; text-align: center;">
                                                                    10,000.00
                                                                </td>
                                                                <td style="width: 10%; text-align:center;">
                                                                    <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>
                                                                    <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>
                                                                </td>
                                                            </tr>*@
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Settlement
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            allowClear: true,
            //dropdownAutoWidth: true
        });

        $('#IssuerBankId').change(function () {
            getBranchList($(this).val(), 'brlist', 'IssuerBranchId', 'Branch');
        });

        $(document).on('change', '#IssuerBranchId,#BeneficiaryId,#SettlementDate', function () {
            if ($('#BeneficiaryId').val() == '' || $('#BeneficiaryId').val() == '0' || $('#IssuerBankId').val() == '' || $('#IssuerBankId').val() == '0'
                || $('#IssuerBranchId').val() == '' || $('#IssuerBranchId').val() == '0' || $('#SettlementDate').val() == '') {

                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LoanList")',
                data: JSON.stringify({ comid: $('#BeneficiaryId').val(), bankid: $('#IssuerBankId').val(), branchid: $('#IssuerBranchId').val(), asondate: $('#SettlementDate').val() }),
                success: function (msg) {
                    //alert(msg);
                    $('#loanlist').html(msg);

                    $('#AccountId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        @*$(document).on('change', '#BeneficiaryId', function () {
            if ($(this).val() == '' || $(this).val() == '0' || $('#IssuerBankId').val() == ''
                || $('#IssuerBankId').val() == '0' || $('#IssuerBranchId').val() == '' || $('#IssuerBranchId').val() == '0') {

                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LoanList")',
                data: JSON.stringify({ comid: $(this).val(), bankid: $('#IssuerBankId').val(), branchid: $('#IssuerBranchId').val() }),
                success: function (msg) {
                    $('#loanlist').html(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });*@

        var isEdit = false; var row; var rn = 1;
        $('#btnAdd').click(function () {
            if ($('#LoanId').val() == '' || $('#LoanId').val() == '0') {
                alert('Select loan no.');
                return;
            } else {
                var isexists = false;
                $('table#lsloan>tbody>tr td:nth-child(2)').each(function () {
                    if (isEdit) {
                        if ($('#LoanId').val() == $(this).text()) {
                            alert('Selected loan already in list.');
                            isexists = true;
                            return;
                        };
                    }
                    else {
                        if ($('#LoanId').val() == $(this).text()) {
                            alert('Selected loan already in list.');
                            isexists = true;
                            return;
                        };
                    }
                });

                if (isexists == true) {
                    return;
                };

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("LoanDetails")',
                    data: JSON.stringify({ id: $('#LoanId').val(), asondate: $('#SettlementDate').val() }),
                    success: function (msg) {
                        if (msg.status == 'NotAuthorized') {
                            $('#loginpartial').modal('show');
                        }
                        else if (msg.status == 'Error') {
                            //alert(msg.message);
                            $('#alertdiv').removeClass('alert-success alert-danger');
                            $('#alertdiv').addClass('alert-danger');
                            $('#asummary').html('!!!Error!!!')
                            $('#atext').html('Error due to "' + msg.message + '".');
                            $('#btnAlert').attr('onclick', '');

                            $('#alert').modal('show');
                        }
                        else {
                            msg = '<tr><td style="width: 10%; text-align: center;">' + ($('#lsloan>tbody>tr').length + 101).toString().slice(-2) + '</td><td style="display: none;">' + $('#LoanId').val() + '</td>' +
                              '<td style="width: 55%; text-align: left;">' + $('#LoanId').select2('data')[0].text + '</td><td style="width: 23%; text-align: right;">' + msg.outbl + '</td>' +
                              '<td style="width: 12%; text-align:center;">' +
                              ' <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>' +
                              ' <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>' +
                              '</td></tr>';

                            if (isEdit) {
                                $('#lsloan>tbody>tr:eq(' + (rn - 1) + ')').after(msg);
                                $('#lsloan>tbody>tr:eq(' + (rn - 1) + ')').remove();
                                //$('#lbltamt').html((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                isEdit = false;
                                $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add To List'));
                            }
                            else {
                                $('#lsloan>tbody').append(msg);
                                //var amt = (eval($('#lbltamt').html().replace(/\,/g, '')) + eval($('#Amount').val().replace(/\,/g, '')));
                                //$('#lbltamt').html((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            }

                            rn = $('#lsloan>tbody>tr').length + 1;
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                        alert("Save failed.\nSee log for more information.");
                    }
                });
            };
        });

        function editrow(e) {
            isEdit = true; isSchOff = true;
            rn = $(e).closest('tr').index() + 1;

            row = $('#lsloan>tbody>tr:eq(' + (rn - 1) + ')');
            $('#LoanId').val($.trim($(row).children('td:eq(1)').html())).trigger('change');
            //$('#Principal').val($.trim($(row).children('td:eq(6)').html()));
            //$('#Interest').val($.trim($(row).children('td:eq(7)').html()));
            //$('#Libor').val($.trim($(row).children('td:eq(8)').html()));
            //$('#HandlingCharge').val($.trim($(row).children('td:eq(9)').html()));
            //$('#ExciseDuty').val($.trim($(row).children('td:eq(10)').html()));
            //$('#BankCharge').val($.trim($(row).children('td:eq(11)').html()));
            //$('#SettlementFee').val($.trim($(row).children('td:eq(12)').html()));
            //$('#Amount').val($.trim($(row).children('td:eq(13)').html()));

            $('#btnAdd').html($('#btnAdd').html().replace('Add To List', 'Replace'));
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            //var amt = (eval($('#lbltamt').html().replace(/\,/g, '')) - eval($('#lsloan>tbody>tr:eq(' + (rn - 1) + ')>td:eq(13)').html().replace(/\,/g, '')));
            //alert('amt:'+$('#lsloan>tbody>tr:eq(' + (rn - 1) + ')>td:eq(13)').html());
            $('#lsloan>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#lsloan>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 100).toString().slice(-2));
                rn++;
            });
            isEdit = false;
            $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add To List'));

            //$('#lbltamt').html((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        };

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            var loanlist = []

            $('table#lsloan>tbody>tr').each(function () {
                loanlist.push(eval($(this).find('td:eq(1)').text()));
            });

            alert(JSON.stringify({ loanlist: loanlist }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SaveSettlement")',
                data: JSON.stringify({ SettlementDate: $('#SettlementDate').val(), loanlist: loanlist }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Settlement done successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}
