﻿@model FundManagement.Models.LoanMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Transfer
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Loan Transfer</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Cheque List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Transfer Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.TransferDate, "Loan Date", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.EditorFor(model => model.TransferDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BeneficiaryId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.BeneficiaryId, (SelectList)ViewBag.Company, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuerBankId, "Bank & Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-6 offset-right controls">
                                                    @Html.DropDownListFor(model => model.IssuerBankId, (SelectList)ViewBag.IssuerBank, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div id="brlist" class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.IssuerBranchId, (SelectList)ViewBag.IssuerBranch, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanId, "Old Loan No", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="loanlist" class="col-sm-6 offset-right controls">
                                                    @Html.DropDownListFor(model => model.LoanId, (SelectList)ViewBag.LoanList, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    <button type="button" id="btnAdd" class="btn-primary" style="width: 100% !important;">
                                                        <i class="fa ft-arrow-down"></i> Add To List
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanId, "Old Loan List", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="loanlist" class="col-sm-9 controls">
                                                    <table id="lsloan" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 10%; text-align: center;">
                                                                    SL #
                                                                </th>
                                                                <th style="display: none;">
                                                                    Loan Id
                                                                </th>
                                                                <th style="width: 55%; text-align: center;">
                                                                    Loan No
                                                                </th>
                                                                <th style="width: 23%; text-align: center;">
                                                                    Outstanding
                                                                </th>
                                                                <th style="width: 12%;"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @*<tr>
                                                                    <td style="width: 10%; text-align: center;">
                                                                        01
                                                                    </td>
                                                                    <td style="display: none;">
                                                                        0
                                                                    </td>
                                                                    <td style="width: 50%; text-align: left;">
                                                                        DBLE8390424029-9845
                                                                    </td>
                                                                    <td style="width: 30%; text-align: center;">
                                                                        10,000.00
                                                                    </td>
                                                                    <td style="width: 10%; text-align:center;">
                                                                        <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>
                                                                        <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>
                                                                    </td>
                                                                </tr>*@
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanNo, "New Loan No", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-5 offset-right controls">
                                                    @Html.EditorFor(model => model.LoanNo, "StringWOL")
                                                </div>
                                                @Html.LabelFor(model => model.LoanTypeId, "Type", new { @class = "col-common col-sm-1 offset-left offset-right label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.LoanTypeId, (SelectList)ViewBag.LoanTypeList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.DropDownListFor(model => model.FCurrencyId, (SelectList)ViewBag.Currency, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", @disabled = "true" })
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.LoanAmount, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.BDTRate, "AtTheRate", new { @class = "threedigit", @readonly = "readonly" })
                                                </div>
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.LoanAmountBDT, "DecimalWOL", new { @class = "amt", @onchange = "getBDTRate();" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.USDRate, "Amount In USD", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.USDRate, "AtTheRate", new { @class = "usdamt threedigit", @onchange = "getUSDAmount();" })
                                                </div>
                                                <div class="col-sm-5 offset-left controls">
                                                    @Html.EditorFor(model => model.LoanAmountUSD, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DownPayment, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.DownPayment, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.LeaseDeposit, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.LeaseDeposit, "DecimalWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InterestRate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.InterestRate, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.InterestRateOD, "Penal Int. Rate", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.InterestRateOD, "DecimalWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InterestStartDate, "Int. Start Date", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.InterestStartDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.InterestProcessType, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.DropDownListFor(model => model.InterestProcessType, (SelectList)ViewBag.PTypeList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @Html.HiddenFor(model => model.ExpireDate)
                                        </div>

                                        <div class="col-md-6 offset-left">
                                            <div class="form-group row" style="padding: 3px; border: 1px solid #d4d4d4; margin: 0px !important; margin-bottom: 2px !important;">
                                                <div class="col-sm-8 offset-right">
                                                    <div class="form-group row">
                                                        @Html.Label("Sch Type", new { @class = "col-common col-sm-2 offset-left offset-right-1 label-control" })
                                                        <div class="col-sm-4 offset-left-1 offset-right controls">
                                                            @Html.DropDownListFor(c => c.ScheduleTypeId, (SelectList)ViewBag.PSTypeList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                        </div>
                                                        @Html.LabelFor(model => model.InterestProcessType, "Pay Type", new { @class = "col-common col-sm-2 offset-left offset-right-1 label-control" }, false)
                                                        <div class="col-sm-4 offset-left-1 controls">
                                                            @Html.DropDownListFor(c => c.PaymentPeriodTypeId, (SelectList)ViewBag.SPTypeList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="button" id="btnSchedule" class="btn-success" onclick="getSchedule();">
                                                        <i class="fa ft-arrow-down"></i> Generate Pay Schedule
                                                    </button>
                                                </div>
                                            </div>

                                            <div id="custdiv" class="form-group row" style="padding: 3px; border: 1px solid #d4d4d4; margin: 0px !important; margin-bottom: -5px !important;">
                                                <div class="col-sm-2 offset-right controls amort general">
                                                    <div class="form-group row">
                                                        @Html.LabelFor(model => model.InstallmentNo, "Inst. No", new { @class = "col-common col-sm-7 offset-right" }, false)
                                                        <div class="col-sm-5 offset-left offset-right-1 controls amort general">
                                                            @Html.EditorFor(model => model.InstallmentNo, "Int16WOL", new { @style = "text-align: center !important; padding: 0.25rem .25rem !important;" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 offset-left controls amort general">
                                                    <div class="form-group row">
                                                        @Html.LabelFor(model => model.InstallmentStartDate, "Maturity Date", new { @id = "lblisd", @class = "col-common col-sm-6 label-control" }, false)
                                                        <div class="col-sm-6 offset-left offset-right controls">
                                                            @Html.EditorFor(model => model.InstallmentStartDate, "DateTimeWOL")
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 offset-right controls amort general">
                                                    <div class="form-group row">
                                                        @Html.LabelFor(model => model.InstallmentAmount, "Inst. Amount", new { @id = "lblDueAmt", @class = "col-common col-sm-5 label-control" }, false)
                                                        <div class="col-sm-7 offset-left controls">
                                                            @Html.EditorFor(model => model.InstallmentAmount, "DecimalWOL", new { @id = "DueAmount", @name = "DueAmount" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-wrapper-scroll-y" style="position: relative; max-height: 288px; overflow: auto; border-bottom: 1px solid #e3ebf3;">
                                                <table id="lschedule" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center; width: 15%;">
                                                                SL #
                                                            </th>
                                                            <th style="text-align: center; width: 35%;">
                                                                Matutity Date
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Opening
                                                            </th>
                                                            <th style="text-align: center; width: 40%;">
                                                                Payment Amount
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Principal
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Interest
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Closing
                                                            </th>
                                                            <th style="text-align: center; display: none;">
                                                                Schedule Id
                                                            </th>
                                                            <th style="text-align: center; width: 10%;">
                                                                <a data-toggle="tooltip" data-original-title="Add Schedule" onclick="addSchedule(this);"><i class="fa ft-plus-circle" style="color: white; cursor: pointer;"></i><span style="color: antiquewhite; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*<tr>
                                                            <td style="text-align: center; width: 15%;"></td>
                                                            <td style="text-align: center; width: 35%;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: right; width: 40%;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: right; display: none;"></td>
                                                            <td style="text-align: center; width: 10%;"></td>
                                                        </tr>*@
                                                    </tbody>
                                                </table>
                                            </div>

                                            @Html.LabelFor(model => model.Remarks, new { @class = "col-common col-sm-12 label-control", @style = "text-align: left;" }, true)
                                            
                                            <div class="form-group row">
                                                <div class="col-sm-12 controls">
                                                    @Html.EditorFor(model => model.Remarks, templateName: "MultilineTextWOL")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Transfer
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').not('.threedigit').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.threedigit').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').not('.threedigit').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        $('input.threedigit').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            allowClear: true,
            //dropdownAutoWidth: true
        });

        $('#IssuerBankId').change(function () {
            getBranchList($(this).val(), 'brlist', 'IssuerBranchId', 'Branch');
        });

        $(document).on('change', '#IssuerBranchId,#BeneficiaryId,#TransferDate', function () {
            if ($('#BeneficiaryId').val() == '' || $('#BeneficiaryId').val() == '0' || $('#IssuerBankId').val() == '' || $('#IssuerBankId').val() == '0'
                || $('#IssuerBranchId').val() == '' || $('#IssuerBranchId').val() == '0' || $('#TransferDate').val() == '') {

                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LoanList")',
                data: JSON.stringify({ comid: $('#BeneficiaryId').val(), bankid: $('#IssuerBankId').val(), branchid: $('#IssuerBranchId').val(), asondate: $('#TransferDate').val() }),
                success: function (msg) {
                    //alert(msg);
                    $('#loanlist').html(msg);

                    $('#AccountId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        function getBDTRate() {
            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            var labdt = eval($('#LoanAmountBDT').val());
            var usdrate = eval($('#USDRate').val());

            //if ($('#LCFileId').val() != '0' && $('#LCFileId').val() != '') {
            //    var lamt = eval($('#LoanAmount').val());

            //    var acpamt = eval($('#AcceptedAmount').val());
            //    var libamt = eval($('#LiborAmount').val());
            //    var hcamt = eval($('#HandlingCharge').val());

            //    var bdtrate = (labdt / lamt).toFixed(2);

            //    $('#BDTRate').val(bdtrate);

            //    $('#AcceptedAmountBDT').val(bdtrate * acpamt);
            //    $('#LiborAmountBDT').val(bdtrate * libamt);
            //    $('#HandlingChargeBDT').val(bdtrate * hcamt);
            //    $('#LoanAmountUSD').val(lamt * usdrate);
            //}
            //else {
            $('#BDTRate').val(1);
            $('#LoanAmount').val(labdt);
            $('#LoanAmountUSD').val(labdt * usdrate);
            //}

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').not('.threedigit').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.threedigit').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });
        };

        function getUSDAmount() {
            var usdrate = eval($('#USDRate').val().replace(/\,/g, ''));
            var laamt = eval($('#LoanAmount').val().replace(/\,/g, ''));

            $('#LoanAmountUSD').val((new Number(usdrate * laamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        };

        var isTEdit = false; var trow; var trn = 1;
        $('#btnAdd').click(function () {
            if ($('#LoanId').val() == '' || $('#LoanId').val() == '0') {
                alert('Select loan no.');
                return;
            } else {
                var isexists = false;
                $('table#lsloan>tbody>tr td:nth-child(2)').each(function () {
                    if (isTEdit) {
                        if ($('#LoanId').val() == $(this).text()) {
                            alert('Selected loan already in list.');
                            isexists = true;
                            //isTEdit = false;
                            return;
                        };
                    }
                    else {
                        if ($('#LoanId').val() == $(this).text()) {
                            alert('Selected loan already in list.');
                            isexists = true;
                            return;
                        };
                    }
                });

                if (isexists == true) {
                    return;
                };

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("LoanDetails")',
                    data: JSON.stringify({ id: $('#LoanId').val(), asondate: $('#TransferDate').val() }),
                    success: function (msg) {
                        if (msg.status == 'NotAuthorized') {
                            $('#loginpartial').modal('show');
                        }
                        else if (msg.status == 'Error') {
                            //alert(msg.message);
                            $('#alertdiv').removeClass('alert-success alert-danger');
                            $('#alertdiv').addClass('alert-danger');
                            $('#asummary').html('!!!Error!!!')
                            $('#atext').html('Error due to "' + msg.message + '".');
                            $('#btnAlert').attr('onclick', '');

                            $('#alert').modal('show');
                        }
                        else {
                            msg = '<tr><td style="width: 10%; text-align: center;">' + ($('#lsloan>tbody>tr').length + 101).toString().slice(-2) + '</td><td style="display: none;">' + $('#LoanId').val() + '</td>' +
                              '<td style="width: 55%; text-align: left;">' + $('#LoanId').select2('data')[0].text + '</td><td style="width: 23%; text-align: right;">' + msg.outbl + '</td>' +
                              '<td style="width: 12%; text-align:center;">' +
                              ' <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="edittrow(this);"><i class="fa fa-pencil"></i></a>' +
                              ' <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="deltrow(this);"><i class="fa fa-trash"></i></a>' +
                              '</td></tr>';

                            if (isTEdit) {
                                $('#lsloan>tbody>tr:eq(' + (trn - 1) + ')').after(msg);
                                $('#lsloan>tbody>tr:eq(' + (trn - 1) + ')').remove();
                                //$('#lbltamt').html((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                isTEdit = false;
                                $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add To List'));
                            }
                            else {
                                $('#lsloan>tbody').append(msg);
                                //var amt = (eval($('#lbltamt').html().replace(/\,/g, '')) + eval($('#Amount').val().replace(/\,/g, '')));
                                //$('#lbltamt').html((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            }

                            trn = $('#lsloan>tbody>tr').length + 1;
                        }

                        var tamt = 0;
                        $('table#lsloan>tbody>tr td:nth-child(4)').each(function () {
                            tamt = (tamt + eval($(this).text().replace(/\,/g, '')));
                            //alert($(this).text())
                        });
                        $('#LoanAmountBDT').val((new Number(tamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        getBDTRate(); getUSDAmount();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                        alert("Save failed.\nSee log for more information.");
                    }
                });
            };
        });

        function edittrow(e) {
            isTEdit = true; isSchOff = true;
            trn = $(e).closest('tr').index() + 1;

            trow = $('#lsloan>tbody>tr:eq(' + (trn - 1) + ')');
            $('#LoanId').val($.trim($(row).children('td:eq(1)').html())).trigger('change');

            $('#btnAdd').html($('#btnAdd').html().replace('Add To List', 'Replace'));
        };

        function deltrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            trn = $(e).closest('tr').index() + 1;

            //var amt = (eval($('#lbltamt').html().replace(/\,/g, '')) - eval($('#lsloan>tbody>tr:eq(' + (rn - 1) + ')>td:eq(13)').html().replace(/\,/g, '')));
            //alert('amt:'+$('#lsloan>tbody>tr:eq(' + (rn - 1) + ')>td:eq(13)').html());
            $('#lsloan>tbody>tr:eq(' + (trn - 1) + ')').remove();

            trn = 1;

            $('table#lsloan>tbody>tr td:first-child').each(function () {
                $(this).text((trn + 100).toString().slice(-2));
                trn++;
            });

            var tamt = 0;
            $('table#lsloan>tbody>tr td:nth-child(4)').each(function () {
                tamt = (tamt + eval($(this).text().replace(/\,/g, '')));
            });
            $('#LoanAmountBDT').val((new Number(tamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            getBDTRate(); getUSDAmount();

            isTEdit = false;
            $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add To List'));

            //$('#lbltamt').html((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        };

        //var table;
        //table = $('#lschedule').DataTable({
        //    //destroy: true,
        //    scrollY: '258px',
        //    scrollCollapse: true,
        //    paging: false,
        //    filter: false,
        //    ordering: false,
        //    info: false,
        //    columnDefs: [
        //        { width: 45, targets: 0 },
        //        { width: 80, targets: 1 },
        //        { width: 100, targets: 2 },
        //        { width: 100, targets: 3 },
        //        { width: 100, targets: 4 },
        //        { width: 100, targets: 5 },
        //        { width: 100, targets: 6 }
        //    ]
        //});

        function setSchedule(type) {
            //alert(type);
            if (type == '62') {
                $('#btnAdd').css('display', 'none');
                $('#InstallmentNo').val(1);
                $('#InstallmentNo').attr('readonly', true);
                $('#DueAmount').attr('readonly', true);
                $('#DueAmount').val($('#LoanAmount').val());
                $('#lblisd').html('Maturity Date');
                $('#DueAmount').val(0.00);
            }
            else if (type == '63') {
                $('#btnAdd').css('display', 'none');
                $('#InstallmentNo').val(0);
                $('#InstallmentNo').attr('readonly', false);
                $('#DueAmount').attr('readonly', true);
                $('#DueAmount').val(0.00);
                $('#lblisd').html('Inst. Start Date');
            }
            else {
                $('#btnAdd').css('display', 'block');
                $('#InstallmentNo').val(0);
                $('#InstallmentNo').attr('readonly', false);
                $('#DueAmount').attr('readonly', false);
                $('#DueAmount').val(0.00);
                $('#lblisd').html('Inst. Date');
            }

            //$('#lschedule>tbody').html('<tr><td></td><td></td><td></td><td></td></tr>');
        }

        function getSchedule() {
            //alert($('#ScheduleTypeId').val());
            var type = $('#ScheduleTypeId').val();
            //return;
            //if ($('#rbGeneral').val())
            //$('#custdiv').css('display', 'none');
            if (type == '' || type == '0') {
                alert('Please specify schedule type.');
                $('#ScheduleTypeId').focus();
                return;
            }
            else if ($('#PaymentPeriodTypeId').val() == '' || $('#PaymentPeriodTypeId').val() == '0') {
                alert('Please specify pay type.');
                $('#PaymentPeriodTypeId').focus();
                return;
            }
            else if (eval($('#InstallmentNo').val()) == 0) {
                alert('Please specify total installment no.');
                $('#InstallmentNo').focus();
                return;
            }
            else if (type == 64 && eval($('#DueAmount').val().replace(/\,/g, '')) == 0) {
                alert('Please specify installment amount.');
                $('#DueAmount').focus();
                return;
            }

            var param = {
                type: type, startdate: $('#InstallmentStartDate').val(), loanamount: $('#LoanAmountBDT').val().replace(/\,/g, ''),
                instno: $('#InstallmentNo').val().replace(/\,/g, ''), instamount: $('#DueAmount').val().replace(/\,/g, ''),
                interestrate: $('#InterestRate').val().replace(/\,/g, ''), payperiodid: $('#PaymentPeriodTypeId').val()
            };

            //alert(JSON.stringify(param));

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LoanSchedule")',
                data: JSON.stringify(param),
                success: function (msg) {
                    //if (msg.status == 'NotAuthorized') {
                    //    $('#loginpartial').modal('show');
                    //}
                    //else if (msg.status == 'Error') {
                    //    alert(msg.message);
                    //}
                    //else {
                    //table.destroy(); //table.clear().draw();
                    $('#lschedule').html(msg);
                    //table = $('#lschedule').DataTable({
                    //    //destroy: true,
                    //    scrollY: '256px',
                    //    scrollCollapse: true,
                    //    paging: false,
                    //    filter: false,
                    //    ordering: false,
                    //    info: false,
                    //    columnDefs: [
                    //        { width: 45, targets: 0 },
                    //        { width: 80, targets: 1 },
                    //        { width: 100, targets: 2 },
                    //        { width: 100, targets: 3 },
                    //        { width: 100, targets: 4 },
                    //        { width: 100, targets: 5 },
                    //        { width: 100, targets: 6 }
                    //    ]
                    //});

                    $('#ExpireDate').val($('#InstallmentStartDate').val())
                    //$('#vtext').html("PI #");
                    //$('#vno').html(msg.pino);

                    //$('#alert').modal('show');
                    //}
                    //alert('Save successfull.\nAccept Ref. #' + msg.acceptno);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    alert(textStatus);
                    console.log(JSON.stringify({ jqXHR: jqXHR }));
                }
            });
        };

        function scheduleEntry() {
            rn = $('#lschedule>tbody>tr').length + 1;
            //alert(rn);
            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DetailsTemplate")',
                success: function (msg) {
                    $('#psdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add'));
                    $('#psalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        var isEdit = false; var row; var rn = 1;
        function AddSchedule() {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('only-currency') && !$(this).hasClass('only-number')
                        && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var schedule = {
                InstallmentNo: rn,
                ScheduleId: $('#ScheduleId').val(),
                DueDate: $('#DueDate').val(),
                PrincipalAmount: $('#PrincipalAmount').val().replace(/\,/g, ''),
                InterestAmount: $('#InterestAmount').val().replace(/\,/g, ''),
                DueAmount: $('#DueAmount').val().replace(/\,/g, '')
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RowTemplate")',
                data: JSON.stringify({ schedule: schedule }),
                success: function (msg) {
                    if (isEdit) {
                        $('#lschedule>tbody>tr:eq(' + (rn - 1) + ')').after(msg);
                        $('#lschedule>tbody>tr:eq(' + (rn - 1) + ')').remove();
                        $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add'));
                        isEdit = false;
                    }
                    else {
                        $('#lschedule>tbody').append(msg);
                    }

                    $('#psalert').modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function editrow(e) {
            isEdit = true;
            rn = $(e).closest('tr').index() + 1;

            row = $('#lschedule>tbody>tr:eq(' + (rn - 1) + ')');

            var schedule = {
                InstallmentNo: eval($.trim($(row).children('td:eq(0)').html())),
                ScheduleId: $.trim($(row).children('td:eq(7)').html()),
                DueDate: $.trim($(row).children('td:eq(1)').html()),
                PrincipalAmount: $.trim($(row).children('td:eq(2)').html()).replace(/\,/g, ''),
                InterestAmount: $.trim($(row).children('td:eq(3)').html()).replace(/\,/g, ''),
                DueAmount: $.trim($(row).children('td:eq(4)').html()).replace(/\,/g, '')
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DetailsTemplate")',
                data: JSON.stringify({ schedule: schedule }),
                success: function (msg) {
                    $('#psdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Add', 'Replace'));
                    $('#psalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#lschedule>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#lschedule>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-2));
                rn++;
            });
        };

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var loanlist = []

            $('table#lsloan>tbody>tr td:nth-child(2)').each(function () {
                loanlist.push($(this).text());
            });

            if (loanlist.length == 0) {
                alert('No loan for transfer');
                return;
            }

            if ($('table#lschedule>tbody>tr').length == 0) {
                alert('No payment schedule available.');
                return;
            }

            //alert(JSON.stringify({ loanlist: loanlist }));

            var loanmain = {
                LCFileId: 0, LCAcceptanceId: 0, LoanNo: $('#LoanNo').val(),
                LoanDate: $('#TransferDate').val(), BeneficiaryId: $('#BeneficiaryId').val(), IssuerBankId: $('#IssuerBankId').val(),
                IssuerBranchId: $('#IssuerBranchId').val(), LoanTypeId: $('#LoanTypeId').val(), InterestRate: $('#InterestRate').val(),
                InterestRateOD: $('#InterestRateOD').val(), InterestStartDate: $('#InterestStartDate').val(), InterestEndDate: $('#InterestEndDate').val(),
                InterestProcessType: $('#InterestProcessType').val(), AcceptedAmount: $('#AcceptedAmount').val(), LiborAmount: $('#LiborAmount').val(),
                HandlingCharge: $('#HandlingCharge').val(), LoanAmountBDT: $('#LoanAmountBDT').val(), FCurrencyId: $('#FCurrencyId').val(), CurrencyId: 23,
                BDTRate: $('#BDTRate').val(), USDRate: $('#USDRate').val(), DownPayment: $('#DownPayment').val(),
                LeaseDeposit: $('#LeaseDeposit').val(), InstallmentNo: $('#InstallmentNo').val(), InstallmentAmount: $('#InstallmentAmount').val(),
                InstallmentStartDate: $('#InstallmentStartDate').val(), ExpireDate: $('#ExpireDate').val(), Remarks: $('#Remarks').val(),
                ScheduleTypeId: $('#ScheduleTypeId').val(), PaymentPeriodTypeId: $('#PaymentPeriodTypeId').val(), BusinessTypeId: 93
            };

            var payschedule = [];
            var table = $('#lschedule').DataTable({
                //destroy: true,
                scrollY: '258px',
                scrollCollapse: true,
                paging: false,
                filter: false,
                ordering: false,
                info: false
            });

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 6) {
                    var arrayOfThisRow = {
                        InstallmentNo: tableData[0], DueDate: tableData[1], OpeningBalance: tableData[2].replace(/\,/g, ''),
                        DueAmount: tableData[3].replace(/\,/g, ''), PrincipalAmount: tableData[4].replace(/\,/g, ''),
                        InterestAmount: tableData[5].replace(/\,/g, ''), InterestRate: $('#InterestRate').val(),
                        ClosingBalance: tableData[6].replace(/\,/g, '')
                    };
                    //alert(arrayOfThisRow);
                    payschedule.push(arrayOfThisRow);
                }
            });
            table.destroy();

            //alert(JSON.stringify({ poSub: prList }));

            //return;

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').not('.threedigit').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.threedigit').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            //alert(JSON.stringify({ poSub: prList }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SaveTransfer")',
                data: JSON.stringify({
                    TransferDate: $('#TransferDate').val(), tloanlist: loanlist,
                    loanMain: loanmain, paymentSchedules: payschedule
                }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Transfer done successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Transfer")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
}
