﻿@model FundManagement.Models.ReconciliationMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Reconciliation
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Liability Reconciliation</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Reconciliation List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Reconciliation Info</h4>
                                    <div class="row">
                                        <div class="col-md-6 offset-right">
                                            @Html.HiddenFor(model => model.ReconciliationId)

                                            @Html.EditorFor(model => model.ReconciliationDate, new { @class = "rcon" })

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.CompanyId, (SelectList)ViewBag.Company, string.Empty, new { @class = "form-control select rcon", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "Bank & Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-5 offset-right controls">
                                                    @Html.DropDownListFor(model => model.BankId, (SelectList)ViewBag.Bank, string.Empty, new { @class = "form-control select rcon", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div id="brlist" class="col-sm-4 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.Branch, string.Empty, new { @class = "form-control select rcon", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5 offset-left offset-right">
                                            @Html.EditorFor(model => model.Remarks)
                                        </div>

                                        <div class="col-md-12">
                                            <h4 class="form-section"><i class="ft-user"></i> Details</h4>
                                            <table id="rcondetails" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; vertical-align:middle; width: 5%;">
                                                            SL #
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; display: none;">
                                                            Sub Id
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; display: none;">
                                                            Type Id
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 10%;">
                                                            Type
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 8%;">
                                                            SWR Balance
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 8%;">
                                                            Book Balance
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 8%;">
                                                            Bank Balance
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 9%;">
                                                            Diff Betn SWR & Book
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 11%;">
                                                            Diff Betn SWR & Book Remarks
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 9%;">
                                                            Diff Betn SWR & Bank
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 11%;">
                                                            Diff Betn SWR & Bank Remarks
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 9%;">
                                                            Diff Betn Bank & Book
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 11%;">
                                                            Diff Betn Bank & Book Remarks
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; display: none;">
                                                            Id
                                                        </th>
                                                        <th style="text-align: center; vertical-align:middle; width: 6%; display: none;">
                                                            <a title="" data-toggle="tooltip" data-original-title="Add Details" onclick="rconEntry(this);"><i class="fa ft-plus-circle" style="color: white; cursor: pointer;"></i><span style="color: antiquewhite; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model != null && Model.ReconciliationSubs != null)
                                                    {
                                                        @Html.Action("RowTemplate", new { subs = Model.ReconciliationSubs })
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                            <div class="form-group">
                                                <!-- Modal -->
                                                <div class="modal fade text-left" id="rconalert" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-success white">
                                                                <h4 class="modal-title">Balance Info</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row" id="rcondiv">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnAdd" type="button" class="btn grey btn-outline-success" style="min-width: 100px;" onclick="AddDetails();">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
        function showmodal() {
            $('#backdrop').modal('show');
        };

        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $(".rdate").attr("autocomplete", "off");

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('select.select').select2({
            placeholder: "Select . . .",
            //dropdownAutoWidth: true
        });

        $('#BankId').change(function () {
            getBranchList($(this).val(), 'brlist', 'BranchId', 'Branch');
            //$($("#BranchId").select2("container")).addClass("rcon");
            //$($('#BranchId').data('select2').$container).addClass('rcon')
        });

        $(document).on('change', '.rcon, #BranchId', function () {
            if ($('#ReconciliationDate').val() == '' || $('#CompanyId').val() == '' || $('#BankId').val() == '' || $('#BranchId').val() == '')
                return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ReconciliationDetails")',
                data: JSON.stringify({ date: $('#ReconciliationDate').val(), comid: $('#CompanyId').val(), bid: $('#BankId').val(), brid: $('#BranchId').val() }),
                success: function (msg) {
                    $('#rcondetails>tbody').html(msg);
                    if ($('#rcondetails>tbody>tr').length != 0) {
                        row = $('#rcondetails>tbody>tr:eq(0)');
                        //alert($.trim($(row).children('td:eq(13)').html()));
                        $('#ReconciliationId').val($.trim($(row).children('td:eq(13)').html()));
                    } else {
                        $('#ReconciliationId').val(0);
                    };
                    if ($('#ORemarks').length != 0 && $('#Remarks').val() == '') {
                        $('#Remarks').val($.trim($('#ORemarks').val()));
                    };
                    //else {
                    //    $('#Remarks').val('');
                    //};
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#rcondetails>tbody').html('');
                    $('#ReconciliationId').val(0);
                }
            });
        });

        function setQty(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    //error = true;
                    //alert($(this).closest('tr').html());
                    //alert('#t' + $(t).attr('id').substring(0, 6));
                    //if (eval($(t).parent().children(0).html().replace(/\,/g, '')) >= eval($(this).val().replace(/\,/g, ''))) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");

                    //alert($('#mwtamt_' + $(t).attr('id').substring(6, 8)).html());
                    //var camt = (eval(newContent.replace(/\,/g, '')) - eval(OriginalContent.replace(/\,/g, '')));
                    //var fwtamt = camt + eval($('#fwt' + $(t).attr('id').substring(0, 6)).html().replace(/\,/g, ''));
                    //var mwtamt = camt + eval($('#mwtamt_' + $(t).attr('id').substring(6, 8)).html().replace(/\,/g, ''));
                    //var totamt = camt + eval($('#ttamt_00').html().replace(/\,/g, ''));

                    //table.cell($('#' + $(t).attr('id'))).data(newContent).draw();
                    //table.cell($('#mwtamt_' + $(t).attr('id').substring(6, 8))).data(mwtamt.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();

                    //if ($(t).attr('id').substring(6, 8) != '00') {
                    //    table.cell($('#fwt' + $(t).attr('id').substring(0, 6))).data(fwtamt.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();
                    //    table.cell($('#ttamt_00')).data(totamt.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();
                    //}
                    row = $('#rcondetails>tbody>tr:eq(' + ($(t).closest('tr').index()) + ')');

                    var swr = new Number($.trim($(row).children('td:eq(4)').html().replace(/\,/g, '')));
                    var book = new Number($.trim($(row).children('td:eq(5)').html().replace(/\,/g, '')));
                    var bank = new Number($.trim($(row).children('td:eq(6)').html().replace(/\,/g, '')));

                    $(row).children('td:eq(7)').html((swr - book).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $(row).children('td:eq(9)').html((swr - bank).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $(row).children('td:eq(11)').html((book - bank).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                    //var tAmt = 0.00, tQty = 0;
                    //table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    //    var tableData = this.data();

                    //    tQty += eval(tableData[29].replace(/\,/g, ''));
                    //    tAmt += eval(tableData[33].replace(/\,/g, ''));
                    //});

                    //$('#totalamt').html(tAmt.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    //$('#totalqty').html(tQty.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    //}
                    //else {
                    //    error = true;
                    //    alert('Invalid quantity.');
                    //    e.preventDefault();
                    //}
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function setRemarks(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            //$(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).html('<textarea style="width: 100%;" cols="2" rows="4">' + OriginalContent + '</textarea>');
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    //error = true;
                    //alert($(this).closest('tr').html());
                    //alert('#t' + $(t).attr('id').substring(0, 6));
                    //if (eval($(t).parent().children(0).html().replace(/\,/g, '')) >= eval($(this).val().replace(/\,/g, ''))) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
                //else {
                //    return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
                //}
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function rconEntry() {
            rn = $('#rcondetails>tbody>tr').length + 1;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DetailsTemplate")',
                success: function (msg) {
                    $('#rcondiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Update', 'Save'));
                    $('#rconalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        var isEdit = false; var row; var rn = 1;
        function AddDetails() {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('only-currency') && !$(this).hasClass('only-number')
                        && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            if ($('#LoanTypeId').val() == '') {
                alert('Select liability type.');
                $('#LoanTypeId').focus();
                return;
            }
            //else if ($('#BankBalance').val() == '') {
            //    alert('Select select account sub head.');
            //    $('#CaptionId').focus();
            //    return;
            //}
            //else if (eval($('#BudgetAmount').val().replace(/\,/g, '')) == 0 && eval($('#ActualAmount').val().replace(/\,/g, '')) == 0) {
            //    alert("Budget/Actual amount can't be zero.");
            //    $('#BudgetAmount').focus();
            //    return;
            //}

            var rdetails = [];
            rdetails.push({
                RowNo: rn, ReconciliationSubId: $('#ReconciliationSubId').val(),
                LoanTypeId: $('#LoanTypeId').val(), SoftwareBalance: $('#SoftwareBalance').val().replace(/\,/g, ''),
                BookBalance: $('#BookBalance').val().replace(/\,/g, ''),
                BankBalance: $('#BankBalance').val().replace(/\,/g, ''),
                SoftwareBookDifference: $('#SoftwareBookDifference').val().replace(/\,/g, ''),
                SoftwareBookDifferenceRemarks: $('#SoftwareBookDifferenceRemarks').val(),
                SoftwareBankDifference: $('#SoftwareBankDifference').val().replace(/\,/g, ''),
                SoftwareBankDifferenceRemarks: $('#SoftwareBankDifferenceRemarks').val(),
                BankBookDifference: $('#BankBookDifference').val().replace(/\,/g, ''),
                BankBookDifferenceRemarks: $('#BankBookDifferenceRemarks').val()
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RowTemplate")',
                data: JSON.stringify({ subs: rdetails }),
                success: function (msg) {
                    if (isEdit) {
                        $('#rcondetails>tbody>tr:eq(' + (rn - 1) + ')').after(msg);
                        $('#rcondetails>tbody>tr:eq(' + (rn - 1) + ')').remove();
                        $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add'));
                        isEdit = false;
                    }
                    else {
                        $('#rcondetails>tbody').append(msg);
                    }

                    $('#rconalert').modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //$('#alertdiv').removeClass('alert-success alert-danger');
                    //$('#alertdiv').addClass('alert-danger');
                    //$('#asummary').html('!!!Error!!!')
                    //$('#btnAlert').attr('onclick', '');
                    //$('#atext').html('Add/Replace failed due to "' + JSON.parse(jqXHR.responseText) + '".');

                    //$('#alert').modal('show');
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));

                    //alert(errorThrown);
                }
            });
        };

        function editrow(e) {
            isEdit = true;
            rn = $(e).closest('tr').index() + 1;

            row = $('#rcondetails>tbody>tr:eq(' + (rn - 1) + ')');

            var rdetails = {
                RowNo: rn, ReconciliationSubId: $.trim($(row).children('td:eq(1)').html()),
                LoanTypeId: $.trim($(row).children('td:eq(2)').html()),
                SoftwareBalance: $.trim($(row).children('td:eq(4)').html().replace(/\,/g, '')),
                BookBalance: $.trim($(row).children('td:eq(5)').html().replace(/\,/g, '')),
                BankBalance: $.trim($(row).children('td:eq(6)').html().replace(/\,/g, '')),
                SoftwareBookDifference: $.trim($(row).children('td:eq(7)').html().replace(/\,/g, '')),
                SoftwareBookDifferenceRemarks: $.trim($(row).children('td:eq(8)').html()),
                SoftwareBankDifference: $.trim($(row).children('td:eq(9)').html().replace(/\,/g, '')),
                SoftwareBankDifferenceRemarks: $.trim($(row).children('td:eq(10)').html()),
                BankBookDifference: $.trim($(row).children('td:eq(11)').html().replace(/\,/g, '')),
                BankBookDifferenceRemarks: $.trim($(row).children('td:eq(12)').html())
            };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DetailsTemplate")',
                data: JSON.stringify({ sub: rdetails }),
                success: function (msg) {
                    $('#rcondiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Add', 'Replace'));
                    $('#rconalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#rcondetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#rcondetails>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-2));
                rn++;
            });
        };

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var rconmain = {
                ReconciliationId: $('#ReconciliationId').val(), ReconciliationDate: $('#ReconciliationDate').val(),
                CompanyId: $('#CompanyId').val(), BankId: $('#BankId').val(),
                BranchId: $('#BranchId').val(), Remarks: $('#Remarks').val()
            };

            var rdetails = [];
            var table = $('#rcondetails').DataTable({
                paging: false,
                filter: false,
                ordering: false,
                info: false
            });

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 5) {
                    var arrayOfThisRow = {
                        ReconciliationId: $('#ReconciliationId').val(),
                        ReconciliationSubId: tableData[1], LoanTypeId: tableData[2],
                        SoftwareBalance: tableData[4].replace(/\,/g, ''),
                        BookBalance: tableData[5].replace(/\,/g, ''),
                        BankBalance: tableData[6].replace(/\,/g, ''),
                        SoftwareBookDifference: tableData[7].replace(/\,/g, ''),
                        SoftwareBookDifferenceRemarks: tableData[8],
                        SoftwareBankDifference: tableData[9].replace(/\,/g, ''),
                        SoftwareBankDifferenceRemarks: tableData[10],
                        BankBookDifference: tableData[11].replace(/\,/g, ''),
                        BankBookDifferenceRemarks: tableData[12],
                        RowNo: tableData[0]
                    };
                    //alert(arrayOfThisRow);
                    rdetails.push(arrayOfThisRow);
                }
            });

            table.destroy();

            //alert(JSON.stringify({ poSub: prList }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ rconmain: rconmain, subs: rdetails }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#btnAlert').attr('onclick', '');
                        $('#atext').html('Save failed due to "' + msg.message + '".');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                        if (rconmain.ReconciliationId == 0)
                            $('#atext').html('Liability reconciliation for the month of ' + $('#ReconciliationDate').val() + ' save successfully.');
                        else
                            $('#atext').html('Liability reconciliation for the month of ' + $('#ReconciliationDate').val() + ' update successfully.');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}
