﻿@model FundManagement.Models.ReconciliationMain

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReconciliationMain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bank.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciliationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciliationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciliationMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciliationMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciliationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciliationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
