﻿@model FundManagement.Models.ReconciliationSub

<div class="col-sm-1">

</div>
<div class="col-sm-9">
    @Html.HiddenFor(model => model.ReconciliationSubId)

    <div class="form-group row">
        @Html.LabelFor(model => model.LoanTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
        <div id="sclist" class="col-sm-9 controls">
            @Html.DropDownListFor(model => model.LoanTypeId, (SelectList)ViewBag.Type, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
        </div>
    </div>

    @Html.EditorFor(model => model.SoftwareBalance, new { @class = "dramt" })

    @Html.EditorFor(model => model.BookBalance, new { @class = "dramt" })

    @Html.EditorFor(model => model.BankBalance, new { @class = "dramt" })

    @Html.EditorFor(model => model.SoftwareBookDifference, new { @readonly = "readonly" })

    @Html.EditorFor(model => model.SoftwareBookDifferenceRemarks)
    
    @Html.EditorFor(model => model.SoftwareBankDifference, new { @readonly = "readonly" })

    @Html.EditorFor(model => model.SoftwareBankDifferenceRemarks)
    
    @Html.EditorFor(model => model.BankBookDifference, new { @readonly = "readonly" })

    @Html.EditorFor(model => model.BankBookDifferenceRemarks)
</div>

<script>
    $('select.select').select2({
        placeholder: "Select . . ."
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    $('.dramt').change(function () {
        var swr = new Number($('#SoftwareBalance').val().replace(/\,/g, ''));
        var book = new Number($('#BookBalance').val().replace(/\,/g, ''));
        var bank = new Number($('#BankBalance').val().replace(/\,/g, ''));

        $('#SoftwareBookDifference').val((swr - book).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#SoftwareBankDifference').val((swr - bank).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#BankBookDifference').val((book - bank).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });
</script>
