﻿@model FundManagement.Models.ReconciliationMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        ReconciliationMain
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Edit :: ReconciliationMain</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				@if (FundManagement.Models.clsMain.IsPermitted("ReconciliationMain", "Create"))
                {
                    <a class="dropdown-item" href="@Url.Action("Create")">New ReconciliationMain</a>
                }
                else
                {
                    <a tabindex="-1" onclick="alert('You are not authorized');">New ReconciliationMain</a>
                }
				<a class="dropdown-item" href="@Url.Action("Index")">List</a>
				@if (FundManagement.Models.clsMain.IsPermitted("ReconciliationMain", "Delete"))
				{ 
					<a tabindex="-1" href="@Url.Action("Delete", new { id = Model.ReconciliationId })">Delete ReconciliationMain</a>
				}
				else
				{
					<a tabindex="-1" onclick="alert('You are not authorized');">Delete ReconciliationMain</a>
				}
				</div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Bank Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
											@Html.EditorFor(model => model.ReconciliationDate)

											@Html.EditorFor(model => model.CompanyId)

											<div class="form-group row">
												@Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" }, true)
												<div class="col-sm-9 controls">
													@Html.DropDownListFor(model => model.BankId, (SelectList)ViewBag.BankId, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
												</div>
											</div>

											<div class="form-group row">
												@Html.LabelFor(model => model.BranchId, new { @class = "col-common col-sm-3 label-control" }, true)
												<div class="col-sm-9 controls">
													@Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.BranchId, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
												</div>
											</div>

											@Html.EditorFor(model => model.Remarks)

											@Html.EditorFor(model => model.CreatedBy)

											@Html.EditorFor(model => model.RevisedBy)

											@Html.EditorFor(model => model.RevisedTime)

											@Html.EditorFor(model => model.IPAddress)

											@Html.EditorFor(model => model.PCName)

										</div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

