﻿@model IEnumerable<FundManagement.Models.ReconciliationSub>

@if (Model != null && Model.Count() > 0)
{
    var rowNo = 0;
    foreach (var item in Model.OrderBy(c => c.RowNo))
    {
        rowNo = rowNo + 1;
        
        <tr>
            <td style="text-align: center; vertical-align: middle; width: 6%;">
                @rowNo.ToString("00")
            </td>
            <td style="display: none;">
                @item.ReconciliationSubId
            </td>
            <td style="display: none;">
                @item.LoanTypeId
            </td>
            <td style="text-align: left; vertical-align: middle; width: 10%;">
                @item.LoanType.ShortName
            </td>
            <td style="text-align: right; vertical-align: middle; width: 8%;" ondblclick="setQty(this);">@item.SoftwareBalance.ToString("##,##0")</td>
            <td style="text-align: right; vertical-align: middle; width: 8%;" ondblclick="setQty(this);">@item.BookBalance.ToString("##,##0")</td>
            <td style="text-align: right; vertical-align: middle; width: 8%;" ondblclick="setQty(this);">@item.BankBalance.ToString("##,##0")</td>
            <td style="text-align: right; vertical-align: middle; width: 9%;">
                @item.SoftwareBookDifference.ToString("##,##0")
            </td>
            <td style="text-align: left; vertical-align: middle; width: 11%;" ondblclick="setRemarks(this);">@item.SoftwareBookDifferenceRemarks</td>
            <td style="text-align: right; vertical-align: middle; width: 9%;">
                @item.SoftwareBankDifference.ToString("##,##0")
            </td>
            <td style="text-align: left; vertical-align: middle; width: 11%;" ondblclick="setRemarks(this);">@item.SoftwareBankDifferenceRemarks</td>
            <td style="text-align: right; vertical-align: middle; width: 9%;">
                @item.BankBookDifference.ToString("##,##0")
            </td>
            <td style="text-align: left; vertical-align: middle; width: 11%;" ondblclick="setRemarks(this);">@item.BankBookDifferenceRemarks</td>
            <td style="display: none;">
                @item.ReconciliationId
            </td>
            <td style="text-align:center; vertical-align: middle; width: 6%; display: none;">
                <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>
                <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
    @Html.Hidden("ORemarks", (Model.First().ReconciliationMain == null ? "" : (string)Model.First().ReconciliationMain.Remarks))
}

