﻿@model FundManagement.Models.BankAccount

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Bank Account
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Bank Account</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Account List</a></div>
        </div>
    </div>
</div>



<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Account Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.HiddenFor(model => model.AccountId)

											@Html.EditorFor(model => model.AccountNo)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.CompanyId, (SelectList)ViewBag.Company, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "Bank & Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-5 offset-right controls">
                                                    @Html.DropDownListFor(model => model.BankId, (SelectList)ViewBag.Bank, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div id="brlist" class="col-sm-4 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.Branch, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.OpeningDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.OpeningDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.CurrencyId, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.DropDownListFor(model => model.CurrencyId, (SelectList)ViewBag.Currency, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LedgerCode, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.LedgerCode, "StringWOL")
                                                </div>
                                                @Html.LabelFor(model => model.BondTypeId, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EnumDropDownListFor(model => model.BondTypeId, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AccountTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.DropDownListFor(model => model.AccountTypeId, (SelectList)ViewBag.Type, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.CategoryId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Category, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @Html.EditorFor(model => model.Activity)

                                            @Html.EditorFor(model => model.Remarks)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="submit" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.rdate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    $('#BankId').change(function () {
        //alert($(this).val());
        getBranchList($(this).val(), 'brlist', 'BranchId', 'Branch');
    })

    $('#btnSave').click(function () {
        $("#frm").trigger("submit.validationSubmit");
        if ($("#frm").jqBootstrapValidation("hasErrors")) {
            return false;
        }
        if (confirm('Are you sure want to save?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }

        $('.only-number').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });
        $('.only-currency').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });

        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        var bankaccount = {
            AccountId: $('#AccountId').val(), AccountNo: $('#AccountNo').val(),
            BranchId: $('#BranchId').val(), BankId: $('#BankId').val(),
            AccountTypeId: $('#AccountTypeId').val(), CategoryId: $('#CategoryId').val(),
            LedgerCode: $('#LedgerCode').val(), CompanyId: $('#CompanyId').val(),
            OppeningDate: $('#OppeningDate').val(), CurrencyId: $('#CurrencyId').val(),
            Remarks: $('#Remarks').val(), BondTypeId: $('#BondTypeId').val(), Activity: $('#Activity').val()
        };

        alert(JSON.stringify({ bankAccount: bankaccount }));
        //return;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
            data: JSON.stringify({ bankAccount: bankaccount }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    //alert(msg.message);
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-danger');
                    $('#asummary').html('!!!Error!!!')
                    $('#atext').html('Save failed due to "' + msg.message + '".');
                    $('#btnAlert').attr('onclick', '');

                    $('#alert').modal('show');
                }
                else {
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-success');
                    $('#asummary').html('Success!!')
                    $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                    if (bankaccount.AccountId == 0)
                        $('#atext').html('Account info of "' + msg.acno + '" save successfully.');
                    else
                        $('#atext').html('Account info of "' + msg.acno + '" update successfully.');

                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Save failed.\nSee log for more information.");
            }
        });
    });
    </script>
}

@section CSS {
    
}
