﻿@model FundManagement.Models.BudgetEntryView

@foreach (var item in Model.FactoryList.OrderBy(c => c.RankId))
{
    <tr class="selectable">
        <td style="display: none;">@Html.DisplayFor(modelItem => item.FactoryId)</td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        @foreach (var month in Model.MonthList)
        {
            <td id="amt_@item.FactoryId.ToString("00")@month.MonthId.ToString("00")" style="text-align: right;" ondblclick="setQty(this);">@Model.ImportBudgets.Where(c => c.FactoryId == item.FactoryId && c.BudgetMonth == month.MonthId && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).FirstOrDefault().ToString("##,##0")</td>
        }
        <td id="amt_@item.FactoryId.ToString("00")00" style="text-align: right;" ondblclick="setQty(this);">@Model.ImportBudgets.Where(c => c.FactoryId == item.FactoryId && c.BudgetMonth == 0 && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).FirstOrDefault().ToString("##,##0")</td>
        <td id="fwtamt_@item.FactoryId.ToString("00")" style="text-align: right; color: green !important; font-weight: bold;">@Model.ImportBudgets.Where(c => c.FactoryId == item.FactoryId && c.BudgetMonth > 0 && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).Sum().ToString("##,##0")</td>
    </tr>
}
<tr class="selectable" style="background-color: yellowgreen !important">
    <td style="display: none;">0</td>
    <td style="color: green !important; font-weight: bold;">
        TOTAL
    </td>
    @foreach (var month in Model.MonthList)
    {
        <td id="mwtamt_@month.MonthId.ToString("00")" style="text-align: right; color: green !important; font-weight: bold;">@Model.ImportBudgets.Where(c => c.BudgetMonth == month.MonthId && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).Sum().ToString("##,##0")</td>
    }
    <td id="mwtamt_00" style="text-align: right; color: green !important; font-weight: bold;">@Model.ImportBudgets.Where(c => c.BudgetMonth == 0 && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).Sum().ToString("##,##0")</td>
    <td id="ttamt_00" style="text-align: right; color: green !important; font-weight: bold;">@Model.ImportBudgets.Where(c => c.BudgetYear == Model.BudgetYear && c.BudgetMonth > 0 && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).Sum().ToString("##,##0")</td>
</tr>