﻿@model FundManagement.Models.BudgetEntryView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Import Budget
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0" style="text-transform: capitalize;">New :: Import Budget (@Model.BudgetType)</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">ImportBudget List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Import Budget Info</h4>
                                    <div class="row">
                                        @Html.HiddenFor(model => model.BudgetType)
                                        <div class="col-md-7">
                                            @if(Model.BudgetType.Equals("amount"))
                                            { 
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.BudgetYear, "Year", new { @class = "col-common col-sm-1 label-control" }, true)
                                                    <div class="col-sm-4 offset-right controls">
                                                        @Html.DropDownListFor(model => model.BudgetYear, (SelectList)ViewBag.YearList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                        @Html.HiddenFor(model => model.QuantityUnitId, new { @Value = 0 })
                                                    </div>
                                                    @*<div class="col-sm-2 offset-left-1 controls">
                                                        @Html.DropDownListFor(model => model.FactoryId, (SelectList)ViewBag.FactoryList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>*@
                                                    <div class="col-sm-2 offset-right-1">
                                                        <button type="button" id="btnSearch" class="btn-success" style="width: 100%;">
                                                            <i class="fa ft-search"></i> Search
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.BudgetYear, "Year", new { @class = "col-common col-sm-1 label-control" }, true)
                                                    <div class="col-sm-3 offset-right controls">
                                                        @Html.DropDownListFor(model => model.BudgetYear, (SelectList)ViewBag.YearList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                    <div class="col-sm-3 offset-left-1 controls">
                                                        @Html.DropDownListFor(model => model.QuantityUnitId, (SelectList)ViewBag.QuantityUnit, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                    <div class="col-sm-2 offset-right-1">
                                                        <button type="button" id="btnSearch" class="btn-success" style="width: 100%;">
                                                            <i class="fa ft-search"></i> Search
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-md-12">
                                            <table id="ibudget" class="table table-striped table-bordered table-primary">
                                                <thead>
                                                    <tr>
                                                        <th style="display: none;">
                                                                ID
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Factory
                                                        </th>
                                                        @foreach(var month in Model.MonthList)
                                                        { 
                                                            <th style="text-align: center;">
                                                                @month.ShortName
                                                            </th>
                                                        }
                                                        <th style="text-align: center;">
                                                            Capex
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Total
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="budgetbody">
                                                    @foreach (var item in Model.FactoryList.OrderBy(c => c.RankId))
                                                    {
                                                        <tr class="selectable">
                                                            <td style="display: none;">@Html.DisplayFor(modelItem => item.FactoryId)</td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ShortName)
                                                            </td>
                                                            @foreach (var month in Model.MonthList)
                                                            {
                                                                <td id="amt_@item.FactoryId.ToString("00")@month.MonthId.ToString("00")" style="text-align: right;" ondblclick="setQty(this);">@Model.ImportBudgets.Where(c => c.FactoryId == item.FactoryId && c.BudgetMonth == month.MonthId && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).FirstOrDefault().ToString("##,##0")</td>
                                                            }
                                                            <td id="amt_@item.FactoryId.ToString("00")00" style="text-align: right;" ondblclick="setQty(this);">@Model.ImportBudgets.Where(c => c.FactoryId == item.FactoryId && c.BudgetMonth == 0 && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).FirstOrDefault().ToString("##,##0")</td>
                                                            <td id="fwtamt_@item.FactoryId.ToString("00")" style="text-align: right; color: green !important; font-weight: bold;">@Model.ImportBudgets.Where(c => c.FactoryId == item.FactoryId && c.BudgetMonth > 0 && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).Sum().ToString("##,##0")</td>
                                                        </tr>
                                                    }
                                                    <tr class="selectable" style="background-color: yellowgreen !important">
                                                        <td style="display: none;">0</td>
                                                        <td style="color: green !important; font-weight: bold;">
                                                            TOTAL
                                                        </td>
                                                        @foreach (var month in Model.MonthList)
                                                        {
                                                            <td id="mwtamt_@month.MonthId.ToString("00")" style="text-align: right; color: green !important; font-weight: bold;">@Model.ImportBudgets.Where(c => c.BudgetMonth == month.MonthId && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).Sum().ToString("##,##0")</td>
                                                        }
                                                        <td id="mwtamt_00" style="text-align: right; color: green !important; font-weight: bold;">@Model.ImportBudgets.Where(c => c.BudgetMonth == 0 && c.BudgetYear == Model.BudgetYear && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).Sum().ToString("##,##0")</td>
                                                        <td id="ttamt_00" style="text-align: right; color: green !important; font-weight: bold;">@Model.ImportBudgets.Where(c => c.BudgetYear == Model.BudgetYear && c.BudgetMonth > 0 && ((Model.BudgetType.Equals("amount") && c.BudgetAmount > 0) || (Model.BudgetType.Equals("quantity") && c.BudgetQuntity > 0 && c.QuantityUnitId == Model.QuantityUnitId))).Select(c => (Model.BudgetType.Equals("amount") ? c.BudgetAmount : c.BudgetQuntity)).DefaultIfEmpty(0).Sum().ToString("##,##0")</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            @*

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BudgetMonth, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.DropDownListFor(model => model.BudgetMonth, (SelectList)ViewBag.MonthList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.BudgetAmount, "Amount", new { @class = "col-common col-sm-1 offset-left label-control" }, true)
                                                <div class="col-sm-2 offset-left controls">
                                                    @Html.EditorFor(model => model.BudgetAmount, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.BudgetQuntity, "Quantity", new { @class = "col-common col-sm-1 offset-left label-control" }, true)
                                                <div class="col-sm-2 offset-left offset-right-1 controls">
                                                    @Html.EditorFor(model => model.BudgetQuntity, "DecimalWOL")
                                                </div>
                                                <div class="col-sm-1 offset-left controls">
                                                    @Html.DropDownListFor(model => model.QuantityUnitId, (SelectList)ViewBag.QuantityUnit, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>*@
										</div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.rdate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    var table;
    table = $('#ibudget').DataTable({
        //destroy: true,
        paging: false,
        filter: false,
        ordering: false,
        info: false
    });

    function setQty(t) {
        var OriginalContent = $(t).text();
        //alert(OriginalContent);
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                //error = true;
                //alert($(this).closest('tr').html());
                //alert('#t' + $(t).attr('id').substring(0, 6));
                //if (eval($(t).parent().children(0).html().replace(/\,/g, '')) >= eval($(this).val().replace(/\,/g, ''))) {
                var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");

                //alert($('#mwtamt_' + $(t).attr('id').substring(6, 8)).html());
                var camt = (eval(newContent.replace(/\,/g, '')) - eval(OriginalContent.replace(/\,/g, '')));
                var fwtamt = camt + eval($('#fwt' + $(t).attr('id').substring(0, 6)).html().replace(/\,/g, ''));
                var mwtamt = camt + eval($('#mwtamt_' + $(t).attr('id').substring(6, 8)).html().replace(/\,/g, ''));
                var totamt = camt + eval($('#ttamt_00').html().replace(/\,/g, ''));

                table.cell($('#' + $(t).attr('id'))).data(newContent).draw();
                table.cell($('#mwtamt_' + $(t).attr('id').substring(6, 8))).data(mwtamt.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();

                if ($(t).attr('id').substring(6, 8) != '00') {
                    table.cell($('#fwt' + $(t).attr('id').substring(0, 6))).data(fwtamt.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();
                    table.cell($('#ttamt_00')).data(totamt.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();
                }

                //var tAmt = 0.00, tQty = 0;
                //table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                //    var tableData = this.data();

                //    tQty += eval(tableData[29].replace(/\,/g, ''));
                //    tAmt += eval(tableData[33].replace(/\,/g, ''));
                //});

                //$('#totalamt').html(tAmt.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                //$('#totalqty').html(tQty.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                //}
                //else {
                //    error = true;
                //    alert('Invalid quantity.');
                //    e.preventDefault();
                //}
            }
            else {
                return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

        
    $('#btnSearch').click(function () {
        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("BudgetDetails")',
            data: JSON.stringify({ id: $('#BudgetType').val(), year: $('#BudgetYear').val(), qunit: $('#QuantityUnitId').val() }),
            success: function (data) {
                table.destroy()
                
                $('#budgetbody').html(data);

                table = $('#ibudget').DataTable({
                    //destroy: true,
                    paging: false,
                    filter: false,
                    ordering: false,
                    info: false
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $('#btnSave').click(function () {
        //$("#frm").trigger("submit.validationSubmit");
        //if ($("#frm").jqBootstrapValidation("hasErrors")) {
        //    return false;
        //}
        if (confirm('Are you sure want to save?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }

        $('.only-number').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });
        $('.only-currency').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });

        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        var importbudget = [];

        table.rows().every(function (rowIdx, tableLoop, rowLoop) {
            var tableData = this.data();

            if (tableData.length >= 6 && eval(tableData[0]) > 0) {
                //alert(tableData[0]);
                for (var i = 1; i <= tableData.length - 3; i++) {
                    var arrayOfThisRow = {
                        BudgetYear: $('#BudgetYear').val(), FactoryId: tableData[0], BudgetMonth: (i < 13 ? i : 0),
                        @(Model.BudgetType.Equals("amount") ? "BudgetAmount" : "BudgetQuntity"): tableData[i + 1].replace(/\,/g, ''),
                        @Html.Raw(Model.BudgetType.Equals("amount") ? "" : "QuantityUnitId: $('#QuantityUnitId').val(),") TypeId: 0
                };
                //alert(arrayOfThisRow);
                importbudget.push(arrayOfThisRow);
            }
        }
        });
    //var{
    //    BudgetYear: $('#BudgetYear').val(), BudgetMonth: $('#BudgetMonth').val(), FactoryId: $('#FactoryId').val(),
    //    TypeId: $('#TypeId').val(), BudgetAmount: $('#BudgetAmount').val(), BudgetQuntity: $('#BudgetQuntity').val(),
    //    QuantityUnitId: $('#QuantityUnitId').val()
    //};

    console.log(JSON.stringify({ importBudget: importbudget }));
    //return;

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: '@Url.Action("Save")',
        data: JSON.stringify({ importBudget: importbudget }),
        success: function (msg) {
            if (msg.status == 'NotAuthorized') {
                $('#loginpartial').modal('show');
            }
            else if (msg.status == 'Error') {
                //alert(msg.message);
                $('#alertdiv').removeClass('alert-success alert-danger');
                $('#alertdiv').addClass('alert-danger');
                $('#asummary').html('!!!Error!!!')
                $('#atext').html('Save failed due to "' + msg.message + '".');

                $('#alert').modal('show');
            }
            else {
                $('#alertdiv').removeClass('alert-success alert-danger');
                $('#alertdiv').addClass('alert-success');
                $('#asummary').html('Success!!')
                $('#atext').html('Import budget of ' + msg.year + ' save successfully.');

                $('#alert').modal('show');
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
            alert("Save failed.\nSee log for more information.");
        }
    });
    });
    </script>
}

@section CSS {
    @Styles.Render("~/datatable/css")
}
