﻿@model FundManagement.Models.PIMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Entry</a>
                    </li>
                    <li class="breadcrumb-item active">
                        CS
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: LC Opening Bank Selection</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("PIInHand")">PI In Hand List</a>
                <a class="dropdown-item" href="@Url.Action("ForwardPending")">Forward Pending List</a>
                @*<a class="dropdown-item" href="@Url.Action("ForwardList")">Forward List</a>
                <a class="dropdown-item" href="@Url.Action("ForwardList")">Forward List</a>*@
                <a class="dropdown-item" href="@Url.Action("Index")">PI List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="ft-user"></i> Bank Selection Info
                                        @if (Model != null && Model.PIFileId != null && Model.PIFileId > 0)
                                        {
                                            <span style="float: right">PI No For CS <span style="color: red; font-weight: bold;">@Model.PINo</span></span>
                                            @Html.HiddenFor(model => model.PIFileId)
                                        }
                                        else
                                        {
                                            <div class="col-md-4" style="float: right;">
                                                @Html.DropDownListFor(model => model.PIFileId, (SelectList)ViewBag.PIList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                            </div>
                                            <div class="col-md-3 offset-right" style="float: right; text-align: right;">
                                                @Html.LabelFor(model => model.PIFileId, "PI No For CS", new { @class = "col-common col-sm-12 label-control" }, true)
                                            </div>
                                        }
                                    </h4>
                                    <div class="row">
                                        @*<div class="col-md-1">
                                            
                                        </div>*@
                                        <div class="col-md-10">
                                            <div class="form-group row" id="pidetails">
                                                @Html.Action("PIDetails", new { id = Model == null ? 0 : Model.PIFileId })
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <table id="lspayment" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 40%; text-align: center; background-color: white !important; border-color: white !important;">
                                                            
                                                        </th>
                                                        <th style="width: 60%; text-align: center;" colspan="3">
                                                            CS For LC Opening Bank Selection
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="display: none;">
                                                        <td style="width: 40%; text-align: right;"></td>
                                                        <td style="width: 20%; text-align: right;"></td>
                                                        <td style="width: 20%; text-align: right;"></td>
                                                        <td style="width: 20%; text-align: right;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: right; border-left-color: white !important;"></td>
                                                        <td style="width: 20%; text-align: center; padding: 0rem !important;">@Html.DropDownList("BankId", null, string.Empty, new { @id = "bankid1", @class = "form-control select bank", @required = "", @style = "width: 100%;" })</td>
                                                        <td style="width: 20%; text-align: center; padding: 0rem !important;">@Html.DropDownList("BankId", null, string.Empty, new { @id = "bankid2", @class = "form-control select bank", @required = "", @style = "width: 100%;" })</td>
                                                        <td style="width: 20%; text-align: center; padding: 0rem !important;">@Html.DropDownList("BankId", null, string.Empty, new { @id = "bankid3", @class = "form-control select bank", @required = "", @style = "width: 100%;" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">PI Value in <span id="CurrencyCode">@(Model.Currency == null ? "" : Model.Currency.TypeName)</span></td>
                                                        <td style="width: 20%; text-align: right;" id="pivalue">@Model.PIAmount.ToString("##,##0,00")</td>
                                                        <td style="width: 20%; text-align: right;" id="pivalue2">@Model.PIAmount.ToString("##,##0,00")</td>
                                                        <td style="width: 20%; text-align: right;" id="pivalue3">@Model.PIAmount.ToString("##,##0,00")</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">Estimated Payment Convert Rate</td>
                                                        <td style="width: 20%; text-align: right;" id="epcr1" ondblclick="setQty(this);">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="epcr2" ondblclick="setQty(this);">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="epcr3" ondblclick="setQty(this);">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">PI Value in BDT</td>
                                                        <td style="width: 20%; text-align: right;" id="pvbdt1">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="pvbdt2">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="pvbdt3">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">Total Credit Period Allowed</td>
                                                        <td style="width: 20%; text-align: right;" id="tcpa1">0</td>
                                                        <td style="width: 20%; text-align: right;" id="tcpa2">0</td>
                                                        <td style="width: 20%; text-align: right;" id="tcpa3">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: right;">UPASS</td>
                                                        <td style="width: 20%; text-align: right;" id="upas1" ondblclick="setQty(this, 0);">0</td>
                                                        <td style="width: 20%; text-align: right;" id="upas2" ondblclick="setQty(this, 0);">0</td>
                                                        <td style="width: 20%; text-align: right;" id="upas3" ondblclick="setQty(this, 0);">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: right;">Post-UPAS</td>
                                                        <td style="width: 20%; text-align: right;" id="pupas1" ondblclick="setQty(this, 0);">0</td>
                                                        <td style="width: 20%; text-align: right;" id="pupas2" ondblclick="setQty(this, 0);">0</td>
                                                        <td style="width: 20%; text-align: right;" id="pupas3" ondblclick="setQty(this, 0);">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">UPAS Interest Rate</td>
                                                        <td style="width: 20%; text-align: right;" id="uir1"></td>
                                                        <td style="width: 20%; text-align: right;" id="uir2"></td>
                                                        <td style="width: 20%; text-align: right;" id="uir3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: right;">LIBOR</td>
                                                        <td style="width: 20%; text-align: right;" id="libor1" ondblclick="setQty(this);">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="libor2" ondblclick="setQty(this);">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="libor3" ondblclick="setQty(this);">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: right;">Handling</td>
                                                        <td style="width: 20%; text-align: right;" id="hc1" ondblclick="setQty(this);">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="hc2" ondblclick="setQty(this);">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="hc3" ondblclick="setQty(this);">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: right;">Total UPAS</td>
                                                        <td style="width: 20%; text-align: right;" id="tupas1">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="tupas2">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="tupas3">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">UPAS Interest Cost</td>
                                                        <td style="width: 20%; text-align: right;" id="uic1">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="uic2">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="uic3">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">Post UPAS Finanacing Rate</td>
                                                        <td style="width: 20%; text-align: right;" id="pufr1">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="pufr2">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="pufr3">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">POST UPAS Financing Cost</td>
                                                        <td style="width: 20%; text-align: right;" id="pufc1">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="pufc2">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="pufc3">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">Total Financing Cost</td>
                                                        <td style="width: 20%; text-align: right;" id="tfc1">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="tfc2">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="tfc3">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;">
                                                            A. Per Day Financing Cost
                                                        </td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="pdfc1">0.00</td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="pdfc2">0.00</td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="pdfc3">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;">
                                                            Total Savings
                                                        </td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="tcs1"></td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="tcs2"></td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="tcs3"></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table id="lspayment" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed; margin-top: 10px;">
                                                <tbody>
                                                    <tr style="display: none;">
                                                        <td style="width: 40%; text-align: left;"></td>
                                                        <td style="width: 20%; text-align: right;"></td>
                                                        <td style="width: 20%; text-align: right;"></td>
                                                        <td style="width: 20%; text-align: right;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left; font-size: medium; font-style: italic; font-weight: bold; border-color: white !important; border-bottom-color: #e3ebf3 !important;">Comparative in terms of charges</td>
                                                        <td style="width: 20%; text-align: right; border-color: white !important; border-bottom-color: #e3ebf3 !important;"></td>
                                                        <td style="width: 20%; text-align: right; border-color: white !important; border-bottom-color: #e3ebf3 !important;"></td>
                                                        <td style="width: 20%; text-align: right; border-color: white !important; border-bottom-color: #e3ebf3 !important;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">LC Opening Commission</td>
                                                        <td style="width: 20%; text-align: right;">
                                                            <span id="lcopcomr1" style="float: left; color: forestgreen; margin-left: 2px;">0.00</span>
                                                            <span style="float: left; color: forestgreen; margin-left: 2px;">%</span>
                                                            <span id="lcopcom1" style="float: right;">0.00</span>
                                                        </td>
                                                        <td style="width: 20%; text-align: right;">
                                                            <span id="lcopcomr2" style="float: left; color: forestgreen; margin-left: 2px;">0.00</span>
                                                            <span style="float: left; color: forestgreen; margin-left: 2px;">%</span>
                                                            <span id="lcopcom2" style="float: right;">0.00</span>
                                                        </td>
                                                        <td style="width: 20%; text-align: right;">
                                                            <span id="lcopcomr3" style="float: left; color: forestgreen; margin-left: 2px;">0.00</span>
                                                            <span style="float: left; color: forestgreen; margin-left: 2px;">%</span>
                                                            <span id="lcopcom3" style="float: right;">0.00</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">Acceptance Commission</td>
                                                        <td style="width: 20%; text-align: right;">
                                                            <span id="acpcomr1" style="float: left; color: forestgreen; margin-left: 2px;">0.00</span>
                                                            <span style="float: left; color: forestgreen; margin-left: 2px;">%</span>
                                                            <span id="acpcom1" style="float: right;">0.00</span>
                                                        </td>
                                                        <td style="width: 20%; text-align: right;">
                                                            <span id="acpcomr2" style="float: left; color: forestgreen; margin-left: 2px;">0.00</span>
                                                            <span style="float: left; color: forestgreen; margin-left: 2px;">%</span>
                                                            <span id="acpcom2" style="float: right;">0.00</span>
                                                        </td>
                                                        <td style="width: 20%; text-align: right;">
                                                            <span id="acpcomr3" style="float: left; color: forestgreen; margin-left: 2px;">0.00</span>
                                                            <span style="float: left; color: forestgreen; margin-left: 2px;">%</span>
                                                            <span id="acpcom3" style="float: right;">0.00</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left;">Other Charges Per LC</td>
                                                        <td style="width: 20%; text-align: right;" id="oclp1">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="oclp2">0.00</td>
                                                        <td style="width: 20%; text-align: right;" id="oclp3">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;">
                                                            B. Total Charge For LC
                                                        </td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="tcfl1">0.00</td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="tcfl2">0.00</td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="tcfl3">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;">
                                                            Total Savings
                                                        </td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="tcrs1"></td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="tcrs2"></td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="tcrs3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 40%; text-align: left; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;">
                                                            Net Savings Between Banks
                                                        </td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="nsbb1"></td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="nsbb2"></td>
                                                        <td style="width: 20%; text-align: right; background-color: #20590a !important; color: white !important; font-weight: bold; font-style: italic;" id="nsbb3"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" id="btnCancel" class="btn btn-warning mr-1" onclick="window.location = '@Url.Action("PIInHand")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnForward" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    $('.rdate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    function setQty(t, dp) {
        var OriginalContent = $(t).text();
        dp = dp == 0 ? 0 : dp || 2;
        //alert(OriginalContent);
        $(t).addClass("cellEditing");
        $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
        $(t).children().first().focus();
        //alert($(t).parent().children(0).html());
        var error = false;

        $(t).children().first().keypress(function (e) {
            error = false;
            if (e.which == 13) {
                //error = true;
                //alert($(this).closest('tr').html());
                //alert('#t' + $(t).attr('id').substring(0, 6));
                //if (eval($(t).parent().children(0).html().replace(/\,/g, '')) >= eval($(this).val().replace(/\,/g, ''))) {
                var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(dp).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");

                setFormula($(t).attr('id').slice(-1));

                ////alert($('#mwtamt_' + $(t).attr('id').substring(6, 8)).html());
                //var camt = (eval(newContent.replace(/\,/g, '')) - eval(OriginalContent.replace(/\,/g, '')));
                //var fwtamt = camt + eval($('#fwt' + $(t).attr('id').substring(0, 6)).html().replace(/\,/g, ''));
                //var mwtamt = camt + eval($('#mwtamt_' + $(t).attr('id').substring(6, 8)).html().replace(/\,/g, ''));
                //var totamt = camt + eval($('#ttamt_00').html().replace(/\,/g, ''));

                //table.cell($('#' + $(t).attr('id'))).data(newContent).draw();
                //table.cell($('#mwtamt_' + $(t).attr('id').substring(6, 8))).data(mwtamt.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();

                //if ($(t).attr('id').substring(6, 8) != '00') {
                //    table.cell($('#fwt' + $(t).attr('id').substring(0, 6))).data(fwtamt.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();
                //    table.cell($('#ttamt_00')).data(totamt.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",")).draw();
                //}

                //var tAmt = 0.00, tQty = 0;
                //table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                //    var tableData = this.data();

                //    tQty += eval(tableData[29].replace(/\,/g, ''));
                //    tAmt += eval(tableData[33].replace(/\,/g, ''));
                //});

                //$('#totalamt').html(tAmt.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                //$('#totalqty').html(tQty.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                //}
                //else {
                //    error = true;
                //    alert('Invalid quantity.');
                //    e.preventDefault();
                //}
            }
            else {
                return (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) ? false : true;
            }
        });

        $(t).children().first().keyup(function (e) {
            if (e.which == 27) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });

        $(t).children().first().blur(function () {
            if (!error) {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            }
        });
    };

    function setFormula(e) {
        var ctl = e;
        var pivalue = $('#pivalue').html().length > 0 ? eval($('#pivalue').html().replace(/\,/g, '')) : 0;
        var epcr = $('#epcr' + ctl).html().length > 0 ? eval($('#epcr' + ctl).html().replace(/\,/g, '')) : 0;
        var pvbdt = pivalue * epcr;
        $('#pvbdt' + ctl).html(new Number(pvbdt).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        var upas = $('#upas' + ctl).html().length > 0 ? eval($('#upas' + ctl).html().replace(/\,/g, '')) : 0;
        var pupas = $('#pupas' + ctl).html().length > 0 ? eval($('#pupas' + ctl).html().replace(/\,/g, '')) : 0;
        var tcpa = upas + pupas;
        $('#tcpa' + ctl).html(new Number(tcpa).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        var libor = $('#libor' + ctl).html().length > 0 ? eval($('#libor' + ctl).html().replace(/\,/g, '')) : 0;
        var hc = $('#hc' + ctl).html().length > 0 ? eval($('#hc' + ctl).html().replace(/\,/g, '')) : 0;
        $('#tupas' + ctl).html(new Number(libor + hc).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        var uic = ((libor + hc) * pvbdt * upas) / 36000.00;
        $('#uic' + ctl).html(new Number(uic).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        var pufr = $('#pufr' + ctl).html().length > 0 ? eval($('#pufr' + ctl).html().replace(/\,/g, '')) : 0;
        var pufc = (pufr * (pvbdt + uic) * pupas) / 36000.00;
        $('#pufc' + ctl).html(new Number(pufc).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#tfc' + ctl).html(new Number(pufc + uic).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        var pdfc = tcpa == 0 ? 0 : (pufc + uic) / tcpa;
        $('#pdfc' + ctl).html(new Number(pdfc).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        var lcopcomr = $('#lcopcomr' + ctl).html().length > 0 ? eval($('#lcopcomr' + ctl).html().replace(/\,/g, '')) : 0;
        var lcopcom = (lcopcomr * pvbdt) / 100.00;
        $('#lcopcom' + ctl).html(new Number(lcopcom).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        var acpcomr = $('#acpcomr' + ctl).html().length > 0 ? eval($('#acpcomr' + ctl).html().replace(/\,/g, '')) : 0;
        var acpcom = (acpcomr * pvbdt) / 100.00;
        $('#acpcom' + ctl).html(new Number(acpcom).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        var oclp = $('#oclp' + ctl).html().length > 0 ? eval($('#oclp' + ctl).html().replace(/\,/g, '')) : 0;
        var tcfl = lcopcom + acpcom + oclp;
        $('#tcfl' + ctl).html(new Number(tcfl).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));

        var tcs1 = $('#tfc1').html().length > 0 ? eval($('#tfc1').html().replace(/\,/g, '')) : 0;
        var tcs2 = $('#tfc2').html().length > 0 ? eval($('#tfc2').html().replace(/\,/g, '')) : 0;
        var tcs3 = $('#tfc3').html().length > 0 ? eval($('#tfc3').html().replace(/\,/g, '')) : 0;
        $('#tcs1').html(''); $('#tcs2').html(''); $('#tcs3').html('');
        var list = [tcs1, tcs2, tcs3];
        list = $.grep(list, function (value) {
            return value != 0;
        });
        list.sort();
        //alert(list);
        if (list.length > 1) {
            if (list[0] == tcs1) {
                //alert('1 : ' + new Number(list[2] - list[1]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#tcs1').html(new Number(list[1] - list[0]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
            else if (list[0] == tcs2) {
                //alert('2 : ' + new Number(list[2] - list[1]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#tcs2').html(new Number(list[1] - list[0]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
            else {
                //alert('3 : ' + new Number(list[2] - list[1]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#tcs3').html(new Number(list[1] - list[0]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        }

        tcrs1 = $('#tcfl1').html().length > 0 ? eval($('#tcfl1').html().replace(/\,/g, '')) : 0;
        tcrs2 = $('#tcfl2').html().length > 0 ? eval($('#tcfl2').html().replace(/\,/g, '')) : 0;
        tcrs3 = $('#tcfl3').html().length > 0 ? eval($('#tcfl3').html().replace(/\,/g, '')) : 0;
        $('#tcrs1').html(''); $('#tcrs2').html(''); $('#tcrs3').html('');
        list = [tcrs1, tcrs2, tcrs3];
        list = $.grep(list, function (value) {
            return value != 0;
        });
        list.sort();
        //alert(list);

        if (list.length > 1) {
            if (list[0] == tcrs1) {
                //alert('1 : ' + new Number(list[2] - list[1]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#tcrs1').html(new Number(list[1] - list[0]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
            else if (list[0] == tcrs2) {
                //alert('2 : ' + new Number(list[2] - list[1]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#tcrs2').html(new Number(list[1] - list[0]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
            else {
                //alert('3 : ' + new Number(list[2] - list[1]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#tcrs3').html(new Number(list[1] - list[0]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        }


        var nsbb1 = tcs1 + tcrs1;
        var nsbb2 = tcs2 + tcrs2;
        var nsbb3 = tcs3 + tcrs3;
        $('#nsbb1').html(''); $('#nsbb2').html(''); $('#nsbb3').html('');
        var list = [nsbb1, nsbb2, nsbb3];
        list = $.grep(list, function (value) {
            return value != 0;
        });
        list.sort();

        if (list.length > 1) {
            if (list[0] == nsbb1) {
                //alert('1 : ' + new Number(list[2] - list[1]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#nsbb1').html(new Number(list[1] - list[0]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
            else if (list[0] == nsbb2) {
                //alert('2 : ' + new Number(list[2] - list[1]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#nsbb2').html(new Number(list[1] - list[0]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
            else {
                //alert('3 : ' + new Number(list[2] - list[1]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#nsbb3').html(new Number(list[1] - list[0]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        }
    }

    $('#PIFileId').change(function () {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("PIDetails")',
            data: JSON.stringify({ id: this.value }),
            success: function (msg) {
                $('#pidetails').html(msg);
                $('#CurrencyCode').html($('#Currency_TypeName').val());
                $('#pivalue').html($('#PIAmount').val());
                $('#pivalue2').html($('#PIAmount').val());
                $('#pivalue3').html($('#PIAmount').val());
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    })

    $('.bank').change(function () {
        getCharges($(this).val(), $(this).attr('id').slice(-1));
    })

    function getCharges(id, colid) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("SanctionDetails")',
            data: JSON.stringify({ id: id, date: $('#PIDate').val() }),
            success: function (msg) {
                var lcopcomr = eval(msg.lccom);
                $('#lcopcomr' + colid).html(new Number(lcopcomr).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                var acpcomr = eval(msg.acpcom);
                $('#acpcomr' + colid).html(new Number(acpcomr).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                var oclp = eval(msg.ocharge);
                $('#oclp' + colid).html(new Number(oclp).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                var pufr = eval(msg.pupasr);
                $('#pufr' + colid).html(new Number(pufr).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                //$('#reflist').html(msg);

                //if (isSchOff) {
                //    $('#RefId').val($.trim($(row).children('td:eq(2)').html())).trigger('change');
                //}
                //else {
                //    getScheduleList(0);
                //}
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    $('#btnForward').click(function () {
        //$("#frm").trigger("submit.validationSubmit");
        //if ($("#frm").jqBootstrapValidation("hasErrors")) {
        //    return false;
        //}
        var tcs1 = $('#tfc1').html().length > 0 ? eval($('#tfc1').html().replace(/\,/g, '')) : 0;
        var tcs2 = $('#tfc2').html().length > 0 ? eval($('#tfc2').html().replace(/\,/g, '')) : 0;
        var tcs3 = $('#tfc3').html().length > 0 ? eval($('#tfc3').html().replace(/\,/g, '')) : 0;

        if ($('#PIFileId').val() == '') {
            alert("Please select pi no.");
            $('#PIFileId').focus();
            return;
        }
        else if ($('#bankid1').val() == '' && $('#bankid2').val() == '' && $('#bankid3').val() == '') {
            alert("Please select bank.");
            $('#bankid1').focus();
            return;
        }
        else if (tcs1 == 0 && tcs2 == 0 && tcs3 == 0) {
            alert("Please fill the cs properly.");
            $('#bankid1').focus();
            return;
        }

        if (confirm('Are you sure want to save?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }

        var csmain = {
            PIFileId: $('#PIFileId').val(), CSDate: $('#CSDate').val(), Remarks: $('#Remarks').val()
        };

        var sub1, sub2, sub3 = {}, i = 1;
        for (i = 1; i <= 3; i++) {
            if ($('#bankid' + i).val() != '') {
                sub1 = {
                    BankId1: $('#bankid' + i).val(),
                    ConvertRate1: $('#epcr' + i).html().replace(/\,/g, ''),
                    UPASS1: $('#upas' + i).html().replace(/\,/g, ''),
                    PostUPASS1: $('#pupas' + i).html().replace(/\,/g, ''),
                    Libor1: $('#libor' + i).html().replace(/\,/g, ''),
                    Handling1: $('#hc' + i).html().replace(/\,/g, ''),
                    InterestRate1: $('#pufr' + i).html().replace(/\,/g, ''),
                    LCCommissionRate1: $('#lcopcomr' + i).html().replace(/\,/g, ''),
                    AcceptanceCommissionRate1: $('#acpcomr' + i).html().replace(/\,/g, ''),
                    OtherChargesPerLC1: $('#oclp' + i).html().replace(/\,/g, '')
                }
                break;
            }
        };
        i++;
        for (; i <= 3; i++) {
            if ($('#bankid' + i).val() != '') {
                sub2 = {
                    BankId2: $('#bankid' + i).val(),
                    ConvertRate2: $('#epcr' + i).html().replace(/\,/g, ''),
                    UPASS2: $('#upas' + i).html().replace(/\,/g, ''),
                    PostUPASS2: $('#pupas' + i).html().replace(/\,/g, ''),
                    Libor2: $('#libor' + i).html().replace(/\,/g, ''),
                    Handling2: $('#hc' + i).html().replace(/\,/g, ''),
                    InterestRate2: $('#pufr' + i).html().replace(/\,/g, ''),
                    LCCommissionRate2: $('#lcopcomr' + i).html().replace(/\,/g, ''),
                    AcceptanceCommissionRate2: $('#acpcomr' + i).html().replace(/\,/g, ''),
                    OtherChargesPerLC2: $('#oclp' + i).html().replace(/\,/g, '')
                }
                break;
            }
        };
        i++;
        for (; i <= 3; i++) {
            if ($('#bankid' + i).val() != '') {
                sub3 = {
                    BankId3: $('#bankid' + i).val(),
                    ConvertRate3: $('#epcr' + i).html().replace(/\,/g, ''),
                    UPASS3: $('#upas' + i).html().replace(/\,/g, ''),
                    PostUPASS3: $('#pupas' + i).html().replace(/\,/g, ''),
                    Libor3: $('#libor' + i).html().replace(/\,/g, ''),
                    Handling3: $('#hc' + i).html().replace(/\,/g, ''),
                    InterestRate3: $('#pufr' + i).html().replace(/\,/g, ''),
                    LCCommissionRate3: $('#lcopcomr' + i).html().replace(/\,/g, ''),
                    AcceptanceCommissionRate3: $('#acpcomr' + i).html().replace(/\,/g, ''),
                    OtherChargesPerLC3: $('#oclp' + i).html().replace(/\,/g, '')
                }
                break;
            }
        };

        var sub = { CSId: 0, CSSubId: 0 };
        if (sub1 != {}) {
            //sub = sub.concat(sub1);
            $.extend(true, sub, sub1);
        }
        if (sub2 != {}) {
            //sub = sub.concat(sub2);
            $.extend(true, sub, sub2);
        }
        if (sub3 != {}) {
            //sub = sub.concat(sub3);
            $.extend(true, sub, sub3);
        }
        //alert(JSON.stringify({ cssub: sub }));
        //return;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("CSSave")',
            data: JSON.stringify({ csmain: csmain, cssub: sub }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    //alert(msg.message);
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-danger');
                    $('#asummary').html('!!!Error!!!')
                    $('#atext').html('Save failed due to "' + msg.message + '".');
                    $('#btnAlert').attr('onclick', '');

                    $('#alert').modal('show');
                }
                else {
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-success');
                    $('#asummary').html('Success!!')
                    $('#atext').html('CS for #' + msg.pino + '" save successfully.');
                    $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("CSForLC")"; window.open("@Url.Action("ShowReport", "Report", new { __RequestVerificationToken = "JapPchgwROXZ1a_vbeUA66N13i5A4f1LD9Mu2Z2aVJ6ov7Y2MnK_qn5d6Q0TeoZdHIb2gAXImc9e-Iaog1NaevG7RG30XKhk_lSjwUAzrNE1" })" + "&fn=rptCSForLC&PIFileId=" + $("#PIFileId").val(), "_blank", "height=875,width=1068,scrollbars=yes,status=yes");');
                    //window.location = "@Url.Action("PIInHand")";

                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Save failed.\nSee log for more information.");
            }
        });
    });
</script>
}

@section CSS {

}
