﻿@model FundManagement.Models.PIMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Entry</a>
                    </li>
                    <li class="breadcrumb-item active">
                        PI Forward
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: PI Forward</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("PIInHand")">PI In Hand List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Forwarding Info
                                        @if (Model != null && Model.PIFileId != null && Model.PIFileId > 0)
                                        {
                                            <span style="float: right">PI File # <span style="color: red; font-weight: bold;">@Model.PIFileNo</span></span>
                                        }
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                        </div>

                                        <div class="col-md-5">
                                            @Html.HiddenFor(model => model.PIFileId)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PINo, new { @class = "col-common col-sm-3 label-control" }, false)
                                                <div class="col-sm-3 offset-right-1 controls">
                                                    @Model.PINo
                                                </div>
                                                @Html.LabelFor(model => model.PIDate, new { @class = "col-common col-sm-2 label-control" }, false)
                                                <div class="col-sm-3 controls">
                                                    @Model.PIDate.ToString("dd-MMM-yyyy")
                                                </div>
                                            </div>

                                            @Html.EditorFor(model => model.ForwardToBankDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ForwardBankId, "Bank", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.ForwardBankId, (SelectList)ViewBag.BankId, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ForwardBranchId, "Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="brlist" class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.ForwardBranchId, (SelectList)ViewBag.BranchId, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1" onclick="window.location = '@Url.Action("PIInHand")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnForward" class="btn btn-success">
                                        <i class="fa ft-arrow-right"></i> Forward
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('#ForwardBankId').change(function () {
            //alert($(this).val());
            getBranchList($(this).val(), 'brlist', 'ForwardBranchId');
        })

        $('#btnForward').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to forward?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            var pimain = {
                PIFileId: $('#PIFileId').val(), ForwardToBankDate: $('#ForwardToBankDate').val(), 
                ForwardBankId: $('#ForwardBankId').val(), ForwardBranchId: $('#ForwardBranchId').val()
            };

            //alert(JSON.stringify({ pimain: pimain }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ pimain: pimain }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Forwarding failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('PI #' + msg.pino + '" forward successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("PIInHand")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Forwarding failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}
