﻿@model IEnumerable<FundManagement.Models.PIMain>


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Entry</a>
                    </li>
                    <li class="breadcrumb-item active">
                        PI
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">PI List</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("PIInHand")">PI In Hand</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact table-primary">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.PIFileNo)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.PINo)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.PIDate)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.BeneficiaryId)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.SupplierId)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.ApprovalRef)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th style="text-align: center; width: auto;">
                                            @Html.DisplayNameFor(model => model.PIAmount)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="selectable">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PIFileNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PINo)
                                            </td>
                                            <td style="text-align: center;">
                                                @item.PIDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td>
                                                @item.Company.ShortName
                                            </td>
                                            <td>
                                                @item.Supplier.ShortName
                                            </td>
                                            <td>
                                                @item.ApprovalRef
                                            </td>
                                            <td>
                                                @item.Status
                                            </td>
                                            <td style="text-align: right;">
                                                @item.PIAmount.ToString("##,##0.00") <span style="padding-left: 5px;">@item.Currency.TypeName</span>
                                            </td>
                                            <td style="text-align: center; width: 8%; cursor: pointer;" onclick="window.location = '@Url.Action("ForwardToBank", new { id = item.PIFileId })'">
                                                <a href="@Url.Action("ForwardToBank", new { id = item.PIFileId })" title="" data-toggle="tooltip" data-original-title="Forward" class="table-button-item" style="padding: 0px 15px;"><i class="fa ft-chevrons-right"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
        var table = $('.table').DataTable({
            destroy: true,
            //scrollY: '256px',
            //scrollCollapse: true,
            paging: true,
            filter: true,
            ordering: true,
            info: true
        });
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}