﻿@model FundManagement.Models.PIMain

<div class="col-md-6">
    <div class="form-group row">
        @Html.LabelFor(model => model.PINo, new { @class = "col-common col-sm-4 label-control" }, false)
        <div class="col-sm-8 controls">
            @Model.PINo
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.RequistionNo, new { @class = "col-common col-sm-4 label-control" }, false)
        <div class="col-sm-8 controls">
            @Model.RequistionNo
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.SupplierId, new { @class = "col-common col-sm-4 label-control" }, false)
        <div class="col-sm-8 controls">
            @Model.Supplier.SupplierName
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.PISubs, "Import Item", new { @class = "col-common col-sm-4 label-control" }, false)
        <div class="col-sm-8 controls">
            @ViewBag.item
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group row">
        @Html.LabelFor(model => model.PIDate, new { @class = "col-common col-sm-4 label-control" }, false)
        <div class="col-sm-8 controls">
            @Model.PIDate.ToString("dd-MMM-yyyy")
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.RequisitionDate, new { @class = "col-common col-sm-4 label-control" }, false)
        <div class="col-sm-8 controls">
            @Model.PRDate
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.BeneficiaryId, new { @class = "col-common col-sm-4 label-control" }, false)
        <div class="col-sm-8 controls">
            @Model.Company.CompanyName
        </div>
    </div>

    @Html.Hidden("PIAmount", Model.PIAmount.ToString("##,##0.00"))
    @Html.HiddenFor(model => model.Currency.TypeName)
    @Html.HiddenFor(model => model.PIDate)
</div>
