﻿@model FundManagement.Models.LCAcceptanceView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Acceptance
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">@(ViewBag.IsEdit == true ? "Edit" : "New") :: Acceptance/Loan Reference</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            @if (ViewBag.IsEdit == true)
            {
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Create")">New Acceptance</a></div>
            }
            else
            {
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Edit")">Edit Acceptance</a></div>
            }
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Acceptance List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="ft-user"></i> Acceptance/Loan Reference Info
                                        @if (ViewBag.IsEdit == true)
                                        { 
                                            <div class="col-md-4" style="float: right;">
                                                @Html.DropDownListFor(model => model.LCAcceptanceId, (SelectList)ViewBag.AcceptList, string.Empty, new { @class = "form-control selectwt", @required = "", @style = "width: 100%;" })
                                            </div>
                                            <div class="col-md-3 offset-right" style="float: right; text-align: right;">
                                                @Html.LabelFor(model => model.LCAcceptanceId, "Acceptance No To Edit", new { @class = "col-common col-sm-12 label-control" }, true)
                                            </div>
                                        }
                                        else
                                        {
                                            <button type="button" id="btn_remarks" class="btn btn-info" style="padding: 5px 10px; float: right;" onclick="reason_entry()">
                                                <i class="fa fa-pencil"></i> Reason Update For Bank Retirement
                                            </button>
                                        }
                                    </h4>
                                    <div class="row">
                                        @*<div class="col-md-8">
                                            @Html.DropDownListFor(model => model.LCAcceptanceId, (SelectList)ViewBag.AcceptList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                        </div>*@
                                        <div class="col-md-8">
                                            @if (ViewBag.IsEdit == true)
                                            { 
											    <div class="form-group row">
												    @Html.LabelFor(model => model.LCFileId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-4 offset-right controls">
                                                        @Html.Editor("LCNo", "StringWOL", new { @readonly = "readonly" })
                                                        @Html.HiddenFor(model => model.LCFileId)
                                                    </div>
												    @Html.LabelFor(model => model.PLEId, new { @class = "col-common col-sm-2 label-control" }, true)
                                                    <div class="col-sm-3 offset-left controls">
                                                        @Html.Editor("LotNo", "StringWOL", new { @readonly = "readonly" })
                                                        @Html.HiddenFor(model => model.PLEId)
                                                    </div>
											    </div>
                                            }
                                            else
                                            {
                                                @Html.HiddenFor(model => model.LCAcceptanceId)
											    <div class="form-group row">
												    @Html.LabelFor(model => model.LCFileId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-4 offset-right controls">
                                                        @Html.DropDownListFor(model => model.LCFileId, (SelectList)ViewBag.LCFile, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
												    @Html.LabelFor(model => model.PLEId, new { @class = "col-common col-sm-2 label-control" }, true)
                                                    <div id="lot" class="col-sm-3 offset-left controls">
                                                        @Html.DropDownListFor(model => model.PLEId, (SelectList)ViewBag.LotList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                        @*@Html.EditorFor(model => model.PLEId, "Int16WOL")*@
                                                    </div>
											    </div>
                                            }

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AcceptanceNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.AcceptanceNo, "StringWOL")
                                                </div>
                                                @Html.LabelFor(model => model.TenureStartDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.TenureStartDate, "DateTimeWOL", new { @onchange = "getTenure();" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AcceptanceDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.AcceptanceDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.ExpireDate, "Maturity Date & Tenure", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.ExpireDate, "DateTimeWOL", new { @onchange = "getTenure();" })
                                                </div>
                                                <div class="col-sm-1 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.AcceptanceTenure, "Int16WOL", new { @readonly = "readonly", @style = "text-align: center !important" })
                                                    @*@Html.HiddenFor(model => model.LoanTenure)*@
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DocumentRetirementDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.DocumentRetirementDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.BankReceiveDate, "Bank Recv. Date & Tenure", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.BankReceiveDate, "DateTimeWOL")
                                                </div>
                                                <div class="col-sm-1 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.LoanTenure, "Int16WOL", new { @style = "text-align: center !important" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.HandoverToCNFDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.HandoverToCNFDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.HandoverToSourcingDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.HandoverToSourcingDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BLNo, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.BLNo, "StringWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.BLDate, new { @class = "col-common col-sm-2 label-control" })
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.BLDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BENo, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.BENo, "StringWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.BEDate, new { @class = "col-common col-sm-2 label-control" })
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.BEDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>
											
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AcceptanceAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.DropDownListFor(model => model.CurrencyId, (SelectList)ViewBag.Currency, string.Empty, new { @class = "form-control selectonly", @required = "", @style = "width: 100%;", @disabled = "true" })
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.AcceptanceAmount, "DecimalWOL", new { @class = "amt", @onchange = "getBDTAmount();" })
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.BDTRate, "AtTheRate", new { @class = "amt", @onchange = "getBDTAmount();" })
                                                </div>
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.AmountInBDT, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.USDRate, "Amount In USD", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.USDRate, "AtTheRate", new { @class = "usdamt", @onchange = "getUSDAmount();" })
                                                </div>
                                                <div class="col-sm-5 offset-left controls">
                                                    @Html.EditorFor(model => model.AmountInUSD, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LiborAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    <div class="form-group row">
                                                        <div class="col-sm-4 offset-right controls">
                                                            @Html.DropDownListFor(model => model.CurrencyId, (SelectList)ViewBag.Currency, string.Empty, new { @id = "LiborCurrencyId", @name = "LiborCurrencyId", @class = "form-control selectonly", @required = "", @style = "width: 100%;", @disabled = "true" })
                                                        </div>
                                                        <div class="col-sm-2 offset-left offset-right controls">
                                                            @Html.EditorFor(model => model.LiborInterestRate, "DecimalWOL", new { @class = "amt", @onchange = "getBDTAmount();" })
                                                            @*@Html.Hidden("HCInterestRate")*@
                                                        </div>
                                                        <div class="col-sm-1 offset-left offset-right controls">
                                                            @Html.Editor("LiborInterestRateP", "StringWOL", new { @readonly = "readonly", @Value = "%" })
                                                            @*@Html.Hidden("HCInterestRate")*@
                                                        </div>
                                                        <div class="col-sm-5 offset-left controls">

                                                            @Html.EditorFor(model => model.LiborAmount, "DecimalWOL", new { @class = "amt", @readonly = "readonly", @onchange = "getBDTAmount();" })

                                                            @*@Html.Hidden("HCInterestRate")*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.LiborBDTRate, "AtTheRate", new { @readonly = "readonly" })
                                                </div>
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.LiborBDT, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.LiborInterestRate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.EditorFor(model => model.LiborInterestRate, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.LiborInterestRateOD, "OD R", new { @class = "col-common col-sm-1 label-control" })
                                                <div class="col-sm-1 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.LiborInterestRateOD, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.LiborInterestStartDate, "Int. Start Date", new { @class = "col-common col-sm-2 label-control" })
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.LiborInterestStartDate, "DateTimeWOL")
                                                </div>
                                            </div>*@

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.HandlingCharge, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    <div class="form-group row">
                                                        <div class="col-sm-4 offset-right controls">
                                                            @Html.DropDownListFor(model => model.CurrencyId, (SelectList)ViewBag.Currency, string.Empty, new { @id = "HCCurrencyId", @name = "HCCurrencyId", @class = "form-control selectonly", @required = "", @style = "width: 100%;", @disabled = "true" })
                                                        </div>
                                                        <div class="col-sm-2 offset-left offset-right controls">
                                                            @Html.EditorFor(model => model.HCInterestRate, "DecimalWOL", new { @class = "amt", @onchange = "getBDTAmount();" })
                                                            @*@Html.Hidden("HCInterestRate")*@
                                                        </div>
                                                        <div class="col-sm-1 offset-left offset-right controls">
                                                            @Html.Editor("HCInterestRateP", "StringWOL", new { @readonly = "readonly", @Value = "%" })
                                                            @*@Html.Hidden("HCInterestRate")*@
                                                        </div>
                                                        <div class="col-sm-5 offset-left controls">
                                                            @Html.EditorFor(model => model.HandlingCharge, "DecimalWOL", new { @class = "amt", @readonly = "readonly", @onchange = "getBDTAmount();" })
                                                            @*@Html.Hidden("HCInterestRate")*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.HCBDTRate, "AtTheRate", new { @readonly = "readonly" })
                                                </div>
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.HCBDT, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.HCInterestRate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.EditorFor(model => model.HCInterestRate, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.HCInterestRateOD, "OD R", new { @class = "col-common col-sm-1 label-control" })
                                                <div class="col-sm-1 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.HCInterestRateOD, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.HCInterestStartDate, "Int. Start Date", new { @class = "col-common col-sm-2 label-control" })
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.HCInterestStartDate, "DateTimeWOL")
                                                </div>
                                            </div>*@

                                            @Html.EditorFor(model => model.Remarks)
										</div>


                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                            <div class="form-group">
                                                <!-- Modal -->
                                                <div class="modal fade text-left" id="rualert" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-success white">
                                                                <h4 class="modal-title">Reason Update For Late Bank Retirement</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div id="rudiv">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btn_rupdate" type="button" class="btn grey btn-outline-success" style="min-width: 100px;" onclick="update_reason();">Update</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.rdate').not('[readonly]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('select.selectonly').select2({
            placeholder: "Select . . .",
            //dropdownAutoWidth: true
        });

        $('select.selectwt').select2({
            placeholder: "Select or Type . . .",
            dropdownAutoWidth: true,
            templateResult: function (data) {
                var r = data.text.split(' >> ');
                var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                                '<div class="col-md-6 col-1">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                '<div class="col-md-5 col-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                //'<div class="col-md-4 col-3">' + (r.length > 2 ? r[2] : '') + '</div>' +
                            '</div>';
                var $result = $(row);
                return $result;
            }//,
            //templateSelection: function (data) {
            //    var r = data.text.split(' >> ');
            //    var $result = r[0];
            //    return $result;
            //}
        });

        function reason_entry() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ReasonTemplate")',
                success: function (msg) {
                    $('#rudiv').html(msg);

                    $('#rualert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function show_reason(id) {
            if (id.length == 0) {
                $('#ReasonForLateBankRetirement').val('');
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ReasonDetails")',
                data: JSON.stringify({ pleid: id }),
                success: function (msg) {
                    $('#ReasonForLateBankRetirement').val(msg.reason.toUpperCase());
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        function update_reason() {
            if ($('#PipelineId').val() == '' && $('#PipelineId').val() == 0) {
                alert("LC no must have to select.");
                $('#PipelineId').focus();
                return;
            }
            //else if ($('#ReasonForLateBankRetirement').val() == '') {
            //    alert("Reason must not be blank.");
            //    $('#ReasonForLateBankRetirement').focus();
            //    return;
            //}

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateReason")',
                data: JSON.stringify({ pleid: $('#PipelineId').val(), reason: $('#ReasonForLateBankRetirement').val().toUpperCase() }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == "Success") {
                        alert("Reason updated.");
                        $('#PipelineId').val(null).trigger('change');
                    } else {
                        alert("Update failed.");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getTenure() {
            //return;
            var start = convertStrToDate($('#TenureStartDate').val());
            var end = convertStrToDate($('#ExpireDate').val());
            var diff = new Date(end - start);
            var days = (diff / 1000 / 60 / 60 / 24) + 1;

            $('#AcceptanceTenure').val(days);

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            var acpamt = eval($('#AcceptanceAmount').val());
            var lib_rate = eval($('#LiborInterestRate').val());
            var hand_rate = eval($('#HCInterestRate').val());
            //debugger;
            $('#LiborAmount').val((acpamt * lib_rate * days) / 36000);
            $('#HandlingCharge').val((acpamt * hand_rate * days) / 36000);

            var bdtrate = eval($('#BDTRate').val());
            var libamt = eval($('#LiborAmount').val());
            var hcamt = eval($('#HandlingCharge').val());

            $('#LiborBDTRate').val(bdtrate);
            $('#HCBDTRate').val(bdtrate);

            //$('#LiborBDTRate').val(0);
            //$('#HCBDTRate').val(0);

            $('#AmountInBDT').val(bdtrate * acpamt);
            $('#LiborBDT').val(bdtrate * libamt);
            $('#HCBDT').val(bdtrate * hcamt);

            //$('#LiborAmount, #HandlingCharge').each(function () {
            //    $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            //});

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });
        };

        function getBDTAmount() {
            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            getTenure();
        };

        function getUSDAmount() {
            var usdrate = eval($('#USDRate').val().replace(/\,/g, ''));
            var acpamt = eval($('#AcceptanceAmount').val().replace(/\,/g, ''));

            $('#AmountInUSD').val((new Number(usdrate * acpamt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        };

        $('#LCAcceptanceId').change(function () {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("AcceptanceDetails")',
                data: JSON.stringify({ id: $('#LCAcceptanceId').val() }),
                success: function (data) {
                    //alert(JSON.stringify({ data: data }));
                    $('.rdate').not('[readonly]').data('daterangepicker').remove();

                    $('#LCFileId').val(data.acp.LCFileId);
                    $('#LCNo').val(data.acp.LCNo);
                    $('#PLEId').val(data.acp.PLEId);
                    $('#LotNo').val(data.acp.LotNo);
                    //return;
                    $('#AcceptanceNo').val(data.acp.AcceptanceNo);
                    $('#TenureStartDate').val(data.acp.TenureStartDate);
                    $('#AcceptanceDate').val(data.acp.AcceptanceDate);
                    $('#ExpireDate').val(data.acp.ExpireDate);
                    $('#AcceptanceTenure').val(data.acp.AcceptanceTenure);
                    $('#DocumentRetirementDate').val(data.acp.DocumentRetirementDate);
                    $('#BankReceiveDate').val(data.acp.BankReceiveDate);
                    $('#HandoverToCNFDate').val(data.acp.HandoverToCNFDate);
                    $('#HandoverToSourcingDate').val(data.acp.HandoverToSourcingDate);
                    $('#BLNo').val(data.acp.BLNo);
                    $('#LoanTenure').val(data.acp.LoanTenure);
                    $('#BLDate').val(data.acp.BLDate);
                    $('#BENo').val(data.acp.BENo);
                    $('#BEDate').val(data.acp.BEDate);
                    $('#CurrencyId').val(data.acp.CurrencyId).trigger('change');
                    $('#AcceptanceAmount').val(data.acp.AcceptanceAmount);
                    $('#BDTRate').val(data.acp.BDTRate);
                    $('#AmountInBDT').val(data.acp.AmountInBDT);
                    $('#USDRate').val(data.acp.USDRate);
                    $('#AmountInUSD').val(data.acp.AmountInUSD);
                    $('#LiborCurrencyId').val(data.acp.CurrencyId).trigger('change');
                    $('#LiborAmount').val(data.acp.LiborAmount);
                    $('#LiborBDTRate').val(data.acp.LiborBDTRate);
                    $('#LiborBDT').val(data.acp.LiborBDT);
                    $('#HCCurrencyId').val(data.acp.CurrencyId).trigger('change');
                    $('#HandlingCharge').val(data.acp.HandlingCharge);
                    $('#HCBDTRate').val(data.acp.HCBDTRate);
                    $('#HCBDT').val(data.acp.HCBDT);

                    $('#LiborInterestRate').val(data.acp.libor_rate);
                    $('#HCInterestRate').val(data.acp.handling_rate);

                    $('#Remarks').val(data.acp.Remarks);


                    //alert($('#LoanTenure').val());

                    $('.only-number').each(function () {
                        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    });

                    $('.only-currency').each(function () {
                        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    });

                    $('.rdate').not('[readonly]').daterangepicker({
                        singleDatePicker: true,
                        showDropdowns: true,
                        locale: {
                            format: 'DD-MMM-YYYY'
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert(errorThrown);
                }
            });
        });

        $('#LCFileId').change(function (id) {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LotList")',
                data: JSON.stringify({ id: $('#LCFileId').val(), type: "create" }),
                success: function (data) {
                    $('#lot').html(data);

                    $('#lot select.select').select2({
                        placeholder: "Select . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        function getLotDetails(id) {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LotDetails")',
                data: JSON.stringify({ id: id }),
                success: function (data) {
                    console.log('data ->', data);
                    $('#AcceptanceAmount').val(data.plamt);
                    $('#BLDate').val(data.bldate);
                    $('#BLNo').val(data.blno);
                    $('#BEDate').val(data.bedate);
                    $('#BENo').val(data.beno);
                    $('#LoanTenure').val(data.LoanTenure);

                    //$('#LiborAmount').val(data.libor);
                    //$('#HandlingCharge').val(data.handling);
                    //$('#LiborInterestRate').val(data.libor_rate);
                    //$('#HCInterestRate').val(data.handling_rate);

                    $('#LiborAmount').val(0);
                    $('#HandlingCharge').val(0);
                    $('#LiborInterestRate').val(0);
                    $('#HCInterestRate').val(0);

                    $('#CurrencyId').val(data.curid).trigger("change");
                    $('#LiborCurrencyId').val(data.curid).trigger("change");
                    $('#HCCurrencyId').val(data.curid).trigger("change");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            //else if (table.rows().data().length <= 0) {
            //    alert('No details information.');
            //    return;
            //}

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var acceptData = {
                LCAcceptanceId: $('#LCAcceptanceId').val(), LCFileId: $('#LCFileId').val(), PLEId: $('#PLEId').val(), DocumentRetirementDate: $('#DocumentRetirementDate').val(),
                HandoverToCNFDate: $('#HandoverToCNFDate').val(), HandoverToSourcingDate: $('#HandoverToSourcingDate').val(),
                BLNo: $('#BLNo').val(), BLDate: $('#BLDate').val(), AcceptanceNo: $('#AcceptanceNo').val(), AcceptanceTenure: $('#AcceptanceTenure').val(),
                AcceptanceDate: $('#AcceptanceDate').val(), AcceptanceTenure: $('#AcceptanceTenure').val(), LoanTenure: $('#LoanTenure').val(),
                ExpireDate: $('#ExpireDate').val(), AcceptanceAmount: $('#AcceptanceAmount').val(), CurrencyId: $('#CurrencyId').val(),
                LiborAmount: $('#LiborAmount').val(), LiborInterestRate: $('#LiborInterestRate').val(), LiborInterestRateOD: $('#LiborInterestRateOD').val(),
                LiborInterestStartDate: $('#LiborInterestStartDate').val(), BankReceiveDate: $('#BankReceiveDate').val(), TenureStartDate: $('#TenureStartDate').val(),
                HandlingCharge: $('#HandlingCharge').val(), HCInterestRate: $('#HCInterestRate').val(), HCInterestRateOD: $('#HCInterestRateOD').val(),
                HCInterestStartDate: $('#HCInterestStartDate').val(), BDTRate: $('#BDTRate').val(), USDRate: $('#USDRate').val(), Remarks: $('#Remarks').val()
            };

            //table.rows().every(function (rowIdx, tableLoop, rowLoop) {
            //    var tableData = this.data();

            //    if (tableData.length >= 33) {
            //        var arrayOfThisRow = {
            //            PApprovalSubId: tableData[31], QApprovalSubId: tableData[25], PRSubId: tableData[22], POSubId: tableData[23],
            //            CurrentStock: tableData[4], StockInTransit: tableData[5], TotalStockArrangement: tableData[7], PDRequirement: tableData[8],
            //            TotalStockForDay: tableData[9], QuantityUnitId: tableData[27], BookingQuantity: tableData[29].replace(/\,/g, ''),
            //            UnitPrice: tableData[32].replace(/\,/g, ''), Amount: tableData[33].replace(/\,/g, ''), RateInUSD: 0, AmountInUSD: 0,
            //            IsCapex: 0, RowNo: rn++
            //        };
            //        //alert(arrayOfThisRow);
            //        qasub.push(arrayOfThisRow);
            //    }
            //});

            //alert(JSON.stringify({ acceptData: acceptData }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ acceptanceView: acceptData }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        if (acceptData.LCAcceptanceId == 0) {
                            $('#atext').html('Acceptance ref # ' + msg.acceptno + '" save successfully.');
                            $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');
                        }
                        else {
                            $('#atext').html('Acceptance ref # ' + msg.acceptno + ' update successfully.');
                            $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Edit")"');
                        }

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {
    
}
