﻿@model FundManagement.Models.LCAcceptance

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LCAcceptance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcceptanceCurrency.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptanceCurrency.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCMain.LCFileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCMain.LCFileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLEId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLEId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentRetirementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentRetirementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandoverToCNFDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandoverToCNFDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandoverToSourcingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandoverToSourcingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptanceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptanceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptanceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptanceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptanceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptanceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiborAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiborAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiborInterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiborInterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiborInterestRateOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiborInterestRateOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiborInterestStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiborInterestStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandlingCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandlingCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HCInterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HCInterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HCInterestRateOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HCInterestRateOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HCInterestStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HCInterestStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BDTRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BDTRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USDRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USDRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptedAmountInUSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptedAmountInUSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptedAmountInBDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptedAmountInBDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
