﻿@model FundManagement.Models.LandedCosting

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Entry</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Costing
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Landed Costing</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="ft-user"></i> Landed Costing Info
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="form-section">
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.LCAcceptanceId, "Acceptance No", new { @class = "col-common col-sm-3 label-control" }, true)
                                                    <div class="col-sm-5 controls">
                                                        @Html.DropDownListFor(model => model.LCAcceptanceId, (SelectList)ViewBag.AcceptList, string.Empty, new { @class = "form-control selectwt", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                    <div id="cl_link" class="col-sm-4 controls right">
                                                        
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-sm-3 controls">
                                                        
                                                    </div>
                                                    <div class="col-sm-9 controls">
                                                        <a onclick="update_landed_costing_status()" style="text-decoration: underline; color: blue;">Click here to complete landed costing (Can't change after that)</a>
                                                    </div>
                                                </div>
                                            </h4>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.HiddenFor(model => model.LCFileId)

                                            @Html.HiddenFor(model => model.LandedCostingId)

                                            @Html.HiddenFor(model => model.PLEId)

                                            @Html.EditorFor(model => model.LCOpeningCommission, "DecimalCOL6")

                                            @Html.EditorFor(model => model.LCOpeningCommissionVAT, "DecimalCOL6")

                                            @Html.EditorFor(model => model.SwiftCharges, "DecimalCOL6")

                                            @Html.EditorFor(model => model.StampAndStationery, "DecimalCOL6")

                                            @Html.EditorFor(model => model.PostageAndCourier, "DecimalCOL6")

                                            @Html.EditorFor(model => model.AmendmentCharges, "DecimalCOL6")

                                            @Html.EditorFor(model => model.CreditReportCharges, "DecimalCOL6")

                                            @Html.EditorFor(model => model.ShippingGuaranteeCommission, "DecimalCOL6")

                                            @Html.EditorFor(model => model.InsurancePremium, "DecimalCOL6")

                                            @Html.EditorFor(model => model.AcceptanceCommission, "DecimalCOL6")
                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.AcceptanceCommission, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.AcceptanceCommission, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.SwiftChargesAcceptanceCommission, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.SwiftChargesAcceptanceCommission, "DecimalWOL")
                                                </div>
                                            </div>*@
                                            @Html.EditorFor(model => model.SwiftChargesAcceptanceCommission, "DecimalCOL6")

                                            @Html.EditorFor(model => model.Duty, "DecimalCOL6" ,new { @readonly = "readonly" })

                                            @Html.EditorFor(model => model.AIT, "DecimalCOL6")

                                            @Html.EditorFor(model => model.LIBOR, "DecimalCOL6")

                                            @Html.EditorFor(model => model.HandlingCharge, "DecimalCOL6")

                                            @Html.EditorFor(model => model.CostValue, "DecimalCOL6")

                                            @Html.EditorFor(model => model.FreightCharges, "DecimalCOL6")

                                            @Html.EditorFor(model => model.Margin, "DecimalCOL6")

                                            @Html.EditorFor(model => model.CNFCost, "DecimalCOL6", new { @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-5">
                                           
                                            <div class="" style="border: 1px solid #d4d4d4;">
                                                <p class="card-description" style="text-align: center !important; margin: .25rem;">C & F Cost Details</p>

                                                @Html.EditorFor(model => model.TruckFare, "DecimalCOL6", new { @class = "CNF" })

                                                @Html.EditorFor(model => model.PortCharges, "DecimalCOL6", new { @class = "CNF" })

                                                @Html.EditorFor(model => model.Wharfrent, "DecimalCOL6", new { @class = "CNF" })

                                                @Html.EditorFor(model => model.ShippingAgentCharges, "DecimalCOL6", new { @class = "CNF" })

                                                @Html.EditorFor(model => model.Depocharges, "DecimalCOL6", new { @class = "CNF" })

                                                @Html.EditorFor(model => model.ContainerRepairCharges, "DecimalCOL6", new { @class = "CNF" })

                                                @Html.EditorFor(model => model.MiscellaneousExpenses, "DecimalCOL6", new { @class = "CNF" })

                                                @Html.TextBoxFor(model => model.OnlineCharge ,"DecimalCOL6", new { @class = "CNF hidden" })

                                                @Html.TextBoxFor(model => model.DonationFees, "DecimalCOL6", new { @class = "CNF hidden" })

                                                @Html.TextBoxFor(model => model.VAT, "DecimalCOL6", new { @class = "CNF hidden"})

                                                @Html.TextBoxFor(model => model.CNFAIT, "DecimalCOL6", new { @class = "CNF hidden"})

                                                @Html.TextBoxFor(model => model.ScanningCharge, "DecimalCOL6", new { @class = "CNF hidden" })

                                                @Html.TextBoxFor(model => model.LabourCharge, "DecimalCOL6", new { @class = "CNF hidden"})

                                                @Html.TextBoxFor(model => model.ExcessGoods, "DecimalCOL6", new { @class = "CNF hidden"})

                                                @Html.TextBoxFor(model => model.CustomJettyExpenses, "DecimalCOL6", new { @class = "CNF hidden" })

                                                @Html.TextBoxFor(model => model.ServiceCharge, "DecimalCOL6", new { @class = "CNF hidden" })

                                                @Html.TextBoxFor(model => model.BerthOperatorCharge, "DecimalCOL6", new { @class = "CNF hidden" })

                                                @Html.TextBoxFor(model => model.RCCCharge, "DecimalCOL6", new { @class = "CNF hidden" })

                                                @Html.TextBoxFor(model => model.HystarCharge, "DecimalCOL6", new { @class = "CNF hidden"})

                                            </div>

                                            <div class="" style="border: 1px solid #d4d4d4;">
                                                <p class="card-description" style="text-align: center !important; margin: .25rem;">Duty Details</p>
                                                @Html.EditorFor(model => model.CusTomDuty, "DecimalCOL6", new { @class = "DUTY" })

                                                @Html.EditorFor(model => model.RegularDuty, "DecimalCOL6", new { @class = "DUTY" })

                                                @Html.EditorFor(model => model.SupplementaryDuty, "DecimalCOL6", new { @class = "DUTY" })

                                                @Html.EditorFor(model => model.ValueAddedTax, "DecimalCOL6", new { @class = "DUTY" })

                                                @Html.EditorFor(model => model.AdvanceTax, "DecimalCOL6", new { @class = "DUTY" })

                                            </div>

                                           
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Remarks, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-8 controls" style="padding-right: 0px !important;">
                                                    @Html.EditorFor(model => model.Remarks, "MultilineTextWOL")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <h4 class="form-section"><i class="ft-user"></i> Material Details</h4>

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        @Html.LabelFor(model => model.Remarks, "Receive Date", new { @class = "col-common col-sm-3 label-control" }, true)
                                                        <div class="col-sm-3 controls" style="padding-right: 0px !important;">
                                                            @Html.Editor("ActualReceiveDate", "DateTimeWOL", new { Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                                        </div>
                                                        @Html.LabelFor(model => model.Remarks, "MRR No", new { @class = "col-common col-sm-2 label-control" }, true)
                                                        <div class="col-sm-4 controls" style="padding-right: 0px !important;">
                                                            @Html.Editor("MRRNo", "StringWOL")
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        @Html.LabelFor(model => model.Remarks, "CI Date", new { @class = "col-common col-sm-2 label-control" }, true)
                                                        <div class="col-sm-3 controls" style="padding-right: 0px !important;">
                                                            @Html.Editor("CIDate", "DateTimeWOL", new { Value = DateTime.Today.ToString("dd-MMM-yyyy") })
                                                        </div>
                                                        @Html.LabelFor(model => model.Remarks, "CI No", new { @class = "col-common col-sm-2 label-control" }, true)
                                                        <div class="col-sm-4 controls" style="padding-right: 0px !important;">
                                                            @Html.Editor("CINo", "StringWOL")
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <table id="lcostdet" class="table table-striped table-bordered compact table-primary">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">
                                                            SL #
                                                        </th>
                                                        <th style="display: none;">
                                                            Product Id
                                                        </th>
                                                        <th>
                                                            Product
                                                        </th>
                                                        <th style="text-align: center;">
                                                            CI Qty
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Unit
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Act. Recv.
                                                        </th>
                                                        <th style="display: none;">
                                                            PL ID
                                                        </th>
                                                        <th style="display: none;">
                                                            PL Sub ID
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblbody">
                                                    @Html.Action("RowTemplate", new { pleid = Model.PLEId })
                                                </tbody>
                                            </table>
                                            <table id="dfsum" class="table table-striped table-bordered compact table-primary">
                                                <thead>
                                                    <tr>
                                                        <th style="height: 5px;">

                                                        </th>
                                                        <th>

                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: right; width: 90%; border-top:none !important;">
                                                            Total Recv. Qty :
                                                        </td>
                                                        <td style="text-align: right; font-weight: bolder; border-top:none !important; padding-right: 46px;">
                                                            <span id="totalqty" style="border-bottom: double; text-align: right;">0.00</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" id="btnCancel" class="btn btn-warning mr-1" onclick="window.location = '@Url.Action("LandedCosting")'">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('select.selectwt').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true,
            templateResult: function (data) {
                var r = data.text.split(' >> ');
                var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                                '<div class="col-md-6 col-1">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                '<div class="col-md-5 col-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                //'<div class="col-md-4 col-3">' + (r.length > 2 ? r[2] : '') + '</div>' +
                            '</div>';
                var $result = $(row);
                return $result;
            }//,
            //templateSelection: function (data) {
            //    var r = data.text.split(' >> ');
            //    var $result = r[0];
            //    return $result;
            //}
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        var cnfcost = 0;
        $('.CNF').change(function () {
            $('.CNF').each(function () {
                cnfcost += eval($(this).val().replace(/\,/g, ''));
            });
            $('#CNFCost').val(cnfcost.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });


        $('.DUTY').change(function ()
        {var duty = 0;
            $('.DUTY').each(function () {
                duty += eval($(this).val().replace(/\,/g, ''));
            });
            $('#Duty').val(duty.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('#LCAcceptanceId').change(function () {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LandedCostingDetails")',
                data: JSON.stringify({ id: $('#LCAcceptanceId').val() }),
                success: function (data) {
                    if (data.status == 'Error') {
                        console.log(JSON.stringify({ error: message }));
                        alert(message);
                    }
                    else {
                        $('#LCFileId').val(data.acp.LCFileId);

                        $('#ActualReceiveDate').val(data.ardate);
                        //$('#CIDate').datepicker('setDate', getJsonDate(data.cidate));
                        $('#CIDate').data('daterangepicker').setStartDate(data.cidate);
                        $('#MRRNo').val(data.arno);
                        $('#CINo').val(data.cino);

                        //if (data.acp.LandedCostingId > 0) {
                        $('#PLEId').val(data.acp.PLEId);
                        $('#LandedCostingId').val(data.acp.LandedCostingId);
                        $('#AmendmentCharges').val(data.acp.AmendmentCharges);
                        $('#AIT').val(data.acp.AIT);
                        $('#AcceptanceCommission').val(data.acp.AcceptanceCommission);
                        $('#SwiftChargesAcceptanceCommission').val(data.acp.SwiftChargesAcceptanceCommission)
                        $('#BerthOperatorCharge').val(data.acp.BerthOperatorCharge);
                        $('#CNFAIT').val(data.acp.CNFAIT);
                        $('#CNFCost').val(data.acp.CNFCost);
                        $('#CostValue').val(data.acp.CostValue);
                        $('#CreditReportCharges').val(data.acp.CreditReportCharges);
                        $('#CustomJettyExpenses').val(data.acp.CustomJettyExpenses);
                        $('#DonationFees').val(data.acp.DonationFees);
                        $('#Duty').val(data.acp.Duty);
                        $('#ExcessGoods').val(data.acp.ExcessGoods);
                        $('#FreightCharges').val(data.acp.FreightCharges);
                        $('#LIBOR').val(data.acp.LIBOR);
                        $('#HandlingCharge').val(data.acp.HandlingCharge);
                        $('#HystarCharge').val(data.acp.HystarCharge);
                        $('#InsurancePremium').val(data.acp.InsurancePremium);
                        $('#LabourCharge').val(data.acp.LabourCharge);
                        $('#LCOpeningCommission').val(data.acp.LCOpeningCommission);
                        $('#LCOpeningCommissionVAT').val(data.acp.LCOpeningCommissionVAT);
                        $('#Margin').val(data.acp.Margin);
                        $('#MiscellaneousExpenses').val(data.acp.MiscellaneousExpenses);
                        $('#OnlineCharge').val(data.acp.OnlineCharge);
                        $('#PortCharges').val(data.acp.PortCharges);
                        $('#PostageAndCourier').val(data.acp.PostageAndCourier);
                        $('#RCCCharge').val(data.acp.RCCCharge);
                        $('#ScanningCharge').val(data.acp.ScanningCharge);
                        $('#ServiceCharge').val(data.acp.ServiceCharge);
                        $('#ShippingAgentCharges').val(data.acp.ShippingAgentCharges);
                        $('#ShippingGuaranteeCommission').val(data.acp.ShippingGuaranteeCommission);
                        $('#StampAndStationery').val(data.acp.StampAndStationery);
                        $('#SwiftCharges').val(data.acp.SwiftCharges);
                        $('#TruckFare').val(data.acp.TruckFare);
                        $('#VAT').val(data.acp.VAT);
                        $('#Wharfrent').val(data.acp.Wharfrent);
                        $('#Remarks').val(data.acp.Remarks);

                        $('#Depocharges').val(data.acp.Depocharges);
                        $('#ContainerRepairCharges').val(data.acp.ContainerRepairCharges);
                        $('#CusTomDuty').val(data.acp.CusTomDuty);
                        $('#RegularDuty').val(data.acp.RegularDuty);
                        $('#SupplementaryDuty').val(data.acp.SupplementaryDuty);
                        $('#ValueAddedTax').val(data.acp.ValueAddedTax);
                        $('#AdvanceTax').val(data.acp.AdvanceTax);



                        let attachments = JSON.parse(data.attachments);
                        $('#cl_link').html('');
                        $.each(attachments, function (key, value) {
                            if (value == "CommercialInvoice") {
                                $('#cl_link').html('<a target="_blank" href="' + 'http://192.168.0.47/ipms/attachments/' + key + '">' + key + '</a>');
                            }
                        })

                        $('.only-number').each(function () {
                            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        });

                        $('.only-currency').each(function () {
                            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        });
                        //}

                        $.ajax({
                            type: "POST",
                            datatype: "json",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("RowTemplate")',
                            data: JSON.stringify({ pleid: $('#PLEId').val() }),
                            success: function (pldata) {
                                $('#tblbody').html(pldata);

                                $("#ActualReceiveDate").data('daterangepicker').setStartDate(convertStrToDate($('#ReceiveDate').val()));
                                //$('#ActualReceiveDate').val($('#ReceiveDate').val());
                                $('#MRRNo').val($('#MRR').val());
                                $('#totalqty').html($('#TQty').val());
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert(errorThrown);
                }
            });
        });

        function setQty(t, dn) {
            dn = dn || 0;
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(dn).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");

                    var tAmt = 0.00, tQty = 0;
                    $('.arq').each(function () {
                        tQty += eval($(this).html().replace(/\,/g, ''));
                    });

                    $('#totalqty').html(tQty.toFixed(3).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function update_landed_costing_status() {
            if ($('#LCAcceptanceId') == '' || $('#LCAcceptanceId') == '0') {
                alert('Please select an acceptance no.');
                return false;
            }

            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("CostingStatusUpdate")',
                data: JSON.stringify({
                    id: $('#LCAcceptanceId').val()
                }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Landed costing of ' + $('#LCAcceptanceId').select2('data')[0].text.split(' >> ')[0] + ' complete successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("LandedCosting")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        }

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            //if (eval($('#LCAmount').val().replace(/\,/g, '')) != eval($('#totamt').val().replace(/\,/g, ''))) {
            //    alert('LC amount and total amount is not same.');
            //    //alert(eval($('#PIFileAmount').val()) + ' # ' + eval($('#totalamt').html()));
            //    return;
            //};

            //if ($('#PIList').val() == '' || $('#PIList').val() == null) {
            //    alert('Select PI no.');
            //    return;
            //}
            ////else if (table.rows().data().length <= 0) {
            ////    alert('No details information.');
            ////    return;
            ////}

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var lcost = {
                LandedCostingId: $('#LandedCostingId').val(), LCFileId: $('#LCFileId').val(), PLEId: $('#PLEId').val(),
                LCAcceptanceId: $('#LCAcceptanceId').val(), LCOpeningCommission: $('#LCOpeningCommission').val(),
                LCOpeningCommissionVAT: $('#LCOpeningCommissionVAT').val(), SwiftCharges: $('#SwiftCharges').val(),
                StampAndStationery: $('#StampAndStationery').val(), PostageAndCourier: $('#PostageAndCourier').val(),
                AmendmentCharges: $('#AmendmentCharges').val(), CreditReportCharges: $('#CreditReportCharges').val(),
                ShippingAgentCharges: $('#ShippingAgentCharges').val(), PortCharges: $('#PortCharges').val(),
                ShippingGuaranteeCommission: $('#ShippingGuaranteeCommission').val(), CNFCost: $('#CNFCost').val(),
                InsurancePremium: $('#InsurancePremium').val(), AcceptanceCommission: $('#AcceptanceCommission').val(),
                Duty: $('#Duty').val(), AIT: $('#AIT').val(), LIBOR: $('#LIBOR').val(), HandlingCharge: $('#HandlingCharge').val(),
                CostValue: $('#CostValue').val(), FreightCharges: $('#FreightCharges').val(), OnlineCharge: $('#OnlineCharge').val(),
                DonationFees: $('#DonationFees').val(), VAT: $('#VAT').val(), CNFAIT: $('#CNFAIT').val(), Wharfrent: $('#Wharfrent').val(),
                ScanningCharge: $('#ScanningCharge').val(), LabourCharge: $('#LabourCharge').val(), ExcessGoods: $('#ExcessGoods').val(),
                CustomJettyExpenses: $('#CustomJettyExpenses').val(), ServiceCharge: $('#ServiceCharge').val(), TruckFare: $('#TruckFare').val(),
                BerthOperatorCharge: $('#BerthOperatorCharge').val(), RCCCharge: $('#RCCCharge').val(), HystarCharge: $('#HystarCharge').val(),
                MiscellaneousExpenses: $('#MiscellaneousExpenses').val(), Margin: $('#Margin').val(), Remarks: $('#Remarks').val(),
                SwiftChargesAcceptanceCommission: $('#SwiftChargesAcceptanceCommission').val(),
                CusTomDuty: $('#CusTomDuty').val(), RegularDuty: $('#RegularDuty').val(), SupplementaryDuty: $('#SupplementaryDuty').val(),
                ValueAddedTax: $('#ValueAddedTax').val(), AdvanceTax: $('#AdvanceTax').val(), Depocharges: $('#Depocharges').val(),
                ContainerRepairCharges: $('#ContainerRepairCharges').val()
            };

            var arqdet = [];

            $('#lcostdet > tbody  > tr').each(function () {
                arqdet.push({
                    PLEId: $(this).find("td:eq(6)").text(), PLESubId: $(this).find("td:eq(7)").text(),
                    ActualReceivedQuantity: $(this).find("td:eq(5)").text().replace(/\,/g, '')
                });
                //alert($(this).find("td:eq(2)").text())
            });

            //alert(JSON.stringify({ lcMainView: lcmain, lcSub: lcsub }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LandedCostingSave")',
                data: JSON.stringify({
                    pleid: $('#PLEId').val(), cost: lcost, mrrno: $('#MRRNo').val(),
                    ardate: $('#ActualReceiveDate').val(), cino: $('#CINo').val(),
                    cidate: $('#CIDate').val(), pldet: arqdet
                }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Landed costing of ' + $('#LCAcceptanceId').select2('data')[0].text.split(' >> ')[0] + ' save successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("LandedCosting")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}


