﻿@model FundManagement.Models.DBFirst.PipelineMain

<div class="form-group row">
    @Html.LabelFor(model => model.LCFileId, "LC No", new { @class = "col-common col-sm-3 label-control" }, true)
    <div class="col-sm-7 controls">
        @Html.DropDownList("PipelineId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", onchange = "show_reason(this.value)" })
    </div>
</div>


<div class="form-group row">
    @Html.LabelFor(model => model.ReasonForLateBankRetirement, "Reason", new { @class = "col-common col-sm-3 label-control" }, true)
    <div class="col-sm-7 controls">
        @Html.EditorFor(model => model.ReasonForLateBankRetirement, "MultilineTextWOL", new { rows = 10 })
    </div>
</div>

<script>
    $('#PipelineId').select2({
        placeholder: "Select or Type . . .",
        allowClear: true
    });
</script>


