﻿@model IEnumerable<FundManagement.Models.PipelineView>

@{int rIndex = 0; decimal tQty = 0, tAmt = 0; string MRRNo = ""; DateTime ActualReceiveDate = DateTime.Today; }
@foreach (var item in Model.OrderBy(c => c.CategoryId).ThenBy(c => c.ItemName.Length).ThenBy(c => c.ItemName))
{
    ++rIndex; tQty += item.StockInTransit; tAmt += item.PipelineValue; MRRNo = item.MRRNo; ActualReceiveDate = item.ActualReceiveDate;
    <tr>
        <td style="text-align: center; width: 5%;">@rIndex.ToString("000")</td>
        <td style="display: none;">@item.ItemId</td>
        <td style="text-align: left; width: 65%;">@item.ItemName</td>
        <td style="text-align: right; width: 10%;">@item.StockInTransit.ToString("##,##0.000")</td>
        <td style="text-align: left; width: 10%;">@item.QuantityUnit</td>
        <td id="sit_@rIndex" class="arq" style="text-align: right; width: 10%;" ondblclick="setQty(this, 3)">@item.StockInTransit.ToString("##,##0.000")</td>
        @*<td style="display: none;">@item.PipelineValue</td>
        <td style="display: none;">@item.UnitPrice</td>*@
        <td style="display: none;">@item.PLEId</td>
        <td style="display: none;">@item.PLESubId</td>
    </tr>
}

@Html.Hidden("MRR", MRRNo)
@Html.Hidden("ReceiveDate", ActualReceiveDate.ToString("dd-MMM-yyyy"))
@Html.Hidden("TQty", tQty.ToString("##,##0.000"))
@Html.Hidden("TAmt", tAmt.ToString("##,##0.000"))


