﻿@model IEnumerable<FundManagement.Models.ODDetails>
    
@{int rownow = 0;}
@*@if (Model != null && Model.Count() > 0)
{*@
    @foreach (var item in Model)
    {
        rownow += 1;
        <tr>
            <td style="text-align: center;">
                @rownow.ToString("000")
            </td>
            <td style="text-align: center;">
                @item.TransactionDate.ToString("dd-MMM-yyyy")
            </td>
            <td style="text-align: right;">
                @item.ClosingBalance.ToString("##,##0.00")
            </td>
            <td style="text-align: right;">
                @item.InterestRate.ToString("##,##0.00")
            </td>
            <td style="text-align: right;">
                @item.InterestRateOD.ToString("##,##0.00")
            </td>
            <td style="text-align: right;">
                @item.Interest.Value.ToString("##,##0.00")
            </td>
            <td style="text-align: right; display: none;">
                @item.ODInterest.Value.ToString("##,##0.00")
            </td>
            <td style="text-align: center; display: none;">
                <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this, @item.ODDetailsId);"><i class="fa fa-pencil"></i></a>
                <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this, @item.ODDetailsId);"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
@*}
else
{
    <tr>
        <td style="text-align: left; width: 100%;" colspan="8">No data found.</td>
    </tr>
}*@
