﻿@model FundManagement.Models.ODMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        OD
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">@(Model != null && Model.ODId > 0 ? "Edit" : "New") :: Over Draft</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            @*@if (ViewBag.IsEdit == true)
            {
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Create")">New Over Draft</a></div>
            }
            else
            {
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Edit")">Edit Over Draft</a></div>
            }*@
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2"><a class="dropdown-item" href="@Url.Action("Index")">Over Draft List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Over Draft Info
                                        @if (Model != null && Model.ODId != null && Model.ODId > 0)
                                        { 
                                            <span style="float: right">Over Draft # <span style="color: red; font-weight: bold;">@Model.ODNo</span></span>
                                        }
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.ODId)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ODNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-6 controls">
                                                    @Html.EditorFor(model => model.ODNo, "StringWOL")
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.OpeningDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-6 controls">
                                                    @Html.EditorFor(model => model.OpeningDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-6 controls">
                                                    @Html.DropDownListFor(model => model.CompanyId, (SelectList)ViewBag.Company, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuerBankId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-6 controls">
                                                    @Html.DropDownListFor(model => model.IssuerBankId, (SelectList)ViewBag.IssuerBank, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuerBranchId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="brlist" class="col-sm-6 controls">
                                                    @Html.DropDownListFor(model => model.IssuerBranchId, (SelectList)ViewBag.IssuerBranch, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Remarks, new { @class = "col-common col-sm-3 label-control" }, false)
                                                <div class="col-sm-6 controls">
                                                    @Html.EditorFor(model => model.Remarks, "MultilineTextWOL")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('#IssuerBankId').change(function () {
            //alert($(this).val());
            getBranchList($(this).val(), 'brlist', 'IssuerBranchId');
        })

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var odmain = {
                ODId: $('#ODId').val(), ODNo: $('#ODNo').val(), CompanyId: $('#CompanyId').val(), IssuerBankId: $('#IssuerBankId').val(),
                IssuerBranchId: $('#IssuerBranchId').val(), OpeningDate: $('#OpeningDate').val(), Remarks: $('#Remarks').val()
            };

            //alert(JSON.stringify({ poSub: prList }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ odmain: odmain }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');
                        if (odmain.ODId == 0) {
                            $('#atext').html('Over Draft # ' + msg.odno + '" save successfully.');
                        }
                        else {
                            $('#atext').html('Over Draft # ' + msg.odno + ' update successfully.');
                        }

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {
    
}
