﻿@model FundManagement.Models.ODDetails

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        OD
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Manage :: Closing Balance</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Over Draft Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.HiddenFor(model => model.ODDetailsId)
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ODMain.ODNo, new { @class = "col-common col-sm-5 label-control" }, false)
                                                <div class="col-sm-7 controls">
                                                    @Html.DropDownList("ODId", null, string.Empty, new { @class = "form-control select oddetails", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.TransactionDate, new { @class = "col-common col-sm-5 label-control" }, false)
                                                <div class="col-sm-7 controls">
                                                    @Html.EditorFor(model => model.TransactionDate, "DateTimeWOL")
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ClosingBalance, new { @class = "col-common col-sm-5 label-control" }, false)
                                                <div class="col-sm-7 controls">
                                                    @Html.EditorFor(model => model.ClosingBalance, "DecimalWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InterestRate, new { @class = "col-common col-sm-5 label-control" }, false)
                                                <div class="col-sm-7 controls">
                                                    @Html.EditorFor(model => model.InterestRate, "DecimalWOL")
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InterestRateOD, new { @class = "col-common col-sm-5 label-control" }, false)
                                                <div class="col-sm-7 controls">
                                                    @Html.EditorFor(model => model.InterestRateOD, "DecimalWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Remarks, new { @class = "col-common col-sm-5 label-control" }, false)
                                                <div class="col-sm-7 controls">
                                                    @Html.EditorFor(model => model.Remarks, "MultilineTextWOL")
                                                </div>
                                            </div>
                                            @*@Html.HiddenFor(model => model.Remarks)*@
                                        
                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.ODMain.OpeningDate, new { @class = "col-common col-sm-3 label-control" }, false)
                                                <div class="col-sm-9 controls">
                                                    @Html.DisplayFor(model => model.ODMain.OpeningDate)
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ODMain.CompanyId, "Company", new { @class = "col-common col-sm-3 label-control" }, false)
                                                <div class="col-sm-9 controls">
                                                    @Html.DisplayFor(model => model.ODMain.CompanyId)
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ODMain.IssuerBankId, "Bank", new { @class = "col-common col-sm-3 label-control" }, false)
                                                <div class="col-sm-9 controls">
                                                    @Html.DisplayFor(model => model.ODMain.IssuerBankId)
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ODMain.IssuerBranchId, "Branch", new { @class = "col-common col-sm-3 label-control" }, false)
                                                <div id="brlist" class="col-sm-9 controls">
                                                    @Html.DisplayFor(model => model.ODMain.IssuerBranchId)
                                                </div>
                                            </div>*@
                                        </div>

                                        <div class="col-md-6 offset-left">
                                            <table id="lsdetails" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">
                                                            SL #
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Date
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Closing
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Int. Rate
                                                        </th>
                                                        <th style="text-align: center;">
                                                            P Int Rate
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Interest
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            P Interest
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            <a id="btnAdd" data-toggle="tooltip" data-original-title="Add Schedule" onclick="addSchedule(this);"><i class="fa ft-plus-circle" style="color: white; cursor: pointer;"></i><span style="color: antiquewhite; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody">
                                                    <tr>
                                                        <td style="text-align: center; width: 10%;">
                                                            
                                                        </td>
                                                        <td style="text-align: center; width: 20%;">
                                                            
                                                        </td>
                                                        <td style="text-align: right; width: 30%;">
                                                            
                                                        </td>
                                                        <td style="text-align: right; width: 20%;">
                                                            
                                                        </td>
                                                        <td style="text-align: right; width: 20%;">
                                                            
                                                        </td>
                                                        <td style="text-align: right; display: none;">
                                                            
                                                        </td>
                                                        <td style="text-align: right; display: none;">
                                                            
                                                        </td>
                                                        <td style="text-align: center; display: none;">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').not('.threedigit').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').not('.threedigit').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });


    $('.rdate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });


    var table;
    table = $('#lsdetails').DataTable({
        //destroy: true,
        scrollY: '258px',
        scrollCollapse: true,
        paging: false,
        filter: false,
        ordering: false,
        info: false
    });

    $('#ODId').change(function () {
        if ($('#ODId').val() == '') {
            return;
        }
        $.ajax({
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("BalanceDetails")',
                data: JSON.stringify({ id: $('#ODId').val() }),
                success: function (data) {
                    table.destroy(); //table.clear().draw();
                    $('#tbody').html(data);
                    table = $('#lsdetails').DataTable({
                        //destroy: true,
                        scrollY: '256px',
                        scrollCollapse: true,
                        paging: false,
                        filter: true,
                        ordering: false,
                        info: false
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            @*$.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ODInfo")',
                data: JSON.stringify({ id: $('#ODId').val() }),
                success: function (data) {
                    $('#tbody').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });*@
        });

        @*$('#TransactionDate').change(function () {
            if ($('#ODId').val() == '' || $('#TransactionDate').val() == '') {
                $('#ClosingBalance').val('0.00');
                $('#ODDetailsId').val('0');
                $('#InterestRate').val('0.00');
                $('#InterestRateOD').val('0.00');
                $('#Remarks').val('');
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ClosingBalance")',
                data: JSON.stringify({ id: $('#ODId').val(), date: $('#TransactionDate').val() }),
                success: function (msg) {
                    $('#ClosingBalance').val(msg.clbal);
                    $('#ODDetailsId').val(msg.oddetailsid);
                    $('#InterestRate').val(msg.ir);
                    $('#InterestRateOD').val(msg.pir);
                    $('#Remarks').val(msg.remarks);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#ClosingBalance').val('0.00');
                    $('#ODDetailsId').val('0');
                    $('#InterestRate').val('0.00');
                    $('#InterestRateOD').val('0.00');
                    $('#Remarks').val('');
                    alert(errorThrown);
                }
            });
        });*@

    $('#btnSave').click(function () {
        $("#frm").trigger("submit.validationSubmit");
        if ($("#frm").jqBootstrapValidation("hasErrors")) {
            return false;
        }
        if (confirm('Are you sure want to save?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }

        $('.only-number').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });
        $('.only-currency').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });

        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        var details = {
            ODId: $('#ODId').val(), TransactionDate: $('#TransactionDate').val(), ClosingBalance: $('#ClosingBalance').val(),
            InterestRate: $('#InterestRate').val(), InterestRateOD: $('#InterestRateOD').val(), Remarks: $('#Remarks').val()
            //ODDetailsId: $('#ODDetailsId').val(), 
        };

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').not('.threedigit').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        //alert(JSON.stringify({ poSub: prList }));
        //return;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("UpdateClosingBalance")',
            data: JSON.stringify({ details: details }),
            success: function (msg) {
                if (msg.status == 'NotAuthorized') {
                    $('#loginpartial').modal('show');
                }
                else if (msg.status == 'Error') {
                    //alert(msg.message);
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-danger');
                    $('#asummary').html('!!!Error!!!')
                    $('#atext').html('Save failed due to "' + msg.message + '".');
                    //$('#btnAlert').attr('onclick', '');

                    $('#alert').modal('show');
                }
                else {
                    $('#alertdiv').removeClass('alert-success alert-danger');
                    $('#alertdiv').addClass('alert-success');
                    $('#asummary').html('Success!!');
                    //$('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');
                    $('#atext').html('Closing Balance of Over Draft # ' + $('#ODId').select2('data')[0].text + ' ' + msg.ttype + ' successfully.');
                    
                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Save failed.\nSee log for more information.");
            }
        });
    });
</script>
}

@section CSS {
@Styles.Render("~/datatable/css")
}
