﻿@model FundManagement.Models.ReceivableDocument

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Receivable Document
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Receivable Document</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Receivable List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Receivable Info</h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-5">
                                            @Html.HiddenFor(model => model.DocumentId)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, "Company", new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-8 controls">
                                                    @Html.DropDownListFor(model => model.CompanyId, (SelectList)ViewBag.CompanyList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DocumentNo, new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-4 controls">
                                                    @Html.EditorFor(model => model.DocumentNo, "StringWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DocumentName, new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-8 controls">
                                                    @Html.EditorFor(model => model.DocumentName, "StringWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DocumentDate, new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-4 controls">
                                                    @Html.EditorFor(model => model.DocumentDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ReceiveDate, new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-4 controls">
                                                    @Html.EditorFor(model => model.ReceiveDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DocumentTypeId, "Type", new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-8 controls">
                                                    @Html.DropDownListFor(model => model.DocumentTypeId, (SelectList)ViewBag.DocumentTypes, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PayableId, "Customer", new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-8 controls">
                                                    @Html.DropDownListFor(model => model.PayableId, (SelectList)ViewBag.AccountList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PayableAmount, new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-4 controls">
                                                    @Html.EditorFor(model => model.PayableAmount, "DecimalWOL")
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Remarks, new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-8 controls">
                                                    @Html.EditorFor(model => model.Remarks, "MultilineTextWOL")
                                                </div>
                                            </div>
										</div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.rdate').not(':input[readonly]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            //minDate: [moment(), 'inclusive'],
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            allowClear: true
        });

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            if (convertStrToDate($('#ReceiveDate').val()) < convertStrToDate($('#DocumentDate').val())) //moment().format("DD-MMM-YYYY")
            {
                alert('Receive date must not be less than document date.');
                $('#ReceiveDate').focus();
                return;
            }

            if (eval($('#PayableAmount').val().replace(/\,/g, '')) == 0) {
                alert('Payable amount must not be zero.');
                $('#PayableAmount').focus();
                return;
            }

            var doc_info = {
                DocumentId: $('#DocumentId').val(), DocumentName: $('#DocumentName').val(), DocumentNo: $('#DocumentNo').val(),
                DocumentDate: $('#DocumentDate').val(), ReceiveDate: $('#ReceiveDate').val(), 
                DocumentTypeId: $('#DocumentTypeId').val(), PayableId: $('#PayableId').val(), 
                PayableAmount: $('#PayableAmount').val().replace(/\,/g, ''),
                CompanyId: $('#CompanyId').val(), Remarks: $('#Remarks').val()
            };

            //alert(JSON.stringify({ poSub: prList }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ doc_info: doc_info }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Document # ' + msg.docno + ' save successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}
