﻿@model FundManagement.Models.LCMainView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        LC
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">@(Model != null && Model.LCFileId > 0 ? "Edit" : "New") :: LC</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">LC List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-book"></i> General Info
                                        @if (Model != null && Model.LCFileId != null && Model.LCFileId > 0)
                                        { 
                                            <span style="float: right">LC File # <span style="color: red; font-weight: bold;">@Model.LCFileNo</span></span>
                                        }
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.HiddenFor(model => model.LCFileId)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PIList, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.PIList, (MultiSelectList)ViewBag.PIFileList, string.Empty, new { @class = "form-control select", @multiple = "multiple", @style = "width: 100%;", @onchange = "getDetails(this.value)" })
                                                </div>
                                            </div>

                                            @Html.EditorFor(model => model.LCNo)

                                            @Html.EditorFor(model => model.LCDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuerBankId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.IssuerBankId, (SelectList)ViewBag.IssuerBank, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.IssuerBranchId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="brlist" class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.IssuerBranchId, (SelectList)ViewBag.IssuerBranch, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.NegotiatingBank, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.NegotiatingBank, (SelectList)ViewBag.NegotiatingBankList, string.Empty, new { @class = "form-control selectwt", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BeneficiaryBank, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.BeneficiaryBank, (SelectList)ViewBag.BeneficiaryBankList, string.Empty, new { @class = "form-control selectwt", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @*@Html.EditorFor(model => model.LCType)*@

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ShipmentDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.ShipmentDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.ExpireDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.ExpireDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.SupplierTenure, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.SupplierTenure, "Int16WOL")
                                                </div>
                                                <div class="col-sm-5 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.STenureTypeId, (SelectList)ViewBag.STenureType, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankTenure, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.BankTenure, "Int16WOL")
                                                </div>
                                                <div class="col-sm-5 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.BTenureTypeId, (SelectList)ViewBag.BTenureType, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CoverNoteNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.CoverNoteNo, "StringWOL")
                                                </div>
                                                <div class="col-sm-5 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.CoverNoteDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InsuranceValue, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.InsuranceValue, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.InsurancePremium, "Premium", new { @class = "col-common col-sm-2 label-control" })
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.InsurancePremium, "DecimalWOL")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BeneficiaryId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.BeneficiaryId, (SelectList)ViewBag.Company, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.SupplierId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.Supplier, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LocalAgentId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.LocalAgentId, (SelectList)ViewBag.Agent, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.OriginCountryId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.OriginCountryId, (SelectList)ViewBag.Country, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.POLId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.POLId, (SelectList)ViewBag.POL, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @Html.EditorFor(model => model.TenureStartDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LCAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.DropDownListFor(model => model.CurrencyId, (SelectList)ViewBag.Currency, string.Empty, new { @class = "form-control select-only", @disabled = "disabled", @required = "", @style = "width: 100%;" }) 
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.LCAmount, "DecimalWOL", new { @class = "amount" })
                                                </div>
                                                <div class="col-sm-2 offset-left offset-right controls">
                                                    @Html.EditorFor(model => model.BDTRate, "AtTheRate", new { @class = "amount" })
                                                </div>
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.EditorFor(model => model.AmountInBDT, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.USDRate, "Amount In USD", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.USDRate, "AtTheRate", new { @class = "amount" })
                                                </div>
                                                <div class="col-sm-5 offset-left controls">
                                                    @Html.EditorFor(model => model.AmountInUSD, "DecimalWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            @Html.EditorFor(model => model.Remarks)
                                        </div>
                                    </div>
                                    <h4 class="form-section" style="margin-top: 30px;"><i class=" ft-copy"></i> Item List</h4>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <table class="table table-striped table-bordered compact table-primary col-sm-12">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align: center;">
                                                                    SL #
                                                                </th>
                                                                <th style="text-align: center;">
                                                                    Requisiton #
                                                                </th>
                                                                <th style="text-align: center;">
                                                                    Item Name
                                                                </th>
                                                                <th style="text-align: center;">
                                                                    Factory ETA
                                                                </th>
                                                                <th style="text-align: center;">
                                                                    HS Code
                                                                </th>
                                                                <th style="text-align: center;">
                                                                    Import Quantity
                                                                </th>
                                                                <th style="text-align: center;">
                                                                    Unit
                                                                </th>
                                                                <th style="text-align: center;">
                                                                    Unit Price
                                                                </th>
                                                                <th style="text-align: center;">
                                                                    Amount
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="ItemDetails">
                                                            @Html.Action("PIProductList") @*, new { PIList = Model.LCWisePIs.Select(c => c.PIFileId).ToList() }*@
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-striped table-bordered compact table-primary col-sm-12">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align: center; padding: 3px !important;">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            
                                        </div>
                                        <div class="col-sm-3" style="margin-top: 10px !important;">
                                            <div class="form-group row">
                                                @Html.Label("", "Total Quantity :", new { @class = "col-common col-sm-6 label-control" })
                                                @Html.Label("", "0.00", new { @id = "totqty", @class = "col-common col-sm-6 label-control", @style = "padding-right: 15px !important;" })
                                            </div>
                                            <div class="form-group row">
                                                @Html.Label("", "Total Amount :", new { @class = "col-common col-sm-6 label-control" })
                                                @Html.Hidden("totamt", 0)
                                                @Html.Label("", "0.00", new { @id = "lbltamt", @class = "col-common col-sm-6 label-control", @style = "padding-right: 15px !important;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    //$(".date").inputmask("yyyy-mm-dd", { "placeholder": "yyyy-mm-dd" });//dd/mm/yyyy
    //$(".date").datepicker({'setDate': $(this).val()});
    //$(".date").datepicker("option", "dateFormat", 'dd-M-yy');
    //$(".date").datepicker('update', new Date());
    $('.rdate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        allowClear: true,
        //dropdownAutoWidth: true
    });

    $('select.select-only').select2({
        placeholder: "Select . . .",
        allowClear: true,
        //dropdownAutoWidth: true
    });

    $('select.selectwt').select2({
        placeholder: "Select or type . . .",
        allowClear: true,
        tags: true,
        createTag: function (params) {
            var term = $.trim(params.term).toUpperCase();

            if (term === '') {
                return null;
            }

            return {
                id: term,
                text: term
            }
        }
    });

    $('#IssuerBankId').change(function () {
        //alert($(this).val());
        getBranchList($(this).val(), 'brlist', 'IssuerBranchId');
    })

    $('.amount').change(function () {
        var num = new Number(eval($('#USDRate').val().replace(/\,/g, '')) * eval($('#LCAmount').val().replace(/\,/g, '')));
        $('#AmountInUSD').val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        num = new Number(eval($('#BDTRate').val().replace(/\,/g, '')) * eval($('#LCAmount').val().replace(/\,/g, '')));
        $('#AmountInBDT').val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    var sub = @Html.Raw(Json.Encode(ViewBag.LCSub));

    //jQuery.grep(jsVal, function(obj) {
    //    if (obj.LCSubId === 2){
    //        obj.Status = "Test";
    //    }
    //});

    //alert(JSON.stringify(jsVal));
        var pilist; var status = true;
        function getDetails(e) {
            //alert(JSON.stringify({ id: $('#QAList').val(), supid: $('#SupplierId').val() }));
            if ($('#PIList').val() == '' || $('#PIList').val() == null || status == false) {
                $('#ItemDetails').html('');
                $('#BeneficiaryId').val('').trigger('change');
                $('#SupplierId').val('').trigger('change');
                $('#LocalAgentId').val('').trigger('change');
                $('#POLId').val('').trigger('change');
                $('#OriginCountryId').val('').trigger('change');
                $('#totqty').html('0.00');
                $('#CurrencyId').val('').trigger('change');
                $('#totamt').val('0.00');
                $('#lbltamt').html('0.00');

                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("PIDetails")",
                data: JSON.stringify({ id: $('#PIList').val() }),
                success: function (data) {
                    if (data.status == 'Error') {
                        alert(data.message);

                        status = false;

                        $('#PIList').val(pilist).trigger('change');

                        status = true;
                    }
                    else {
                        $('#BeneficiaryId').val(data.BeneficiaryId).trigger('change');
                        $('#SupplierId').val(data.SupplierId).trigger('change');
                        $('#LocalAgentId').val(data.LocalAgentId).trigger('change');
                        $('#POLId').val(data.POLId).trigger('change');
                        $('#OriginCountryId').val(data.OriginCountryId).trigger('change');
                        
                        myjsbrid = data.BranchId;
                        $('#IssuerBankId').val(data.BankId).trigger('change');

                        pilist = $('#PIList').val();

                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: "@Url.Action("PIProductList")",
                            data: JSON.stringify({ id: $('#PIList').val() }),
                            success: function (data) {

                                //table.destroy();
                                //alert(data);
                                $('#ItemDetails').html(data);

                                $('#totqty').html($('#TQty').val() + ' (' + $('#QtyUnit').val() + ')');
                                //alert($('#LCCur').val());
                                $('#CurrencyId').val($('#LCCur').val()).trigger('change');
                                $('#totamt').val($('#TAmt').val());
                                $('#lbltamt').html($('#TAmt').val() + ' (' + $('#CurrencyId').select2('data')[0].text + ')');
                                //toTable();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        if ($('#PIList').val() != null && $('#PIList').val() != '') {
            getDetails($('#PIList').val());
        }

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")){
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            if (eval($('#LCAmount').val().replace(/\,/g, '')) != eval($('#totamt').val().replace(/\,/g, ''))) {
                alert('LC amount and total amount is not same.');
                //alert(eval($('#PIFileAmount').val()) + ' # ' + eval($('#totalamt').html()));
                return;
            };

            if ($('#PIList').val() == '' || $('#PIList').val() == null) {
                alert('Select PI no.');
                return;
            }
            //else if (table.rows().data().length <= 0) {
            //    alert('No details information.');
            //    return;
            //}

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var lcmain = {
                LCNo: $('#LCNo').val(), LCDate: $('#LCDate').val(), BeneficiaryId: $('#BeneficiaryId').val(),
                LocationId: $('#LocationId').val(), IssuerBankId: $('#IssuerBankId').val(), IssuerBranchId: $('#IssuerBranchId').val(),
                NegotiatingBank: $('#NegotiatingBank').val(), BeneficiaryBank: $('#BeneficiaryBank').val(),
                SupplierId: $('#SupplierId').val(), LocalAgentId: $('#LocalAgentId').val(), OriginCountryId: $('#OriginCountryId').val(),
                POLId: $('#POLId').val(), ShipmentDate: $('#ShipmentDate').val(), ExpireDate: $('#ExpireDate').val(), LCType: 'IMPORT',
                SupplierTenure: $('#SupplierTenure').val(), STenureTypeId: $('#STenureTypeId').val(), BankTenure: $('#BankTenure').val(),
                BTenureTypeId: $('#BTenureTypeId').val(), TenureStartDate: $('#LCDate').val(), CoverNoteNo: $('#CoverNoteNo').val(),
                CoverNoteDate: $('#CoverNoteDate').val(), MarineNoteNo: $('#MarineNoteNo').val(), MarineNoteDate: $('#MarineNoteDate').val(),
                InsuranceValue: $('#InsuranceValue').val().replace(/\,/g, ''), InsurancePremium: $('#InsurancePremium').val().replace(/\,/g, ''), 
                LCAmount: $('#LCAmount').val().replace(/\,/g, ''), CurrencyId: $('#CurrencyId').val(), USDRate: $('#USDRate').val(),
                BDTRate: $('#BDTRate').val(), PIList: $('#PIList').val(), Remarks: $('#Remarks').val()
            };

            var lcsub = {
                AmendmentNo: '-', AmendmentDate: '1900-01-01', AmendmentTypeId: 1, Remarks: 'NEW LC'
            };

            //alert(JSON.stringify({ lcMainView: lcmain, lcSub: lcsub }));
            //return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ lcMainView: lcmain, lcSub: lcsub }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('LC # ' + msg.lcno + '" save successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {
    
}
