﻿@model FundManagement.Models.LCMain

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LCMain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BTenureType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BTenureType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerBank.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerBank.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerBranch.BranchCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerBranch.BranchCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NegotiationBank.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NegotiationBank.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STenureType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STenureType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierBank.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierBank.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCFileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCFileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeneficiaryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalAgentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalAgentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginCountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginCountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POLId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POLId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierTenure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierTenure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankTenure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankTenure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenureStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenureStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverNoteNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverNoteNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverNoteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverNoteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarineNoteNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarineNoteNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarineNoteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarineNoteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BDTRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BDTRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USDRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USDRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountInUSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountInUSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountInBDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountInBDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
