﻿@model IEnumerable<FundManagement.Models.LCMainView>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        LC
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title mb-0">LC List</h3>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Create")">New LC</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table id="lclist" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 4%;">
                                            SL #
                                        </th>
                                        <th style="text-align: center; width: 9%;">
                                            File #
                                        </th>
                                        <th style="text-align: center; width: 10%;">
                                            LC No
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            LC Date
                                        </th>
                                        <th style="text-align: center;">
                                            Applicant
                                        </th>
                                        <th style="text-align: center; width: 7%;">
                                            Bank
                                        </th>
                                        <th style="text-align: center;">
                                            Supplier
                                        </th>
                                        <th style="text-align: center;">
                                            Cover Note
                                        </th>
                                        <th style="text-align: center; width: 8%;">
                                            Expire Date
                                        </th>
                                        <th style="text-align: right; width: 8%;">
                                            Amount
                                        </th>
                                        <th style="text-align: center; width: 5%;">
                                            
                                        </th>
                                        <th style="width: 6%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var index = 0;}
                                    @foreach (var item in Model.OrderByDescending(c => c.LCDate))
                                    {
                                        index++;
                                        <tr class="selectable">
                                            <td style="text-align: center; width: 4%;">
                                                @index.ToString("000")
                                            </td>
                                            <td style="text-align: left; width: 9%;">
                                                @Html.DisplayFor(modelItem => item.LCFileNo)
                                            </td>
                                            <td style="text-align: left; width: 10%;">
                                                @Html.DisplayFor(modelItem => item.LCNo)
                                            </td>
                                            <td style="text-align: center; width: 8%;">
                                                @item.LCDate.Value.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Applicant)
                                            </td>
                                            <td style="text-align: left; width: 7%;">
                                                @Html.DisplayFor(modelItem => item.IssuerBank)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Supplier)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CoverNoteNo)
                                            </td>
                                            <td style="text-align: center; width: 8%;">
                                                @item.ExpireDate.Value.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td style="text-align: right; width: 8%;">
                                                @item.LCAmount.Value.ToString("##,##0.00")
                                            </td>
                                            <td style="text-align: left; width: 5%;">
                                                @Html.DisplayFor(modelItem => item.CurrencyType)
                                            </td>
                                            <td style="text-align: center; width: 6%;">
                                                <a href="@Url.Action("Details", new { id = item.LCFileId })" title="" data-toggle="tooltip" data-original-title="View" class="table-button-item"><i class="fa fa-eye"></i></a>
                                                @if (FundManagement.Models.clsMain.IsPermitted("LCMain", "Edit"))
                                                {
                                                    <a href="@Url.Action("Edit", new { id = item.LCFileId })" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                                                }
                                                @if (FundManagement.Models.clsMain.IsPermitted("LCMain", "Delete"))
                                                {
                                                    <a href="@Url.Action("Delete", new { id = item.LCFileId })" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
        $('#lclist').DataTable({
            paging: true,
            filter: true,
            ordering: false,
            info: true
        });
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

