﻿@model IEnumerable<FundManagement.Models.PIWiseItemDetails>

@if (Model != null && Model.Count() > 0)
{ 
    foreach (var item in Model)
    {
        <tr class="selectable">
            <td style="text-align: center;">
                @item.SLNo.ToString("00")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td style="text-align: center;">
                @item.FactoryETA.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HSCode)
            </td>
            <td style="text-align: right;">
                @item.Quantity.ToString("##,##0.00")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityUnit)
            </td>
            <td style="text-align: right;">
                @item.UnitPrice.ToString("##,##0.000000")
            </td>
            <td style="text-align: right;">
                @item.Amount.ToString("##,##0.00")
            </td>
        </tr>
    }
    @Html.Hidden("TQty", Model.Select(c => c.Quantity).Sum().ToString("##,##0.00"))
    @Html.Hidden("TAmt", Model.Select(c => c.Amount).Sum().ToString("##,##0.00"))
    @Html.Hidden("QtyUnit", Model.FirstOrDefault().QuantityUnit)
    @Html.Hidden("LCCur", Model.FirstOrDefault().CurrencyId)
}
else
{
    <tr class="selectable"><td colspan="9">No data available.</td></tr>
    @Html.Hidden("TQty", "0.00")
    @Html.Hidden("TAmt", "0.00")
    @Html.Hidden("QtyUnit", "")
    @Html.Hidden("LCCur", "")
}
