﻿@model FundManagement.Models.AdjustmentSub

<div class="form-group row lb-lt">
    @Html.LabelFor(model => model.AdjustmentFor, new { @class = "col-common col-sm-1 label-control lb-lt", @style = "Padding-Left: 10px !important;" }, false)
    @Html.LabelFor(model => model.LoanId, new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
    <div class="col-sm-2 controls">
        <div class="form-group row lb-lt">
            @Html.LabelFor(model => model.ScheduleId, "Inst No", new { @class = "col-common col-sm-4 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.Principal, new { @class = "col-common col-sm-8 label-control lb-lt" }, false)
        </div>
    </div>
    <div class="col-sm-5 controls">
        <div class="form-group row lb-lt">
            @Html.LabelFor(model => model.Interest, new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.Libor, new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.HandlingCharge, new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.ExciseDuty, "Ex Duty", new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.BankCharge, "B Charge", new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.SettlementFee, new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
        </div>
    </div>
    @Html.LabelFor(model => model.Amount, "Total", new { @class = "col-common col-sm-2 label-control lb-lt" }, true)
</div>
<div class="form-group row">
    <div class="col-sm-1 offset-right-1 controls">
        @Html.DropDownListFor(model => model.AdjustmentFor, (SelectList)ViewBag.PayForList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", @onchange = "getRefList(this.value);" })
    </div>
    <div id="reflist" class="col-sm-2 offset-left-1 offset-right-1 controls">
        @Html.DropDownListFor(model => model.RefId, (SelectList)ViewBag.LoanList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", @onchange = "getScheduleList(this.value);" })
    </div>
    <div class="col-sm-2 controls">
        <div class="form-group row lb-lt">
            <div id="schlist" class="col-sm-4 offset-left-1 offset-right-1 controls">
                @Html.DropDownListFor(model => model.ScheduleId, (SelectList)ViewBag.ScheduleList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
            </div>
            <div class="col-sm-8 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.Principal, "DecimalWOL", new { @class = "amt" })
            </div>
        </div>
    </div>
    <div class="col-sm-5 controls">
        <div class="form-group row lb-lt">
            <div class="col-sm-2 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.Interest, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-2 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.Libor, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-2 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.HandlingCharge, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-2 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.ExciseDuty, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-2 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.BankCharge, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-2 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.SettlementFee, "DecimalWOL", new { @class = "amt" })
            </div>
        </div>
    </div>
    
    <div class="col-sm-2 offset-left-1 controls">
        @Html.EditorFor(model => model.Amount, "DecimalWOL", new { @readonly = "readonly" })
    </div>
</div>
<div class="form-group row lb-lt">
    <div class="col-sm-12">
        <button type="button" id="btnAdd" class="btn-success" style="width: 100%;">
            <i class="fa ft-plus"></i> Add
        </button>
    </div>
</div>

<script>
    $('.amt').change(function () {
        var tamt = 0;
        $('.amt').each(function () {
            tamt += eval($(this).val().replace(/\,/g, ''));
        });
        $('#Amount').val((new Number(tamt).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")));
    });
</script>

