﻿<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template.">
    <meta name="author" content="PIXINVENT">
    <title>Fund Management System</title>
    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="icon" href="~/Content/app-assets/images/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/fonts.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
    @Styles.Render("~/vendor/css")
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/forms/validation/form-validation.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/pickers/pickadate/pickadate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/pickers/daterange/daterange.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/animate/animate.css">
    <!-- BEGIN VENDOR JS-->
    <script src="~/Content/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <style>
        .columnwhrap {
            white-space: normal; /* This will make the text wrap within the table header cell */
        }
    </style>
    <!-- BEGIN VENDOR JS-->
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-dark bg-blue-grey bg-lighten-1 navbar-border navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="index-2.html">
                            <img class="brand-logo" alt="robust admin logo" src="/fund/Content/app-assets/images/logo/logo-light-sm.png">
                            <h3 class="brand-text">Fund Management System</h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                        <li class="nav-item nav-search">
                            <a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
                            <div class="search-input">
                                <input class="input" type="text" placeholder="Explore Robust...">
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        @{string emppicurl = (@Session["UserName"] != null ? "http://203.82.207.168/kdsxs/EmployeeInfo/Employee_image/" + (@Session["UserName"].ToString().ToLower() == "noman" ? "XHQ1029-11" : @Session["UserName"]) + ".jpg" : "/fund/Content/app-assets/images/expire.png");}

                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="avatar avatar-online"><img src="@emppicurl" alt=""><i></i></span><span class="user-name">@(Session["UserTitle"] == null ? "Session" + Environment.NewLine + "Expire" : @Session["UserTitle"])</span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Url.Action("Profile", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })"><i class="ft-user"></i> My Profile</a>
                                <a class="dropdown-item" href="#"><i class="ft-mail"></i> My Inbox</a>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword", "User", new { id = Session["UserId"], returnUrl = HttpContext.Current.Request.RawUrl })"><i class="ft-check-square"></i> Change Password</a>
                                <a class="dropdown-item" href=""><i class="ft-message-square"></i> Chats</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="@Url.Action("LogOff", "User")"><i class="ft-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- Horizontal navigation-->
    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow navbar-brand-center navbar-dark" role="navigation" data-menu="menu-wrapper">
        <!-- Horizontal menu content-->
        <div class="navbar-container main-menu-content" data-menu="menu-container" style="width: 50% !important;">
            <!-- include ../../../includes/mixins-->
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="index-2.html" data-toggle="dropdown"><i class="icon-home"></i><span data-i18n="nav.dash.main">Dashboard</span></a>
                    <ul class="dropdown-menu">
                        <li class="active" data-menu="">
                            <a class="dropdown-item" href="#" data-toggle="dropdown">Dashboard 1</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle="dropdown">Dashboard 2</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" id="m_setup" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-wrench"></i><span data-i18n="nav.templates.main">Setup</span></a>
                    <ul class="dropdown-menu">
                        <li class="" data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Banks")" data-toggle="dropdown">Bank</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "BankAccount")" data-toggle="dropdown">Bank Account</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Sanction")" data-toggle="dropdown">Sanction Details</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "MonthlyExpenses")" data-toggle="dropdown">Monthly Expenses</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "CashFlowShortages")" data-toggle="dropdown">Cash Flow Shortages</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Manage", "Budget", new { id = "amount" })" data-toggle="dropdown">Import Budget (Value)</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Manage", "Budget", new { id = "quantity" })" data-toggle="dropdown">Import Budget (Quantity)</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "DailyAccountPosition")" data-toggle="dropdown">Daily Uses Balance</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Requisition", "Cheque")" data-toggle="dropdown">Cheque Book Requisition</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("ApprovalPending", "Cheque")" data-toggle="dropdown">Requisition Approval</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Cheque")" data-toggle="dropdown">Cheque Info</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Document")" data-toggle="dropdown">Project/Aggrement Info</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" id="m_entry" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-note"></i><span data-i18n="nav.layouts.temp">Entry-1</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("PIInHand", "PI")" data-toggle="dropdown">PI Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("CSForLC", "PI")" data-toggle="dropdown">CS For LC Opening</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LC")" data-toggle="dropdown">LC Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LCAcceptance")" data-toggle="dropdown">Acceptance Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Loan")" data-toggle="dropdown">Loan Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "OverDraft")" data-toggle="dropdown">Over Draft Info</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Manage", "OverDraft")" data-toggle="dropdown">OD Closing Balance</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Payment")" data-toggle="dropdown">Payment Information</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Adjustment")" data-toggle="dropdown">Adjustment Information</a>
                        </li>
                        @*<li class="dropdown nav-item" id="m_entry" data-menu="dropdown">
                            <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Report <i class="fa fa-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("PIInHand", "PI")" data-toggle="dropdown">PI Information</a>
                                </li>
                            </ul>
                        </li>*@

                                @*<li class="has-submenu">
                <a href="#">
                    <i class="fa fa-angle-double-right"></i>
                    Instruction
                </a>
                <ul class="submenu">
                    <li class="" typeof="Report" >
                        <a class="" href="@Url.Action("Create", "ChequeInstruction", new { id = "" })">Cheque Instruction (General)</a>
                    </li>
                    <li class="" typeof="Report">
                        <a class="" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstOI" })">Cheque Instruction (OI)</a>
                    </li>
                    <li class="" typeof="Report">
                        <a class="" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstBill" })">Cheque Instruction (Bill)</a>
                    </li>
                    <li class="" typeof="Report">
                        <a class="" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstSBill" })">Cheque Instruction (Service Bill)</a>
                    </li>
                    <li class="" typeof="Report">
                        <a class="" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstPO" })">Cheque Instruction (PO)</a>
                    </li>
                    <li class="" typeof="Report">
                        <a class="" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstTDSVDS" })">Cheque Instruction TDSVDS</a>
                    </li>
                </ul>

            </li>*@

                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("Create", "ChequeInstruction", new { id = "" })" data-toggle="dropdown">Cheque Instruction (General)</a>

                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstOI" })" data-toggle="dropdown">Cheque Instruction (OI)</a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstBill" })" data-toggle="dropdown">Cheque Instruction (Bill)</a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstSBill" })" data-toggle="dropdown">Cheque Instruction (Service Bill)</a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstPO" })" data-toggle="dropdown">Cheque Instruction (PO)</a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("Create", "ChequeInstruction", new { id = "InstructionAgainstTDSVDS" })" data-toggle="dropdown">Cheque Instruction TDSVDS</a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("Create", "Payorder")" data-toggle="dropdown">Instruction For Payorder</a>
                                </li>

                                @if (Session["UserId"].ToString().Equals("4") || Session["UserId"].ToString().Equals("109"))
                                {
                                    <li data-menu="">
                                        <a class="dropdown-item" href="@Url.Action("ApprovalPending", "ChequeInstruction")" data-toggle="dropdown">Cheque Instruction Approval</a>
                                    </li>
                                }
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("PendingChequeReceive", "ChequeReceive")" data-toggle="dropdown">Pending Cheque Receive</a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("PendingInstruction", "ChequePayment")" data-toggle="dropdown">Cheque Payment</a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("PendingAdjustment", "ChequePayment")" data-toggle="dropdown">Bill Adjustment</a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="@Url.Action("Cancel", "Cheque")" data-toggle="dropdown">Cheque Cancel</a>
                                </li>
                            </ul>
                        </li>
                <li class="dropdown nav-item" id="m_option" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-grid"></i><span data-i18n="nav.layouts.temp">Entry-2</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Settlement", "Loan")" data-toggle="dropdown">Loan Settlement</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Transfer", "Loan")" data-toggle="dropdown">Loan Transfer</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Reschedule", "Loan")" data-toggle="dropdown">Loan Reschedule</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("InterestGenerate", "Loan")" data-toggle="dropdown">Generate Interest</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "CashFlow")" data-toggle="dropdown">Cash Flow Entry</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LiabilityReconciliation")" data-toggle="dropdown">Liability Reconciliation Entry</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "DailyFundPosition")" data-toggle="dropdown">Daily Fund Entry</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("LandedCosting", "LCAcceptance")" data-toggle="dropdown">Landed Costing</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Index", "WharfRent")" data-toggle="dropdown">Wharf Rent</a>
                        </li>
                    </ul>
                </li>
                @*<li class="dropdown nav-item" data-menu="dropdown">*@
                <li class="dropdown mega-dropdown nav-item" id="m_report" data-menu="megamenu">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="fa fa-laptop"></i><span data-i18n="nav.category.support">Report</span></a>
                    <ul class="mega-dropdown-menu dropdown-menu row" style="margin: 0 !important;">
                        <li class="col-md-3" data-mega-col="col-md-3">
                            <ul class="drilldown-menu">
                                <li class="menu-list">
                                    <ul class="mega-menu-sub">
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("PIInHand", "Report")" data-toggle="dropdown">PI In Hand</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("CSProfile", "Report")" data-toggle="dropdown">Comparative Statement</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("PIForward", "Report")" data-toggle="dropdown">PI Forward To Bank</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("Bank", "Report")" data-toggle="dropdown">Bank Info</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LC", "Report")" data-toggle="dropdown">LC Reports</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("Acceptance", "Report")" data-toggle="dropdown">Acceptance Reports</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LoanRegister", "Report")" data-toggle="dropdown">Loan Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LoanPosition", "Report")" data-toggle="dropdown">Loan Position</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("InterestDetails", "Report")" data-toggle="dropdown">Monthly Interest Details</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("PaymentRegister", "Report")" data-toggle="dropdown">Payment Register</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-3" data-mega-col="col-md-3">
                            <ul class="drilldown-menu">
                                <li class="menu-list">
                                    <ul class="mega-menu-sub">
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("PaymentForecasting", "Report")" data-toggle="dropdown">Next 6/12 Month Forecasting</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LoanRepayment", "Report")" data-toggle="dropdown">Daily Loan Repayment</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("Adjustment", "Report")" data-toggle="dropdown">Adjustment Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("SanctionRegister", "Report")" data-toggle="dropdown">Sanction Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("ChequeRegister", "Report")" data-toggle="dropdown">Cheque Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("TotalChequeDue", "Report")" data-toggle="dropdown">Total Cheque Due</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("BusinessPerformance", "Report")" data-toggle="dropdown">Business Performance</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("CashFlowForecast", "Report")" data-toggle="dropdown">Cash Flow Forecast</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LiabilityReconciliation", "Report")" data-toggle="dropdown">Liability Reconciliation Report</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("DailyFundPosition", "Report")" data-toggle="dropdown">Daily Fund Position</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-3" data-mega-col="col-md-3">
                            <ul class="drilldown-menu">
                                <li class="menu-list">
                                    <ul class="mega-menu-sub">
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LandedCosting", "Report")" data-toggle="dropdown">Landed Costing</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LiabilityCompare", "Report")" data-toggle="dropdown">Liability Compare</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("RatioAnalysis", "Report")" data-toggle="dropdown">Liability Ratio Analysis</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("UnUtilizeInsurance", "Report")" data-toggle="dropdown">Un Utilize Insurance Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("History", "Cheque")" data-toggle="dropdown">Cheque Wise Cheque History</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LoanDetails", "Report")" data-toggle="dropdown">Loan Wise Loan Deatils</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("BudgetPosition", "Report")" data-toggle="dropdown">Budget Position</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("CostReconciliation", "Report")" data-toggle="dropdown">Cost Reconciliation (UPAS)</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LocalPurchasePayable", "Report")" data-toggle="dropdown">Local Purchase Payable</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("LocalPurchaseAdvance", "Report")" data-toggle="dropdown">Advance Report</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-3" data-mega-col="col-md-3">
                            <ul class="drilldown-menu">
                                <li class="menu-list">
                                    <ul class="mega-menu-sub">
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("ProjectProfile", "Report")" data-toggle="dropdown">Project Profile</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("AdjustmentRegister", "Report")" data-toggle="dropdown">Adjustment Register</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("CBRequisitionProfile", "Report")" data-toggle="dropdown">Cheque Book Requistion</a>
                                        </li>
                                        <li data-menu="">
                                            <a class="dropdown-item" href="@Url.Action("WhrafRentRegister", "Report")" data-toggle="dropdown">Wharf rent & Detention Charges </a>
                                        </li>
                                        @*<li data-menu="">
                                                <a class="dropdown-item" href="@Url.Action("LiabilityReconciliation", "Report")" data-toggle="dropdown">Liability Reconciliation Report</a>
                                            </li>
                                            <li data-menu="">
                                                <a class="dropdown-item" href="@Url.Action("DailyFundPosition", "Report")" data-toggle="dropdown">Daily Fund Position</a>
                                            </li>*@
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="fa fa-buysellads"></i><span data-i18n="nav.category.support">Administration</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "CustomType")" data-toggle="dropdown">Type</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LC")" data-toggle="dropdown">Role</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "LCAcceptance")" data-toggle="dropdown">Role -> Permission</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Loan")" data-toggle="dropdown">Menu Tracking</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Loan")" data-toggle="dropdown">User -> Access</a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="@Url.Action("Create", "Payment")" data-toggle="dropdown">Menu</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navbar-container main-menu-content float-right" data-menu="menu-container" style="width: 50% !important;">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation" style="float: right;">
                <li class="dropdown nav-item" data-menu="dropdown">
                    <img src="/fund/Content/app-assets/images/logo.png" style="height: 60px; width: 165px; margin-top: 0px;">
                </li>
            </ul>
        </div>
        <!-- /horizontal menu content-->
    </div>
    <!-- Horizontal navigation-->

    <div class="app-content content">
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
                <!-- Modal -->
                <div class="modal fade text-left" id="alert" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="top: 35%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Alert</h4>
                                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>*@
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-success" role="alert" id="alertdiv">
                                    <span class="text-bold-600" id="asummary">text</span> <span id="atext">text</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnAlert" class="btn grey btn-outline-secondary" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
                <!-- Modal -->
                <div class="modal fade text-left" id="sub_modal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="sub_modal" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" @*style="top: 35%;"*@>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="sub_modal_caption">Alert</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" id="sub_modal_body">

                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn_sub_modal" class="btn grey btn-outline-secondary" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
                <!-- Modal -->
                <div class="modal fade text-left" id="loginpartial" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document" style="top: 25%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Login</h4>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", style = "padding: 0rem 1.25rem; font-size: 1.5rem;" }))
                                {
                                    <fieldset class="form-group position-relative has-icon-left mb-0">
                                        <input type="text" class="form-control form-control-lg input-lg" id="UserName" name="UserName" placeholder="Your Username" required="" style="font-size: 1.25rem !important; font-weight: bold; letter-spacing: 1px;">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="password" class="form-control form-control-lg input-lg" id="UserPWD" name="UserPWD" placeholder="Enter Password" required="" style="font-size: 1.25rem !important; font-weight: bold; letter-spacing: 3px;">
                                        <div class="form-control-position">
                                            <i class="fa fa-key"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <span id="lmsg" style="color: darkred; font-size: 1.15rem;"></span>
                                    </fieldset>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnpcancel" class="btn grey btn-outline-success" @*onclick="$('#btnplogin').trigger('click');"*@ style="display: none;">Cancel</button>
                                <button type="button" id="btnplogin" class="btn grey btn-outline-success">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <footer class="footer footer-static footer-dark">
        <img src="~/Content/app-assets/images/a.jpg" style="display: inline-block; margin-bottom: 2px; margin-left: -80px; max-height: 6px; width: 150%; margin-top:1px; vertical-align: top; border: 0;" class="theme-divider">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2" style="padding: 0px !important; margin-top: -6px !important;"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2018 - 2019 <a class="text-bold-800 grey darken-2" href="http://kdsaccessories.com/" target="_blank">KDS Accessories Ltd. </a>, All rights reserved. </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Verson 1.1.0</span></p>
    </footer>

    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" src="~/Content/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/Content/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/unslider-min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/forms/select/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript"></script>

    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="~/Content/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script type="text/javascript" src="~/Content/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/picker.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/picker.date.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/picker.time.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/pickadate/legacy.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/forms/validation/form-validation.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script type="text/javascript" src="~/Content/app-assets/js/myjs.js"></script>
    <!-- END PAGE LEVEL JS-->
    @RenderSection("Scripts", required: false)
    @RenderSection("CSS", required: false)


    <script>
        //$('#loginpartial').modal('show');

        //console.log('Setup');
        //$('#m_setup .dropdown-item').each(function () {
        //    console.log($(this).html());
        //});
        //console.log('Entry');
        //$('#m_entry .dropdown-item').each(function () {
        //    console.log($(this).html());
        //});
        //console.log('Option');
        //$('#m_option .dropdown-item').each(function () {
        //    console.log($(this).html());
        //});
        //console.log('Report');
        //$('#m_report .dropdown-item').each(function () {
        //    console.log($(this).html());
        //});

        function alertMesg() {
            alert("This ok function alerts my message!");
        }

        //alertMesg(); // alerts "This ok function alerts my message!"

        $('#btnpcancel').click(function () {
            //$("#btnplogin").trigger("click");

            // do whatever you want to the function here
            var temp = alertMesg.toString();
            temp = temp.replace('my', 'your');

            // now replace the original function
            alertMesg = new Function(temp.substring(temp.indexOf('{') + 1, temp.lastIndexOf('}')));

            alertMesg();
        });

        $('#btnplogin').click(function () {
            //alert('Here');
            //return;
            var user = { UserName: $('#UserName').val(), UserPWD: $('#UserPWD').val() };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Login", "User")',
                data: JSON.stringify({ userView: user, returnUrl: '', isAjaxCall: true }),
                success: function (msg) {
                    if (msg == 'Success') {
                        $('#lmsg').html('');
                        $('#loginpartial').modal('hide');
                    }
                    else {
                        $('#lmsg').html('Invalid user name or password.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
</body>
</html>