﻿@model FundManagement.Models.CustomTypeView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Type
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Type</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Type List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Type Info</h4>
                                    <div class="row">
                                        <div class="col-md-3">

                                        </div>
                                        <div class="col-md-5">
                                            @Html.HiddenFor(model => model.TypeId)

											@Html.EditorFor(model => model.TypeName)

											@Html.EditorFor(model => model.ShortName)

                                            @Html.EditorFor(model => model.GroupName)
                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.GroupName, new { @class = "col-common col-sm-3 label-control" }, false)
                                                <div class="col-sm-9 controls">
                                                    @Html.EditorFor(model => model.GroupName, "StringWOL")
                                                </div>
                                            </div>*@

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Flag, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.Flag, (SelectList)ViewBag.flags, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

											@Html.EditorFor(model => model.Activity)

											@Html.EditorFor(model => model.RankId)

										</div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
		if ($('#error').val().length > 0) {
            alert($('#error').val());
		}

		//$('#GroupName').removeAttr('required').removeAttr('data-val-required').removeAttr('data-val');
        
        $('select.select').not('#Flag').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('#Flag').select2({
            placeholder: "Select or Type . . .",
            tags: true
        });

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var type = {
                TypeId: $('#TypeId').val(), TypeName: $('#TypeName').val(), ShortName: $('#ShortName').val(),
                Flag: $('#Flag').val(), GroupName: $('#GroupName').val(), Activity: $('#Activity').val(),
                RankId: $('#RankId').val()
            };

            //alert(JSON.stringify({ poSub: prList }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ customType: type }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!');

                        if (type.TypeId == 0)
                            $('#atext').html('Type Name ' + msg.tname + ' save successfully.');
                        else
                            $('#atext').html('Type Name ' + msg.tname + ' update successfully.');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {
    
}
