﻿@model IEnumerable<FundManagement.Models.CustomType>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Type
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title mb-0">Type List</h3>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Create")">New Type</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact table-primary">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.Flag)
                                        </th>
                                        <th style="text-align: center;">
                                            Type
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.ShortName)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.GroupName)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.RankId)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.Activity)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderBy(c => c.Flag).ThenBy(c => c.TypeName))
                                    {
                                        <tr class="selectable">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Flag)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShortName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GroupName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RankId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Activity)
                                            </td>
                                            <td style="text-align: center">
                                                <a href="@Url.Action("Details", new { id = item.TypeId })" title="" data-toggle="tooltip" data-original-title="View" class="table-button-item"><i class="fa fa-eye"></i></a>
                                                @if (FundManagement.Models.clsMain.IsPermitted("CustomType", "Edit"))
                                                {
                                                    <a href="@Url.Action("Edit", new { id = item.TypeId })" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
                                                }
                                                @if (FundManagement.Models.clsMain.IsPermitted("CustomType", "Delete"))
                                                {
                                                    <a href="@Url.Action("Delete", new { id = item.TypeId })" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    
    <script>
        var table = $('.table').DataTable({
            destroy: true,
            //scrollY: '256px',
            //scrollCollapse: true,
            paging: true,
            filter: true,
            ordering: true,
            info: true
        });
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

