﻿@model IEnumerable<FundManagement.Models.BankBranch>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Bank Branch
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Branch List</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Create")">New Branch</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.BranchCode)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.BranchName)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.ShortName)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.Bank.BankName)
                                        </th>
                                        <th style="text-align: center;">
                                            @Html.DisplayNameFor(model => model.Activity)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="selectable">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BranchCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BranchName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShortName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Bank.BankName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Activity)
                                            </td>
                                            <td style="text-align: center">
                                                <a href="@Url.Action("Details", new { id = item.BranchId })" title="" data-toggle="tooltip" data-original-title="View"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                @if (FundManagement.Models.clsMain.IsPermitted("BankBranch", "Edit"))
                                                {
                                                    <a href="@Url.Action("Edit", new { id = item.BranchId })" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                @if (FundManagement.Models.clsMain.IsPermitted("BankBranch", "Delete"))
                                                {
                                                    <a href="@Url.Action("Delete", new { id = item.BranchId })" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                                }
                                                else
                                                {
                                                    <a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

