﻿@model FundManagement.Models.SanctionMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Sanction
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Sanction</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Sanction List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Sanction Info</h4>
                                    <div class="row">
                                        <div class="col-sm-2">

                                        </div>
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.SanctionId)

                                            @Html.EditorFor(model => model.SanctionNo)

											<div class="form-group row">
												@Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" }, true)
												<div class="col-sm-9 controls">
													@Html.DropDownListFor(model => model.BankId, (SelectList)ViewBag.Bank, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
												</div>
											</div>
                                            
                                            <div class="form-group row">
												@Html.LabelFor(model => model.BranchId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="brlist" class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.Branch, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
											</div>
										</div>
                                        <div class="col-sm-4">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.SanctionYear, new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-7 controls">
                                                    @Html.EditorFor(model => model.SanctionYear, "Int16WOL", new { @style = "text-align: left !important;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ExpireDate, new { @class = "col-common col-sm-4 label-control" }, true)
                                                <div class="col-sm-7 controls">
                                                    @Html.EditorFor(model => model.ExpireDate, "DateTimeWOL")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <h4 class="form-section"><i class="ft-user"></i> Facility Info</h4>
                                            <table id="sdetails" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; vertical-align: middle; width: 5%;">
                                                            SL #
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; display: none;">
                                                            Details Id
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; display: none;">
                                                            Type Id
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 9%;">
                                                            Facility Type
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            Facility Limit
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            Interest Rate
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            Penalty Rate
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            LC Com Rate
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            Accept Com Rate
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            Early Settle Fee
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            Margin
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            Charges
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            Others
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; display: none;">
                                                            Purpose
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 8%;">
                                                            Purpose
                                                        </th>
                                                        <th style="text-align: center; vertical-align: middle; width: 6%;">
                                                            <a title="" data-toggle="tooltip" data-original-title="Add Branch" onclick="facilityEntry(this);"><i class="fa ft-plus-circle" style="color: white; cursor: pointer;"></i><span style="color: antiquewhite; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if(Model != null && Model.SanctionDetails != null)
                                                    {
                                                        short rowNo = 1;
                                                        foreach (var details in Model.SanctionDetails)
                                                        {
                                                            details.RowNo = rowNo++;
                                                            @Html.Action("RowTemplate", new { details = details })
                                                        }
                                                    }
                                                    @*<tr>
                                                        <td style="text-align: center; vertical-align: middle; width: 5%;">01</td>
                                                        <td style="display: none;">1</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 10%;">AGRABAD</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 7%;">AGB</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 9%;">BBL876435</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 38%;">124/1, PHP HOUSE, COMMERCE COLLEGE RODE, AGRABAD, CTG.</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 17%;">MD. MAFIZUR RAHMAN</td>
                                                        <td style="text-align: left; vertical-align: middle; width: 8%;">01717298831</td>
                                                        <td style="text-align: center; vertical-align: middle; width: 6%;"></td>
                                                    </tr>*@
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                            <div class="form-group">
                                                <!-- Modal -->
                                                <div class="modal fade text-left" id="sdalert" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-success white">
                                                                <h4 class="modal-title">Facility Info</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row" id="sddiv">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnAdd" type="button" class="btn grey btn-outline-success" data-dismiss="modal" style="min-width: 100px;" onclick="AddFacility();">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.rdate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('#SanctionYear').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });

    $('#BankId').change(function () {
        //alert($(this).val());
        getBranchList($(this).val(), 'brlist', 'BranchId');
    });

    function facilityEntry() {
        rn = $('#sdetails>tbody>tr').length + 1;
        //alert(rn);
        //return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("DetailsTemplate")',
            success: function (msg) {
                $('#sddiv').html(msg);

                $('#btnAdd').html($('#btnAdd').html().replace('Update', 'Save'));
                $('#sdalert').modal('show');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    var isEdit = false; var row; var rn = 1;
    function AddFacility() {
        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('only-currency') && !$(this).hasClass('only-number')
                    && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        var facility = {
            RowNo: rn, SanctionDetailsId: $('#SanctionDetailsId').val(),
            SanctionTypeId: $('#SanctionTypeId').val(),
            SanctionTypeName: $('#SanctionTypeId').select2('data')[0].text,
            SanctionLimit: $('#SanctionLimit').val().replace(/\,/g, ''),
            InterestRate: $('#InterestRate').val().replace(/\,/g, ''),
            ODInterestRate: $('#ODInterestRate').val().replace(/\,/g, ''),
            LCCommissionRate: $('#LCCommissionRate').val().replace(/\,/g, ''),
            AcceptanceCommissionRate: $('#AcceptanceCommissionRate').val().replace(/\,/g, ''),
            EarlySettlementRate: $('#EarlySettlementRate').val().replace(/\,/g, ''),
            Margin: $('#Margin').val().replace(/\,/g, ''), ChargeRate: $('#ChargeRate').val().replace(/\,/g, ''),
            OtherChargeRate: $('#OtherChargeRate').val().replace(/\,/g, ''), Purpose: $('#Purpose').val()
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("RowTemplate")',
            data: JSON.stringify({ details: facility }),
            success: function (msg) {
                if (isEdit) {
                    $('#sdetails>tbody>tr:eq(' + (rn - 1) + ')').after(msg);
                    $('#sdetails>tbody>tr:eq(' + (rn - 1) + ')').remove();
                    $('#btnAdd').html($('#btnAdd').html().replace('Update', 'Save'));
                    isEdit = false;
                }
                else {
                    $('#sdetails>tbody').append(msg);
                }

                $('#sdalert').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    function editrow(e) {
        isEdit = true;
        rn = $(e).closest('tr').index() + 1;

        row = $('#sdetails>tbody>tr:eq(' + (rn - 1) + ')');

        var facility = {
            RowNo: rn, SanctionDetailsId: $.trim($(row).children('td:eq(1)').html()),
            SanctionTypeId: $.trim($(row).children('td:eq(2)').html()),
            SanctionTypeName: $.trim($(row).children('td:eq(3)').html()),
            SanctionLimit: $.trim($(row).children('td:eq(4)').html()).replace(/\,/g, ''),
            InterestRate: $.trim($(row).children('td:eq(5)').html()).replace(/\,/g, ''),
            ODInterestRate: $.trim($(row).children('td:eq(6)').html()).replace(/\,/g, ''),
            LCCommissionRate: $.trim($(row).children('td:eq(7)').html()).replace(/\,/g, ''),
            AcceptanceCommissionRate: $.trim($(row).children('td:eq(8)').html()).replace(/\,/g, ''),
            EarlySettlementRate: $.trim($(row).children('td:eq(9)').html()).replace(/\,/g, ''),
            Margin: $.trim($(row).children('td:eq(10)').html()).replace(/\,/g, ''),
            ChargeRate: $.trim($(row).children('td:eq(11)').html()).replace(/\,/g, ''),
            OtherChargeRate: $.trim($(row).children('td:eq(12)').html()).replace(/\,/g, ''),
            Purpose: $.trim($(row).children('td:eq(13)').html())
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("DetailsTemplate")',
            data: JSON.stringify({ details: facility }),
            success: function (msg) {
                $('#sddiv').html(msg);

                $('#btnAdd').html($('#btnAdd').html().replace('Save', 'Update'));
                $('#sdalert').modal('show');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };

    function delrow(e) {
        if (confirm('Are you sure want to delete?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }
        rn = $(e).closest('tr').index() + 1;

        $('#sdetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

        rn = 1;

        $('table#sdetails>tbody>tr td:first-child').each(function () {
            $(this).text((rn + 1000).toString().slice(-2));
            rn++;
        });
    };

    $('#btnSave').click(function () {
        $("#frm").trigger("submit.validationSubmit");
        if ($("#frm").jqBootstrapValidation("hasErrors")) {
            return false;
        }
        if (confirm('Are you sure want to save?')) {
            //alert('Thanks for confirming');
        } else {
            return;
        }

        $('.only-number').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });

        $('.only-currency').each(function () {
            $(this).val($(this).val().replace(/\,/g, ''));
        });

        $('input, textarea').each(function () {
            if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                $(this).val($(this).val().toString().toUpperCase());
            }
        });

        var sanction = {
            SanctionId: $('#SanctionId').val(), BranchId: $('#BranchId').val(), BankId: $('#BankId').val(),
            SanctionNo: $('#SanctionNo').val(), SanctionYear: $('#SanctionYear').val(), ExpireDate: $('#ExpireDate').val()
        };

        var details = [];
        for (rn = 0; rn < $('#sdetails>tbody>tr').length; rn++) {

            row = $('#sdetails>tbody>tr:eq(' + (rn) + ')');

            details.push({
                RowNo: rn + 1, SanctionId: $('#SanctionId').val(),
                SanctionDetailsId: $.trim($(row).children('td:eq(1)').html()),
                SanctionTypeId: $.trim($(row).children('td:eq(2)').html()),
                SanctionTypeName: $.trim($(row).children('td:eq(3)').html()),
                SanctionLimit: $.trim($(row).children('td:eq(4)').html()).replace(/\,/g, ''),
                InterestRate: $.trim($(row).children('td:eq(5)').html()).replace(/\,/g, ''),
                ODInterestRate: $.trim($(row).children('td:eq(6)').html()).replace(/\,/g, ''),
                LCCommissionRate: $.trim($(row).children('td:eq(7)').html()).replace(/\,/g, ''),
                AcceptanceCommissionRate: $.trim($(row).children('td:eq(8)').html()).replace(/\,/g, ''),
                EarlySettlementRate: $.trim($(row).children('td:eq(9)').html()).replace(/\,/g, ''),
                Margin: $.trim($(row).children('td:eq(10)').html()).replace(/\,/g, ''),
                ChargeRate: $.trim($(row).children('td:eq(11)').html()).replace(/\,/g, ''),
                OtherChargeRate: $.trim($(row).children('td:eq(12)').html()).replace(/\,/g, ''),
                Purpose: $.trim($(row).children('td:eq(13)').html())
            })
        };

        //alert(JSON.stringify({ sdetails: details }));

        //return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save")',
                data: JSON.stringify({ sanction: sanction, sdetails: details }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Sanction info of "' + msg.sno + '" save successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                    $('#alert').modal('show');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                alert("Save failed.\nSee log for more information.");
            }
        });
    });
</script>
}

@section CSS {
    
}
