﻿@model FundManagement.Models.SanctionDetails

<div class="col-sm-1">

</div>
<div class="col-sm-9">
    @Html.HiddenFor(model => model.SanctionDetailsId)

    <div class="form-group row">
        @Html.LabelFor(model => model.SanctionTypeId, "Facility Type", new { @class = "col-common col-sm-3 label-control" }, true)
        <div class="col-sm-9 controls">
            @Html.DropDownListFor(model => model.SanctionTypeId, (SelectList)ViewBag.Type, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
        </div>
    </div>

    @Html.EditorFor(model => model.SanctionLimit)

    @Html.EditorFor(model => model.InterestRate)

    @Html.EditorFor(model => model.ODInterestRate)

    @Html.EditorFor(model => model.LCCommissionRate)

    @Html.EditorFor(model => model.AcceptanceCommissionRate)

    @Html.EditorFor(model => model.EarlySettlementRate)

    @Html.EditorFor(model => model.Margin)

    @Html.EditorFor(model => model.ChargeRate)

    @Html.EditorFor(model => model.OtherChargeRate)

    @Html.EditorFor(model => model.Purpose)
</div>

<script>
    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        //dropdownAutoWidth: true
    });
</script>
