﻿@model FundManagement.Models.SanctionDetails

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        SanctionDetails
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Edit :: SanctionDetails</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				@if (FundManagement.Models.clsMain.IsPermitted("SanctionDetails", "Create"))
                {
                    <a class="dropdown-item" href="@Url.Action("Create")">New SanctionDetails</a>
                }
                else
                {
                    <a tabindex="-1" onclick="alert('You are not authorized');">New SanctionDetails</a>
                }
				<a class="dropdown-item" href="@Url.Action("Index")">List</a>
				@if (FundManagement.Models.clsMain.IsPermitted("SanctionDetails", "Delete"))
				{ 
					<a tabindex="-1" href="@Url.Action("Delete", new { id = Model.SanctionId })">Delete SanctionDetails</a>
				}
				else
				{
					<a tabindex="-1" onclick="alert('You are not authorized');">Delete SanctionDetails</a>
				}
				</div>
        </div>
    </div>
</div>



<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Bank Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
											<div class="form-group row">
												@Html.LabelFor(model => model.BranchId, new { @class = "col-common col-sm-3 label-control" }, true)
												<div class="col-sm-9 controls">
													@Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.BranchId, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
												</div>
											</div>

											<div class="form-group row">
												@Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" }, true)
												<div class="col-sm-9 controls">
													@Html.DropDownListFor(model => model.BankId, (SelectList)ViewBag.BankId, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
												</div>
											</div>

											<div class="form-group row">
												@Html.LabelFor(model => model.SanctionType, new { @class = "col-common col-sm-3 label-control" }, true)
												<div class="col-sm-9 controls">
													@Html.DropDownListFor(model => model.SanctionType, (SelectList)ViewBag.SanctionType, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
												</div>
											</div>

											@Html.EditorFor(model => model.SanctionYear)

											@Html.EditorFor(model => model.SanctionLimit)

											@Html.EditorFor(model => model.CreatedBy)

											@Html.EditorFor(model => model.RevisedBy)

											@Html.EditorFor(model => model.RevisedTime)

											@Html.EditorFor(model => model.IPAddress)

											@Html.EditorFor(model => model.PCName)

										</div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
		if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $(".date").inputmask("yyyy-mm-dd", { "placeholder": "yyyy-mm-dd" });//dd/mm/yyyy

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

		$('#frm').submit(function () {
            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('input').each(function () {
                    if ($(this).attr('name') != '__RequestVerificationToken') {
                        $(this).val($(this).val().toString().toUpperCase());
                    }
                });
            return true;
        });
    </script>
}

@section CSS {
    
}
