﻿@model FundManagement.Models.SanctionDetails

@if(Model != null && Model.RowNo > 0)
{ 
    <tr>
        <td style="text-align: center; vertical-align: middle; width: 5%;">
            @Model.RowNo.ToString("00")
        </td>
        <td style="display: none;">
            @Model.SanctionDetailsId
        </td>
        <td style="display: none;">
            @Model.SanctionTypeId
        </td>
        <td style="text-align: left; vertical-align: middle; width: 9%;">
            @Model.SanctionType.TypeName
        </td>
        <td style="text-align: right; vertical-align: middle; width: 8%;">
            @Model.SanctionLimit.ToString("##,##0.00")
        </td>
        <td style="text-align: right; vertical-align: middle; width: 8%;">
            @Model.InterestRate.ToString("##,##0.00")
        </td>
        <td style="text-align: right; vertical-align: middle; width: 8%;">
            @Model.ODInterestRate.ToString("##,##0.00")
        </td>
        <td style="text-align: right; vertical-align: middle; width: 8%;">
            @Model.LCCommissionRate.ToString("##,##0.00")
        </td>
        <td style="text-align: right; vertical-align: middle; width: 8%;">
            @Model.AcceptanceCommissionRate.ToString("##,##0.00")
        </td>
        <td style="text-align: right; vertical-align: middle; width: 8%;">
            @Model.EarlySettlementRate.ToString("##,##0.00")
        </td>
        <td style="text-align: right; vertical-align: middle; width: 8%;">
            @Model.Margin.ToString("##,##0.00")
        </td>
        <td style="text-align: right; vertical-align: middle; width: 8%;">
            @Model.ChargeRate.ToString("##,##0.00")
        </td>
        <td style="text-align: right; vertical-align: middle; width: 8%;">
            @Model.OtherChargeRate.ToString("##,##0.00")
        </td>
        <td style="display: none;">
            @Model.Purpose
        </td>
        <td style="text-align: left; vertical-align: middle; width: 8%;">
            @if(Model.Purpose.Length >= 10)
            { 
                @Model.Purpose.Substring(0, 10)
            }
            else
            {
                @Model.Purpose.Substring(0)
            }
        </td>
        <td style="text-align:center; vertical-align: middle; width: 6%;">
            <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>
            <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

