﻿@model FundManagement.Models.PaymentMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Payment
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">@(Model != null && Model.PaymentId > 0 ? "Edit" : "New") :: Payment</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Payment List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Payment Info
                                        @if (Model != null && Model.PaymentId != null && Model.PaymentId > 0)
                                        { 
                                            <span style="float: right">Payment # <span style="color: red; font-weight: bold;">@Model.PaymentNo</span></span>
                                        }
                                        else
                                        {
                                            <span style="float: right">Approx. Payment # <span style="color: red; font-weight: bold;">@Model.PaymentNo</span></span>
                                        }
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-6">
											@*@Html.EditorFor(model => model.PaymentNo, new { @readonly = "readonly" })*@
                                            @Html.HiddenFor(model => model.PaymentId)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PaymentDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-right controls">
                                                    @Html.EditorFor(model => model.PaymentDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.PaymentTypeId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left controls">
                                                    @Html.DropDownListFor(model => model.PaymentTypeId, (SelectList)ViewBag.PaymentType, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DocumentNo, "Doc. No & Date", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-5 offset-right controls">
                                                    @Html.EditorFor(model => model.DocumentNo, "StringWOL")
                                                </div>
                                                <div class="col-sm-4 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.DocumentDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            @Html.EditorFor(model => model.Remarks, new { rows = 3 })
										</div>
                                        <div id="refinfo" class="col-md-6">
                                        </div>

                                        <div id="paytemp" class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
                                            <div style="border: 1px solid #d4d4d4; padding: 5px;">
                                                @Html.Action("PayTemplate")
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <table id="lspayment" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 6%; text-align: center;">
                                                            SL #
                                                        </th>
                                                        <th style="display: none;">
                                                            Pay For
                                                        </th>
                                                        <th style="display: none;">
                                                            Ref Id
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Ref. No
                                                        </th>
                                                        <th style="display: none;">
                                                            Schedule Id
                                                        </th>
                                                        <th style="width: 6%; text-align: center;">
                                                            Inst. #
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Principal
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Interest
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Libor
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Handling
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Excise Duty
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Bank Charge
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Settle Fee
                                                        </th>
                                                        <th style="text-align: center;">
                                                            Total
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            A Cur Rate
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            Amount In Act Currency
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            Actual Currency
                                                        </th>
                                                        <th style="width: 5%;"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Action("RowTemplate")
                                                </tbody>
                                            </table>
                                            <table class="table table-striped table-bordered compact table-primary col-sm-12">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; padding: 3px !important;">
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="col-sm-9">

                                        </div>
                                        <div class="col-sm-3" style="margin-top: 10px !important;">
                                            <div class="form-group row">
                                                @Html.Label("", "Total Amount :", new { @class = "col-common col-sm-6 label-control" })
                                                @Html.Hidden("totamt", 0)
                                                @Html.Label("", "0.00", new { @id = "lbltamt", @class = "col-common col-sm-6 label-control", @style = "padding-right: 15px !important;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').not('#ConvertRate').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').not('#ConvertRate').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').not('#ConvertRate').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').not('#PaymentFor').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('#PaymentFor').select2({
            placeholder: "Select . . .",
            //dropdownAutoWidth: true
        });

        var isEdit = false; var row;
        var isSchOff = false; var rn = 1;

        function getRefList(type) {
            if (isSchOff)
                $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add'));

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ReferenceList")',
                data: JSON.stringify({ type: type }),
                success: function (msg) {
                    $('#reflist').html(msg);

                    $('#RefId').select2({
                        placeholder: "Select or Type . . .",
                        dropdownAutoWidth: true,
                        templateResult: function (data) {
                            var r = data.text.split(' >> ');
                            var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                                            '<div class="col-md-6 col-1">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                            '<div class="col-md-5 col-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                            //'<div class="col-md-4 col-3">' + (r.length > 2 ? r[2] : '') + '</div>' +
                                      '</div>';
                            var $result = $(row);
                            return $result;
                        },
                        templateSelection: function (data) {
                            var r = data.text.split(' >> ');
                            var $result = r[0];
                            return $result;
                        }
                    });

                    if (isSchOff) {
                        $('#RefId').val($.trim($(row).children('td:eq(2)').html())).trigger('change');
                    }
                    else {
                        getScheduleList(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getScheduleList(refid) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ScheduleList")',
                data: JSON.stringify({ type: $('#PaymentFor').val(), RefId: refid, SchId: 0 }),
                success: function (msg) {
                    $('#schlist').html(msg);
                    $('#ScheduleId').select2({
                        placeholder: "Select . . .",
                        dropdownAutoWidth: true
                    });

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("ReferenceDetails")',
                        data: JSON.stringify({ type: $('#PaymentFor').val(), RefId: refid }),
                        success: function (msg) {
                            $('#refinfo').html(msg);
                            
                            if (isSchOff) {
                                $('#ScheduleId').val($.trim($(row).children('td:eq(4)').html())).trigger('change');
                            }
                            else {
                                getScheduleDetails(0);
                            
                                $('#FCurrencyType').val($('#Currency_TypeName').val());
                                $('#ConvertRate').val('0.00');
                                $('#AmountFor').val('0.00');
                                if ($('#FCurrencyType').val() == 'BDT') {
                                    $('#AmountFor').prop('readonly', true);
                                }
                                else {
                                    $('#AmountFor').prop('readonly', false);
                                }
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function getScheduleDetails(id) {
            if (!isSchOff) {
                if (id == 0) {
                    $('#Principal').val('0.00');
                    $('#Interest').val('0.00');
                    $('#Libor').val('0.00');
                    $('#HandlingCharge').val('0.00');
                    $('#ExciseDuty').val('0.00');
                    $('#BankCharge').val('0.00');
                    $('#SettlementFee').val('0.00');
                    $('#Amount').val('0.00');
                    $('#AmountFor').val('0.00');
                    $('#ConvertRate').val('0.00');

                    return;
                }
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("ScheduleDetails")',
                    data: JSON.stringify({ type: $('#PaymentFor').val(), RefId: $('#RefId').val(), SchId: id }),
                    success: function (msg) {
                        $('#Principal').val(msg.principal);
                        $('#Interest').val(msg.interest);
                        $('#Libor').val(msg.libor);
                        $('#HandlingCharge').val(msg.handling);
                        $('#ExciseDuty').val(msg.exciseduty);
                        $('#BankCharge').val(msg.bankcharge);
                        $('#SettlementFee').val(msg.settlefee);
                        $('#Amount').val(msg.total);

                        $('#AmountFor').change();

                        $('#paytemp .only-number').each(function () {
                            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        });

                        $('#paytemp .only-currency').not('#ConvertRate').each(function () {
                            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
            else
                isSchOff = false;
        };

        $('#btnAdd').click(function () {
            if ($('#ScheduleId').val() == '') {
                alert('Installment no have to select.');
                $('#ScheduleId').focus();
                return;
            }
            if (eval($('#Amount').val().replace(/\,/g, '')) == 0) {
                alert('Total amount have to gretter than zero.');
                $('#Amount').focus();
                return;
            }
            if (eval($('#AmountFor').val().replace(/\,/g, '')) == 0) {
                alert('Amount of foreign currency have to gretter than zero.');
                $('#AmountFor').focus();
                return;
            }

            $('#paytemp .only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('#paytemp .only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            var sub = {
                RowNo: rn, PaymentFor: $('#PaymentFor').val(), RefId: $('#RefId').val(), RefNo: $('#RefId').select2('data')[0].text,
                Interest: $('#Interest').val(), ScheduleId: $('#ScheduleId').val(), InstallmentNo: $('#ScheduleId').select2('data')[0].text,
                Principal: $('#Principal').val(), ExciseDuty: $('#ExciseDuty').val(), HandlingCharge: $('#HandlingCharge').val(),
                Libor: $('#Libor').val(), BankCharge: $('#BankCharge').val(), SettlementFee: $('#SettlementFee').val(), Amount: $('#Amount').val(),
                ActualCurrencyRate: $('#ConvertRate').val(), AmountInActualCurrency: $('#AmountFor').val(),
                ActualCurrency: $('#FCurrencyType').val()
            };

            $('#paytemp .only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('#paytemp .only-currency').not('#ConvertRate').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RowTemplate")',
                data: JSON.stringify({ paySub: sub }),
                success: function (msg) {
                    if (isEdit) {
                        var amt = (eval($('#lbltamt').html().replace(/\,/g, '')) + (eval($('#Amount').val().replace(/\,/g, '')) - eval($.trim($(row).children('td:eq(13)').html().replace(/\,/g, '')))));
                        $('#lspayment>tbody>tr:eq(' + (rn - 1) + ')').after(msg);
                        $('#lspayment>tbody>tr:eq(' + (rn - 1) + ')').remove();
                        $('#lbltamt').html((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        isEdit = false;
                        $('#btnAdd').html($('#btnAdd').html().replace('Replace', 'Add'));
                    }
                    else {
                        $('#lspayment>tbody').append(msg);
                        var amt = (eval($('#lbltamt').html().replace(/\,/g, '')) + eval($('#Amount').val().replace(/\,/g, '')));
                        $('#lbltamt').html((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    }

                    rn = $('#lspayment>tbody>tr').length + 1;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Add failed.\nSee log for more information.");
                }
            });
        });

        function editrow(e) {
            isEdit = true; isSchOff = true;
            rn = $(e).closest('tr').index() + 1;

            row = $('#lspayment>tbody>tr:eq(' + (rn - 1) + ')');
            $('#PaymentFor').val($.trim($(row).children('td:eq(1)').html())).trigger('change');
            $('#Principal').val($.trim($(row).children('td:eq(6)').html()));
            $('#Interest').val($.trim($(row).children('td:eq(7)').html()));
            $('#Libor').val($.trim($(row).children('td:eq(8)').html()));
            $('#HandlingCharge').val($.trim($(row).children('td:eq(9)').html()));
            $('#ExciseDuty').val($.trim($(row).children('td:eq(10)').html()));
            $('#BankCharge').val($.trim($(row).children('td:eq(11)').html()));
            $('#SettlementFee').val($.trim($(row).children('td:eq(12)').html()));
            $('#Amount').val($.trim($(row).children('td:eq(13)').html()));
            $('#ConvertRate').val($.trim($(row).children('td:eq(14)').html()));
            $('#AmountFor').val($.trim($(row).children('td:eq(15)').html()));
            $('#FCurrencyType').val($.trim($(row).children('td:eq(16)').html()));

            if ($('#FCurrencyType').val() == 'BDT') {
                $('#AmountFor').prop('readonly', true);
            }
            else {
                $('#AmountFor').prop('readonly', false);
            }

            $('#btnAdd').html($('#btnAdd').html().replace('Add', 'Replace'));
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            var amt = (eval($('#lbltamt').html().replace(/\,/g, '')) - eval($('#lspayment>tbody>tr:eq(' + (rn - 1) + ')>td:eq(13)').html().replace(/\,/g, '')));
            //alert('amt:'+$('#lspayment>tbody>tr:eq(' + (rn - 1) + ')>td:eq(13)').html());
            $('#lspayment>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#lspayment>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-3));
                rn++;
            });

            $('#lbltamt').html((new Number(amt)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        };

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var paymentmain = {
                PaymentNo: $('#PaymentNo').val(), PaymentDate: $('#PaymentDate').val(), PaymentTypeId: $('#PaymentTypeId').val(),
                DocumentNo: $('#DocumentNo').val(), DocumentDate: $('#DocumentDate').val(), PaymentAmount: $('#PaymentAmount').val(),
                CurrencyId: $('#CurrencyId').val(), Remarks: $('#Remarks').val()
            };

            var paysub = [];
            var table = $('#lspayment').DataTable({
                paging: false,
                filter: false,
                ordering: false
            });

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 6) {
                    var arrayOfThisRow = {
                        PaymentFor: tableData[1], RefId: tableData[2], RefNo: tableData[3],
                        ScheduleId: tableData[4], InstallmentNo: tableData[5],
                        Principal: tableData[6].replace(/\,/g, ''), Interest: tableData[7].replace(/\,/g, ''),
                        Libor: tableData[8].replace(/\,/g, ''), HandlingCharge: tableData[9].replace(/\,/g, ''),
                        ExciseDuty: tableData[10].replace(/\,/g, ''), BankCharge: tableData[11].replace(/\,/g, ''),
                        SettlementFee: tableData[12].replace(/\,/g, ''), Amount: tableData[13].replace(/\,/g, ''),
                        ActualCurrencyRate: tableData[14], AmountInActualCurrency: tableData[15].replace(/\,/g, ''),
                        ActualCurrency: tableData[16], Remarks: '-'
                    };
                    //alert(arrayOfThisRow);
                    paysub.push(arrayOfThisRow);
                }
            });

            table.destroy();

            //alert(JSON.stringify({ poSub: prList }));
            //return;

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').not('#ConvertRate').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ paymentMain: paymentmain, paySub: paysub }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Payment entry # ' + msg.payno + ' save successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {
    

}
