﻿@model FundManagement.Models.PaymentSub

<div class="form-group row lb-lt">
    @Html.LabelFor(model => model.PaymentFor, new { @class = "col-common col-sm-1 label-control lb-lt", @style = "Padding-Left: 10px !important;" }, false)
    @Html.LabelFor(model => model.LoanId, new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
    <div class="col-sm-9 controls">
        <div class="form-group row lb-lt">
            @Html.LabelFor(model => model.ScheduleId, "Inst No", new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.Principal, new { @class = "col-common col-sm-2 label-control lb-lt" }, false)
        @*</div>
    </div>
    <div class="col-sm-4 controls">
        <div class="form-group row lb-lt">*@
            @Html.LabelFor(model => model.Interest, new { @class = "col-common col-sm-1 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.Libor, new { @class = "col-common col-sm-1 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.HandlingCharge, new { @class = "col-common col-sm-1 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.ExciseDuty, "Ex Duty", new { @class = "col-common col-sm-1 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.BankCharge, "B Charge", new { @class = "col-common col-sm-1 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.SettlementFee, new { @class = "col-common col-sm-1 label-control lb-lt" }, false)
            @Html.LabelFor(model => model.Amount, "Total", new { @class = "col-common col-sm-2 label-control lb-lt" }, true)
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-1 offset-right-1 controls">
        @Html.DropDownListFor(model => model.PaymentFor, (SelectList)ViewBag.PayForList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", @onchange = "getRefList(this.value);" })
    </div>
    <div id="reflist" class="col-sm-2 offset-left-1 offset-right-1 controls">
        @Html.DropDownListFor(model => model.RefId, (SelectList)ViewBag.LoanList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", @onchange = "getScheduleList(this.value);" })
    </div>
    <div class="col-sm-9 controls">
        <div class="form-group row lb-lt">
            <div id="schlist" class="col-sm-2 offset-left-1 offset-right-1 controls">
                @Html.DropDownListFor(model => model.ScheduleId, (SelectList)ViewBag.ScheduleList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
            </div>
            <div class="col-sm-2 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.Principal, "DecimalWOL", new { @class = "amt" })
            </div>
        @*</div>
    </div>
    <div class="col-sm-4 controls">
        <div class="form-group row lb-lt">*@
            <div class="col-sm-1 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.Interest, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-1 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.Libor, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-1 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.HandlingCharge, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-1 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.ExciseDuty, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-1 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.BankCharge, "DecimalWOL", new { @class = "amt" })
            </div>
            <div class="col-sm-1 offset-left-1 offset-right-1 controls">
                @Html.EditorFor(model => model.SettlementFee, "DecimalWOL", new { @class = "amt" })
            </div>

            <div class="col-sm-2 offset-left-1 controls">
                @Html.EditorFor(model => model.Amount, "DecimalWOL", new { @readonly = "readonly" })
            </div>
        </div>
    </div>
</div>
<div class="form-group row lb-lt">
    <div class="col-sm-9 offset-right-1">
        <button type="button" id="btnAdd" class="btn-success" style="width: 100%;">
            <i class="fa ft-plus"></i> Add
        </button>
    </div>
    <div class="col-sm-3 offset-left-1 controls">
        <div class="form-group row lb-lt">
            <div class="col-sm-4 offset-left-1 offset-right-1 controls">
                @Html.Editor("ConvertRate", "AtTheRate", new { @readonly = "readonly" })
            </div>
            <div class="col-sm-2 offset-left-1 offset-right controls lb-ctr">
                @Html.Editor("FCurrencyType", "StringWOL", new { @class = "lb-ctr", @readonly = "readonly" })
            </div>
            <div class="col-sm-6 offset-left-1 controls">
                @Html.Editor("AmountFor", "DecimalWOL")
            </div>
        </div>
    </div>
</div>

<script>
    $('.amt').change(function () {
        var tamt = 0;
        $('.amt').each(function () {
            tamt += eval($(this).val().replace(/\,/g, ''));
        });
        $('#Amount').val((new Number(tamt).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")));
        if ($('#FCurrencyType').val() == 'BDT') {
            $('#AmountFor').val($('#Amount').val());
            $('#ConvertRate').val('1.00');
        }
        else if (eval($('#AmountFor').val().replace(/\,/g, '')) > 0 && tamt > 0) {
            $('#ConvertRate').val((new Number(eval($('#AmountFor').val().replace(/\,/g, '')) / tamt).toFixed(7)));
        }
        else {
            $('#ConvertRate').val('0.00');
            $('#AmountFor').val('0.00');
        }
    });

    $('#AmountFor').change(function () {
        var tamt = eval($('#Amount').val().replace(/\,/g, ''));

        if ($('#FCurrencyType').val() == 'BDT') {
            $('#AmountFor').val($('#Amount').val());
            $('#ConvertRate').val('1.00');
        }
        else if (eval($('#AmountFor').val().replace(/\,/g, '')) > 0 && tamt > 0) {
            $('#ConvertRate').val((new Number(eval($('#AmountFor').val().replace(/\,/g, '')) / tamt).toFixed(7)));
        }
        else {
            $('#ConvertRate').val('0.00');
            $('#AmountFor').val('0.00');
        }
    });
</script>

