﻿@model FundManagement.Models.LCMain

<div class="form-group row">
    @Html.LabelFor(model => model.LCNo, Model.LCFileId == 0 ? "Loan No & Date" : "LC No & Date", new { @class = "col-common col-sm-3 label-control" })
    <div class="col-sm-9 offset-right controls">
        @Html.DisplayFor(model => model.LCNo), @Model.LCDate.ToString("dd-MMM-yyyy")
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.BeneficiaryId, new { @class = "col-common col-sm-3 label-control" })
    <div class="col-sm-9 offset-right controls">
        @Html.DisplayFor(model => model.Benificiary.CompanyName) 
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.IssuerBankId, new { @class = "col-common col-sm-3 label-control" })
    <div class="col-sm-9 offset-right controls">
        @Html.DisplayFor(model => model.IssuerBank.BankName)
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.IssuerBranchId, new { @class = "col-common col-sm-3 label-control" })
    <div class="col-sm-9 offset-right controls">
        @Html.DisplayFor(model => model.IssuerBranch.BranchName)
        @Html.HiddenFor(model => model.Currency.TypeName)
    </div>
</div>
