﻿@model FundManagement.Models.PaymentSub

@if(Model != null && Model.RefId > 0)
{ 
    <tr>
        <td style="width: 6%; text-align: center;">
            @Model.RowNo.ToString("000")
        </td>
        <td style="display: none;">
            @Model.PaymentFor
        </td>
        <td style="display: none;">
            @Model.RefId
        </td>
        <td style="text-align: center;">
            @Model.RefNo
        </td>
        <td style="display: none;">
            @Model.ScheduleId
        </td>
        <td style="width: 6%; text-align: center;">
            @Model.InstallmentNo
        </td>
        <td style="text-align: center; text-align: right;">
            @Model.Principal.ToString("##,##0.00")
        </td>
        <td style="text-align: center; text-align: right;">
            @Model.Interest.ToString("##,##0.00")
        </td>
        <td style="text-align: center; text-align: right;">
            @Model.Libor.ToString("##,##0.00")
        </td>
        <td style="text-align: center; text-align: right;">
            @Model.HandlingCharge.ToString("##,##0.00")
        </td>
        <td style="text-align: center; text-align: right;">
            @Model.ExciseDuty.ToString("##,##0.00")
        </td>
        <td style="text-align: center; text-align: right;">
            @Model.BankCharge.ToString("##,##0.00")
        </td>
        <td style="text-align: center; text-align: right;">
            @Model.SettlementFee.ToString("##,##0.00")
        </td>
        <td style="text-align: center; text-align: right;">@Model.Amount.ToString("##,##0.00")</td>
        <td style="text-align: center; display: none;">@Model.ActualCurrencyRate</td>
        <td style="text-align: center; display: none;">@Model.AmountInActualCurrency.ToString("##,##0.00")</td>
        <td style="text-align: center; display: none;">@Model.ActualCurrency</td>
        <td style="width: 5%; text-align:center;">
            <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>
            <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

