﻿@model FundManagement.Models.CashFlowDetails

<div class="col-sm-1">

</div>
<div class="col-sm-9">
    @Html.HiddenFor(model => model.CFSubId)

    <div class="form-group row">
        @Html.LabelFor(model => model.CaptionId, "Type", new { @class = "col-common col-sm-3 label-control" }, true)
        <div id="clist" class="col-sm-9 controls">
            @Html.DropDownList("TypeId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", @onchange = "getCaptionList('cat', this.value);" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.CaptionId, "Head", new { @class = "col-common col-sm-3 label-control" }, true)
        <div id="sclist" class="col-sm-9 controls">
            @Html.DropDownList("AccountHead", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;", @onchange = "getCaptionList('cap', this.value);" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.CaptionId, "Sub Head", new { @class = "col-common col-sm-3 label-control" }, true)
        <div id="aclist" class="col-sm-9 controls">
            @Html.DropDownListFor(model => model.CaptionId, (SelectList)ViewBag.AccountList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
        </div>
    </div>

    @Html.EditorFor(model => model.Amount)
</div>

<script>
    $('select.select').select2({
        placeholder: "Select . . .",
        allowClear: true
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    function getCaptionList(type, id) {
        if (id == '')
            return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("AccountList")',
            data: JSON.stringify({ id: id, type: type }),
            success: function (msg) {
                if (type == 'cat') {
                    $('#sclist').html(msg);

                    $('#AccountHead').select2({
                        placeholder: "Select or type . . .",
                        allowClear: true
                    });
                } else {
                    $('#aclist').html(msg);

                    $('#CaptionId').select2({
                        placeholder: "Select or type . . .",
                        allowClear: true
                    });
                };
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    };
</script>
