﻿@model FundManagement.Models.CashFlowMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Option</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Financial
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Manage :: Cash Flow</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="form-section"><i class="ft-user"></i> General Info</h4>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-5">
                                            @Html.HiddenFor(model => model.CFId)

                                            @Html.EditorFor(model => model.CFDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.GroupId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.GroupId, (SelectList)ViewBag.GroupList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @Html.EditorFor(model => model.Remarks)
                                        </div>

                                        <div class="col-md-12">
                                            <h4 class="form-section"><i class="ft-user"></i> Inflow/Outflow</h4>
                                            <table id="cfdetails" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; width: 8%;">
                                                            SL #
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            Sub Id
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            Caption Id
                                                        </th>
                                                        <th style="text-align: center; width: 10%;">
                                                            Type
                                                        </th>
                                                        <th style="text-align: center; width: 20%;">
                                                            Head
                                                        </th>
                                                        <th style="text-align: center; width: 38%;">
                                                            Sub Head
                                                        </th>
                                                        <th style="text-align: center; width: 12%;">
                                                            Budget Amount
                                                        </th>
                                                        <th style="text-align: center; width: 12%;">
                                                            Actual Amount
                                                        </th>
                                                        <th style="text-align: center; width: 8%; display: none;">
                                                            Id
                                                        </th>
                                                        <th style="text-align: center; width: 6%; display: none;">
                                                            <a title="" data-toggle="tooltip" data-original-title="Add Details" onclick="cfEntry(this);"><i class="fa ft-plus-circle" style="color: white; cursor: pointer;"></i><span style="color: antiquewhite; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if(Model != null && Model.CashFlowDetails != null)
                                                    {
                                                        @Html.Action("RowTemplate", new { cfdet = Model.CashFlowDetails })
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                            <div class="form-group">
                                                <!-- Modal -->
                                                <div class="modal fade text-left" id="cfalert" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-success white">
                                                                <h4 class="modal-title">Cash Flow Info</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row" id="cfdiv">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnAdd" type="button" class="btn grey btn-outline-success" style="min-width: 100px;" onclick="AddDetails();">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    @*<button type="button" class="btn btn-outline-primary block btn-lg" data-toggle="modal" onclick="showmodal()">
										Launch Modal
									</button>*@
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
        function showmodal() {
            $('#backdrop').modal('show');
        };

        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $(".rdate").attr("autocomplete", "off");

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'MMMM, YYYY'
            }
        });

        $('select.select').select2({
            placeholder: "Select . . .",
            //dropdownAutoWidth: true
        });

        $(function () {
            $('#CFDate').change();
        });

        $('#CFDate, #GroupId').change(function () {
            if ($('#CFDate').val() == '' || $('#GroupId').val() == '' || $('#GroupId').val() == '0')
                return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("CFDetails")',
                data: JSON.stringify({ date: $('#CFDate').val(), groupid: $('#GroupId').val() }),
                success: function (msg) {
                    $('#cfdetails>tbody').html(msg);
                    if ($('#cfdetails>tbody>tr').length != 0) {
                        row = $('#cfdetails>tbody>tr:eq(0)');
                        //alert($.trim($(row).children('td:eq(13)').html()));
                        $('#CFId').val($.trim($(row).children('td:eq(8)').html()));
                    } else {
                        $('#CFId').val(0);
                    };
                    if ($('#ORemarks').length != 0) {
                        $('#Remarks').val($.trim($('#ORemarks').val()));
                    } else {
                        $('#Remarks').val('');
                    };
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#cfdetails>tbody').html('');
                    $('#CFId').val(0);
                }
            });
        });

        function setQty(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function cfEntry() {
            rn = $('#cfdetails>tbody>tr').length + 1;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("CashTemplate")',
                success: function (msg) {
                    $('#cfdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Update', 'Save'));
                    $('#cfalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };
        
        var isEdit = false; var row; var rn = 1;
        function AddDetails() {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('only-currency') && !$(this).hasClass('only-number')
                        && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            if ($('#CFSubId').val() == '') {
                alert('Select select account head.');
                $('#CFSubId').focus();
                return;
            }
            else if ($('#CaptionId').val() == '') {
                alert('Select select account sub head.');
                $('#CaptionId').focus();
                return;
            }
            else if (eval($('#BudgetAmount').val().replace(/\,/g, '')) == 0 && eval($('#ActualAmount').val().replace(/\,/g, '')) == 0) {
                alert("Budget/Actual amount can't be zero.");
                $('#BudgetAmount').focus();
                return;
            }

            var cfdet = [{
                RowNo: rn, CFSubId: $('#CFSubId').val(), CaptionId: $('#CaptionId').val(),
                BudgetAmount: $('#Amount').val().replace(/\,/g, ''), ActualAmount: $('#Amount').val().replace(/\,/g, '')
            }]

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RowTemplate")',
                data: JSON.stringify({ cfdet: cfdet }),
                success: function (msg) {
                    if (isEdit) {
                        $('#cfdetails>tbody>tr:eq(' + (rn - 1) + ')').after(msg);
                        $('#cfdetails>tbody>tr:eq(' + (rn - 1) + ')').remove();
                        $('#btnAdd').html($('#btnAdd').html().replace('Update', 'Save'));
                        isEdit = false;
                    }
                    else {
                        $('#cfdetails>tbody').append(msg);
                    }

                    $('#cfalert').modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //$('#alertdiv').removeClass('alert-success alert-danger');
                    //$('#alertdiv').addClass('alert-danger');
                    //$('#asummary').html('!!!Error!!!')
                    //$('#btnAlert').attr('onclick', '');
                    //$('#atext').html('Add/Replace failed due to "' + JSON.parse(jqXHR.responseText) + '".');

                    //$('#alert').modal('show');
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    
                    //alert(errorThrown);
                }
            });
        };

        function editrow(e) {
            isEdit = true; 
            rn = $(e).closest('tr').index() + 1;

            row = $('#cfdetails>tbody>tr:eq(' + (rn - 1) + ')');

            var cfdet = {
                RowNo: rn, CFSubId: $.trim($(row).children('td:eq(1)').html()),
                CaptionId: $.trim($(row).children('td:eq(2)').html()),
                BudgetAmount: $.trim($(row).children('td:eq(6)').html().replace(/\,/g, '')),
                ActualAmount: $.trim($(row).children('td:eq(7)').html().replace(/\,/g, ''))
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("CashTemplate")',
                data: JSON.stringify({ cfdet: cfdet }),
                success: function (msg) {
                    $('#cfdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Save', 'Update'));
                    $('#cfalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#cfdetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#cfdetails>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-2));
                rn++;
            });
        };

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var cfmain = {
                CFId: $('#CFId').val(), CFDate: $('#CFDate').val(), GroupId: $('#GroupId').val(), Remarks: $('#Remarks').val()
            };

            var cfdetails = [];
            var table = $('#cfdetails').DataTable({
                paging: false,
                filter: false,
                ordering: false,
                info: false
            });

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 5) {
                    var arrayOfThisRow = {
                        CFId: $('#CFId').val(), CFSubId: tableData[1], CaptionId: tableData[2],
                        BudgetAmount: tableData[6].replace(/\,/g, ''), ActualAmount: tableData[7].replace(/\,/g, ''),
                        RowNo: tableData[0]
                    };
                    //alert(arrayOfThisRow);
                    cfdetails.push(arrayOfThisRow);
                }
            });

            table.destroy();

            //alert(JSON.stringify({ poSub: prList }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ cashFlow: cfmain, cfdetails: cfdetails }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#btnAlert').attr('onclick', '');
                        $('#atext').html('Save failed due to "' + msg.message + '".');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');
                        
                        if (cfmain.CFId == 0)
                            $('#atext').html('Cash Flow for the month of ' + $('#CFDate').val() + ' save successfully.');
                        else
                            $('#atext').html('Cash Flow for the month of ' + $('#CFDate').val() + ' update successfully.');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}
