﻿@model IEnumerable<FundManagement.Models.CashFlowDetails>

@if (Model != null && Model.Count() > 0)
{
    var rowNo = 0;
    foreach (var item in Model.OrderBy(c => c.AccountHead.CaptionCode))
    {
        rowNo = rowNo + 1;

        <tr>
            <td style="text-align: center; vertical-align: middle; width: 8%;">
                @rowNo.ToString("00")
            </td>
            <td style="display: none;">
                @item.CFSubId
            </td>
            <td style="display: none;">
                @item.CaptionId
            </td>
            <td style="text-align: left; vertical-align: middle; width: 10%;">
                @item.AccountHead.ParentCaption.ParentCaption.CaptionName
            </td>
            <td style="text-align: left; vertical-align: middle; width: 20%;">
                @item.AccountHead.ParentCaption.CaptionName
            </td>
            <td style="text-align: left; vertical-align: middle; width: 38%;">
                [@item.AccountHead.CaptionCode] <span style="font-weight: bold;">@item.AccountHead.CaptionName</span>
            </td>
            <td style="text-align: right; vertical-align: middle; width: 12%;" ondblclick="setQty(this);">@item.BudgetAmount.ToString("##,##0")</td>
            <td style="text-align: right; vertical-align: middle; width: 12%;" ondblclick="setQty(this);">@item.ActualAmount.ToString("##,##0")</td>
            <td style="display: none;">@item.CFId</td>
            <td style="text-align:center; vertical-align: middle; width: 6%; display: none;">
                <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>
                <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
    @Html.Hidden("ORemarks", (Model.First().CashFlowMain == null ? "" : (string)Model.First().CashFlowMain.Remarks))
}

