﻿@model FundManagement.Models.PayorderInfo

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Instruction
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Instruction For Payorder</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">Payorder List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Instruction Info</h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-7">

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PayorderDate, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.PayorderDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.ReferenceNo, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-4 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.ReferenceNo, "StringWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CreatedBy, "Company", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.DropDownList("CompanyId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.CreatedBy, "Bank", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div id="bklist" class="col-sm-4 offset-left-1 controls">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CreatedBy, "Branch", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div id="brlist" class="col-sm-4 offset-right controls">
                                                    @Html.DropDownList("BranchId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                @Html.LabelFor(model => model.CreatedBy, "Account #", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div id="aclist" class="col-sm-4 offset-left-1 controls">
                                                    @Html.DropDownList("AccountId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Signatories, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-10  controls">
                                                    @Html.DropDownListFor(model => model.Signatories, (MultiSelectList)ViewBag.Signature, string.Empty, new { @class = "form-control select", @multiple = "multiple", @required = "", @style = "width: 100%;" })
                                                </div>
                                             </div>
                                                @*@Html.EditorFor(model => model.Purpose, new { rows = 6 })*@
                                            </div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8" style="margin-top: 20px;">
                                                <h4 class="form-section"><i class="ft-list"></i> Instruction Details</h4>
                                                <div class="form-group row" style="margin-top: -10px; margin-bottom: 5px !important;">
                                                    @Html.LabelFor(model => model.CreatedBy, "Issue To", new { @class = "col-common col-sm-2 label-control" }, true)
                                                    <div id="aclist" class="col-sm-4 controls">
                                                        @Html.DropDownList("IssuedAccountId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                    </div>
                                                </div>

                                                <table id="payorderlist" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed; margin-bottom: 0px !important;">
                                                    <thead>
                                                        <tr>

                                                            <th style="width: 5%; text-align: center;">
                                                                SL #
                                                            </th>
                                                            <th style="width: 25%; text-align: center;">
                                                                To (Infavor of)
                                                            </th>

                                                            <th style="width: 10%; text-align: center;">
                                                                Amount
                                                            </th>
                                                            <th style="width: 45%; text-align: center;">
                                                                Purpose
                                                            </th>

                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" id="btnCancel" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

     $('select.select').not('#IssueTo').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
     });

    $('.rdate').not(':input[readonly]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        //minDate: [moment(), 'inclusive'],
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });
        $(document).on('change', '#ReferenceNo', function ()
        {
            if ($(this).val()!='')
            {
                $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("IsExists", "Payorder")',
                data: { referenceno: $(this).val() },
                success: function (isExists) {
                    if (isExists) {
                        $('#ReferenceNo').val('');
                        alert('Reference No Allready Exists');

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            }

        });


        $(document).on('change', '#BankId', function () {
            getBranchList($(this).val(), 'brlist', 'BranchId', 'Branch');
        });

    $(document).on('change', '#BranchId', function () {
        if ($(this).val() == '' || $(this).val() == '0')
            return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("BAccountList","ChequeInstruction")',
            data: JSON.stringify({ id: $(this).val(), comid: $('#CompanyId').val() }),
            success: function (msg) {
                $('#aclist').html(msg);

                $('#AccountId').select2({
                    placeholder: "Select or Type . . .",
                    allowClear: true,
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $(document).on('change', '#CompanyId', function () {
        if ($(this).val() == '' || $(this).val() == '0')
            return;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("BankList", "ChequeInstruction")',
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    $('#bklist').html(msg);

                    $('#BankId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    });

        $('#IssuedAccountId').select2({
            placeholder: "Select or Type . . .",
            allowClear: true,
            dropdownAutoWidth: true,
            templateResult: function (data) {
                var r = data.text.split(' >> ');
                var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                    '<div class="col-md-5">' + (r.length > 0 ? r[0] : '') + '</div>' +
                    '<div class="col-md-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                    '<div class="col-md-5">' + (r.length > 2 ? r[2] : '') + '</div>' +
                    '</div>';
                var $result = $(row);
                return $result;
            },
            templateSelection: function (data) {
                var r = data.text.split(' >> ').filter(function (x) { return x.length > 0 }).join(' >> ');
                var $result = r;
                return $result;
            },
            tags: true,
            createTag: function (params) {
                var term = $.trim(params.term).toUpperCase();

                if (term === '') {
                    return null;
                }

                return {
                    id: '0',
                    text: term
                }
            }
        });

        function Checkduplicate()
        {

        }

        $(document).on('change', '#IssuedAccountId', function (event)
        {
            var rownumber = $('#payorderlist tbody tr').length;
            if (rownumber > 1)
            {
                var valuesArray = []
                $('#payorderlist tbody tr').each(function ()
                {
                    valuesArray.push($(this).find('td:eq(1)').text());

                })

                var isduplicate = false;

                $.each(valuesArray, function (index, value)
                {

                    if ($("#IssuedAccountId").find('option:selected').text().split('>>')[0] == value)
                    {
                        alert('Data already Exsists, Plese select another one');
                        isduplicate = true;
                    }
                });

            }

            if (isduplicate)
                return;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RowTemplate")',
                data: JSON.stringify({ IssueTo: $(this).find('option:selected').text().split('>>')[0], slNo: rownumber }),
                success: function (msg) {
                    $('#payorderlist>tbody').append(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        });


        function Remeove(t)
        {
            var row = $(t).closest('tr').remove();
        }

        function setDate(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' class='date' value='" + OriginalContent + "'/>");
            $(t).children().first().daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'DD-MMM-YYYY'
                }
            });
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");
                }
                //else {
                //    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                //}
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().change(function () {
                if (!error) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function setAmount(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function setText(t) {
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<textarea class='form-control input-block-level' cols='8' rows='2'>" + OriginalContent + "</textarea>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
                //else {
                //    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                //}
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent.toUpperCase());
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        $('#btnCancel').click(function () {
            //alert($('#testtable').find("table:first").html());
        });

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?'))
            {
            } else {
                return;
            }

            if ($('#Signatories option:selected').length>2)
            {
                alert("Slect maximum two signatories");

                return;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var signatories = '', comma = '';
            if ($('#Signatories').val() != null) {
                $.each($('#Signatories').val(), function (index, value) {
                    signatories = signatories + comma + value;
                    comma = " & ";
                });
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });


            var payorderInfo ;
            var payorderDetails = [];

            payorderInfo = {
                             ReferenceNo: $('#ReferenceNo').val(), AccountId: $('#AccountId').val(),
                             PayorderDate: $('#PayorderDate').val(), Signatories: signatories
                           }

            var rownumber = $('#payorderlist tbody tr').length;

            if (rownumber == 0)
            {
                alert('Please select at leaset one row ');
                return false;
            }
            let is_invalid = false;
            $("#payorderlist tbody tr").each(function (row, tr) {

                if (eval($('td:eq(2)', this).html().replace(/\,/g, '')) == 0) {
                    alert('Cheque amount must not be zero.');
                    is_invalid = true;
                    return false;
                }

                if (is_invalid)
                    return false;

                payorderDetails.push({
                            IssuedAccountId: 0, IssuedAccountName: $('td:eq(1)', this).html(),
                            PayorderAmount: $('td:eq(2)', this).html().replace(/\,/g, ''),
                            Purpose: $('td:eq(3)', this).html()
                });

            });


            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });


            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ payorderInfo: payorderInfo, payorderDetails: payorderDetails}),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Instruction # ' + msg.ino + ' save successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');

                        if (msg.ino==1)
                       {
                            window.open('@Url.Action("ShowReport", "Report", new { __RequestVerificationToken = "_token", fn = "rptPayorder", ChequeId = "_chkid" })'.replace('_token', $('[name=__RequestVerificationToken]').val()).replace('_chkid', msg.chkid).replace(/&amp;/g, "&"), '_blank');
                        }

                        if (msg.ino!=1)
                         {
                            window.open('@Url.Action("ShowReport", "Report", new { __RequestVerificationToken = "_token", fn = "rptPayorderMultiple", ChequeId = "_chkid" })'.replace('_token', $('[name=__RequestVerificationToken]').val()).replace('_chkid', msg.chkid).replace(/&amp;/g, "&"), '_blank');
                         }



                    @* if (@Model.IssueInstruction.PaymentModeId == 103)
                    {
                        window.open('@Url.Action("ShowReport", "Report", new { __RequestVerificationToken = "_token", fn = "rptPayOrder", ChequeId = "_chkid" })'.replace('_token', $('[name=__RequestVerificationToken]').val()).replace('_chkid', msg.chkid).replace(/&amp;/g, "&"), '_blank');
                    }*@


                        $('#alert').modal('show');


                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}
