﻿
        <tr>
            <td style="text-align: center; vertical-align: middle; width: 10%;"> @ViewBag.slNo</td>
            <td style="text-align: center; vertical-align: middle; width: 30%;">@ViewBag.IssueTo</td>
            <td style="text-align: right; vertical-align: middle; width: 20%;" ondblclick="setAmount(this);">00</td>
            <td style="text-align: left; vertical-align: middle; width: 30;" ondblclick="setText(this);">Instruction For Payorder/td>
            <td style="text-align: left; vertical-align: middle; width: 10%;">
                <a  title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="Remeove(this)"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
   


