﻿@model FundManagement.Models.ReportView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Report</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Acceptance
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Report :: Acceptance Liability/Register</h2>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Acceptance Liability</h4>
                                    <div class="row">
                                        <div class="col-sm-1">

                                        </div>
                                        <div class="col-md-10">
                                            @Html.Hidden("fn", "rptLCAcceptance")

                                            @Html.EditorFor(model => model.AsOnDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("CompanyId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.BranchId, new { @class = "col-common col-sm-3 label-control" })
                                                <div id="bbranch" class="col-sm-9">
                                                    @Html.DropDownList("BranchId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frmr", id = "frmr", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Acceptance Regisister</h4>
                                    <div class="row">
                                        <div class="col-sm-1">

                                        </div>
                                        <div class="col-md-10">
                                            @Html.Hidden("fn", "rptAcceptanceRegister", new { @id = "fnLR" })

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.FromDate, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.FromDate, "DateTimeWOL", new { @id = "FDate", @Name = "FDate" })
                                                    @*, @Value = DateTime.Today.AddDays(1-DateTime.Today.Day).ToString("dd-MMM-yyyy")*@
                                                </div>
                                                <div class="col-sm-1 offset-left offset-right lb-ctr">
                                                    @Html.Label("To", new { @class = "col-common col-sm-12 label-control lb-ctr" })
                                                </div>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.EndDate, "DateTimeWOL", new { @id = "TDate", @Name = "TDate" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("CompanyId", null, string.Empty, new { @id = "LRCompanyId", @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @id = "LRBankId", @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @*<div class="form-group row">
                                            @Html.LabelFor(model => model.BranchId, new { @class = "col-common col-sm-3 label-control" })
                                            <div id="bbranch" class="col-sm-9">
                                                @Html.DropDownList("BranchId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                            </div>
                                        </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShowLR" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . .",
            allowClear: true
            //tags: true
            //dropdownAutoWidth: true
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('form').submit(function () {
            alert('A');

            return true;
        });
    </script>
}

@section CSS {

}








