﻿@model FundManagement.Models.ReportView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Report</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque Book
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Report :: Cheque Book Requisition</h2>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Requisition Profile</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @*@Html.EditorFor(model => model.AsOnDate)*@

                                            @Html.Hidden("fn", "rptChequeBookRequisition")

                                            <div class="form-group row">
                                                @Html.Label("Requistion #", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("RequisitionId", null, null, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            @*<div class="form-group row">
                                                    @Html.Label("Report Type", new { @class = "col-common col-sm-3 label-control" })
                                                    <div class="col-sm-9">
                                                        <select class="form-control select" id="fn" name="fn" style="width: 100%;">
                                                            <option selected="selected" value="rptBudgetDetails_VALUE">Budget Details (Value)</option>
                                                            <option value="rptBudgetDetails_QTY">Budget Details (Quantity)</option>
                                                        </select>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm1", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Requisition Register</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Hidden("fn", "rptChequeRequisition", new { @id = "fn1" })
                                            @Html.Hidden("ReportFor", "REGISTER", new { @id = "rf1" })

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.FromDate, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-4 offset-right">
                                                    @Html.EditorFor(model => model.FromDate, "DateTimeWOL", new { @id = "FDate", @Name = "FDate" })
                                                    @*, @Value = DateTime.Today.AddDays(1-DateTime.Today.Day).ToString("dd-MMM-yyyy")*@
                                                </div>
                                                <div class="col-sm-1 offset-left offset-right lb-ctr">
                                                    @Html.Label("To", new { @class = "col-common col-sm-12 label-control lb-ctr" })
                                                </div>
                                                <div class="col-sm-4 offset-left">
                                                    @Html.EditorFor(model => model.EndDate, "DateTimeWOL", new { @id = "TDate", @Name = "TDate" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("CompanyId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                                @*<div id="brlist1" class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownList("BranchId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>*@
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "Account No", new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("AccountId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "Status", new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    <select class="form-control select" id="Status" name="Status" style="width: 100%;">
                                                        <option></option>
                                                        <option value="RECEIVED">RECEIVED LIST</option>
                                                        <option value="PENDING">PENDING LIST</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm2", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Pending Requisition List</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Hidden("fn", "rptChequeRequisition", new { @id = "fn2" })
                                            @Html.Hidden("ReportFor", "PENDINGLIST", new { @id = "rf2" })

                                            @Html.EditorFor(model => model.AsOnDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("CompanyId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                                @*<div id="brlist2" class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownList("BranchId", null, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>*@
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "Account No", new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("AccountId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . .",
            allowClear: true
            //tags: true
            //dropdownAutoWidth: true
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('#frm').submit(function () {
            return true;
        });
    </script>
}

@section CSS {

}








