﻿
@model FundManagement.Models.ReportView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Report</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Interest
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Report :: Interest Details</h2>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Monthly Interest Details</h4>
                                    <div class="row">
                                        <div class="col-sm-1">

                                        </div>
                                        <div class="col-md-10">
                                            @Html.Hidden("fn", "rptInterestDetails")
                                            @Html.HiddenFor(model => model.AsOnDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.FromDate, "Month", new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.FromDate, "DateTimeWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("CompanyId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanTypeId, new { @class = "col-common col-sm-3 label-control" })
                                                <div id="loantype" class="col-sm-9">
                                                    @Html.DropDownListFor(l => l.LoanTypeId, (SelectList)ViewBag.LoanType, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frmi", id = "frmi", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Loan Wise Interest Details</h4>
                                    <div class="row">
                                        <div class="col-sm-1">

                                        </div>
                                        <div class="col-md-10">
                                            @Html.Hidden("fn", "rptInterestDetails_Ind")
                                            @Html.Hidden("LoanType")

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.FromDate, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.FromDate, "DateTimeWOL", new { @id = "FDate", @Name = "FDate" })
                                                    @*, @Value = DateTime.Today.AddDays(1-DateTime.Today.Day).ToString("dd-MMM-yyyy")*@
                                                </div>
                                                <div class="col-sm-1 offset-left offset-right lb-ctr">
                                                    @Html.Label("To", new { @class = "col-common col-sm-12 label-control lb-ctr" })
                                                </div>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.EndDate, "DateTimeWOL", new { @id = "TDate", @Name = "TDate" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanTypeId, new { @class = "col-common col-sm-3 label-control" })
                                                <div id="loantype" class="col-sm-9">
                                                    @Html.DropDownListFor(l => l.LoanTypeId, (SelectList)ViewBag.LoanType, "ALL", new { @id = "LoanTypeId1", @class = "form-control select", @style = "width: 100%;", @onchange = "getLoanList(this.value)" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LCFileId, "Loan #", new { @class = "col-common col-sm-3 label-control" })
                                                <div id="loanlist" class="col-sm-9">
                                                    @Html.DropDownList("LoanId", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . .",
            allowClear: true
            //tags: true
            //dropdownAutoWidth: true
        });

        @*$('#LoanCategory').change(function () {
            $.ajax({
                url: "@Url.Action("GetLoanType")?lcat=" + e,
                success: function (data) {
                    $("#loantype").html(data);
                    $('#LoanTypeId').select2({
                        placeholder: "Select or Type . . ."
                    });
                }
            });
        });*@

        function getLoanList(ltid) {
            $.ajax({
                url: "@Url.Action("LoanList")?id=" + ltid,
                success: function (data) {
                    $("#loanlist").html(data);
                    $('#LoanId').select2({
                        placeholder: "Select or Type . . .",
                        dropdownAutoWidth: true,
                        templateResult: function (data) {
                            var r = data.text.split(' > ');
                            var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                                            '<div class="col-md-6 col-1">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                            '<div class="col-md-6 col-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                            //'<div class="col-md-4 col-3">' + (r.length > 2 ? r[2] : '') + '</div>' +
                                      '</div>';
                            var $result = $(row);
                            return $result;
                        },
                        templateSelection: function (data) {
                            var r = data.text.split(' > ');
                            var $result = r[0];
                            return $result;
                        }
                    });
                }
            });
        };

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'MMMM, YYYY'
            }
        });

        $('#frm').submit(function () {
            var date = $("#FromDate").val().split(',');
            //alert('01-' + date[0].substring(0, 3) + '-' + date[1].slice(-4));
            $("#AsOnDate").val('01-' + date[0].substring(0, 3) + '-' + date[1].slice(-4));

            return true;
        });

        $('#frmi').submit(function () {
            $("#LoanType").val($("#LoanTypeId1").select2('data')[0].text)

            return true;
        });
    </script>
}

@section CSS {

}










