﻿@model FundManagement.Models.ReportView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Report</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Costing
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Report :: Landed Costing</h2>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Landed Costing</h4>
                                    <div class="row">
                                        <div class="col-sm-3">

                                        </div>
                                        <div class="col-md-5">
                                            @Html.Hidden("fn", "rptLandedCosting")

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LCFileId, "Ref. No", new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("LCAcceptanceId", null, null, new { @class = "form-control selectwt", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $('select.selectwt').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true,
            templateResult: function (data) {
                var r = data.text.split(' >> ');
                var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                                '<div class="col-md-6 col-1">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                '<div class="col-md-5 col-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                //'<div class="col-md-4 col-3">' + (r.length > 2 ? r[2] : '') + '</div>' +
                            '</div>';
                var $result = $(row);
                return $result;
            }//,
            //templateSelection: function (data) {
            //    var r = data.text.split(' >> ');
            //    var $result = r[0];
            //    return $result;
            //}
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('#frm').submit(function () {
            //$('#fn').val($('#fname').val() + ((new Date).toTimeString().slice(0, 8)).replace(/\:/g, ''));
            //alert($('#fn').val());
            return true;
        });
    </script>
}

@section CSS {

}








