﻿@model FundManagement.Models.ReportView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Report</a>
                    </li>
                    <li class="breadcrumb-item active">
                        LC
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Report :: LC Register/Liability</h2>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frmLC", id = "frmLC", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> LC Info</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Hidden("fn", "rptLCInformation", new { @id = "fnLC" })

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @id = "LCBankId", @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "LC No", new { @class = "col-common col-sm-3 label-control" })
                                                <div id="lclst" class="col-sm-9">
                                                    @Html.DropDownListFor(model => model.LCFileId, (SelectList)ViewBag.LC, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShowLC" class="btn btn-success">
                                        <i class="fa fa-th-large"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-left offset-right">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frmReg", id = "frmReg", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> LC Register</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Hidden("fn", "rptLCRegister", new { @id = "fnLCR" })

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.FromDate, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-4 offset-right">
                                                    @Html.EditorFor(model => model.FromDate, "DateTimeWOL", new { @id = "FDate", @Name = "FDate" })
                                                    @*, @Value = DateTime.Today.AddDays(1-DateTime.Today.Day).ToString("dd-MMM-yyyy")*@
                                                </div>
                                                <div class="col-sm-1 offset-left offset-right lb-ctr">
                                                    @Html.Label("To", new { @class = "col-common col-sm-12 label-control lb-ctr" })
                                                </div>
                                                <div class="col-sm-4 offset-left">
                                                    @Html.EditorFor(model => model.EndDate, "DateTimeWOL", new { @id = "TDate", @Name = "TDate" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("CompanyId", null, string.Empty, new { @id = "LRCompanyId", @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @id = "LRBankId", @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShowLCR" class="btn btn-success">
                                        <i class="fa fa-th-large"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frmL", id = "frmL", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> LC Liability</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Hidden("fn", "rptLCLiability", new { @id = "fn" })

                                            @Html.EditorFor(model => model.AsOnDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("CompanyId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-th-large"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $('select.select').not('#LCFileId').select2({
            placeholder: "Select or Type . . .",
            allowClear: true,
            //tags: true,
            dropdownAutoWidth: true,
        });

        $('#LCFileId').select2({
            placeholder: "Select or Type . . .",
            allowClear: true,
            dropdownAutoWidth: true,
            templateResult: function (data) {
                var r = data.text.split(' > ');
                var row = '<div class="row" style="margin-left: -12px; margin-right: 0px; width: 550px !important;">' +
                                '<div class="col-md-4">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                '<div class="col-md-4">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                '<div class="col-md-4">' + (r.length > 2 ? r[2] : '') + '</div>' +
                          '</div>';
                var $result = $(row);
                return $result;
            },
            templateSelection: function (data) {
                var r = data.text.split(' > ');
                var $result = r[0];
                return $result;
            }
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('#LCBankId').change(function () {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LCList")',
                data: JSON.stringify({ id: this.value }),
                success: function (data) {
                    $('#lclst').html(data);

                    $('#lclst select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        $('form').submit(function () {

            return true;
        });
    </script>
}

@section CSS {

}






