﻿@model FundManagement.Models.ReportView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Report</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Loan
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Report :: Loan Details</h2>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frmLC", id = "frmLC", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> LC Info</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Hidden("fn", "rptAmortizationSchedule")

                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, string.Empty, new { @id = "LCBankId", @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>*@

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanId, "Loan No", new { @class = "col-common col-sm-3 label-control" })
                                                <div id="lclst" class="col-sm-9">
                                                    @Html.DropDownListFor(model => model.LoanId, (SelectList)ViewBag.Loan, string.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShowLC" class="btn btn-success">
                                        <i class="fa fa-th-large"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $('#LoanId').select2({
            placeholder: "Select or Type . . .",
            //query: function (q) {
            //    var pageSize,
            //      results,
            //      that = this;
            //    pageSize = 20; // or whatever pagesize
            //    results = [];
            //    if (q.term && q.term !== '') {
            //        // HEADS UP; for the _.filter function i use underscore (actually lo-dash) here
            //        results = _.filter(this.data, function (e) {
            //            return e.text.toUpperCase().indexOf(q.term.toUpperCase()) >= 0;
            //        });
            //    } else if (q.term === '') {
            //        results = this.data;
            //    }
            //    q.callback({
            //        results: results.slice((q.page - 1) * pageSize, q.page * pageSize),
            //        more: results.length >= q.page * pageSize,
            //    });
            //},
        });

        //$('select.select').not('#LCFileId').select2({
        //    placeholder: "Select or Type . . .",
        //    allowClear: true,
        //    //tags: true,
        //    dropdownAutoWidth: true,
        //});

        //$('#LCFileId').select2({
        //    placeholder: "Select or Type . . .",
        //    allowClear: true,
        //    dropdownAutoWidth: true,
        //    templateResult: function (data) {
        //        var r = data.text.split(' > ');
        //        var row = '<div class="row" style="margin-left: -12px; margin-right: 0px; width: 550px !important;">' +
        //                        '<div class="col-md-4">' + (r.length > 0 ? r[0] : '') + '</div>' +
        //                        '<div class="col-md-4">' + (r.length > 1 ? r[1] : '') + '</div>' +
        //                        '<div class="col-md-4">' + (r.length > 2 ? r[2] : '') + '</div>' +
        //                  '</div>';
        //        var $result = $(row);
        //        return $result;
        //    },
        //    templateSelection: function (data) {
        //        var r = data.text.split(' > ');
        //        var $result = r[0];
        //        return $result;
        //    }
        //});

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        @*$('#LCBankId').change(function () {
            $.ajax({
                type: "POST",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("LCList")',
                data: JSON.stringify({ id: this.value }),
                success: function (data) {
                    $('#lclst').html(data);

                    $('#lclst select.select').select2({
                        placeholder: "Select or Type . . .",
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });*@

        $('form').submit(function () {

            return true;
        });
    </script>
}

@section CSS {

}






