﻿@model FundManagement.Models.ReportView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Report</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Loan
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Report :: Loan Position</h2>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Loan Position</h4>
                                    <div class="row">
                                        <div class="col-sm-3">

                                        </div>
                                        <div class="col-md-5">
                                            @Html.Hidden("fname", "rptLoanPosition", new { disabled = "disabled" })
                                            @*@Html.Hidden("fn", "rptLoanPosition")*@

                                            @Html.EditorFor(model => model.AsOnDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("CompanyId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanCategory, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownListFor(l => l.LoanCategory, (SelectList)ViewBag.LiabilityGroup, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LoanTypeId, new { @class = "col-common col-sm-3 label-control" })
                                                <div id="loantype" class="col-sm-9">
                                                    @Html.DropDownListFor(l => l.LoanTypeId, (SelectList)ViewBag.LoanType, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.Label("Report Type", new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    <select class="form-control select" id="fn" name="fn" style="width: 100%;">
                                                        <option selected="selected" value="rptLoanPosition">Details Loan Position</option>
                                                        <option value="rptLoanPositionSummary_BW">Loan Outstanding Summary (Bank Wise)</option>
                                                        <option value="rptLoanPositionSummary_LTW">Loan Outstanding Summary (Loan Type Wise)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $('select.select').select2({
            placeholder: "Select or Type . . .",
            allowClear: true
            //tags: true
            //dropdownAutoWidth: true
        });

        $('#LoanCategory').change(function () {
            $.ajax({
                url: "@Url.Action("GetLoanType")?lcat=" + this.value,
                success: function (data) {
                    $("#loantype").html(data);
                    $('#LoanTypeId').select2({
                        placeholder: "Select or Type . . ."
                    });
                }
            });
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        //$('#frm').submit(function () {
        //    $('#fn').val($('#fname').val() + ((new Date).toTimeString().slice(0, 8)).replace(/\:/g, ''));
        //    //alert($('#fn').val());
        //    return true;
        //});
    </script>
}

@section CSS {

}








