﻿@using Stimulsoft.Report.Mvc;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="~/Content/app-assets/images/ico/favicon.ico">
    <title>@(ViewBag.Title == null ? "Fund Management System" : ViewBag.Title)</title>
    <style>
        #mvcReport {
            min-height: 95vh !important;
            height: 97vh !important;
        }
    </style>
    <script>
        //$locationProvider.html5Mode({ enabled: false });
    </script>
</head>
<body>
    @Html.Stimulsoft().StiMvcViewer("mvcReport", new StiMvcViewerOptions()
    {
        Actions =
        {
            GetReportSnapshot = "GetReportSnapshot",
            ViewerEvent = "ViewerEvent",
            PrintReport = "PrintReport",
            ExportReport = "ExportReport",
        },
        Toolbar =
        {
            ShowBookmarksButton = false,
            ShowParametersButton = false,
            ShowFullScreenButton = false,
            ShowAboutButton = false,
            PrintDestination = StiPrintDestination.Pdf,
        },
        Exports =
        {
            ShowExportToDocument = false,
            ShowExportToImageBmp = false,
            ShowExportToXml = false,
            ShowExportToText = false,
            ShowExportToPowerPoint = false,
            ShowExportToRtf = true,
            ShowExportToHtml = false,
            ShowExportToOpenDocumentWriter = false,
            ShowExportToOpenDocumentCalc = false,
            ShowExportToWord2007 = false,
        },
        Appearance =
        {
            ScrollbarsMode = true,
            InterfaceType = StiInterfaceType.Auto,
            ShowTooltips = true,
        },
        Server =
        {
            RequestTimeout = 300,
            CacheMode = StiServerCacheMode.ObjectCache,
            GlobalReportCache = false,
        },
    })
</body>
</html>
