﻿@model FundManagement.Models.ReportView

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Report</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">Report :: Total Cheque Due</h2>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("ShowReport", null, FormMethod.Get, new { target = "_blank", name = "frm", id = "frm", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Total Cheque Due</h4>
                                    <div class="row">
                                        <div class="col-sm-3">

                                        </div>
                                        <div class="col-md-5">
                                            @Html.Hidden("fn", "rptTotalChequeDue")

                                            @*<div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "Date Type", new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("DateType", null, String.Empty, new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>*@

                                            @Html.EditorFor(model => model.AsOnDate)

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CompanyId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("CompanyId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("BankId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "Cheque Mode", new { @class = "col-common col-sm-3 label-control" })
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("ChequeModeId", null, "ALL", new { @class = "form-control select", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" id="btnShow" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Show
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $('select.select').select2({
            //placeholder: "Select or Type . . .",
            //allowClear: true
            //tags: true
            //dropdownAutoWidth: true
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('#frm').submit(function () {

            return true;
        });
    </script>
}

@section CSS {

}










