﻿@model FundManagement.Models.DailyFundMain

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Fund Position
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Fund Position</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">List</a></div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="form-section"><i class="ft-user"></i> Daily Fund Position</h4>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-5">
                                            @Html.HiddenFor(model => model.DFId)

                                            @Html.EditorFor(model => model.DFDate)

                                            @Html.EditorFor(model => model.Remarks)
                                        </div>

                                        <div class="col-md-12">
                                            <h4 class="form-section"><i class="ft-user"></i> Diposit/Withdraw</h4>
                                            <table id="dfdetails" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed;">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; width: 5%;">
                                                            SL #
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            Sub Id
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            Account Id
                                                        </th>
                                                        <th style="text-align: center; width: 13%;">
                                                            Company
                                                        </th>
                                                        <th style="text-align: center; width: 15%;">
                                                            Bank & Branch
                                                        </th>
                                                        <th style="text-align: center; width: 30%;">
                                                            Account #
                                                        </th>
                                                        <th style="text-align: center; width: 10%;">
                                                            Diposit
                                                        </th>
                                                        <th style="text-align: center; width: 10%;">
                                                            Withdraw
                                                        </th>
                                                        <th style="text-align: center; width: 7%;">
                                                            Int. Rate
                                                        </th>
                                                        <th style="text-align: center; width: 10%; display: none;">
                                                            Book Closing
                                                        </th>
                                                        <th style="text-align: center; width: 10%;">
                                                            Bank Closing
                                                        </th>
                                                        <th style="text-align: center; width: 8%; display: none;">
                                                            Id
                                                        </th>
                                                        <th style="text-align: center; width: 6%; display: none;">
                                                            <a title="" data-toggle="tooltip" data-original-title="Add Details" onclick="cfEntry(this);"><i class="fa ft-plus-circle" style="color: white; cursor: pointer;"></i><span style="color: red; padding-left: 5px; cursor: pointer;">Add</span></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if(Model != null && Model.DailyFundSubs != null)
                                                    {
                                                        @Html.Action("RowTemplate", new { dfdet = Model.DailyFundSubs })
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                            <div class="form-group">
                                                <!-- Modal -->
                                                <div class="modal fade text-left" id="dfalert" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-success white">
                                                                <h4 class="modal-title">Cash Flow Info</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row" id="dfdiv">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnAdd" type="button" class="btn grey btn-outline-success" style="min-width: 100px;" onclick="AddDetails();">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    @*<button type="button" class="btn btn-outline-primary block btn-lg" data-toggle="modal" onclick="showmodal()">
										Launch Modal
									</button>*@
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
        function showmodal() {
            $('#backdrop').modal('show');
        };

        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $(".rdate").attr("autocomplete", "off");

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('select.select').select2({
            placeholder: "Select . . .",
            //dropdownAutoWidth: true
        });

        $(function () {
            $('#DFDate').change();
        });

        $('#DFDate').change(function () {
            if ($('#DFDate').val() == '')
                return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DFDetails")',
                data: JSON.stringify({ date: $('#DFDate').val() }),
                success: function (msg) {
                    $('#dfdetails>tbody').html(msg);
                    if ($('#dfdetails>tbody>tr').length != 0) {
                        row = $('#dfdetails>tbody>tr:eq(0)');
                        //alert($.trim($(row).children('td:eq(13)').html()));
                        $('#DFId').val($.trim($(row).children('td:eq(11)').html()));
                    } else {
                        $('#DFId').val(0);
                    };
                    if ($('#ORemarks').length != 0) {
                        $('#Remarks').val($.trim($('#ORemarks').val()));
                    } else {
                        $('#Remarks').val('');
                    };
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Infomation retrive failed.\nSee log for more information.");
                    $('#dfdetails>tbody').html('');
                    $('#DFId').val(0);
                }
            });
        });

        function setQty(t, dn) {
            dn = dn || 0;
            var OriginalContent = $(t).text();
            $(t).addClass("cellEditing");
            $(t).html("<input style='width: 100%; height: 100%; text-align: right;' type='text' value='" + OriginalContent + "'/>");
            $(t).children().first().focus();
            //alert($(t).parent().children(0).html());
            var error = false;

            $(t).children().first().keypress(function (e) {
                error = false;
                if (e.which == 13) {
                    var newContent = eval($(this).val().replace(/\,/g, '')).toFixed(dn).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");
                }
                else {
                    return (e.which != 45 && e.which != 8 && e.which != 47 && e.which != 0 && (e.which < 46 || e.which > 57 || (e.which == 46 && dn == 0))) ? false : true;
                }
            });

            $(t).children().first().keyup(function (e) {
                if (e.which == 27) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });

            $(t).children().first().blur(function () {
                if (!error) {
                    $(this).parent().text(OriginalContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
        };

        function cfEntry() {
            rn = $('#dfdetails>tbody>tr').length + 1;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("CashTemplate")',
                success: function (msg) {
                    $('#dfdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Update', 'Save'));
                    $('#dfalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };
        
        var isEdit = false; var row; var rn = 1;
        function AddDetails() {
            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('only-currency') && !$(this).hasClass('only-number')
                        && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            if ($('#DFSubId').val() == '') {
                alert('Select select account head.');
                $('#DFSubId').focus();
                return;
            }
            else if ($('#AccountId').val() == '') {
                alert('Select select account sub head.');
                $('#AccountId').focus();
                return;
            }
            else if (eval($('#DebitAmount').val().replace(/\,/g, '')) == 0 && eval($('#CreditAmount').val().replace(/\,/g, '')) == 0) {
                alert("Diposit/Withdraw amount can't be zero.");
                $('#DebitAmount').focus();
                return;
            }

            var cfdet = [{
                RowNo: rn, DFSubId: $('#DFSubId').val(), AccountId: $('#AccountId').val(),
                DebitAmount: $('#Amount').val().replace(/\,/g, ''), CreditAmount: $('#Amount').val().replace(/\,/g, '')
            }]

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RowTemplate")',
                data: JSON.stringify({ cfdet: cfdet }),
                success: function (msg) {
                    if (isEdit) {
                        $('#dfdetails>tbody>tr:eq(' + (rn - 1) + ')').after(msg);
                        $('#dfdetails>tbody>tr:eq(' + (rn - 1) + ')').remove();
                        $('#btnAdd').html($('#btnAdd').html().replace('Update', 'Save'));
                        isEdit = false;
                    }
                    else {
                        $('#dfdetails>tbody').append(msg);
                    }

                    $('#dfalert').modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //$('#alertdiv').removeClass('alert-success alert-danger');
                    //$('#alertdiv').addClass('alert-danger');
                    //$('#asummary').html('!!!Error!!!')
                    //$('#btnAlert').attr('onclick', '');
                    //$('#atext').html('Add/Replace failed due to "' + JSON.parse(jqXHR.responseText) + '".');

                    //$('#alert').modal('show');
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    
                    //alert(errorThrown);
                }
            });
        };

        function editrow(e) {
            isEdit = true; 
            rn = $(e).closest('tr').index() + 1;

            row = $('#dfdetails>tbody>tr:eq(' + (rn - 1) + ')');

            var cfdet = {
                RowNo: rn, DFSubId: $.trim($(row).children('td:eq(1)').html()),
                AccountId: $.trim($(row).children('td:eq(2)').html()),
                DebitAmount: $.trim($(row).children('td:eq(6)').html().replace(/\,/g, '')),
                CreditAmount: $.trim($(row).children('td:eq(7)').html().replace(/\,/g, '')),
                InterestRate: $.trim($(row).children('td:eq(8)').html().replace(/\,/g, '')),
                BookClosingBalance: $.trim($(row).children('td:eq(9)').html().replace(/\,/g, '')),
                BankClosingBalance: $.trim($(row).children('td:eq(10)').html().replace(/\,/g, ''))
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("CashTemplate")',
                data: JSON.stringify({ cfdet: cfdet }),
                success: function (msg) {
                    $('#dfdiv').html(msg);

                    $('#btnAdd').html($('#btnAdd').html().replace('Save', 'Update'));
                    $('#dfalert').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        function delrow(e) {
            if (confirm('Are you sure want to delete?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            rn = $(e).closest('tr').index() + 1;

            $('#dfdetails>tbody>tr:eq(' + (rn - 1) + ')').remove();

            rn = 1;

            $('table#dfdetails>tbody>tr td:first-child').each(function () {
                $(this).text((rn + 1000).toString().slice(-2));
                rn++;
            });
        };

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var dfmain = {
                DFId: $('#DFId').val(), DFDate: $('#DFDate').val(), Remarks: $('#Remarks').val()
            };

            var dfdetails = [];
            var table = $('#dfdetails').DataTable({
                paging: false,
                filter: false,
                ordering: false,
                info: false
            });

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var tableData = this.data();

                if (tableData.length >= 10) {
                    var arrayOfThisRow = {
                        DFId: $('#DFId').val(), DFSubId: tableData[1], AccountId: tableData[2],
                        DebitAmount: tableData[6].replace(/\,/g, ''), CreditAmount: tableData[7].replace(/\,/g, ''),
                        InterestRate: tableData[8].replace(/\,/g, ''), RowNo: tableData[0],
                        BookClosingBalance: 0, //tableData[9].replace(/\,/g, ''),
                        BankClosingBalance: tableData[10].replace(/\,/g, '')
                    };
                    //alert(arrayOfThisRow);
                    dfdetails.push(arrayOfThisRow);
                }
            });

            table.destroy();

            //alert(JSON.stringify({ poSub: prList }));

            //return;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ dfMain: dfmain, dfdetails: dfdetails }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#btnAlert').attr('onclick', '');
                        $('#atext').html('Save failed due to "' + msg.message + '".');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Create")"');
                        
                        if (dfmain.DFId == 0)
                            $('#atext').html('Daily fund position of ' + $('#DFDate').val() + ' save successfully.');
                        else
                            $('#atext').html('Daily fund position of ' + $('#DFDate').val() + ' update successfully.');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}
