﻿@model IEnumerable<FundManagement.Models.DailyFundMain>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        DailyFundMain
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title mb-0">DailyFundMain List</h3>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Create")">New DailyFundMain</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact">
                                <thead>
                                    <tr>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.DFYear)
										</th>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.DFMonth)
										</th>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.DFDate)
										</th>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.Remarks)
										</th>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.CreatedBy)
										</th>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.CreatedTime)
										</th>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.RevisedBy)
										</th>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.RevisedTime)
										</th>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.IPAddress)
										</th>
										<th style="text-align: center;">
											@Html.DisplayNameFor(model => model.PCName)
										</th>
										<th></th>	
									</tr>	
								</thead>
								<tbody>
                    @foreach (var item in Model)
                    {
									<tr class="selectable">
										<td>
											@Html.DisplayFor(modelItem => item.DFYear)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.DFMonth)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.DFDate)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Remarks)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.CreatedBy)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.CreatedTime)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.RevisedBy)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.RevisedTime)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.IPAddress)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.PCName)
										</td>
										<td style="text-align: center">
											<a href="@Url.Action("Details", new { id = item.DFId })" title="" data-toggle="tooltip" data-original-title="View" class="table-button-item"><i class="fa fa-eye"></i></a>
											@if (FundManagement.Models.clsMain.IsPermitted("DailyFundMain", "Edit"))
											{
												<a href="@Url.Action("Edit", new { id = item.DFId })" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
											}
											else
											{
												<a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item"><i class="fa fa-pencil"></i></a>
											}
											@if (FundManagement.Models.clsMain.IsPermitted("DailyFundMain", "Delete"))
											{
												<a href="@Url.Action("Delete", new { id = item.DFId })" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
											}
											else
											{
												<a onclick="alert('You are not authorized');" title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item"><i class="fa fa-trash"></i></a>
											}
										</td>
									</tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

