﻿@model IEnumerable<FundManagement.Models.DailyFundSub>

@if (Model != null && Model.Count() > 0)
{
    var rowNo = 0;
    foreach (var item in Model.OrderBy(c => c.BankAccount.AccountType.RankId).ThenBy(c => c.BankAccount.CompanyName).ThenBy(c => c.BankAccount.Bank.BankName).ThenBy(c => c.BankAccount.BranchName))
    {
        rowNo = rowNo + 1;

        <tr>
            <td style="text-align: center; vertical-align: middle; width: 5%;">
                @rowNo.ToString("00")
            </td>
            <td style="display: none;">@item.DFSubId</td>
            <td style="display: none;">@item.AccountId</td>
            <td style="text-align: left; vertical-align: middle; width: 13%;">
                @item.BankAccount.CompanyName
            </td>
            <td style="text-align: left; vertical-align: middle; width: 15%;">
                @item.BankAccount.Bank.ShortName, @item.BankAccount.BankBranch.BranchName
            </td>
            <td style="text-align: left; vertical-align: middle; width: 300%;">
                [@item.BankAccount.AccountType.TypeName] <span style="font-weight: bold;">@item.BankAccount.AccountNo</span>
            </td>
            <td style="text-align: right; vertical-align: middle; width: 10%;" ondblclick="setQty(this);">@item.DebitAmount.ToString("##,##0")</td>
            <td style="text-align: right; vertical-align: middle; width: 10%;" ondblclick="setQty(this);">@item.CreditAmount.ToString("##,##0")</td>
            <td style="text-align: right; vertical-align: middle; width: 7%;" ondblclick="setQty(this, 2);">@item.InterestRate.ToString("##,##0.00")</td>
            <td style="text-align: right; vertical-align: middle; width: 10%; display: none;" ondblclick="setQty(this);">@item.BookClosingBalance.ToString("##,##0")</td>
            <td style="text-align: right; vertical-align: middle; width: 10%;" ondblclick="setQty(this);">@item.BankClosingBalance.ToString("##,##0")</td>
            <td style="display: none;">@item.DFId</td>
            <td style="text-align:center; vertical-align: middle; width: 6%; display: none;">
                <a title="" data-toggle="tooltip" data-original-title="Update" class="table-button-item" onclick="editrow(this);"><i class="fa fa-pencil"></i></a>
                <a title="" data-toggle="tooltip" data-original-title="Delete" class="table-button-item" onclick="delrow(this);"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
    @Html.Hidden("ORemarks", (Model.First().DailyFundMain == null ? "" : (string)Model.First().DailyFundMain.Remarks))
}

