﻿@model FundManagement.Models.AdvanceAdjustment

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Bill
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Bill Adjustment</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="@Url.Action("Adjustment")">Adjustment List</a>
                <a class="dropdown-item" href="@Url.Action("PendingAdjustment")">Pending Adjustment</a>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Payment Info</h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-7">
                                            @Html.HiddenFor(model => model.AdjustmentId)
                                            @Html.HiddenFor(model => model.InstructionId)
                                            @Html.Hidden("AdvanceAmount")

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AdjustmentDate, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EditorFor(model => model.AdjustmentDate, "DateTimeWOL")
                                                </div>
                                                @Html.LabelFor(model => model.AdjustmentNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.AdjustmentNo, "StringWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InstructionId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EditorFor(model => model.ChequeIssueInstruction.InstructionNo, "StringWOL", new { @readonly = "readonly" })
                                                </div>
                                                @Html.LabelFor(model => model.AdjustAmount, "Remain Balance", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.Editor("RemainBalance", "DecimalWOL", new { @readonly = "readonly", @Value = Model.AdjustAmount })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AdjustedInstructionId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="chqlist" class="col-sm-3 controls">
                                                    @Html.DropDownListFor(model => model.AdjustedInstructionId, (SelectList)ViewBag.Instructions, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;"  })
                                                </div>
                                                @Html.LabelFor(model => model.AdjustAmount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-3 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.AdjustAmount, "DecimalWOL", new { @Value = 0 })
                                                </div>
                                            </div>

                                            @Html.EditorFor(model => model.Purpose, new { @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" id="btnCancel" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
        var chqamt = @Model.AdjustAmount;
        if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.rdate').not(':input[readonly]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            allowClear: true
        });

        $('#IssueTo').select2({
            placeholder: "Select or Type . . .",
            allowClear: true,
            dropdownAutoWidth: true,
            templateResult: function (data) {
                var r = data.text.split(' >> ');
                var row = '<div class="row" style="margin-left: -12px; margin-right: 0px;">' +
                                '<div class="col-md-5">' + (r.length > 0 ? r[0] : '') + '</div>' +
                                '<div class="col-md-2">' + (r.length > 1 ? r[1] : '') + '</div>' +
                                '<div class="col-md-5">' + (r.length > 2 ? r[2] : '') + '</div>' +
                          '</div>';
                var $result = $(row);
                return $result;
            },
            templateSelection: function (data) {
                var r = data.text.split(' >> ').filter(function (x) { return x.length > 0 }).join(' >> ');
                var $result = r;
                return $result;
            },
            tags: true,
            createTag: function (params) {
                var term = $.trim(params.term).toUpperCase();

                if (term === '') {
                    return null;
                }

                return {
                    id: '0',
                    text: term
                }
            }
        });

        $(document).on('change', '#AdjustedInstructionId', function () {
            if ($(this).val() == '' || $(this).val() == '0'){
                $('#AdjustAmount').val('0.00');
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("getAdjustAmount")',
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    //alert(msg);
                    $('#AdvanceAmount').val(msg.adv_amt);

                    if (msg.adv_amt > eval($('#RemainBalance').val().replace(/\,/g, ''))) {
                        $('#AdjustAmount').val($('#RemainBalance').val());
                    } else {
                        $('#AdjustAmount').val(msg.adv_amt);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    $('#AdjustAmount').val('0.00');
                }
            });
        });

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            if (eval($('#AdjustAmount').val()) == 0) {
                alert('Adjust amount must not be zero.');
                $('#AdjustAmount').focus();
                return;
            }

            if (chqamt - eval($('#AdjustAmount').val()) < 0) {
                alert('Adjust amount must be less of equal to @Model.AdjustAmount.ToString("##,##0.00").');
                $('#AdjustAmount').focus();
                return;
            }

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var signatories = '', comma = '';
            if ($('#Signatories').val() != null) {
                $.each($('#Signatories').val(), function (index, value) {
                    signatories = signatories + comma + value;
                    comma = " & ";
                });
            }

            var _adjustment = {
                AdjustmentId: $('#AdjustmentId').val(), InstructionId: $('#InstructionId').val(), 
                InstructionSubId: 0, AdjustmentDate: $('#AdjustmentDate').val(), 
                AdjustedInstructionId: $('#AdjustedInstructionId').val(), AdjustedInstructionSubId: 0, 
                AdjustAmount: $('#AdjustAmount').val(), Purpose: $('#Purpose').val()
            };

            //alert(JSON.stringify({ poSub: prList }));
            //return;

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SaveAdjustment")',
                data: JSON.stringify({ _adjustment: _adjustment }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Adjustment for instruction # ' + msg.insno + ' done successfully.');
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("PendingAdjustment")"');

                        @*if (@Model.ChequeIssueInstruction.PaymentModeId == 8)
                        {
                            window.open('@Url.Action("ShowReport", "Report", new { __RequestVerificationToken = "_token", fn = "rptCheque", ChequeId = "_chkid" })'.replace('_token', $('[name=__RequestVerificationToken]').val()).replace('_chkid', msg.chkid).replace(/&amp;/g, "&"), '_blank');
                        }*@

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
        $('#btnCancel').click(function () {

            //window.open('@Url.Action("ShowReport", "Report", new { __RequestVerificationToken = "_token", fn = "rptCheque", ChequeId = "_chkid" })'.replace('_token', $('[name=__RequestVerificationToken]').val()).replace('_chkid', '4025').replace(/&amp;/g, "&"), '_blank');

        });
    </script>
}

@section CSS {

}
