﻿@model IEnumerable<FundManagement.Models.ChequePayment>

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque Payment
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title mb-0">Cheque Payment List</h3>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="@Url.Action("PendingInstruction")">Pending Instruction</a>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact table-primary">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle;">
                                            Payment No
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; object-fit: contain;">
                                            Issue Date
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;">
                                            Bank
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;">
                                            Account No
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; object-fit: contain;">
                                            Cheque Date
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;">
                                            Amount
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;">
                                            In Favor of
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;">
                                            Instruction #
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;">
                                            Instruction Date
                                        </th>
                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="selectable">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentNo)
                                            </td>
                                            <td style="text-align: center; display: inline-block">
                                                @item.IssueDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChequeInfo.Bank.ShortName), @Html.DisplayFor(modelItem => item.ChequeInfo.BankBranch.BranchName) 
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChequeInfo.BankAccount.AccountNo)
                                            </td>
                                            <td style="object-fit: contain;">
                                                @item.ChequeDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td style="text-align: right;">
                                                @item.ChequeAmount.ToString("##,##0.00") <span style="padding-left: 5px;">BDT</span>
                                            </td>
                                            <td>
                                                @item.IssueTo
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IssueInstruction.InstructionNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IssueInstruction.InstructionDate)
                                            </td>
                                            @*<td style="text-align: center; width: 8%; cursor: pointer;" onclick="window.location = '@Url.Action("PaymentByInstruction", new { id = item.InstructionId })'">
                                                <a title="" data-toggle="tooltip" data-original-title="Forward" class="table-button-item" style="padding: 0px 15px;"><i class="fa ft-chevrons-right"></i></a>
                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")
    <script>
        $('.table').DataTable();
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}

