﻿
@model IEnumerable<FundManagement.Models.ChequeIssueInstruction>


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Entry</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Instruction
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0"> Pending Instruction</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="@Url.Action("Index")">Payment List</a>
                @*<a class="dropdown-item" href="@Url.Action("Create")">New Payment</a>*@
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="id">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table class="table table-striped table-bordered compact table-primary">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            Instr. No
                                        </th>
                                        <th style="text-align: center;">
                                            Instr. Date
                                        </th>
                                        <th style="text-align: center;">
                                            Bank
                                        </th>
                                        <th style="text-align: center;">
                                            Account No
                                        </th>
                                        <th style="text-align: center;">
                                            Payment Date
                                        </th>
                                        <th style="text-align: center;">
                                            Inst. Amount
                                        </th>
                                        <th style="text-align: center;">
                                            Pend. Amount
                                        </th>
                                        <th style="text-align: center;">
                                            Pay Type
                                        </th>
                                        <th style="text-align: center;">
                                            Pay Against
                                        </th>
                                        <th style="text-align: center;">
                                            In Favor of
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="selectable">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstructionNo)
                                            </td>
                                            <td style="text-align: center;">
                                                @item.InstructionDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentFrom.Bank.ShortName)
                                            </td>
                                            <td>
                                                @item.PaymentFrom.AccountNo
                                            </td>
                                            <td>
                                                @item.ChequeDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td style="text-align: right;">
                                                @item.ChequeAmount.ToString("##,##0.00") <span style="padding-left: 5px;">BDT</span>
                                            </td>
                                            <td style="text-align: right;">
                                                @((item.ChequePayments == null ? item.ChequeAmount : item.ChequeAmount - item.ChequePayments.Select(c => c.ChequeAmount).Sum()).ToString("##,##0.00")) <span style="padding-left: 5px;">BDT</span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentMode.TypeName)
                                                @if (item.PaymentModeId == 8)
                                                {
                                                    @Html.Raw("(")
                                                    @Html.DisplayFor(modelItem => item.ChequeMode.TypeName)
                                                    @Html.Raw(")")
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstructionType.TypeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IssuedAccountName)
                                            </td>
                                            <td style="text-align: center; width: 8%; cursor: pointer;" onclick="window.location = '@Url.Action("PaymentByInstruction", new { id = item.InstructionId })'">
                                                <a title="" data-toggle="tooltip" data-original-title="Cancel" class="table-button-item" style="padding: 0px 15px;"><i class="fa ft-chevrons-right"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/datatable/js")

    <script>
        var table = $('.table').DataTable({
            destroy: true,
            //scrollY: '256px',
            //scrollCollapse: true,
            paging: true,
            filter: true,
            ordering: true,
            info: true
        });
    </script>
}

@section CSS{
    @Styles.Render("~/datatable/css")
}
