﻿@model FundManagement.Models.ChequeBookRequisition

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cheque Book
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Cheque Book Requistion</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("ApprovalPending")">Requistion List</a></div>
        </div>
    </div>
</div>



<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Requistion Info</h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                            @Html.HiddenFor(model => model.RequisitionId)
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.RequisitionNo, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.RequisitionNo, "StringWOL", new { @readonly = "readonly", @Value = @ViewBag.RequisitionNo })
                                                </div>
                                                @Html.LabelFor(model => model.RequisitionDate, "Date", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EditorFor(model => model.RequisitionDate, "DateTimeWOL", new { @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BankId, "Bank & Branch", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-6 offset-right controls">
                                                    @Html.DropDownListFor(model => model.BankId, (SelectList)ViewBag.BankList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div id="brlist" class="col-sm-3 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.BranchList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AccountId, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div id="aclist" class="col-sm-9 controls">
                                                    @Html.DropDownListFor(model => model.AccountId, (SelectList)ViewBag.AccountList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.BookCount, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-4 offset-right controls">
                                                    @Html.EditorFor(model => model.BookCount, "Int16WOL")
                                                </div>
                                                @Html.LabelFor(model => model.TotalCheque, "Cheque Leaves", new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-3 controls">
                                                    @Html.EditorFor(model => model.TotalCheque, "Int16WOL")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <h4 class="form-section"><i class="ft-user"></i> Cheque Book Position</h4>
                                            <table id="chq_stock" class="table table-striped table-bordered compact table-primary" style="table-layout: fixed; margin-top: -10px;">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; width: 10%;">
                                                            SL #
                                                        </th>
                                                        <th style="text-align: center; display: none;">
                                                            Sub Id
                                                        </th>
                                                        <th style="text-align: center; width: 40%;">
                                                            Serial No
                                                        </th>
                                                        <th style="text-align: center; width: 25%;">
                                                            Total Leaves
                                                        </th>
                                                        <th style="text-align: center; width: 25%;">
                                                            Leaves Available
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>


@section Scripts {
    <script>
    if ($('#error').val().length > 0) {
        alert($('#error').val());
    }

    $('.only-number').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.only-currency').each(function () {
        $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    $('.rdate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('input.only-number').on('keypress', function (e) {
        return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-number').on('blur', function () {
        if (isNaN(eval($(this).val().replace(',', '')))) {
            $(this).val(0);
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('.only-currency').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-currency').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.00");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
    });

    //$('input.only-currency').number(true, 2);
    $('input.only-price').on('keypress', function (e) {
        return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
    });

    $('input.only-price').on('blur', function () {
        if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
            $(this).val("0.000000");
        }
        else {
            var num = new Number($(this).val().replace(/\,/g, ''));
            var ades = num.toFixed(6).split('.')[1];
            $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
        }
    });

    $('select.select').select2({
        placeholder: "Select or Type . . .",
        allowClear: true,
        //dropdownAutoWidth: true
    });

    $('#BankId').change(function () {
        getBranchList($(this).val(), 'brlist', 'BranchId', 'Branch');
    })

    $(document).on('change', '#BranchId', function () {
        if ($(this).val() == '' || $(this).val() == '0')
            return;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("AccountList")',
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    $('#aclist').html(msg);

                    $('#AccountId').select2({
                        placeholder: "Select or Type . . .",
                        allowClear: true,
                        //dropdownAutoWidth: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        $(document).on('change', '#AccountId', function () {
            if ($(this).val() == '' || $(this).val() == '0') {
                $('#chq_stock > tbody').html('');
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("StockDetails")',
                data: JSON.stringify({ id: $(this).val() }),
                success: function (msg) {
                    $('#chq_stock > tbody').html(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        $('#btnSave').click(function () {
            $("#frm").trigger("submit.validationSubmit");
            if ($("#frm").jqBootstrapValidation("hasErrors")) {
                return false;
            }
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            let req_subs = [], req_info = {
                RequisitionId: $('#RequisitionId').val(), RequisitionDate: $('#RequisitionDate').val(),
                AccountId: $('#AccountId').val(), BranchId: $('#BranchId').val(), BankId: $('#BankId').val(),
                // PaymentModeId: $('#PaymentModeId').val(), Prefix: $('#Prefix').val(), CurrencyId: $('#CurrencyId').val(),
                PaymentModeId: 8, BookCount: $('#BookCount').val(), TotalCheque: $('#TotalCheque').val(),
                DisapprovedReason: '', Status: 1, Activity: $('#Activity').val()
            };

            let tbl = $('table#chq_stock').find('tbody tr').map(function () {
                rn = 0;
                //console.log('here');
                var tableData = $(this).find('td').map(function () {
                    return $.trim($(this).html());
                }).get();

                //console.log('here 1', tableData);
                if (tableData.length >= 2) {
                    //console.log('here 2');
                    var arrayOfThisRow = {
                        RequisitionId: $('#RequisitionId').val(), RequisitionSubId: tableData[1], SerialRange: tableData[2],
                        TotalCheque: tableData[3].replace(/\,/g, ''), StockAvailable: tableData[4].replace(/\,/g, ''),
                        RowNo: ++rn
                    };
                    //alert(arrayOfThisRow);
                    req_subs.push(arrayOfThisRow);
                }
            }).get();

            //alert(JSON.stringify({ req_subs: req_subs }));
            //return;

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Requisition_Save")',
                data: JSON.stringify({ req_info: req_info, req_subs: req_subs }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');
                        $('#btnAlert').attr('onclick', '');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('ChequeBook requistion for account # "' + $('#AccountId').select2('data')[0].text + '" save successfully. Requisition # ' + msg.reqno);
                        $('#btnAlert').attr('onclick', 'window.location = "@Url.Action("Requisition")"');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS {

}
