﻿@model IEnumerable<FundManagement.Models.StockPosition>

@if (Model != null && Model.Count() > 0)
{
    var rowNo = 0;
    foreach (var item in Model.OrderBy(c => c.RequisitionSubId).ThenBy(c => c.SerialRange))
    {
        rowNo = rowNo + 1;

        <tr>
            <td style="text-align: center; vertical-align: middle; width: 10%;">
                @rowNo.ToString("00")
            </td>
            <td style="text-align: center; display: none;">
                @item.RequisitionSubId
            </td>
            <td style="text-align: center; width: 40%;">
                @item.SerialRange
            </td>
            <td style="text-align: right; width: 25%;">
                @item.TotalStock
            </td>
            <td style="text-align: right; width: 25%;">
                @item.StockAvailable
            </td>
        </tr>
    }
}

