﻿@model FundManagement.Models.CashFlowShortage

@{
    ViewBag.Title = Html.DisplayNameForModel();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Form</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Fund Arrangement
                    </li>
                </ol>
            </div>
        </div>
        <h2 class="content-header-title mb-0">New :: Fund Arrangement</h2>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info round dropdown-toggle dropdown-menu-right px-2" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-activity icon-left"></i> Actions</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="@Url.Action("Index")">CashFlowShortage List</a></div>
        </div>
    </div>
</div>


<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @class = "form form-horizontal", @autosubmit = "false", @novalidate = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Monthly Fund Arrangement Info</h4>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.CFSMonth, "Month & Year", new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.DropDownListFor(model => model.CFSMonth, (SelectList)ViewBag.MonthList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                                <div class="col-sm-2 offset-left-1 controls">
                                                    @Html.DropDownListFor(model => model.CFSYear, (SelectList)ViewBag.YearList, string.Empty, new { @class = "form-control select", @required = "", @style = "width: 100%;" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DiscountingBDT, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.EditorFor(model => model.DiscountingBDT, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.DiscountingUSD, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-2 offset-left controls">
                                                    @Html.EditorFor(model => model.DiscountingUSD, "DecimalWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.LTL, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.EditorFor(model => model.LTL, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.Revolving, new { @class = "col-common col-sm-2 label-control" }, true)
                                                <div class="col-sm-2 offset-left controls">
                                                    @Html.EditorFor(model => model.Revolving, "DecimalWOL")
                                                </div>
                                                @Html.LabelFor(model => model.STL_DL, new { @class = "col-common col-sm-1 offset-left label-control" }, true)
                                                <div class="col-sm-2 offset-left controls">
                                                    @Html.EditorFor(model => model.STL_DL, "DecimalWOL")
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.SisterConcern, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.EditorFor(model => model.SisterConcern, "DecimalWOL")
                                                </div>
                                                <div class="col-sm-7 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.SisterConcernRemarks, "StringWOL", new { placeholder = "Sister concern remarks" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.ProjectLoan, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.EditorFor(model => model.ProjectLoan, "DecimalWOL")
                                                </div>
                                                <div class="col-sm-7 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.ProjectRemarks, "StringWOL", new { placeholder = "Project remarks" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Others, new { @class = "col-common col-sm-3 label-control" }, true)
                                                <div class="col-sm-2 offset-right controls">
                                                    @Html.EditorFor(model => model.Others, "DecimalWOL")
                                                </div>
                                                <div class="col-sm-7 offset-left-1 controls">
                                                    @Html.EditorFor(model => model.OtherRemarks, "StringWOL", new { placeholder = "Other remarks" })
                                                </div>
                                            </div>
										</div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="button" id="btnSave" class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display: none;">
    <input type="hidden" id="error" value="@(ViewBag.errormessage == null ? "" : ViewBag.errormessage)" />
</div>

@section Scripts {
    <script>
		if ($('#error').val().length > 0) {
            alert($('#error').val());
        }

        $('.only-number').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.only-currency').each(function () {
            $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $('.rdate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MMM-YYYY'
            }
        });

        $('input.only-number').on('keypress', function (e) {
            return (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-number').on('blur', function () {
            if (isNaN(eval($(this).val().replace(',', '')))) {
                $(this).val(0);
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('.only-currency').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-currency').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.00");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                $(this).val(num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        //$('input.only-currency').number(true, 2);
        $('input.only-price').on('keypress', function (e) {
            return (e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true;
        });

        $('input.only-price').on('blur', function () {
            if (isNaN(eval($(this).val().replace(/\,/g, '')))) {
                $(this).val("0.000000");
            }
            else {
                var num = new Number($(this).val().replace(/\,/g, ''));
                var ades = num.toFixed(6).split('.')[1];
                $(this).val(num.toFixed(6).replace(/\B(?=(\d{3})+(?!\d))/g, ",").split('.')[0] + '.' + ades);
            }
        });

        $('select.select').select2({
            placeholder: "Select or Type . . .",
            //dropdownAutoWidth: true
        });

        $('#btnSave').click(function () {
            //$("#frm").trigger("submit.validationSubmit");
            //if ($("#frm").jqBootstrapValidation("hasErrors")) {
            //    return false;
            //}
            if (confirm('Are you sure want to save?')) {
                //alert('Thanks for confirming');
            } else {
                return;
            }
            //if ($('#PIList').val() == '' || $('#PIList').val() == null) {
            //    alert('Select PI no.');
            //    return;
            //}
            //else if (table.rows().data().length <= 0) {
            //    alert('No details information.');
            //    return;
            //}

            $('.only-number').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });
            $('.only-currency').each(function () {
                $(this).val($(this).val().replace(/\,/g, ''));
            });

            $('input, textarea').each(function () {
                if ($(this).attr('name') != '__RequestVerificationToken' && !$(this).hasClass('ccnormal') && !$(this).hasClass('date')) {
                    $(this).val($(this).val().toString().toUpperCase());
                }
            });

            var cashflow = {
                CFSYear: $('#CFSYear').val(), CFSMonth: $('#CFSMonth').val(), DiscountingBDT: $('#DiscountingBDT').val(),
                DiscountingUSD: $('#DiscountingUSD').val(), LTL: $('#LTL').val(), Revolving: $('#Revolving').val(),
                STL_DL: $('#STL_DL').val(), SisterConcern: $('#SisterConcern').val(), SisterConcernRemarks: $('#SisterConcernRemarks').val(),
                ProjectLoan: $('#ProjectLoan').val(), ProjectRemarks: $('#ProjectRemarks').val(), Others: $('#Others').val(),
                OtherRemarks: $('#OtherRemarks').val(), CFSMonthName: $('#CFSMonth').select2('data')[0].text
            };

            //alert(JSON.stringify({ poSub: prList }));

            //return;

            $('.only-number').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $('.only-currency').each(function () {
                $(this).val((new Number($(this).val().replace(/\,/g, ''))).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Save")',
                data: JSON.stringify({ cashFlow: cashflow }),
                success: function (msg) {
                    if (msg.status == 'NotAuthorized') {
                        $('#loginpartial').modal('show');
                    }
                    else if (msg.status == 'Error') {
                        //alert(msg.message);
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-danger');
                        $('#asummary').html('!!!Error!!!')
                        $('#atext').html('Save failed due to "' + msg.message + '".');

                        $('#alert').modal('show');
                    }
                    else {
                        $('#alertdiv').removeClass('alert-success alert-danger');
                        $('#alertdiv').addClass('alert-success');
                        $('#asummary').html('Success!!')
                        $('#atext').html('Cash flow shortage entry of ' + msg.month + ', ' + msg.year + '" save successfully.');

                        $('#alert').modal('show');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(JSON.stringify({ jqXHR: jqXHR, textStatus: textStatus, errorThrown: errorThrown }));
                    alert("Save failed.\nSee log for more information.");
                }
            });
        });
    </script>
}

@section CSS{

}