﻿@model FundManagement.Models.CashFlowShortage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CashFlowShortage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CFSYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFSYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFSMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFSMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountingBDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountingBDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountingUSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountingUSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LTL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LTL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revolving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revolving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STL_DL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STL_DL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SisterConcern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SisterConcern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SisterConcernRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SisterConcernRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Others)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Others)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnsm btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
