﻿@import url(fonts.css);

input, textarea{
	text-transform: uppercase;
}

.select2-search__field{
    /*text-transform: none !important;*/
}

.ccnormal{
	text-transform: none !important;
}

.card {
    border-top: 3px solid #00a65a !important;
    /*border-top-color: #00a65a;*/
}

.card-body {
    padding: 0.5rem 1.5rem !important;
    /*padding-right: 1.5rem !important;*/
}

.card-dashboard {
    padding: 0.5rem 0.5rem !important;
}

.table td {
    padding: 0.25rem 0.25rem !important;
}

.table th {
    padding: 0.4rem .3rem !important;
    white-space: normal; 
    vertical-align: middle;
}

.centered-label {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.dataTables_scrollBody .table thead tr {
    display: none;
}

.table td {
    color: black !important;
}

.table {
    margin-bottom: .25rem;
}

.table-primary thead th {
    border-color: #20590a !important;
    background-color: #20590a;
    color: #fff;
    font-size: 13px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
}

.label-control {
    margin-top: 1.5px !important;
    margin-bottom: 3.5px !important;
}

.col-common {
    padding-left: 1px !important;
    padding-right: 4px !important;
}

.required {
    /* content: "*"; */
    font-weight: bold;
    color: red;
    padding-left: 3px;
}

form .form-group {
    margin-bottom: 0.15rem !important;
}

.form-control {
    /*height: 26.8px !important;*/
    padding: 0.25rem .4rem !important;
    border-radius: 0.1rem !important;
}

.select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--single {
    height: 25px !important;
    padding: 0.3rem .45rem !important;
    border-color: #D9D9D9 !important;
    border-radius: 1px !important;
}

.controls.error .select2-container--classic .select2-selection--single, .controls.error .select2-container--default .select2-selection--single {
    border-color: #DA4453 !important;
}

.select2-container--classic .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
    min-height: 20px !important;
    padding: 0px 0px !important;
    border-color: #D9D9D9 !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 1px !important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0px;
    padding: 0;
    padding-left: 6px;
    text-transform: none !important;
    color: black !important;
}

.select2-search__field::-webkit-input-placeholder {
    color: black !important;
    opacity: 1;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 0px 6px !important;
    margin-top: 0 !important;
    background-color: #00a65a !important;
    border: 0;
    border-color: #00a65a !important;
    color: #FFFFFF;
    margin-right: 8px !important;
    margin-bottom: 0px;
}

.select2-container--classic.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #CCCCCC !important;
    outline: 0;
}

.controls.error .select2-container--default .select2-selection--multiple {
    border-color: #DA4453 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    line-height: 15px !important;
    color: black !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26.8px !important;
}

.select2-results__option {
    padding: 0px 6px !important;
    color: black !important;
}

.select2-selection__placeholder {
    color: black !important;
}

.controls.error .select2-selection__placeholder {
    color: #DA4453 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0px !important;
    right: 5px !important;
}

.select2-selection__clear {
    top: 1px !important;
    margin-right: 16px !important;
}

.select2-container--default .select2-results > .select2-results__options {
    overflow-x: hidden !important;
}

.select2-dropdown--above{
    /*min-width: 500px !important;*/
}

.input-group-addon {
    padding: 0.1rem .5rem !important;
    border: 1px solid #d4d4d4 !important;
    border-right: none !important;
}

.input-group-text {
    padding: 0.24rem 0.35rem;
    background-color: #F1F1F1;
    border: 1px solid #d4d4d4;
    border-radius: 0.1rem;
}

.controls.error .input-group-addon {
    border: 1px solid red !important;
}

.row {
    margin-right: -10px !important;
    margin-left: -10px !important;
}

label {
    font-weight: bold !important;
    color: black !important;
}

.lb-lt{
    text-align: left !important;
}

.lb-rg{
    text-align: right !important;
}

.lb-ctr{
    text-align: center !important;
}

form .form-control {
    color: black !important;
    font-size: 13px !important;
}

.round {
    border-radius: 0.5rem !important;
}

footer.footer {
  padding : 0.4rem 80px !important;
  padding-top: 0px !important;
  margin-top: -6px !important;
}

html body .content {
    min-height: calc(100% - 135px);
}

.offset-right {
    padding-right: 0px !important;
}

.offset-right-1 {
    padding-right: 1px !important;
}

.offset-left {
    padding-left: 0px !important;
}

.offset-left-1 {
    padding-left: 1px !important;
}

.table-button-item {
    display: inline-block;
    /* width: 100%; */
    padding: 0rem 0.2rem; 
    clear: both;
    font-weight: 400;
    color: seagreen;
    text-align: inherit; 
    white-space: nowrap; 
    background-color: transparent;
    border: 0;
}
.form-group .help-block ul {
    padding-left: 0rem !important;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.controls.error input, .controls.error select, .controls.error textarea {
    color: #DA4453;
    border-color: #DA4453;
}

.controls.error .help-block, .controls.error .help-inline {
    color: #DA4453;
}

body{
    font-size: 13px !important;
}

.btn {
    padding: 0.75rem 5rem;
    font-size: 1.5rem !important;
}

.modal-footer .btn {
    padding: 0.25rem 1rem !important;
    font-size: 1.25rem !important;
}

.daterangepicker th {
    font-weight: bold !important;
}

.daterangepicker td, .daterangepicker th {
    border: 1px solid #c5c5c5 !important;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

.modal-footer {
    padding: .75rem !important;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.fieldset-container {
    padding: 8px;
    border: 1px solid #d4d4d4;
}

html body .content .content-wrapper {
    padding-top: 1rem;
}

.mb-2, .my-2 {
    margin-bottom: 0.75rem !important;
}

input.form-control.input-lg {
    height: 3.5rem;
    padding: 1.5rem 0.75rem;
    font-size: 2rem;
    line-height: 1.45;
    border-radius: 0.27rem;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.75rem + 2px) !important;
    margin-top: 0.25rem !important;
}

div.dataTables_wrapper div.dataTables_filter label {
    margin: 0.25rem auto !important;
}


.header-navbar .navbar-container ul.nav li > a.nav-link {
    padding: 0.75rem 1rem;
    font-size: 1.05rem;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
    padding: 0.5rem 0.6rem;
}

.header-navbar .navbar-container ul.nav li a.menu-toggle {
    padding: .85rem 1rem;
}

.header-navbar .navbar-container ul.nav li a.nav-link-search, .header-navbar .navbar-container ul.nav li a.nav-link-expand {
    padding: 1rem 1rem;
}

.header-navbar .navbar-header .navbar-brand {
    padding: 5px 0px;
    margin-right: 0;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.header-navbar {
    min-height: 3.5rem;
}

.has-icon-left .form-control.input-lg {
    padding-right: 1.25rem !important;
    padding-left: -webkit-calc(3.375rem + 2px) !important;
    padding-left: -moz-calc(3.375rem + 2px) !important;
    padding-left: calc(3.375rem + 2px) !important;
}

/*@media all and (max-width: 1366px) {
  form .form-control {
    font-size: 12px !important;
  }
}*/

.mega-dropdown-menu {
    margin: 0 !important; 
    left: auto !important;
    width: calc(100% - 500px) !important;
}

.hidden {
    display: none;
}


#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    min-height: 60px;
    background: #ffffff;
    box-shadow: 0 0 18px 0 rgba(67, 89, 102, 0.1);
}

    #topnav .has-submenu.active a {
        color: #71b6f9;
    }

        #topnav .has-submenu.active a i {
            color: #71b6f9;
        }

    #topnav .has-submenu.active .submenu li.active > a {
        color: #71b6f9;
    }

    #topnav .topbar-main {
        background: #435966;
    }

        #topnav .topbar-main .logo {
            color: #ffffff !important;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 58px;
            text-transform: uppercase;
            float: left;
        }

        #topnav .topbar-main .logo-small {
            display: none;
        }

        #topnav .topbar-main .badge-topbar {
            position: absolute;
            top: 7px;
            right: 7px;
            z-index: 99;
        }

        #topnav .topbar-main .nav > li > a {
            height: 36px;
            width: 36px;
            padding: 0;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            margin: 12px 8px;
            color: rgba(255, 255, 255, 0.7);
        }

            #topnav .topbar-main .nav > li > a:focus, #topnav .topbar-main .nav > li > a:hover {
                background-color: rgba(67, 89, 102, 0.1);
                color: #435966;
            }

        #topnav .topbar-main .dropdown-menu-lg .list-group {
            margin-bottom: 0;
        }

        #topnav .topbar-main .dropdown-menu-lg .list-group-item {
            border: none;
            padding: 10px 20px;
        }

        #topnav .topbar-main .dropdown-menu-lg .media-heading {
            margin-bottom: 0;
        }

        #topnav .topbar-main .dropdown-menu-lg .media-body p {
            color: #828282;
        }

        #topnav .topbar-main .navbar-nav {
            margin: 0;
        }

        #topnav .topbar-main .topbar-right-menu li {
            float: left;
        }

    #topnav .navbar-toggle {
        border: 0;
        position: relative;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

        #topnav .navbar-toggle:hover {
            background-color: transparent;
        }

            #topnav .navbar-toggle:hover span {
                background-color: #ffffff;
            }

        #topnav .navbar-toggle:focus {
            background-color: transparent;
        }

            #topnav .navbar-toggle:focus span {
                background-color: #ffffff;
            }

        #topnav .navbar-toggle .lines {
            width: 25px;
            display: block;
            position: relative;
            margin: 10px 10px 0 0;
            padding-top: 13px;
            height: 44px;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }

        #topnav .navbar-toggle span {
            height: 2px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            display: block;
            margin-bottom: 5px;
            -webkit-transition: -webkit-transform .5s ease;
            transition: -webkit-transform .5s ease;
            transition: transform .5s ease;
        }

        #topnav .navbar-toggle.open span {
            position: absolute;
        }

            #topnav .navbar-toggle.open span:first-child {
                top: 18px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            #topnav .navbar-toggle.open span:nth-child(2) {
                visibility: hidden;
            }

            #topnav .navbar-toggle.open span:last-child {
                width: 100%;
                top: 18px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

    #topnav .navigation-menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #topnav .navigation-menu > li {
            display: inline-block;
            position: relative;
        }

            #topnav .navigation-menu > li > a {
                display: block;
                color: #435966;
                font-size: 15px;
                -webkit-transition: all .5s ease;
                transition: all .5s ease;
                line-height: 20px;
                padding-left: 20px;
                padding-right: 20px;
            }

                #topnav .navigation-menu > li > a:hover {
                    color: #71b6f9;
                }

                #topnav .navigation-menu > li > a:focus {
                    color: #71b6f9;
                }

                #topnav .navigation-menu > li > a:active {
                    color: #71b6f9;
                }

                #topnav .navigation-menu > li > a i {
                    font-size: 16px;
                    margin-right: 5px;
                    -webkit-transition: all .5s ease;
                    transition: all .5s ease;
                    vertical-align: text-top;
                }

                #topnav .navigation-menu > li > a:hover, #topnav .navigation-menu > li > a:focus {
                    background-color: transparent;
                }